
<!--EDIT MODE-->
{{#if controller.editingAbout}}
<div>
    {{#each controller.about_us}}
    <div>Description: </div>
    <div>{{view Ember.TextArea valueBinding="about_desc" class="no-resize"  placeholder="*"}}</div> 

    <hr> 

    <!--Embeded object part-->
    {{#each about_embeded_object}}
    {{#if controller.isAdmin}}
    <div class="aboutus-attr">ISSUU Link:  (ex: https://issuu.com/trendsideas/docs/nz3002?e=0/6968696)</div>
    <div class="input-box">
        {{view Ember.TextArea valueBinding="embeded_object_code" class="no-effect no-resize"  placeholder="*"}}
    </div> 
    <div class="aboutus-thisvideo">
        <div class="aboutus-attr">Buy the Book Link URL: </div>
        <div>{{view Ember.TextArea valueBinding="embeded_object_url" class="no-resize"  placeholder="*"}}</div>
    </div>
    {{/if}}
    {{/each}}
    <!--end----     Embeded object part-->




    <div class="video-area"> 
        <a rel="nofollow" target="_blank" href="http://www.youtube.com/trendspublishing" class="cursor-pointer"> 
            <h4>View the Latest Video from the Trends YouTube channel</h4></a>
        {{#each about_video}}
        <div class="aboutus-attr">Video URL: </div>
        <div class="input-box video-input-box">{{view Ember.TextArea valueBinding="video_url" class="no-effect no-resize"  placeholder="*"}}</div> 
        <div class="new-btn preview-btn" {{action getVideoURL}}>preview</div>
        <iframe width="650" height="450" {{bindAttr src="controller.embeded_url"}} frameborder="0" allowfullscreen=""></iframe> 
        <div class="aboutus-thisvideo">
            <div class="aboutus-attr">Video Title: </div>
            <div>{{view Ember.TextArea valueBinding="video_title" class="no-resize"  placeholder="*"}}</div>
            <div class="aboutus-attr">Video Desc: </div>
            <div>{{view Ember.TextArea valueBinding="video_desc" class="no-resize"  placeholder="*"}}</div>
        </div>
        {{/each}}

        <hr>

        {{#each about_image}}
        <div class="article-img-area bg-color-area">
            <div class="aboutus-attr">Article Image URL: </div>
            <div>{{view Ember.TextArea valueBinding="image_url" class="no-resize"  placeholder="Recommanded size: 275 x 200"}}</div> 
            <div class="article-img bg-color-area"> 
                <img alt="" {{bindAttr src="image_url"}}>  
            </div>
            <div class="aboutus-attr">Article Title: </div>
            <div>{{view Ember.TextArea valueBinding="image_title" class="no-resize"  placeholder="*"}}</div>            
            <div class="aboutus-attr">Article Desc: </div>
            <div>{{view Ember.TextArea valueBinding="image_desc" class="no-resize"  placeholder="*"}}</div>
            <div class="aboutus-attr">Article Link: </div>
            <div>{{view Ember.TextArea valueBinding="image_link" class="no-resize"  placeholder="*"}}</div>
        </div>
        {{/each}}
    </div>



    
    {{/each}}
</div>
{{else}}


<!--DISPLAY MODE-->
<div>
    {{#each about_us}}
    <div>{{about_desc}}</div> 
     
    {{#each about_embeded_object}}
    {{#if embed_object_enabled}}
    <hr>
    <iframe width="800" height="560" {{bind-attr src = "embeded_object_code"}} frameborder="0" allowfullscreen></iframe>

    {{#if embeded_object_code}}
    <div class="getapp-btn">
        <a href="http://trendsideas.com/apps/home-trends.html" target="_blank"><span class="green-btn new-btn btn-style" >Get the App</span></a>
        {{#if embeded_object_url}}
        <a {{bindAttr href="embeded_object_url"}} target="_blank"> <span class="green-btn new-btn btn-style" >Buy the Book</span></a>
        {{/if}}
    </div>

    {{/if}}
    {{/if}}
    {{/each}}


    <div class="left-area">         
        
        {{#each about_video}}
        {{#if display}}
        <a rel="nofollow" target="_blank" href="http://www.youtube.com/trendspublishing" class="cursor-pointer"> 
            <h4>View the Latest Video from the Trends YouTube channel</h4></a>
        <hr>
        <div class="bg-color-area bg-video-position" >                        
            <iframe width="650" height="450" {{bindAttr src="controller.embeded_url"}} frameborder="0" allowfullscreen=""></iframe> 
            <div class="video-des-area">
                <h4><a rel="nofollow" target="_blank" {{bindAttr href="image_link"}} class="cursor-pointer"> {{video_title}}</a></h4>
                <div class="video-des">{{video_desc}}</div>
                <a rel="nofollow" target="_blank" class="left-area-title-color" class="hover-opacity" {{bindAttr href="video_url"}}>more</a>
            </div>
        </div>
        {{/if}}
        {{/each}}
        <div class="left-bottom-area">
            {{#each about_image}}
            {{#if display}}
            <a rel="nofollow" target="_blank" {{bindAttr href="image_link"}} class="display-article-img-area">             
                <div class="display-article-img-box"><img class="width-100" {{bindAttr src="image_url"}}></div>
                <div class="display-article-img-Titledes">
                    <h4 class="left-area-title-color"> {{image_title}}</h4>
                    <div class="display-article-img-des">{{image_desc}}</div>
                </div>              
            </a>
            {{/if}}
            {{/each}}
        </div>
    </div>
    
    {{/each}}
</div>
{{/if}}