
<!--EDIT MODE-->
{{#if controller.editingAbout}}
<div>
    {{#each controller.about_us}}
    <div>Description: </div>
    <div>{{view Ember.TextArea valueBinding="about_desc" class="no-resize"  placeholder="*"}}</div> 

    <hr> 

    <!--Embeded object part-->
    {{#each about_embeded_object}}
    {{#if controller.isAdmin}}
    <div class="aboutus-attr">ISSUU Link:  (ex: issuu.com/trendsideas/docs/nz3002?e=0/6968696)</div>
    <div class="input-box">
        {{view Ember.TextArea valueBinding="embeded_object_code" class="no-effect no-resize"  placeholder="*"}}
    </div> 
    <div class="aboutus-thisvideo">
        <div class="aboutus-attr">Buy the Book Link URL: </div>
        <div>{{view Ember.TextArea valueBinding="embeded_object_url" class="no-resize"  placeholder="*"}}</div>
    </div>
    {{/if}}
    {{/each}}
    <!--end----     Embeded object part-->




    <div class="video-area"> 
        <a rel="nofollow" target="_blank" href="http://www.youtube.com/trendspublishing" class="cursor-pointer"> 
            <h4>View the Latest Video from the Trends YouTube channel</h4></a>
        {{#each about_video}}
        <div class="aboutus-attr">Video URL: </div>
        <div class="input-box video-input-box">{{view Ember.TextArea valueBinding="video_url" class="no-effect no-resize"  placeholder="*"}}</div> 
        <div class="new-btn preview-btn" {{action getVideoURL}}>preview</div>
        <iframe width="560" height="315" {{bindAttr src="controller.embeded_url"}} frameborder="0" allowfullscreen=""></iframe> 
        <div class="aboutus-thisvideo">
            <div class="aboutus-attr">Video Title: </div>
            <div>{{view Ember.TextArea valueBinding="video_title" class="no-resize"  placeholder="*"}}</div>
            <div class="aboutus-attr">Video Desc: </div>
            <div>{{view Ember.TextArea valueBinding="video_desc" class="no-resize"  placeholder="*"}}</div>
        </div>
        {{/each}}

        <hr>

        {{#each about_image}}
        <div class="article-img-area bg-color-area">
            <div class="aboutus-attr">Article Image URL: </div>
            <div>{{view Ember.TextArea valueBinding="image_url" class="no-resize"  placeholder="Recommanded size: 275 x 200"}}</div> 
            <div class="article-img bg-color-area"> 
                <img alt="" {{bindAttr src="image_url"}}>  
            </div>
            <div class="aboutus-attr">Article Title: </div>
            <div>{{view Ember.TextArea valueBinding="image_title" class="no-resize"  placeholder="*"}}</div>            
            <div class="aboutus-attr">Article Desc: </div>
            <div>{{view Ember.TextArea valueBinding="image_desc" class="no-resize"  placeholder="*"}}</div>
            <div class="aboutus-attr">Article Link: </div>
            <div>{{view Ember.TextArea valueBinding="image_link" class="no-resize"  placeholder="*"}}</div>
        </div>
        {{/each}}
    </div>



    <div class="latest-area">
        <a rel="nofollow" target="_blank" href="http://library.trendsideas.com/Home.aspx" class="cursor-pointer"><h4>Our Latest Titles</h4></a>
        <h5><font color="FF00FF">On Sale Now...<h4>Buy your copy here!</h4></font></h5> 
        {{#each about_book}}
        <div class="book-area bg-color-area">            
            <div class="aboutus-attr">Book Desc: </div>
            <div>{{view Ember.TextArea valueBinding="book_description" class="no-resize"  placeholder="*"}}</div> 
            <div class="aboutus-attr">Book URL: </div>
            <div>{{view Ember.TextArea valueBinding="book_image_url" class="no-resize"  placeholder="Recommanded size: 180 x 240"}}</div> 
            <div class="latestebook"> <img alt="" {{bindAttr src="book_image_url"}}>             </div> 
            <div>Display size: </div>
            <div>{{view Ember.RadioButton nameBinding="book_id" selectionBinding="display_size" value=1}}100%{{view Ember.RadioButton nameBinding="book_id" selectionBinding="display_size" value=0}}75%</div>
            <div>
                <div class="aboutus-attr">Book Read Link: </div>
                <div>{{view Ember.TextArea valueBinding="book_read_url" class="no-resize"  placeholder="*"}}</div>
                <div class="aboutus-attr">Book Buy Link: </div>
                <div>{{view Ember.TextArea valueBinding="book_buy_url" class="no-resize"  placeholder="*"}}</div>
            </div>
        </div>
        <hr>
        {{/each}}

    </div>
    {{/each}}
</div>
{{else}}


<!--DISPLAY MODE-->
<div>
    {{#each about_us}}
    <div>{{about_desc}}</div> 
    <hr> 
    {{#each about_embeded_object}}
    {{#if embed_object_enabled}}
    <iframe width="800" height="560" src="//e.issuu.com/embed.html#{{unbound embeded_object_id}}" frameborder="0" allowfullscreen></iframe>

    {{#if embeded_object_code}}
    <div class="getapp-btn">
        <a href="http://trendsideas.com/apps/home-trends.html" target="_blank"><span class="green-btn new-btn" >Get the App</span></a>
        {{#if embeded_object_url}}
        <a {{bindAttr href="embeded_object_url"}} target="_blank"> <span class="green-btn new-btn" >Buy the Book</span></a>
        {{/if}}
    </div>

    {{/if}}
    {{/if}}
    {{/each}}


    <div class="left-area"> 
        <a rel="nofollow" target="_blank" href="http://www.youtube.com/trendspublishing" class="cursor-pointer"> 
            <h4>View the Latest Video from the Trends YouTube channel</h4></a>
        <hr>
        <div class="bg-color-area">
            {{#each about_video}}
            <iframe width="560" height="315" {{bindAttr src="controller.embeded_url"}} frameborder="0" allowfullscreen=""></iframe> 
            <div class="video-des-area">
                <h4><a rel="nofollow" target="_blank" {{bindAttr href="image_link"}} class="cursor-pointer"> {{video_title}}</a></h4>
                <div class="video-des">{{video_desc}}</div>
                <a rel="nofollow" target="_blank" class="left-area-title-color" class="hover-opacity" {{bindAttr href="video_url"}}>more</a>
            </div>
            {{/each}}
        </div>
        <div class="left-bottom-area">
            {{#each about_image}}
            <a rel="nofollow" target="_blank" {{bindAttr href="image_link"}} class="display-article-img-area">
                <div class="display-article-img-box"><img class="width-100" {{bindAttr src="image_url"}}></div>
                <div class="display-article-img-Titledes">
                    <h4 class="left-area-title-color"> {{image_title}}</h4>
                    <div class="display-article-img-des">{{image_desc}}</div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
    <div class="display-latest-area">
        <a rel="nofollow" target="_blank" href="http://library.trendsideas.com/Home.aspx" class="cursor-pointer"><h4>Our Latest Titles</h4></a> 
        <h4 class="display-latest-area-title">On Sale Now...<br/>Buy your copy here!</h4>
        {{#each about_book}}
        <div class="book-des"><a>{{book_description}}</a></div> 
        <div class="latestebook" class = "book-img"> 
            {{#if this.getSize}}
            <img alt="" {{bindAttr src="book_image_url"}} class="width-100"> 
            {{else}}
            <img alt="" {{bindAttr src="book_image_url"}} class="width-75"> 
            {{/if}}
            <div class="latestebook-control easing">
                {{#if this.read_available}}
                <a rel="nofollow" target="_blank" {{bindAttr href="book_read_url"}} class="new-btn">Read</a> 
                {{/if}}
                {{#if this.buy_available}}
                <a rel="nofollow" target="_blank" {{bindAttr href="book_buy_url"}} class="new-btn green-btn">Buy</a> 
                {{/if}}
            </div>
        </div> 
        {{/each}}

    </div>
    {{/each}}
</div>
{{/if}}