
<!--EDIT MODE-->
{{#if controller.editingAbout}}
<div>
    {{#each controller.about_us}}
    <div>Description: </div>
    <div>{{view Ember.TextArea valueBinding="about_desc" class="no-resize"  placeholder="*"}}</div> 

    <hr> 

    <!--Embeded object part-->
    {{#each about_embeded_object}}
    <div class="aboutus-attr">Embeded Object URL: </div>
    <div style="border: 1px solid #ddd;border-radius: 2px;margin-bottom: 10px;margin-right: 2px;">
        {{view Ember.TextArea valueBinding="embeded_object_code" class="no-effect no-resize"  placeholder="*"}}
    </div> 
    <div class="aboutus-thisvideo">
        <div class="aboutus-attr">Buy the Book Link URL: </div>
        <div>{{view Ember.TextArea valueBinding="embeded_object_url" class="no-resize"  placeholder="*"}}</div>
    </div>
    {{/each}}
    <!--end----     Embeded object part-->




    <div style="margin: 15px 0; width:560px; float: left"> 
        <a rel="nofollow" target="_blank" href="http://www.youtube.com/trendspublishing" style="cursor:pointer;"> 
            <h4>View the Latest Video from the Trends YouTube channel</h4></a>
        {{#each about_video}}
        <div class="aboutus-attr">Video URL: </div>
        <div style="border: 1px solid #ddd;border-radius: 2px;float: left;width: 495px;margin-bottom: 10px;margin-right: 2px;">{{view Ember.TextArea valueBinding="video_url" class="no-effect no-resize"  placeholder="*"}}</div> 
        <div class="new-btn" style="position: relative;height: 52px;float: left;top: 0;line-height: 48px;" {{action getVideoURL}}>preview</div>
        <iframe width="560" height="315" {{bindAttr src="controller.embeded_url"}} frameborder="0" allowfullscreen=""></iframe> 
        <div class="aboutus-thisvideo">
            <div class="aboutus-attr">Video Title: </div>
            <div>{{view Ember.TextArea valueBinding="video_title" class="no-resize"  placeholder="*"}}</div>
            <div class="aboutus-attr">Video Desc: </div>
            <div>{{view Ember.TextArea valueBinding="video_desc" class="no-resize"  placeholder="*"}}</div>
        </div>
        {{/each}}

        <hr>

        {{#each about_image}}
        <div style="float: left; padding: 6px 8px;width: 275px;background-color: #f3f3f3;border-radius: 2px;margin-right: 5px;">
            <div class="aboutus-attr">Article Image URL: </div>
            <div>{{view Ember.TextArea valueBinding="image_url" class="no-resize"  placeholder="Recommanded size: 275 x 200"}}</div> 
            <div style="padding: 10px 15px; margin: 10px 0;background: #f3f3f3; "> 
                <img alt="" {{bindAttr src="image_url"}}>  
            </div>
            <div class="aboutus-attr">Article Title: </div>
            <div>{{view Ember.TextArea valueBinding="image_title" class="no-resize"  placeholder="*"}}</div>            
            <div class="aboutus-attr">Article Desc: </div>
            <div>{{view Ember.TextArea valueBinding="image_desc" class="no-resize"  placeholder="*"}}</div>
            <div class="aboutus-attr">Article Link: </div>
            <div>{{view Ember.TextArea valueBinding="image_link" class="no-resize"  placeholder="*"}}</div>
        </div>
        {{/each}}
    </div>



    <div style="float: right; margin: 15px 0;width: 220px;">
        <a rel="nofollow" target="_blank" href="http://library.trendsideas.com/Home.aspx" style="cursor:pointer;"><h4>Our Latest Titles</h4></a>
        <h5><font color="FF00FF">On Sale Now...<h4>Buy your copy here!</h4></font></h5> 
        {{#each about_book}}
        <div style="background-color: #f3f3f3;padding: 8px 6px;">            
            <div class="aboutus-attr">Book Desc: </div>
            <div>{{view Ember.TextArea valueBinding="book_description" class="no-resize"  placeholder="*"}}</div> 
            <div class="aboutus-attr">Book URL: </div>
            <div>{{view Ember.TextArea valueBinding="book_image_url" class="no-resize"  placeholder="Recommanded size: 180 x 240"}}</div> 
            <div class="latestebook"> <img alt="" {{bindAttr src="book_image_url"}}>             </div> 
            <div>Display size: </div>
            <div>{{view Ember.RadioButton nameBinding="book_id" selectionBinding="display_size" value=1}}100%{{view Ember.RadioButton nameBinding="book_id" selectionBinding="display_size" value=0}}75%</div>
            <div>
                <div class="aboutus-attr">Book Read Link: </div>
                <div>{{view Ember.TextArea valueBinding="book_read_url" class="no-resize"  placeholder="*"}}</div>
                <div class="aboutus-attr">Book Buy Link: </div>
                <div>{{view Ember.TextArea valueBinding="book_buy_url" class="no-resize"  placeholder="*"}}</div>
            </div>
        </div>
        <hr>
        {{/each}}

    </div>
    {{/each}}
</div>
{{else}}







<!--DISPLAY MODE-->
<div>
    {{#each about_us}}
    <div>{{about_desc}}</div> 
    <hr> 
    {{#each about_embeded_object}}
    {{{embeded_object_code}}}
    
    {{#if embeded_object_code}}
    <div style="padding: 0 10px 10px 10px;margin-bottom: 15px;">
        <a href="http://trendsideas.com/apps/home-trends.html" target="_blank"><span class="green-btn new-btn" >Get the App</span></a>
        {{#if embeded_object_url}}
        <a {{bindAttr href="embeded_object_url"}} target="_blank"> <span  class="green-btn new-btn" >Buy the Book</span></a>
      {{/if}}
    </div>
    
    {{/if}}
    {{/each}}


    <div style="float: left;margin: 15px 0; width:560px;"> 
        <a rel="nofollow" target="_blank" href="http://www.youtube.com/trendspublishing" style="cursor:pointer;"> 
            <h4>View the Latest Video from the Trends YouTube channel</h4></a>
        <hr>
        <div style="background-color: #f3f3f3;">
            {{#each about_video}}
            <iframe width="560" height="315" {{bindAttr src="controller.embeded_url"}} frameborder="0" allowfullscreen=""></iframe> 
            <div style="padding: 0 10px 10px 10px;margin-bottom: 15px;">
                <h4><a rel="nofollow" target="_blank" {{bindAttr href="image_link"}} style="cursor: pointer"> {{video_title}}</a></h4>
                <div style="height: 40px; overflow: hidden;margin-bottom: 5px;">{{video_desc}}</div>
                <a rel="nofollow" target="_blank" style="color: #0088CC" class="hover-opacity" {{bindAttr href="video_url"}}>more</a>
            </div>
            {{/each}}
        </div>
        <div style="margin: 0 -5px;">
            {{#each about_image}}
            <a rel="nofollow" target="_blank" {{bindAttr href="image_link"}} style=" margin: 10px 5px; font-size:13px;background: #f3f3f3;width: 275px;line-height: 18px; float: left">
                <div style=" height: 200px; text-align: center;overflow: hidden;"><img style="width: 100%" {{bindAttr src="image_url"}}></div>
                <div style="padding: 8px 10px; ">
                    <h4 style="color: #0088CC"> {{image_title}}</h4>
                    <div style="height: 90px; overflow: hidden;">{{image_desc}}</div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
    <div style="float: right; margin: 15px 0;width: 220px;">
        <a rel="nofollow" target="_blank" href="http://library.trendsideas.com/Home.aspx" style="cursor:pointer;"><h4>Our Latest Titles</h4></a> 
        <h4 style="color:#FF00FF; line-height: 30px">On Sale Now...<br/>Buy your copy here!</h4>
        {{#each about_book}}
        <div style="font-size: 15px; font-weight: bold"><a>{{book_description}}</a></div> 
        <div class="latestebook" style = "max-width: 180px;"> 
            {{#if this.getSize}}
            <img alt="" {{bindAttr src="book_image_url"}} style=" width: 100%;"> 
            {{else}}
            <img alt="" {{bindAttr src="book_image_url"}} style=" width: 75%;"> 
            {{/if}}
            <div class="latestebook-control easing">
                {{#if this.read_available}}
                <a rel="nofollow" target="_blank" {{bindAttr href="book_read_url"}} class="new-btn">Read</a> 
                {{/if}}
                {{#if this.buy_available}}
                <a rel="nofollow" target="_blank" {{bindAttr href="book_buy_url"}} class="new-btn green-btn">Buy</a> 
                {{/if}}
            </div>
        </div> 
        {{/each}}

    </div>
    {{/each}}
</div>
{{/if}}