


<div class="blur_black"></div>

<div class="popup-box-style" >
    <div class="popup-box-style-message">
        {{controller.message}}
    </div>
    <div class="popup-box-style-hint">You can remove tags from your content at any time.</div>
    {{#if controller.type}}
    <div class="popup-box-style-btn" >       
        <div class="new-btn green-btn" {{action activateTag  target="view"}}>Activate</div>
        <div  class="new-btn" {{action cancelActivate target="view"}}>Cancel</div>
    </div>
    {{else}}
        <div class="popup-box-style-btn">       
        <div class="new-btn red-btn" {{action deleteTag  target="view"}}>Delete</div>
        <div  class="new-btn" {{action cancelDeleteTag target="view"}}>Cancel</div>
    </div>
    {{/if}}

</div>
