
<div id="login_lightbox" class="blur_black" {{action exit }}>&nbsp;</div>
<div id ="savePhoto"class="t-style-box" style="z-index: 1002; position: relative;border-radius: 3px;">

    <div style="margin: 0 0 20px; position: relative; background-color: #f3f3f3; height: 45px;border-bottom: 1px solid #ddd;border-radius: 3px 3px 0 0;">
        <div style=' color: #555; font-size: 18px; font-weight: bold; text-align: center; line-height: 45px;'>Save to 
            {{#if controller.isSaveTopProfile}}
            <div class="" style="display:inline-block;cursor: pointer;"  {{action profileSwitch }}>
                 {{controller.selectedProfile}}
                 &nbsp;<i class="fa fa-caret-down"></i>
            </div>
            {{#if controller.selectionProfile}}
            <div id="login_lightbox" class="blur" {{action profileCanel }}>&nbsp;</div>
            <div class="select-profile-save" style="top: 50px;">
                
                <div class="" style="height: 350px; font-size: 13px; font-weight: bold; overflow: auto; overflow-x:hidden; ">
                    {{#each controller.profiles}}
                    <div class="choose-exist-collection easing" style="width: auto;line-height: 27px; padding: 0 20px;border-bottom: 1px solid #ddd;border-top: 1px solid #fff;" {{action chooseProfile profile_name profile_id}}>
                         <a class="exist-name easing"> {{profile_name}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>

            {{/if}}
            {{else}}         
            <div class="" style="display:inline-block;">
                 {{controller.selectedProfile}}
            </div>
            {{/if}}
        </div>



        <div class="exit" style="float: right; position: relative; top: -46px;">
            <div class="closeview" {{action exit }}>
                 <i class="fa fa-times"></i>
            </div> 
        </div>  
    </div> 

    <div class="contactmebox-wapper" style="width: 500px;height: 190px;font-size: 13px;margin: 0 20px;">
        <div style="display:inline-block; ">

            <div class="new-btn" style="display:block;"  {{action collectionSwitch }} {{bindAttr text="controller.selectedTitle" }}>
                 {{controller.selectedTitle}}
                 &nbsp;<i class="fa fa-caret-down"></i>
            </div>
            <div style="height: 150px;">
                {{view Ember.TextArea valueBinding="controller.selectedDesc" rows="12" cols="70" class="collect_descriptionbox" placeholder="Say something about it!"}}
            </div>

            {{#if controller.selectionPop}}
            <div id="login_lightbox" class="blur" {{action collectionSwitch }}>&nbsp;</div>
            <div class="add-collection_select-collection" style="">
                {{view HubStar.SearchRequireTextFieldView valueBinding="newCollectionName"  id="" class="collect_newcollection-name"  placeholder="Create new Collection" }}   

                <div type="button" {{action addNewCollection }} class="new-btn green-btn" style="vertical-align:middle;top:0;">Create</div>



                <div style="margin:10px; font-size: 16px; font-weight: bold; overflow: auto; overflow-x:hidden; width: 93%;height: 150px;">

                    {{#if HubStar.isProfile}}

                    {{#each HubStar.profileCollection}}
                    <div class="choose-exist-collection easing" {{action chooseRecord title id}}>
                         <a class="exist-name easing"> {{title}}</a>
                    </div>
                    {{/each}}

                    {{else}}
                    {{#each controller.collections}}
                    <div class="choose-exist-collection easing" {{action chooseRecord title id}}>
                         <a class="exist-name easing"> {{title}}</a>
                    </div>
                    {{/each}}
                    {{/if}}

                </div>
                <div class="new-btn" style="float: right;" {{action collectionSwitch }}>
                     Cancel
            </div>
        </div>

        {{/if}}
    </div>
    <div style="display:inline-block;margin-left:15px; vertical-align: top;">
        <div style="width: 174px; height: 174px; overflow: hidden;padding: 10px;background-color: rgba(0,0,0,0.03);top: -4px;position: relative;">
            <img style="height: 154px;width: 154px;" {{bindAttr src="controller.selectedPhotoThumbnailUrl" }}>
        </div>
    </div>

</div>


<div class="" style="height: 45px;position: relative;border-top: 1px solid #ddd;top: -1px;border-radius: 0 0 3px 3px;overflow: hidden;">
    <div  class="message-btn easing" style="height:45px;line-height: 45px; border-right: 1px solid #ddd;" {{action exit }}><i class='fa fa-times'>&nbsp;</i>Cancel</div>
    <div class="message-btn easing" style='height:45px;line-height: 45px;'{{action submit }}><i class='fa fa-check'>&nbsp;</i>Submit</div>
</div>

</div>
