
<div id="login_lightbox" class="blur_black" {{action exit }}>&nbsp;</div>
<div id ="savePhoto"class="t-style-box addCollection-container2">

    <div class="addCollection-top">
        <div class="addCollection-title">
            <div class="addCollection-saveto">Save to</div>
            {{#if controller.isSaveTopProfile}}
            {{#unless controller.isReadProfile}}
            <div class="select-profile cursor-pointer" {{action profileSwitch }}>
                 {{controller.selectedProfile}}
                 &nbsp;<i class="fa fa-caret-down"></i>
            </div>
             {{else}}
             <div class="loading-left"> Loading <i class="spinner loading-right">&nbsp;</i></div>
                 
                {{/unless}}
            {{#if controller.selectionProfile}}
            <div id="login_lightbox" class="blur" {{action profileCanel }}>&nbsp;</div>
            <div class="select-profile-save save-top">

                <div class="selected-box-container">
                    {{#each controller.profiles}}
                    <div class="choose-exist-collection easing selected-eachProfile" {{action chooseProfile profile_name profile_id}}>
                         <a class="exist-name easing"> {{profile_name}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/if}}
            {{else}}         
            <div class="selected-none">
                {{controller.selectedProfile}}
            </div>
            {{/if}}
            <div class="exit exit-box">
                <div class="closeview" {{action exit }}>
                     <i class="fa fa-times"></i>
                </div> 
            </div>
        </div>
    </div> 

    <div class="contactmebox-wapper selected-content-container">
        <div class="selected-content-left-box">

            <div class="new-btn selected-collection"{{action collectionSwitch }} {{bind-attr text="controller.selectedTitle" }}>
                 {{controller.selectedTitle}}
                 &nbsp;<i class="fa fa-caret-down"></i>
            </div>
            <div class="selected-collection-des">
                {{view Ember.TextArea valueBinding="controller.selectedDesc" rows="12" cols="70" class="collect_descriptionbox" placeholder="Say something about it!"}}
            </div>

            {{#if controller.selectionPop}}
            <div id="login_lightbox" class="blur" {{action collectionSwitch }}>&nbsp;</div>
            <div class="add-collection_select-collection">
                {{view HubStar.SearchRequireTextFieldView valueBinding="newCollectionName"  id="" class="collect_newcollection-name"  placeholder="Create new Collection" }}   

                <div type="button" class="new-btn green-btn new-btn-create" {{action addNewCollection }}>Create</div>

                <div class="new-btn new-btn-cancel" {{action collectionSwitch }}>Cancel </div>

                <div class="selected-collection-box">

                    {{#if HubStar.isProfile}}

                    {{#each HubStar.profileCollection}}
                    <div class="choose-exist-collection easing" {{action chooseRecord title id}}>
                         <a class="exist-name easing"> {{title}}</a>
                    </div>
                    {{/each}}

                    {{else}}
                    {{#each controller.collections}}
                    <div class="choose-exist-collection easing" {{action chooseRecord title id}}>
                         <a class="exist-name easing"> {{title}}</a>
                    </div>
                    {{/each}}
                    {{/if}}

                </div>

            </div>

            {{/if}}
        </div>
        <div class="selected-collection-preview-box">
            <div class="selected-collection-preview">
                <img class="selected-preview" {{bind-attr src="controller.selectedPhotoThumbnailUrl" }}>
            </div>
        </div>

    </div>


    <div class="selected-action-box">
        <div  class="message-btn easing message-btn-box message-btn-cancel" {{action exit }}><i class='fa fa-times'>&nbsp;</i>Cancel</div>
        <div class="message-btn easing message-btn-box"{{action submit }}><i class='fa fa-check'>&nbsp;</i>Submit</div>
    </div>

</div>
