
<div class="popup-container">

<div id="login_lightbox" class="popup-bg-fadeout" {{action canel}}>&nbsp;</div>

<div class="upload-v-container">
    <div class="upload-v-title">
        <i class="fa fa-film uploaded-filmLogo">&nbsp;</i>
        <span class="upload-v-txt">Add Video</span>
    </div>
    <div class="upload-v-box">
        <div class="upload-v-url-box">
            <div class="upload-v-url">{{view Ember.TextField valueBinding="videoUrl" placeholder="Please insert YOUTUBE link or share url." class="no-effect"}}</div>
            <div class="message-btn easing message-btn-preview"{{action getVideoFromYoutube}}>
                Preview
            </div>
        </div>
        <div class="upload-v-preview-box">
            <div class="radius-circle upload-v-play-box">
                <i class="fa fa-play upload-v-play"></i>
            </div>
            <img {{bind-attr src="videoImg"}}/>
        </div>
        <div class="upload-v-preview-ctn">
            <div class="upload-v-preview-title">{{videoTitle}}</div>
            <div class="upload-v-preview-des">{{videoTitle}}
                {{videoDesc}}
            </div>
        </div>

    </div>
    <div class="add-action-box">
        <div class="message-btn easing message-btn-box2 message-btn-cancel" {{action canel}}><i class="fa fa-times">&nbsp;</i>Cancel</div>
        {{#if videoid}}
        <div class="message-btn easing message-btn-box2"{{action videoCreate}} ><i class='fa fa-check'>&nbsp;</i>Post</div>
        {{else}}
        <div class="message-btn-x easing message-btn-box2"><i class='fa fa-check'>&nbsp;</i>Post</div>
        {{/if}}
    </div>

</div>

</div>