<div id="cancel" class="blur_black" style="background-color: initial; display: none;cursor:auto"  {{action cancel  on="click" target="view"}}>&nbsp;</div>
<div style="height: 60px;width:50px;position:absolute;top:0;left:0;z-index: 1;" {{action showUserDropDown on="click"  target="view"}}>&nbsp;</div>

<div id="user-header-menu" style="width:70px;" >

    <div class="user-face-size" data-toggle="dropdown" style="position: static;">
        <a class="user-face-size" style="position: absolute;z-index: -1"><img src="https://s3-ap-southeast-2.amazonaws.com/develop.devbox/profile_pic/default/defaultpic1.jpg" class="profilepic_user " /></a>           
        <a class="user-face-size" style="z-index: 1"><img {{bindAttr src="controller.user.photo_url_large"}} class="profilepic_user  easing" /></a>    
    </div>
    <div style="position: relative; right: 15px; bottom: 10px;">My Profile</div>

   

</div>
 <ul id="user-dd-menu" class="user-dd-menu hideClass edit-object-ul">
        <li class="ite" ><a tabindex="-1" {{bindAttr href="controller.myUserProfile"}} {{action userDisplaynone "myUserProfile" on="click"  target="view"}}>
                            <i class="fa fa-user" style="">&nbsp;&nbsp;</i>
                <span>My Profile</span>
            </a></li>
        <li class="ite" ><a tabindex="-1" {{bindAttr href="controller.myMessageBoard"}} {{action userDisplaynone "myMessageBoard" on="click"  target="view"}}>
                            <i class="fa fa-envelope" style="">&nbsp;&nbsp;</i>
                <span>Messages</span>
            </a></li>
        {{#if controller.is_trends_user}}
        <li class="ite" ><a tabindex="-1"  href="" {{action userDisplaynone "new" on="click"  target="view"}}>
                            <i class="fa fa-briefcase" style="">&nbsp;&nbsp;</i>
                <span>Business Profiles</span>
            </a></li>

        {{#if controller.newProfile}} 
        <div id="profiles_display">
            {{render newProfileDisplay HubStar.profiles}} 
        </div>
        {{/if}}
        {{render newProfileTopDisplay HubStar.profiles}}

        {{/if}}

        <li class='ite' style=" border-top: 1px solid #ddd; "><a tabindex="-1" href="http://about.trendsideas.com/" target="blank" {{action userDisplaynone "about" on="click"  target="view"}}>
                                                                 <i class="fa fa-question-circle" style="">&nbsp;&nbsp;</i>
                <span>Help</span>
            </a></li>
        <li class='ite'><a tabindex="-1" href="javascript:void(0)"  id="startButton" {{action startTour on="click"  target="view"}}>
                <i class="fa fa-info" style="">&nbsp;&nbsp;</i>
                <span>Take the tour</span>
            </a></li>
        <li class="ite"><a tabindex="-1" href="" {{action logout on="click"  target="view"}}  >
                <i class="fa fa-power-off" style="">&nbsp;&nbsp;</i>
                <span>Log out</span> 
            </a></li>

    </ul>
