
{{#if controller.feedback}}
<div id='appfeedback' style='position:fixed; z-index: 10000;'>

    {{#if controller.info}}

    <div  class="fresh-profile-pic"style="">
        <img {{bindAttr src= this.photo_url}} style="height: 80px;width: 80px"/>
    </div>
    <div class="fresh-message">
        <k class="icon-info-sign"></k>
        {{controller.status}}
        <k class="icon-remove" style="float: right;margin: 16px;font-size: 15px;" {{action removeButton }}></k>
    </div>

    {{/if}}



    {{#if controller.succeed}}


    <div class="fresh-profile-pic" style="">
        <img {{bindAttr src= this.photo_url}} style="height: 80px;width: 80px"/>
    </div>
    <div class="fresh-message fresh_succeed">
        <k class="icon-ok-sign"></k>
        {{controller.status}}
        <k class="icon-remove" style="float: right;margin: 16px;font-size: 15px;" {{action removeButton }}></k>
    </div>

    {{/if}}

    {{#if controller.failed}}

    <div class="fresh-profile-pic" style="">
        <img {{bindAttr src= this.photo_url}} style="height: 80px;width: 80px"/>
    </div>
    <div class="fresh-message fresh_failed">
        <k class="icon-remove-sign"></k>
        {{controller.status}}
        <k class="icon-remove" style="float: right;margin: 16px;font-size: 15px;" {{action removeButton }}></k>
    </div>

    {{/if}}


    {{#if controller.warnning}}

    <div class="fresh-profile-pic" style="">
        <img {{bindAttr src= this.photo_url}} style="height: 80px;width: 80px"/>
    </div>
    <div class="fresh-message fresh_warnning">
        <k class="icon-exclamation-sign"></k>
        {{controller.status}}
        <k class="icon-remove" style="float: right;margin: 16px;font-size: 15px;" {{action removeButton }}></k>
    </div>

    {{/if}}
</div>
{{/if}}
