<div class="app_box">
    {{#if HubStar.is_404}}
    {{outlet fourOhFour}}
    {{else}}

    {{view HubStar.HeaderView}}



    {{outlet "welcome"}}
    {{#unless controller.isotherpage}}
    {{#if HubStar.showDiscoveryBar}}
    {{view HubStar.DiscoveryView}}
    {{/if}}
    {{#if HubStar.isTopAdDisplay}}
    <div id ="top_bar_ads" style="height:140px;width:100%;background-color: black; opacity: 0.6;margin:0 auto; top:10px; position: relative;z-index: 3">
        <div style="position:absolute; top:0; right: 0; color: #fff; font-size: 30px;" {{action closeTopAd}}><i class="fa fa-times"></i></div>
        <div id ="search_wall_top" style="width: 760px;height: 120px;margin: auto;position: relative;top: 10px;">
        </div>
    </div>
    {{/if}}
    {{view HubStar.MasonryView}}
    {{else}}
    {{#if HubStar.isTopAdDisplay}}
    <div id ="top_bar_ads" style="height:140px;width:100%;background-color: black; opacity: 0.6;margin:0 auto; top:90px; position: fixed;z-index:3">
        <div style="position:absolute; top:0; right: 0; color: #fff; font-size: 30px;"  {{action closeTopAd}}><i class="fa fa-times"></i></div>
        <div id ="search_wall_top" style="width: 760px;height: 120px;margin: auto;position: relative;top: 10px;">
        </div>
    </div>
    {{/if}}
    {{/unless}}



    <div style="position:relative;top:90px">
        {{outlet profiles}}
        {{outlet profile}}
        {{outlet user}}
        {{outlet group}}
        {{outlet "profileNew"}}
        {{outlet "groupsNew"}}
        {{#if controller.islogin}}
        {{render "footer"}}
        {{/if}}
    </div>
    {{outlet photos}}
    {{outlet articles}}
    {{outlet videoes}}






    {{#if controller.loadingTime}}
    {{render loadingSpinner}}
    {{/if}}


    {{render applicationFeedback}}


    {{#if controller.loginTime}}
    {{render loadingSpinner}}
    {{/if}}


    {{/if}}
</div>


<!--Background-texture-->
<script type="text/javascript">

    if ($('#RegisterPageId').length > 0) {
        document.getElementById('fixed-bg').style.display = "none";
    }
</script>
<div id="fixed-bg" class="fixed-bg"></div>

{{#if HubStar.checkLoginStatus}}

{{render loginModal}}       

{{/if}}

<script type="text/javascript">

    function DropDown(el) {
        this.dd = el;
        this.placeholder = this.dd.children('span');
        this.opts = this.dd.find('ul.dropdown > li');
        this.val = '';
        this.index = -1;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function() {
            var obj = this;
            obj.dd.on('click', function(event) {
                $(this).parents('div .wrapper-dropdown-3').toggleClass('active');
                return false;
            });
            obj.opts.on('click', function() {
                var opt = $(this);
                obj.val = opt.text();
                obj.index = opt.index();
                obj.placeholder.text(obj.val);
            });
        },
        getValue: function() {
            return this.val;
        },
        getIndex: function() {
            return this.index;
        }
    };
    $(function() {
        var dd1 = new DropDown($('.dropdown_test_1'));
        $(document).click(function() {
            // all dropdowns
            $('.wrapper-dropdown-3').removeClass('active');
        });
        var dd4 = new DropDown($('.dropdown_test_4'));
        $(document).click(function() {
            // all dropdowns
            $('.wrapper-dropdown-3').removeClass('active');
        });
    });




</script>
