
{{#if controller.feedback}}
<div id='appfeedback' style=''>

    {{#if controller.info}}

    <div  class="fresh-profile-pic"style="">
        <img src="../../../images/trendsideas.jpg"/>
        <img {{bindAttr src= this.photo_url}}/>
    </div>
    <div class="fresh-message">
        <i class="fa fa-info-sign"></i>
        <span class="feed-back">{{controller.status}}</span>
        <i class="fa fa-times" {{action removeButton }}></i>
    </div>

    {{/if}}



    {{#if controller.succeed}}


    <div class="fresh-profile-pic" style="">
        <img src="../../../images/trendsideas.jpg"/>
        <img {{bindAttr src= this.photo_url}}/>
    </div>
    <div class="fresh-message fresh_succeed">
        <i class="fa fa-check-circle"></i>
        <span class="feed-back">{{controller.status}}</span>
        <i class="fa fa-times" {{action removeButton }}></i>
    </div>

    {{/if}}

    {{#if controller.failed}}

    <div class="fresh-profile-pic" style="">
        <img src="../../../images/trendsideas.jpg"/>
        <img {{bindAttr src= this.photo_url}}/>
    </div>
    <div class="fresh-message fresh_failed">
        <i class="fa fa-times-circle"></i>
        <span class="feed-back">{{controller.status}}</span>
        <i class="fa fa-times" {{action removeButton }}></i>
    </div>

    {{/if}}


    {{#if controller.warnning}}

    <div class="fresh-profile-pic" style="">
        <img src="../../../images/trendsideas.jpg"/>
        <img {{bindAttr src= this.photo_url}}/>
    </div>
    <div class="fresh-message fresh_warnning">
        <i class="fa fa-exclamation-sign"></i>
        <span class="feed-back">{{controller.status}}</span>
        <i class="fa fa-times" {{action removeButton }}></i>
    </div>

    {{/if}}
</div>
{{/if}}
