
{{#if controller.feedback}}
<div id='appfeedback' style=''>

    {{#if controller.info}}

    <div class="fresh-message">
        <span class="feed-back"><i class="fa fa-info-circle">&nbsp;</i>&nbsp;{{controller.status}}</span>
        <i class="fa fa-times" {{action removeButton }}></i>
    </div>

    {{/if}}



    {{#if controller.succeed}}


    <div class="fresh-message fresh_succeed">
        <span class="feed-back"><i class="fa fa-check-circle">&nbsp;</i>&nbsp;{{controller.status}}</span>
        <i class="fa fa-times" {{action removeButton }}></i>
    </div>

    {{/if}}

    {{#if controller.failed}}

    <div class="fresh-message fresh_failed">
        <span class="feed-back"><i class="fa fa-times-circle">&nbsp;</i>&nbsp;{{controller.status}}</span>
        <i class="fa fa-times" {{action removeButton }}></i>
    </div>

    {{/if}}


    {{#if controller.warnning}}

    <div class="fresh-message fresh_warnning">
        <span class="feed-back"><i class="fa fa-exclamation-circle">&nbsp;</i>&nbsp;{{controller.status}}</span>
        <i class="fa fa-times" {{action removeButton }}></i>
    </div>

    {{/if}}
</div>
{{/if}}
