
{{#if controller.feedback}}
<div id='appfeedback' style=''>

    {{#if controller.info}}

    <div  class="fresh-profile-pic"style="">
        <img src="../../../images/trendsideas.jpg"/>
        <img {{bindAttr src= this.photo_url}}/>
    </div>
    <div class="fresh-message">
        <k class="icon-info-sign"></k>
        <span class="feed-back">{{controller.status}}</span>
        <k class="icon-remove" {{action removeButton }}></k>
    </div>

    {{/if}}



    {{#if controller.succeed}}


    <div class="fresh-profile-pic" style="">
        <img src="../../../images/trendsideas.jpg"/>
        <img {{bindAttr src= this.photo_url}}/>
    </div>
    <div class="fresh-message fresh_succeed">
        <k class="icon-ok-sign"></k>
        <span class="feed-back">{{controller.status}}</span>
        <k class="icon-remove" {{action removeButton }}></k>
    </div>

    {{/if}}

    {{#if controller.failed}}

    <div class="fresh-profile-pic" style="">
        <img src="../../../images/trendsideas.jpg"/>
        <img {{bindAttr src= this.photo_url}}/>
    </div>
    <div class="fresh-message fresh_failed">
        <k class="icon-remove-sign"></k>
        <span class="feed-back">{{controller.status}}</span>
        <k class="icon-remove" {{action removeButton }}></k>
    </div>

    {{/if}}


    {{#if controller.warnning}}

    <div class="fresh-profile-pic" style="">
        <img src="../../../images/trendsideas.jpg"/>
        <img {{bindAttr src= this.photo_url}}/>
    </div>
    <div class="fresh-message fresh_warnning">
        <k class="icon-exclamation-sign"></k>
        <span class="feed-back">{{controller.status}}</span>
        <k class="icon-remove" {{action removeButton }}></k>
    </div>

    {{/if}}
</div>
{{/if}}
