<div style="width: 100%;height: auto;position:relative;z-index:2;">


    {{#if controller.islogin}}
    {{view HubStar.HeaderView}}

    {{outlet profiles}}

    {{outlet user}}
    
    {{#unless controller.isotherpage}}

    
    {{#if HubStar.showDiscoveryBar}}
    {{view HubStar.DiscoveryView}}

{{/if}}
    {{outlet "welcome"}}
    {{outlet "quickstart"}}      


    {{view HubStar.MasonryView}}


    {{/unless}}

    {{else}}

    {{view HubStar.RegisterView}}
    {{/if}}
    

    {{outlet profile}}
     {{outlet photos}}
    {{outlet articles}}
    {{outlet videoes}}
    {{outlet "profileNew"}}

    {{#if HubStar.isLogin}}
    {{render "footer"}}
    {{render platformBar}}
    {{/if}}


    {{#if controller.loadingTime}}

    {{render loadingSpinner}}

    {{/if}}


    {{render applicationFeedback}}


    {{#if controller.loginTime}}

{{render loadingSpinner}}

{{/if}}
    
    
    <div id="loading" class="loading" >
        <div id="blurringTextG">
            <div id="blurringTextG_1" class="blurringTextG">
                C</div>
            <div id="blurringTextG_2" class="blurringTextG">
                r</div>
            <div id="blurringTextG_3" class="blurringTextG">
                e</div>
            <div id="blurringTextG_4" class="blurringTextG">
                a</div>
            <div id="blurringTextG_5" class="blurringTextG">
                t</div>
            <div id="blurringTextG_6" class="blurringTextG">
                i</div>
            <div id="blurringTextG_7" class="blurringTextG">
                n</div>
            <div id="blurringTextG_8" class="blurringTextG">
                g</div>
            <div id="blurringTextG_9" class="blurringTextG">
                &nbsp;
            </div>
            <div id="blurringTextG_10" class="blurringTextG">
                y</div>
            <div id="blurringTextG_11" class="blurringTextG">
                o</div>
            <div id="blurringTextG_12" class="blurringTextG">
                u</div>
            <div id="blurringTextG_13" class="blurringTextG">
                r</div>
            <div id="blurringTextG_14" class="blurringTextG">
                &nbsp;
            </div>
            <div id="blurringTextG_15" class="blurringTextG">
                i</div>
            <div id="blurringTextG_16" class="blurringTextG">
                d</div>
            <div id="blurringTextG_17" class="blurringTextG">
                e</div>
            <div id="blurringTextG_18" class="blurringTextG">
                a</div>
            <div id="blurringTextG_19" class="blurringTextG">
                s</div>
            <div id="blurringTextG_20" class="blurringTextG">
                &nbsp;
            </div>
            <div id="blurringTextG_21" class="blurringTextG">
                s</div>
            <div id="blurringTextG_22" class="blurringTextG">
                p</div>
            <div id="blurringTextG_23" class="blurringTextG">
                a</div>
            <div id="blurringTextG_24" class="blurringTextG">
                c</div>
            <div id="blurringTextG_25" class="blurringTextG">
                e</div>
            <div id="blurringTextG_26" class="blurringTextG">
                &nbsp;
            </div>
            <div id="blurringTextG_27" class="blurringTextG">
                .</div>
            <div id="blurringTextG_28" class="blurringTextG">
                .</div>
            <div id="blurringTextG_29" class="blurringTextG">
                .</div>
        </div>
    </div>
</div>


<!--Background-texture-->
<div style="background-color: #f3f3f3;width:100%;height:100%;position:fixed;z-index:1;top:0;left:0;"></div>

{{#if HubStar.checkLoginStatus}}

{{render loginModal}}       

{{/if}}

<script type="text/javascript">

    function DropDown(el) {
        this.dd = el;
        this.placeholder = this.dd.children('span');
        this.opts = this.dd.find('ul.dropdown > li');
        this.val = '';
        this.index = -1;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function() {
            var obj = this;
            obj.dd.on('click', function(event) {
                $(this).parents('div .wrapper-dropdown-3').toggleClass('active');
                return false;
            });
            obj.opts.on('click', function() {
                var opt = $(this);
                obj.val = opt.text();
                obj.index = opt.index();
                obj.placeholder.text(obj.val);
            });
        },
        getValue: function() {
            return this.val;
        },
        getIndex: function() {
            return this.index;
        }
    };
    $(function() {
        var dd1 = new DropDown($('.dropdown_test_1'));
        $(document).click(function() {
            // all dropdowns
            $('.wrapper-dropdown-3').removeClass('active');
        });
        var dd4 = new DropDown($('.dropdown_test_4'));
        $(document).click(function() {
            // all dropdowns
            $('.wrapper-dropdown-3').removeClass('active');
        });
    });
    
    
 
    
</script>
