

{{#if controller.collectable}}
{{render "addCollection"}}
{{/if}}
<div class="objectview-wrapper this-is-an-article" >

    <div class="objectview-left article-objectview-left" >
        <div class="top-controlbar easing" >
            {{#unless controller.enableTag}}
            <div class="fa icon-on-black hint--rounded hint--bottom" data-hint="Save this article to a collection" {{action switchCollection on="click" target="controller"}}>
                <i class="fa fa-folder" {{action switchCollection on="click" target="controller"}}></i>
                <span class="pretooltip">  Save </span>          
            </div>
            <div class="fa icon-on-black hint--rounded hint--bottom" data-hint="Share this article" {{action dropdownPhotoSetting "1"}}>
                 <i class="fa fa-share"></i><span class="pretooltip">Share</span> 
            </div>
            {{/unless}}
            {{#if HubStar.tagging_display}}
            {{#if controller.isBusinessProfile}}
            {{#if controller.enableTag}}

            <div class="fa icon-on-black hint--rounded hint--bottom" data-hint="Exit image tagging"  {{action endTag}}>
                 <i class="fa fa-tag"></i><span class="pretooltip">Done Tagging</span> 
            </div>
            {{else}}
            <div class="fa icon-on-black hint--rounded hint--bottom" data-hint="Add a new tag "  {{action activateTag}}>
                 <i class="fa fa-tag"></i><span class="pretooltip">Tag Image</span> 
            </div>
            {{/if}}
            {{/if}}
            {{#unless controller.enableTag}}

            {{#if controller.showAllTagsArticle}}
            <div class="fa icon-on-black hint--rounded hint--bottom" data-hint="Hide all tags on this image"  {{action hideTags}}>
                 <i class="fa fa-tag"></i><span class="pretooltip">Hide Tags</span> 
            </div>
            {{else}}
            <div class="fa icon-on-black hint--rounded hint--bottom" data-hint="Show all tags on the image"  {{action showTags}}>
                 <i class="fa fa-tag"></i><span class="pretooltip">Show Tags</span> 
            </div>
            {{/if}}
            {{/unless}}
            {{/if}}
            <ul class="hideClass edit-object-ul share-box" id="dropdown_id_1">

                <li class="ite" {{action  fbShare "1"}} >
                    <i class="fa fa-facebook share-type share-type-pos1"></i><span class="share-type-txt1">Facebook</span>
                </li>
                <li class='ite' {{action tShare "1"}} >
                    <i class="fa fa-twitter share-type share-type-pos2"></i><span class="share-type-txt2">Twitter</span>
                </li>
                <li class='ite' {{action pShare "1"}} >
                    <i class="fa fa-pinterest share-type share-type-pos2"></i><span class="share-type-txt2">Pinterest</span>
                </li>
                <li class="ite" {{action gpShare "1"}}>
                    <i class="fa fa-google-plus share-type share-type-pos2"></i><span class="share-type-txt2">Google+</span>
                </li>
                <li class="ite" {{action eShare "1"}}>
                    <img src="../../../images/sent.png" style="width: 16px;height: 16px">
                    <i class="send_email" style="font-size: 16px; margin: 0px 5px;position: absolute"></i><span style="margin-left: 1.5em">E-mail</span>
                </li>
            </ul>

            <script type="text/javascript">
                (function(d) {
                    var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
                    p.type = 'text/javascript';
                    p.async = true;
                    p.src = '//assets.pinterest.com/js/pinit.js';
                    f.parentNode.insertBefore(p, f);
                }(document));
            </script>
        </div>

        <div id="close_article_wrapper" class="closeview" {{action closeWindow on="click" target="controller"}} >
            <i class="fa fa-times"></i>
            <span id="close_text" class="close_text">close</span>
        </div>

        <div class="mainfeature">
            <div  class="previous previous-arrow-box" id ="previousarticlephoto" {{action previesImage on="click" target="view"}}>
                {{#if HubStar.touchDevice}}
                <i id="pa" class="arrow-pos arrow-left"></i>
                {{/if}}
            </div>
            <div  class="next next-arrow-box" id ="nextarticlephoto" {{action nextImage on="click" target="view"}}>
                {{#if HubStar.touchDevice}}
                <i id="na" class="arrow-pos arrow-right"></i>
                {{/if}}
            </div>

            <div id ="tag_article_image">
                {{view HubStar.PhotoDisplayAreaView}}
            </div>

        </div>
        <div class="caption-container" id="caption_action">
            {{#if HubStar.readCaption}}
            <div class="view-des">
                <span class="hover-opacity easing view-arrow">           
                    <i class="fa fa-angle-double-left"{{action setCaption  on="click" target="controller"}}></i>                             
                </span>
            </div>
            <div class="caption-text view-txt">{{caption}} </div>
            {{else}}
            <div class="view-des">
                <span class="hover-opacity easing view-arrow">
                    <i class="fa fa-angle-double-right"{{action setCaption  on="click" target="controller"}}></i>                      
                </span>
            </div>
            <div class="caption-text view-txt">{{caption}} </div>
            {{/if}}
        </div>

        <!--THIS IS THE ALBUM BOX-->

        {{view HubStar.ShowAlbumView}}

        <!--THIS IS THE ALBUM BOX-->

        <div class="bottom-controlbar easing" >
            <div class="fa icon-on-black "  {{action previesImage on="click" target="controller"}}>
                <i class="fa fa-arrow-left"></i>
            </div>
            <div class="fa icon-on-black hint--rounded hint--top" data-hint="Show other other images in this article" {{action popupAibum controller.selectedPhoto.id on="click" target="view"}}>
                <i class="fa fa-th"></i>
            </div>
            <div class="fa icon-on-black " {{action nextImage on="click" target="controller"}}>
                <i class="fa fa-arrow-right"></i>
            </div>
            <div class="text-on-black"> {{controller.image_no}}/{{content.length}} </div>
        </div>


    </div>



    <div class="objectview-right  article-objectview-right" >

        <!-- USER SECTION -->
        <div class="cursor-pointer">
            <div class="object-poster easing" {{action setNameTag on="click" target="view"}}>
                <div class="profilepic-container" >                   
                    <a href="#/profiles/{{unbound controller.megaResouce.owner_id}}" {{action transitionToProfile megaResouce.owner_id}}><img {{bind-attr src="controller.megaResouce.owner_profile_pic"}} class="profilepic"/></a>                              
                </div>
                <div class="poster_user">
                    <a class="poster-name" href="#/profiles/{{unbound controller.megaResouce.owner_id}}" {{action transitionToProfile megaResouce.owner_id}}>{{controller.megaResouce.owner_title}}</a>
                </div>

                <div class="enquiryBtn-containter message-img">
                    <div class="enquiryBtn-ring"></div>
                    <div class="enquiryBtn easing"{{action editingContactForm }}><i class="fa fa-envelope easing message-img-box"></i></div>
                    <div class="btn-description message-img-txt">MESSAGE</div>
                </div>
            </div>



        </div>

        <!-- OBJECT CONTROLL SECTION -->
        <div class="collapes-container view-stats-box">
            <div class="collapes-container_inner view-stats-innerbox">
                {{megaResouce.photo_isLike}}

                {{#if megaResouce.isLike}}
                <div  class="square-button hint--rounded hint--bottom"  data-hint="unLike this Idea!" {{action unLike}}>
                      <i class="fa fa-thumbs-up">&nbsp;<span class="view-stats-font">{{controller.article.likes_count}}</span>&nbsp;</i>
                </div>
                {{else}}
                <div  class="square-button hint--rounded hint--bottom"  data-hint="Like this Idea!" {{action addLike}}>
                      <i class="fa fa-thumbs-up">&nbsp;<span class="view-stats-font">{{controller.article.likes_count}}</span>&nbsp;</i>
                </div>
                {{/if}}

                <div class="square-button hint--rounded hint--bottom"  data-hint="Save this article to a collection" {{action switchCollection on="click" target="controller"}}>
                    <i class="fa fa-folder" >&nbsp;<span class="view-stats-font">{{controller.article.save_count}}</span>&nbsp;</i>
                </div>

                <div class="square-button hint--rounded hint--bottom share-box2" data-hint="Share this article" {{action dropdownPhotoSetting "2"}}>
                     <i class="fa fa-share" >&nbsp;<span class="view-stats-font">{{controller.article.share_count}}</span>&nbsp;</i>
                </div>

                <ul class="hideClass edit-object-ul share-box2a" id="dropdown_id_2">
                    <li class="ite share-type-fb" {{action  fbShare "2"}} >
                        <i class="fa fa-facebook share-type share-type-pos1 share-type-fb1"></i><span class="share-type-txt1 share-type-pos1 share-type-fb2">Facebook</span>
                    </li>
                    <li class='ite' {{action tShare "2"}} >
                        <i class="fa fa-twitter share-type share-type-pos2"></i><span class="share-type-txt2">Twitter</span>
                    </li>
                    <li class='ite' {{action pShare "2"}} >
                        <i class="fa fa-pinterest share-type share-type-pos2"></i><span class="share-type-txt2">Pinterest</span>
                    </li>
                    <li class="ite" {{action gpShare "2"}}>
                        <i class="fa fa-google-plus share-type share-type-pos2"></i><span class="share-type-txt2">Google+</span>
                    </li>
                    <li class="ite" {{action eShare "2"}}>
                        <img src="../../../images/sent.png" style="width: 16px;height: 16px">
                        <i class="send_email" style="font-size: 16px; margin: 0px 5px;position: absolute"></i><span style="margin-left: 1.5em">E-mail</span>
                    </li>
                </ul>

            </div>
        </div>


        <!--THIS IS THE ARTICLE AND CAPTION SECTION-->

        <div class="object-collapes-title" >
            <div class="collapes-title_inner">
                Article
            </div>

            {{#unless view.readContent}}

            <div class="readbtn new-btn" {{action checkReading on="click" target="view"}} >
                Read more
            </div>
            {{else}}

            <div class="closeReadbtn new-btn" {{action checkClosed on="click" target="view"}}>
                Close
            </div>
            {{/unless}}
        </div>


        <div class="collapes-container article-display"  id="article_action">
            <div class="collapes-container_inner">
                <div class="article-title" >{{controller.articleResouce.article_headline}}</div>
                <div class="article-text article-display article-text2" id="article_text_action">{{{controller.articleResouce.article_body}}}</div>            
                <div id ="read_more_cue" class="article-text article-display">......</div>
            </div>
        </div>
        {{#if HubStar.object_ad_display}}
        <div id="article_view_ads" >
        </div>
        {{/if}}
        <!-- OBJECT CREDIT LIST SECTION -->
        {{#if controller.isCreditListExist}}
        <div>
            <div>
                <div class="object-collapes-title" >
                    <div class="collapes-title_inner">
                        Credit List
                    </div>
                </div> 

            </div>


            <div class="collapes-container article-display"  id="article_action">
                <div class="collapes-container_inner">
                    {{#each articleResouce.credits}}
                    <div class="article-text">
                        <a class="article-creditList">{{credits_name}}:</a>
                        <span class="credits_text">{{credits_text}}</span></div>

                    {{/each}}
                </div>
            </div>
        </div>

        {{/if}}




        <!-- OBJECT DISCUSSION SECTION -->
        <div>
            <div class="object-collapes-title" {{action setDiscussionTag on="click" target="view"}} >
                <div class="collapes-title_inner">
                    Discussion
                </div>
                <span class="show-comment_inner">
                    <span class="comment-amount" > {{controller.article.comments.length}} </span>
                </span>
                <div class="dropdownicon">
                    <i class="fa fa-angle-down dropdownicon-dis"></i>
                </div>      
            </div>



            <div class="collapes-container article-display"  id="discuss_action">
                <div class="collapes-container_inner discuss-box">
                    <div class="discuss-input-box">
                        <div class="discuss-input-innerbox">
                            <a>
                                <img class="profilepic_comment comment-item-img comment-item-img-z1" src="http://develop.devbox.s3.amazonaws.com/profile_pic/default/defaultpic1.jpg" /> 
                                <img class="profilepic_comment comment-item-img comment-item-img-z2" {{bind-attr src="controller.currentUser.photo_url_large"}} /> 
                                <div class="user-says-angle-before user-says-angle-before2"></div>
                                <div class="user-says-angle-after user-says-angle-after2"></div>
                            </a>
                            <div class="discuss-input">
                                <div class="discuss-input-txt">
                                    {{view Ember.TextArea valueBinding="commentContent"  class="no-resize no-effect" placeholder="Write a comment..." }}                                          
                                </div>
                                <div class="discuss-submit">
                                    <div class="message-btn easing width-100" {{action addComment}}><i class='fa fa-check'>&nbsp;</i>Post </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    {{#each controller.article.comments}}
                    {{#unless this.isEdit}}
                    <div class="comment-item">

                        <div class="comment-position">
                            <a class="profilepic-comment-container" href="#/users/{{unbound commenter_id}}">
                                <img class="profilepic_comment" {{bind-attr src="commenter_profile_pic_url"}} />
                            </a>
                            <div style="">
                                <div class="comment-namentime">
                                    <a class="comment-username"  href="#/users/{{unbound commenter_id}}">
                                        {{name}}
                                    </a>
                                    <div class="posttime-container">
                                        <span class="posttime">{{date time_stamp}}</span>                  
                                    </div>
                                    {{#if this.getUser}}
                                    <span class="edit-comment easing">
                                        <i class="fa fa-trash-o"  {{action removeComment this}}></i>                 
                                        <i class="fa fa-pencil" {{action updateComment this}}></i>
                                    </span>
                                    {{/if}}
                                </div>

                                <div class="comment-content">
                                    {{content}}

                                    <!-- for +someone into the conversation-->
                                    <span>
                                        <span></span>
                                        <a></a>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    {{else}}
                    {{render "editComment" this}}   
                    {{/unless}}

                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>


{{#if controller.makeSureDelete}}

{{view HubStar.DeleteFunctionView}}

{{/if}}


{{#if controller.contact}}
{{render "contact"}}
{{/if}}


{{#if isShareEmail}}
{{render "shareEmail"}}
{{/if}}

<!--     show add new  tag template-->   
{{#if HubStar.tagging_display}}
{{#if controller.enableEditTag}}
{{render "updateTag"}}
{{/if}}
{{#if controller.makeSureActivateTag}}
{{view HubStar.ActivateTagFunctionView}}
{{/if}}
{{#if  controller.enableTag}}      
{{#if controller.inImage}} <!--only when it within the image place can add the tag-->
{{  render "showTag"}}
{{/if}}
{{/if}}
<!--     show   tag's detail content  template-->   
<!--              only when is not in the edit tag state and mouse over the tag can show the detail content-->
{{#unless controller.enableTag}}
{{#if controller.showEachTagContent }}
{{  view HubStar.TagContentView }}
{{/if}}
{{/unless}}
<!--     show all the tags--> 
{{#if controller.showAllTagsArticle}} <!--      showOrNot tag-->
{{#each controller.contentTagsArticle}}
{{view HubStar.TagMouseView}} 
{{/each}}
{{/if}}
{{/if}}

