


<div class="objectview-wrapper this-is-an-article" >

    <div class="objectview-left article-objectview-left">
        {{#if controller.collectable}}
        {{render addCollection}}
        {{/if}}
        <div class="top-controlbar easing" >
            <!--            <div class="fa icon-on-black" style="left: 8px;"><i class="fa fa-thumbs-up"></i></div>-->
            <div class="fa icon-on-black hint--rounded hint--bottom" data-hint="Save this photo to your own collection." style="position:relative;width: 60px;margin: 0 5px;" {{action switchCollection on="click" target="controller"}}>
                <i class="fa fa-folder" {{action switchCollection on="click" target="controller"}}></i>
                <span class="pretooltip">
                    Save
                </span>          
            </div>
            <div class="fa icon-on-black hint--rounded hint--bottom" data-hint="Share this photo to other social platform." style="position:relative;width: 60px;margin: 0 5px;" {{action dropdownPhotoSetting "1"}}>
                 <i class="fa fa-share"></i><span class="pretooltip">Share</span> 
            </div>
            <ul class="hideClass edit-object-ul" id="dropdown_id_1" style="width: 150px; margin: 0 auto; left: 50px;padding: 0">
                <li class="ite" {{action  fbShare "1"}} >
                    <i class="fa fa-facebook" style="font-size: 16px; margin: 0px 5px;position: absolute"></i><span style="margin-left: 2.5em">Facebook</span>
                </li>
                <li class='ite' {{action tShare "1"}} >
                    <i class="fa fa-twitter" style="font-size: 16px;  margin: 0px 5px;position: absolute"></i><span style="margin-left: 2.5em">Twitter</span>
                </li>
                <li class='ite' {{action pShare "1"}} >
                    <i class="fa fa-pinterest" style="font-size: 16px;  margin: 0px 5px;position: absolute"></i><span style="margin-left: 2.5em">Pinterest</span>
                </li>
                <li class="ite" {{action gpShare "1"}}>
                    <i class="fa fa-google-plus" style="font-size: 16px; margin: 0px 5px;position: absolute"></i><span style="margin-left: 2.5em">Google+</span>
                </li>
            </ul>

            <script type="text/javascript">
                (function(d) {
                    var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
                    p.type = 'text/javascript';
                    p.async = true;
                    p.src = '//assets.pinterest.com/js/pinit.js';
                    f.parentNode.insertBefore(p, f);
                }(document));
            </script>
            <!--    <div class="fa icon-on-black" style="height: 44px;position: absolute;width: 44px;"><i class="fa fa-share"></i></div>     -->
        </div>

        <div id="close_article_wrapper" class="closeview" {{action closeWindow on="click" target="controller"}} >
            <i class="fa fa-times"></i>
            <span id="close_text" class="close_text">close</span>
        </div>

        <div class="mainfeature">
            <div class="previous" style="width: 50%; height: 100%; float: left;" {{action previesImage on="click" target="controller"}}></div>
            <div class="next" style="width: 50%; height: 100%; float: right;"  {{action nextImage on="click" target="controller"}}></div>
            {{view HubStar.PhotoDisplayAreaView}}
        </div>


        <div class="caption-container" id="caption_action">
            {{#if HubStar.readCaption}}
            <div style="margin-bottom: 5px;">
                <span class="hover-opacity easing" style="float: right; cursor:pointer;">           
                    <i class="fa fa-angle-double-left"{{action setCaption  on="click" target="controller"}}></i>                             
                </span>
            </div>
            <div class="caption-text" style="width: 300px;font-size: 13px;line-height: 16px;">{{caption}} </div>
            {{else}}
            <div style="margin-bottom: 5px;">
                <span class="hover-opacity easing" style="float: right; cursor:pointer;">
                    <i class="fa fa-angle-double-right"{{action setCaption  on="click" target="controller"}}></i>                      
                </span>
            </div>
            <div class="caption-text" style="width: 300px;font-size: 13px;line-height: 16px;">{{caption}} </div>
            {{/if}}
        </div>


        <!--THIS IS THE ALBUM BOX-->

        {{view HubStar.ShowAlbumView}}

        <!--THIS IS THE ALBUM BOX-->

        <div class="bottom-controlbar easing" >
            <div class="text-on-black" style="right: 132px;"></div>
            <div class="fa icon-on-black"  {{action previesImage on="click" target="controller"}} style="display:inline-block; vertical-align: top; position:relative; left:44px;">
                <i class="fa fa-arrow-left"></i>
            </div>
            <div class="fa icon-on-black hint--rounded hint--top" data-hint="Show other photos in this collection." style="left: 44px; display:inline-block; vertical-align: top; position:relative;" {{action popupAibum controller.selectedPhoto.id on="click" target="view"}}>
                <i class="fa fa-th"></i>
            </div>
            <div class="fa icon-on-black" style="left: 44px;position: relative;vertical-align: top;display: inline-block;" {{action nextImage on="click" target="controller"}}>
                <i class="fa fa-arrow-right"></i>
            </div>
            <div class="text-on-black" style="left: 88px; top:0;position: relative;display: inline-block;vertical-align: top;"> {{controller.image_no}}/{{content.length}} </div>
        </div>


    </div>



    <div class="objectview-right  article-objectview-right" >

        <!-- USER SECTION -->
        <div style="cursor: pointer;">
            <div class="object-poster easing" {{action setNameTag on="click" target="view"}}>
                <div class="profilepic-container" >                   
                    <a href="#/profiles/{{unbound controller.megaResouce.owner_id}}" {{action transitionToProfile megaResouce.owner_id}}><img {{bindAttr src="controller.megaResouce.owner_profile_pic"}} class="profilepic"/></a>                              
                </div>
                <div class="poster_user">
                    <a class="poster-name" href="#/profiles/{{unbound controller.megaResouce.owner_id}}" {{action transitionToProfile megaResouce.owner_id}}>{{controller.megaResouce.owner_title}}</a>
                </div>

                <div class="contactmebtn hint--left hint--rounded easing" data-hint="Contact us!" style="position: absolute;">
                    <a class="contactmeicon easing" {{action editingContactForm }}><i class="fa fa-envelope easing" style="font-size: 18px;"></i></a>
                </div>
            </div>
            {{#if controller.contact}}
            {{render contact}}
            {{/if}}



        </div>

        <!-- OBJECT CONTROLL SECTION -->
        <div class="collapes-container"  style="display:block;border-top: 1px solid #f3f3f3;">
            <div class="collapes-container_inner" style="padding: 0; height: 45px;">


                <div  class="square-button hint--rounded hint--bottom"  data-hint="Like this Idea!" {{action addLike}}>
                      <i class="fa fa-thumbs-up">&nbsp;<span style="font-size: 11px;">{{controller.article.likes_count}}</span>&nbsp;</i>
                </div>


                <div class="square-button hint--rounded hint--bottom"  data-hint="Add to your own collection." {{action switchCollection on="click" target="controller"}}>
                    <i class="fa fa-folder" >&nbsp;<span style="font-size: 11px;">{{controller.article.save_count}}</span>&nbsp;</i>
                </div>

                <div class="square-button hint--rounded hint--bottom" data-hint="Share this photo to other social platform." style="position:relative;margin: 0 5px;" {{action dropdownPhotoSetting "2"}}>
                     <i class="fa fa-share" >&nbsp;<span style="font-size: 11px;">{{controller.article.share_count}}</span>&nbsp;</i>
                </div>

                <ul class="hideClass edit-object-ul" id="dropdown_id_2" style="width: 170px; left: 90px; position: absolute; top: 120px;">
                    <li class="ite" {{action  fbShare "2"}} >
                        <i class="fa fa-facebook" style="font-size: 16px; margin: 0px 5px;position: absolute"></i><span style="margin-left: 2.5em">Facebook</span>
                    </li>
                    <li class='ite' {{action tShare "2"}} >
                        <i class="fa fa-twitter" style="font-size: 16px;  margin: 0px 5px;position: absolute"></i><span style="margin-left: 2.5em">Twitter</span>
                    </li>
                    <li class='ite' {{action pShare "2"}} >
                        <i class="fa fa-pinterest" style="font-size: 16px;  margin: 0px 5px;position: absolute"></i><span style="margin-left: 2.5em">Pinterest</span>
                    </li>
                    <li class="ite" {{action gpShare "2"}}>
                        <i class="fa fa-google-plus" style="font-size: 16px; margin: 0px 5px;position: absolute"></i><span style="margin-left: 2.5em">Google+</span>
                    </li>
                </ul>

            </div>
        </div>




        <!--THIS IS THE ARTICLE AND CAPTION SECTION-->



        <div class="object-collapes-title" >
            <div class="collapes-title_inner">
                Article
            </div>

            {{#unless view.readContent}}

            <div class="readbtn new-btn" {{action checkReading on="click" target="view"}} >
                Read more
            </div>
            {{else}}

            <div class="closeReadbtn new-btn" {{action checkClosed on="click" target="view"}}>
                Close
            </div>
            {{/unless}}
        </div>



        <div class="collapes-container"  id="article_action" style="display:block;">
            <div class="collapes-container_inner">
                <div class="article-title" >{{controller.articleResouce.article_headline}}</div>
                <div class="article-text" id="article_text_action" style="display:block; height: 210px;overflow: hidden;">{{{controller.articleResouce.article_body}}}</div>            
                <div id ="read_more_cue" class="article-text" style="display:block;">......</div>
            </div>
        </div>






        <!-- OBJECT CREDIT LIST SECTION -->
        {{#if controller.isCreditListExist}}
        <div>
            <div>
                <div class="object-collapes-title" >
                    <div class="collapes-title_inner">
                        Credit List
                    </div>
                </div> 

            </div>




            <div class="collapes-container"  id="article_action" style="display:block;">
                <div class="collapes-container_inner">
                    {{#each articleResouce.credits}}
                    <div class="article-text">
                        <a style="font-weight: bold">{{credits_name}}:</a>
                        <span class="credits_text">{{credits_text}}</span></div>

                    {{/each}}
                </div>
            </div>
        </div>

        {{/if}}




        <!-- OBJECT DISCUSSION SECTION -->
        <div>
            <div class="object-collapes-title" {{action setDiscussionTag on="click" target="view"}} >
                <div class="collapes-title_inner">
                    Discussion
                </div>
                <span class="show-comment_inner">
                    <span class="comment-amount" > {{controller.article.comments.length}} </span>
                </span>
                <div class="dropdownicon">
                    <i class="fa fa-angle-down" style="height: 16px; width: 16px;"></i>
                </div>      
            </div>



            <div class="collapes-container"  id="discuss_action" style="display:block">
                <div class="collapes-container_inner" style="padding: 0;margin: 0;width: 100%;">
                    <div  style="width: 98%;padding: 15px 10px;margin: 0 auto;overflow: hidden;border-bottom: 1px solid #ddd;">
                        <div style="margin:0 auto; padding: 0 0 0 50px;">
                            <a>
                                <img class="profilepic_comment"  style="width: 45px; height: 45px;float: left; margin: 4px 0 0 -50px; margin-top: 0; z-index: 1" src="http://develop.devbox.s3.amazonaws.com/profile_pic/default/defaultpic1.jpg" /> 
                                <img class="profilepic_comment"  style="width: 45px; height: 45px;float: left; margin: 4px 0 0 -50px; margin-top: 0;z-index: 2" {{bindAttr src="controller.currentUser.photo_url_large"}} /> 
                                <div class='user-says-angle-before' style="left: 51px;"></div>
                                <div class='user-says-angle-after' style="left: 49px;"></div>
                            </a>

                            <div class="" style="width: 100%; border-radius: 2px;border: 1px solid #ddd;background-color: #fff;">
                                <div   style="margin: 0;width: 100%; height:100px;">
                                    {{view Ember.TextArea valueBinding="commentContent"  class="no-resize no-effect" placeholder="Write a comment..." }}                                          
                                </div>

                                <div class="" style="height: 30px;position: relative;border-top: 1px solid #ddd;top: -1px;">

                                    <div class="message-btn easing" style='width: 100%'{{action addComment}}><i class='fa fa-check'>&nbsp;</i>Post </div>

                                </div>
                            </div>

                        </div>
                    </div>


                    {{#each controller.article.comments}}
                    {{#unless this.isEdit}}
                    <div class="comment-item">

                        <div class="comment-position">
                            <a class="profilepic-comment-container" href="#/users/{{unbound commenter_id}}">
                                <img class="profilepic_comment" {{bindAttr src="commenter_profile_pic_url"}} />
                            </a>
                            <div style="">
                                <div class="comment-namentime">
                                    <a class="comment-username"  href="#/users/{{unbound commenter_id}}">
                                        {{name}}
                                    </a>
                                    <div class="posttime-container">
                                        <span class="posttime">{{date time_stamp}}</span>                  
                                    </div>
                                    {{#if this.getUser}}
                                    <span class="edit-comment easing">
                                        <i class="fa fa-trash-o"  {{action removeComment this}}></i>                 
                                        <i class="fa fa-pencil" {{action updateComment this}}></i>
                                    </span>
                                    {{/if}}
                                </div>

                                <div class="comment-content">
                                    {{content}}

                                    <!-- for +someone into the conversation-->
                                    <span>
                                        <span></span>
                                        <a></a>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    {{else}}
                    {{render editComment this}}   
                    {{/unless}}

                    {{/each}}
                </div>
            </div>

        </div>




    </div>


</div>


{{#if controller.makeSureDelete}}

{{view HubStar.DeleteFunctionView}}

{{/if}}
