


{{#if HubStar.showDiscoveryBar}}
<div id="cta-popup-discovery" class="cta-popup cta-popup-discovery">
    <div class="inner">
        <div class="left">
            <span class="my">my</span><span class="trends">Trends</span>
        </div>
        <div class="middle">
            <div>Access the greatest collection of ideas,</div><div>products and services your home.</div>       
        </div>
        <div class="right">
            <div id="cta_register" class="registerbtn" {{action ctaregister on="click"  target="view"}}>Sign up</div>
            <div id="cta_login" class="loginbtn" {{action ctalogin on="click"  target="view"}}>Log in - What is myTrends?</div>
        </div>
    </div>
</div>

{{else}}

<div id="cta-popup" class="cta-popup cta-popup-non-discovery">
    <div class="inner">
        <div class="left">
            <span class="my">my</span><span class="trends">Trends</span>
        </div>
        <div class="middle">
            <div>Access the greatest collection of ideas,</div><div>products and services your home.</div>       
        </div>
        <div class="right">
            <div id="cta_register" class="registerbtn" {{action ctaregister on="click"  target="view"}}>Sign up</div>
            <div id="cta_login" class="loginbtn" {{action ctalogin on="click"  target="view"}}>Log in - What is myTrends?</div>
        </div>
    </div>
</div>

{{/if}}
