
<div class="masonry-object_interact" >
 
<div class="masonry_addcommnetbox-container" {{action openComment model.id target="view" on="click"}} id="comment_{{unbound model.id}}">
    <div class="addcommnetbox">
        Add comments 
    </div>
</div>

<div class="addcommnetbox-container comment-frame" id="commentBox_{{unbound model.id}}" style="display: none">
    <div style="margin:0 auto; padding: 0 0 15px 45px;">
        <a>
            <img class="profilepic_comment"  style="float: left; margin: 4px 0 0 -45px; margin-top: 0;"{{bindAttr src="controller.currentUser.photo_url_large"}} /> 
        </a>

        {{view HubStar.SearchRequireTextFieldView valueBinding="commentContent"  id="" class="comment-insert-field"  placeholder="" }}
        <span class="" style="margin:7px 0;float: right;">
            <div  class="new-btn"{{action closeComment model.id target="controller" on="click"}}>Cancel</div>
            <div class="new-btn green-btn" {{action addComment}}>Post</div>
        </span>

    </div>
</div>

<div id="commentData_{{unbound model.id}}" class="comment-frame" style="max-height:88px;">
    <div id="commentScrollBar_{{unbound model.id}}" >
    {{#each model.comments}}
    {{#unless this.isEdit}}
    <div class="comment-item" id="commentItem_{{unbound message_id}}" style="display: block">

        <div class="comment-position">
            <a class="profilepic-comment-container" href="#/users/{{unbound commenter_id}}" {{action linkingUser commenter_id}}>
               <img class="profilepic_comment" {{bindAttr src="commenter_profile_pic_url"}} />
            </a>
            <div style="">
                <div class="comment-namentime">
                    <div class="namentime_position">
                        <a class="comment-username" href="#/users/{{unbound commenter_id}}" {{action linkingUser commenter_id}} >
                           {{name}}
                    </a>
                    <div class="posttime-container">
                        <span class="posttime">{{date  time_stamp}}</span>
                    </div>
                </div>
                {{#if this.getUser}}
                <span class="edit-comment easing">
                    <i class="icon-trash"  {{action removeComment this}}></i>                 
                    <i class="icon-pencil" {{action editingCommentData this}}></i>
                </span>
                {{/if}}
            </div>

            <div class="comment-content">
                {{content}} 

                <span>
                    <span></span>
                </span>
            </div>

        </div>
    </div>

</div>

{{else}}
<div class="comment-item" id="commentItemIn_{{unbound message_id}}" style="display: block">

    <div class="comment-position">
        <a class="profilepic-comment-container" href="#/users/{{unbound commenter_id}}" {{action linkingUser commenter_id}}>
           <img class="profilepic_comment" {{bindAttr src="commenter_profile_pic_url"}} />
        </a>
        <div style="">
            <div class="comment-namentime">
                <div class="namentime_position">
                    <a class="comment-username" href="#/users/{{unbound commenter_id}}" {{action linkingUser commenter_id}} >
                       {{name}}
                </a>
                {{#if this.getUser}}
                <i class="icon-trash"  {{action removeComment this}}></i>                 
                <i class="icon-pencil" {{action editingCommentData this}}></i>
                {{/if}}
                <div class="posttime-container">
                    <span class="posttime">{{date  time_stamp}}</span>
                </div>
            </div>

        </div>

        <div class="comment-content">
            {{content}} 

            <span>
                <span></span>
            </span>
        </div>

    </div>
</div>

</div>
<div class="addcommnetbox-container comment-frame" id="commentEdit_{{unbound message_id}}" style="display: none">
    {{render editComment this}}       
</div>
{{/unless}}
{{/each}}


</div>
</div>
<div class="masonry_show-comment">
        <div class="show-comment_container" >
            <div class="show-comment_inner"  id="showMoreComment_{{unbound model.id}}"   {{action seeMore model.id target="controller" on="click"}}>
                <span class="comment-amount text-anchor easing">  view </span>
                 <span class="comment-amount text-anchor easing"> comments<i class="icon-angle-down"></i></span>
                <span class="comment-amount text-anchor easing">  {{model.comments.length}}</span>
               
            </div>


            <div class="show-comment_inner" id="closeComment_{{unbound model.id}}"   style="display: none" {{action closeMore model.id  target="controller" on="click"}}>
                 <span class="comment-amount text-anchor easing"> collapse </span>
                <span class="comment-amount text-anchor easing"> comments  <i class="icon-angle-up"></i></span>
                <span class="comment-amount text-anchor easing">  {{model.comments.length}} </span>
            </div>

        </div>
    </div>






{{#if controller.makeSureDelete}}

{{view HubStar.DeleteFunctionView}}

{{/if}}

{{isThumbUped model.people_like model.id}}

</div>
