







<div class="masonry-object_interact" >
    <div class="masonry_show-comment">
        <div class="show-comment_container" >
            <div class="show-comment_inner"  id="showMoreComment_{{unbound model.id}}"   {{action seeMore model.id target="view" on="click"}}>
                <span class="comment-amount text-anchor easing">  {{model.comments.length}}</span>
                <span class="comment-amount text-anchor easing"> comments  <i class="icon-angle-down"></i></span>
            </div>


            <div class="show-comment_inner" id="closeComment_{{unbound model.id}}"   style="display: none" {{action closeMore model.id  target="view" on="click"}}>
                <span class="comment-amount text-anchor easing">  {{model.comments.length}} </span>
                <span class="comment-amount text-anchor easing"> comments  <i class="icon-angle-up"></i></span>
            </div>

        </div>
        <div style="display: inline-block;float: right; font-size: 13px;">
            <div id="thumbUpBtn_{{unbound model.id}}"  class="new-btn" {{action addLike model.id}}><i class="icon-thumbs-up-alt" {{action addLike model.id}}>&nbsp</i>{{model.likes_count}}</div>

        </div>
    </div>

    <div class="masonry_addcommnetbox-container" {{action openComment model.id target="view" on="click"}} id="comment_{{unbound model.id}}">
        <div class="addcommnetbox">
            Add comments 
        </div>
    </div>

    <div class="addcommnetbox-container comment-frame" id="commentBox_{{unbound model.id}}" style="display: none">
        <div style="margin:0 auto; padding: 0 0 15px 45px;">
            <a>
                <img class="profilepic_comment"  style="float: left; margin: 4px 0 0 -45px; margin-top: 0;"{{bindAttr src="controller.currentUser.photo_url_large"}} /> 
            </a>

            {{view HubStar.SearchRequireTextFieldView valueBinding="commentContent"  id="" class="comment-insert-field"  placeholder="" }}
            <span class="" style="margin:7px 0;float: right;">
                <div  class="new-btn"{{action closeComment model.id target="view" on="click"}}>Cancel</div>
                <div class="new-btn green-btn" {{action addComment}}>Post</div>
            </span>

        </div>
    </div>

    <div id="commentData_{{unbound model.id}}" class="comment-frame" style="max-height:88px;">

        {{#each model.comments}}
        <div class="comment-item">

            <div class="comment-position">
                <a class="profilepic-comment-container" href="#/users/{{unbound commenter_id}}" {{action linkingUser commenter_id}}>
                   <img class="profilepic_comment" {{bindAttr src="commenter_profile_pic_url"}} />
                </a>
                <div style="">
                    <div class="comment-namentime">
                        <div class="namentime_position">
                            <a class="comment-username" href="#/users/{{unbound commenter_id}}" {{action linkingUser commenter_id}} >
                               {{name}}
                        </a>
                        
                            <i class="icon-trash"  {{action removeMessage model.message_id}}></i>                 
                            <i class="icon-pencil" {{action editingCommentData model.message_id model.msg}}></i>
                   
                        <div class="posttime-container">
                            <span class="posttime">{{date  time_stamp}}</span>
                        </div>
                    </div>

                </div>

                <div class="comment-content">
                    {{content}} 

                    <span>
                        <span></span>
                    </span>
                </div>

            </div>
        </div>

    </div>
    {{else}}


    {{/each}}



</div>



</div>



{{#if controller.makeSureDelete}}

{{view HubStar.DeleteFunctionView}}

{{/if}}

{{isThumbUped model.people_like model.id}}