
<div class="masonry-object_interact" >

    <div class="reply-comment-frame"  style="padding: 15px;">
        <div style="margin:0 auto; padding: 0 45px 0 0;">
            <a  href="#/users/{{unbound model.user_id}}">
                <img class="profilepic_comment" style="float: right; margin: 4px -45px 0 0; margin-top: 0; z-index: 1" src="http://develop.devbox.s3.amazonaws.com/profile_pic/default/defaultpic1.jpg"  /> 
                <img class="profilepic_comment" style="float: right; margin: 4px -45px 0 0; margin-top: 0; z-index: 2"{{bindAttr src="controller.currentUser.photo_url_large"}}  /> 
                <div class='user-reply-angle-before' style="right: 47px;"></div>
                <div class='user-reply-angle-after' style="right: 45px;"></div>
            </a>

            <div class="reply-comment-container" style="width: 100%;height: 32px;">
                <div id ="commentnew_{{unbound model.id}}"style="margin: 0;width: 210px; height: 30px;float: left;">
                    {{view HubStar.SearchAreaTextFieldView valueBinding="commentContent" class="no-resize" placeholder="What's up!" }}                                          
                </div>
                <div style="float: right;height: 34px;position: relative;">

                    <div class="message-btn easing" style='width: 30px;'{{action openComment model.id}}>
                         <k class='icon-ok'></k>
                    </div>

                </div>
            </div>
        </div>
    </div>




    <div id="commentData_{{unbound model.id}}" class="" style="/*display: none;*/border-top: 1px solid #ddd;">
        <div id="commentScrollBar_{{unbound model.id}}" class="comment-scroll-bar" >
            {{#each model.comments}}
            {{#unless this.isEdit}}
            <div class="comment-item comment-frame" id="commentItem_{{unbound message_id}}" style="display: block">

                <div class="comment-position" style="">
                    <a class="profilepic-comment-container" style="" href="#/users/{{unbound commenter_id}}" {{action linkingUser commenter_id}}>
                       <img class="profilepic_comment" {{bindAttr src="commenter_profile_pic_url"}} />
                    </a>
                    <div style="">

                        <div class="comment-namentime">
                            {{#if this.getUser}}
                            <span class="edit-comment easing">
                                <i class="icon-trash"  {{action removeComment this}}></i>                 
                                <i class="icon-pencil" {{action editingCommentData this}}></i>
                            </span>
                            {{/if}}
                            <a class="comment-username"  href="#/users/{{unbound commenter_id}}" {{action linkingUser commenter_id}}>
                               {{name}}    
                        </a>
                        <div class="posttime-container">
                            <span class="posttime">{{date  time_stamp}}</span>
                        </div>
                    </div>


                    <div class="comment-content">
                        {{content}} 
                    </div>

                </div>
            </div>

        </div>

        {{else}}
        <div class="comment-item" id="commentItemIn_{{unbound message_id}}" style="display: block">

            <div class="comment-position">
                <a class="profilepic-comment-container" href="#/users/{{unbound commenter_id}}" {{action linkingUser commenter_id}}>
                   <img class="profilepic_comment" {{bindAttr src="commenter_profile_pic_url"}} />
                </a>
                <div style="">
                    <div class="comment-namentime">
                        {{#if this.getUser}}
                        <span class="edit-comment easing">
                            <i class="icon-trash"  {{action removeComment this}}></i>                 
                            <i class="icon-pencil" {{action editingCommentData this}}></i>
                        </span>
                        {{/if}}
                        <a class="comment-username"  href="#/users/{{unbound commenter_id}}" {{action linkingUser commenter_id}}>
                           {{name}}    
                    </a>
                    <div class="posttime-container">
                        <span class="posttime">{{date  time_stamp}}</span>
                    </div>
                </div>

                <div class="comment-content">
                    {{content}} 
                </div>

            </div>
        </div>

    </div>
    <div  id="commentEdit_{{unbound message_id}}" style="display: none">
        {{render editComment this}}       
    </div>
    {{/unless}}
    {{/each}}


</div>
</div>

<div class="hover-opacity easing" style="height: 20px; width: 100%; background-color: #f3f3f3;text-align: center;color: #555; border-top: 1px solid #ddd;cursor: pointer">  
    <div id="showMoreComment_{{unbound model.id}}" style="display: inline-block; cursor: pointer"  {{action seeMore model.id target="controller" on="click"}}>
        <span style="font-size: 11px;font-weight: bold">show all comments &nbsp; {{model.comments.length}}</span>
        <i class="icon-caret-down show-comment_inner" ></i>   
    </div>
    <div id="closeComment_{{unbound model.id}}"    style="display: none;cursor: pointer" {{action closeMore model.id  target="controller" on="click"}}>
        <span style="font-size: 11px;font-weight: bold">hide excess comments &nbsp; {{model.comments.length}}</span>
        <i class="icon-caret-up show-comment_inner" ></i>
    </div>
</div>


{{#if controller.makeSureDelete}}

{{view HubStar.DeleteFunctionView}}

{{/if}}

{{isThumbUped model.people_like model.id}}

</div>
