
<div class="blur_black" {{action closeContact }}></div>

<div class="contact-top"></div>

<div class="contactmebox-wapper contact-box">


    {{#unless controller.firstStepOfContactEmail}}
    <div class="head controlbtn-field">
        <div class="contact-navigateBar">
            <div class="panelcircle radius-circle">1</div>
            <div class="panelcircle radius-circle contact-hide-step" {{action nextSendingEmailProcess}} >2</div>
            <div class="contact-step-bar"></div>
            <div class="contact-step-title contact-step-one"> Send a message.</div>
        </div>
    </div>

    <div class="head contact-head">
        <div class="poster_user user-detailBox">
            <div class="contact-title-box">
                <span class="contact-title-txt">Send an Email to</span>
                <div class="poster-user-name poster_user-title">{{controller.selectedMega.owner_title}}</div>
            </div>
            <div>
                {{#unless controller.isDisplayNameEditable}}
                <span class="contact-title-marge">From: {{controller.displayName}}</span>
                {{else}}

                {{view HubStar.SearchRequireTextFieldView valueBinding="controller.displayName" class="lineuptextbox"}}
                {{/unless}}
                <a class="contact-edit" {{action setEditable "Name"}}>{{editNameStatus}}</a>
            </div>
            <div class="contact-email">
                {{#unless controller.isDisplayEmailEditable}}
                <span class="contact-title-marge">Email: {{controller.displayEmail}}</span>
                {{else}}
                {{view HubStar.SearchAreaTextFieldView valueBinding="controller.displayEmail" class="lineuptextbox"}}
                {{/unless}}
                <a class="contact-edit" {{action setEditable "Email"}}>{{editEmailStatus}}</a>
            </div>
        </div>
        <div class="contact-user-img">
            <a href="#"><img {{bind-attr src="controller.owner_profile_pic"}} class="profilepic"/></a>              
        </div>
        <div>
            <span class="contact-subject">Subject:</span>
            <div class="contact-suject-txt">
                {{view Ember.TextField valueBinding="controller.emailSubject"}}
            </div>
        </div>
    </div>
    {{/unless}}


    {{#if controller.secondStepOfContactEmail}}
    <div class="head controlbtn-field">
        <div class="contact-navigateBar contact-navigateBar-step2">
            <div class="panelcircle radius-circle contact-hide-step" {{action proviousSendingEmailProcess}}>1</div>
            <div class="panelcircle radius-circle" >2</div>
            <div class="contact-step-bar"></div>
            <div class="contact-step-title contact-step-two">Help us help you.</div>
        </div>
    </div>
    {{/if}}






    <div class="content contact-content-container">
        <div class="contactme-table easing contact-content-inner">

            {{#if controller.secondStepOfContactEmail}}


            <table>
                <tbody>
                    <tr>
                        <td>Project Category:</td>
                        <td>
                            <div class="new-btn" style="" {{action dropdown controller.dropdownCategory}}>
                                 <span id="dropdownCategory">{{controller.projectCategorySelection}}</span>
                                <span class="caret"></span>
                            </div>
                            {{#if controller.projectCategoryDropdown}}
                            {{view HubStar.DropdownListView}}
                            {{/if}}
                        </td>
                    </tr>
                    <tr>
                        <td>Project Timeframe:</td>
                        <td> 
                            <div class="new-btn" {{action dropdown controller.dropdownTimeframe}}>
                                 <span id="dropdownTimeframe">{{controller.timeframeSelection}}</span>
                                <span class="caret"></span>
                            </div>
                            {{#if controller.projectTimeframeDropdown}}
                            {{view HubStar.DropdownListView}}
                            {{/if}}
                        </td>
                    </tr>
                    <tr>
                        <td>Project Budget:</td>
                        <td> 
                            <div class="new-btn" {{action dropdown controller.dropdownBudget}}>
                                 <span id="dropdownBudget">{{controller.projectBudgetSelection}}</span>
                                <span class="caret"></span>
                            </div>
                            {{#if controller.projectBudgetDropdown}}
                            {{view HubStar.DropdownListView}}
                            {{/if}}
                        </td>
                    </tr>
                    <tr>
                        <td>Project Experience:</td>
                        <td>
                            <div class="new-btn" {{action dropdown controller.dropdownExperience}}>
                                 <span id="dropdownExperience">{{controller.projectExperienceSelection}} </span>
                                <span class="caret"></span>
                            </div>
                            {{#if controller.projectExperienceDropdown}}
                            {{view HubStar.DropdownListView}}
                            {{/if}}
                        </td>
                    </tr>
                </tbody>
            </table>    

            <span class="contact-category-indicator"> I need help on: (Please choose your category)</span>

            <ol  class="checkbox-columncontainer contact-category-list">
                {{#if controller.showCate}} 
                {{#each controller.subcate}}
                <li class="checkbox-container" {{action checkedAction list_id this}}>

                    <input type="checkbox" {{bind-attr id="list_id" checked="isSelection"}} class="css-checkbox" >
                    <label for="{{unbound list_id}}" name="{{unbound list_id}}" class="css-label lite-blue-check {{unbound list_id}}">{{category_topic}}</label>


                </li>
                {{/each}}
                {{/if}}
            </ol>



            {{/if}}


        </div>


        {{#unless controller.firstStepOfContactEmail}}



        <div class="contact-middle-container">
            <div>
                <span class="contact-middle-msg">Message:</span>
                <div class="contact-msg-box">
                    
                    {{view Ember.TextArea valueBinding="controller.emailBody" rows="12" cols="70" class="no-resize" placeholder="I saw your profile, I'd love to talk to you about my project, Please reply if you are interested.........."}}
                    {{#unless controller.firstStepOfContactEmail}}
                    <div class="contact-user-env">
                        <div>{{view Ember.Checkbox checkedBinding="osAndBrowser"}}
                            <span class="contact-user-txt">
                                User's Environment
                            </span>
                        </div>
                    </div>
                    {{/unless}}


                </div>
                <div class="contact-user-env-disp">
                    {{controller.userEnvironment}}
                </div>
            </div>

        </div>


        {{/unless}}

    </div>


    <div class="controlbtn-field">


        {{#if controller.secondStepOfContactEmail}}
        <span class="contact-pre-container">
            <div type="button" {{action proviousSendingEmailProcess}}  class="new-btn blue-btn">
                 <i class='fa fa-arrow-left'>&nbsp;</i>Previous</div>
        </span>
        {{/if}}
        {{#unless controller.firstStepOfContactEmail}}


        <span class="contact-rem-container">
            <div>{{view Ember.Checkbox checkedBinding="rememberMessage"}}<span class="contact-user-txt">&nbsp;Remember My Message</span></div>
        </span>

        {{/unless}}


        <span class="controlbtn">

            <div type="button" {{action closeContact }} class="new-btn">Cancel</div>
            {{#if controller.secondStepOfContactEmail}}
            <div type="button" {{action emailSend }}  class="new-btn green-btn">Submit </div>
            {{/if}}
            {{#unless controller.firstStepOfContactEmail}}

            <div type="button" {{action nextSendingEmailProcess}} class="new-btn green-btn">Next</div>
            {{/unless}}
        </span>
    </div>
</div>
