{{#if isInvitePeople}}       

{{render invitePeople}}      
{{/if}}
<div class="Message-Board box" style="">
    <div style="background-color: #f3f3f3; width:100%;height: 70px; border-bottom: 1px solid #ddd;padding: 0 20px;">
        <div style="color: #555;font-size: 18px;line-height: 70px;font-weight: bold;float: left;">
            <div class="radius-circle" style="float: left; margin: 12px; box-shadow: 0 0 3px #888;border: 1px solid #f3f3f3;width: 45px;height: 45px;overflow: hidden">
                <img style="width: 45px;height: 45px;float: left;" {{bindAttr src= controller.commenter_photo_url}} />
            </div>
            &nbsp;Conversation
        </div>
        <div class="create-conversation easing hint--left hint--rounded" data-hint="Invite friends to this conversation!" {{action invitePeople id}}>
             <span style="position: relative">
                <i class="fa fa-user" style=""></i>
                <i class="fa fa-plus" style="position: absolute;font-size: 8px;top: 8px;left: 10px;color: white;background-color: #888;height: 12px;width: 12px;line-height: 11px;border: 1px solid #fff;border-radius: 50%;"></i>
            </span>
        </div>
        <div class="create-conversation easing" style="position: absolute;right: 0px;  width: 20px;text-align: center;line-height: 70px;">
            <div  id="showMoreComment"  style="line-height: 45px;display:none;"  {{action seeMore target="controller" on="click"}}>
                <i class="fa fa-caret-down show-comment_inner" ></i>   
            </div>
            <div id="closeComment"   style="line-height: 45px;display: inline-block;" {{action closeMore target="controller" on="click"}}>
                <i class="fa fa-caret-up show-comment_inner" ></i>
            </div>
        </div>
    </div>

    <div style="position: relative; width: 100%; border-bottom: 1px solid #ddd;">       
        <div id="messageData"  style="padding: 5px  15px;margin-left: 10px; display: inline-block;" >
            {{#each  contentFollowerPhotoOld }}     
            <div  class="hint--rounded hint--bottom" data-hint="{{unbound this.name}}">
                <img class="profilepic_comment radius-circle"  style=" box-shadow: 0 0 3px #888;border: 1px solid #f3f3f3;width: 45px;height: 45px;margin:10px 5px;" {{bindAttr src= this.photo_url}} />                
            </div>
            {{/each}}
        </div>
        {{#if isNewPeople}}
        <div style="padding:5px 15px;background-color: #f4f6f8;">
            {{#each  contentFollowerPhoto}}
            {{#if this.isAdd}}
            <div style="margin:10px 5px;margin-left: 10px;position: relative;width: 45px;display: inline-block;vertical-align: top;"  data-hint="{{unbound this.name}}" {{action addToList id}} >            
                 <div class="invite-this-friend radius-circle easing" style="opacity: .8;"><k class="fa fa-minus" ></k></div>
                <img class="profilepic_comment radius-circle"  style=" box-shadow: 0 0 3px #888;border: 1px solid #f3f3f3;width: 45px;height: 45px;" {{bindAttr src= this.photo_url}} />                         
            </div>
            {{/if}}
            {{/each}}
        </div>
        {{/if}}
    </div>

    <div  style="width: 100%;padding: 20px 6.5%;margin: 0 auto;overflow: hidden;border-bottom: 1px solid #ddd;">
        <div style="margin:0 auto; padding: 0 0 0 45px;">
            <a>
                <img class="profilepic_comment"  style="float: left; margin: 4px 0 0 -45px; margin-top: 0;" {{bindAttr src= controller.commenter_photo_url}} /> 
                <div class='user-says-angle-before'></div>
                <div class='user-says-angle-after'></div>
            </a>

            <div class="post-comment-container">
                <div   style="margin: 0;width: 100%; height:80px;">
                    {{view Ember.TextArea valueBinding="messageContent" class="no-resize" placeholder="Write a comment..." }}                                          
                </div>
                {{#if controller.isUploadPhoto}}
                <div style='background-color: rgba(0,0,0,.2);max-width: 100%;max-height: 100px;padding: 10px 12px;text-align: center;'>
                    <div class='remove-comment-photo easing' {{action removePic }}><i class="fa fa-remove"></i></div>
                    <img  {{bindAttr src= "newStyleImageSource"}}  style="max-width: 100%; max-height: 80px;;">
                </div>
                {{/if}}
                <div class="" style="height: 30px;position: relative;border-top: 1px solid #ddd;top: -1px;">
                    <div  class="message-btn easing" style=" border-right: 1px solid #ddd;"><k class='fa fa-picture'>&nbsp;</k>Add Photo
                        <div style="opacity:0;position: relative;height:30px;top:-30px;overflow: hidden;"> 
                            {{view HubStar.SingleImageInputButtonView }}
                        </div>
                    </div>
                    {{#if controller.isPosting}}
                    <div class="message-btn easing" style=''{{action addComment}}><k class='fa fa-ok'>&nbsp;</k>Send</div>
                    {{else}}
                    <div class="message-btn-x easing" style=''><i class="spinner">&nbsp;</i>Posting </div>
                    {{/if}}
                </div>

            </div>

        </div>
    </div>


    <div  id="content_conversationItem_{{unbound controller.id}}" class='Message-Board_comment-container' style=" ">
        {{#each conversationItemContent}}
        <div class="Message-Board_comment-item" style=''>         
            <div class="comment-position">   
                <a class="profilepic-comment-container"   href="#/users/{{unbound this.sender_id}}">
                    <img class="profilepic_comment" {{bindAttr src= this.sender_photo_url_large}} />
                </a>
                <div style="">
                    <div class="comment-namentime">
                        <div class="namentime_position">
                            <a class="comment-username"   href="#/users/{{unbound this.sender_id}}">
                                {{this.name }}
                            </a>
                            <div class="posttime-container">
                                <span class="posttime">{{date this.time_stamp}}</span>
                            </div>
                        </div>                      
                    </div>
                    <div class="comment-content">
                        {{this.msg}}<br>
                        {{#if this.isUrl }}
                        <div style='margin: 5px auto;max-width: 300px;max-height: 300px;float: left;'>
                            <img {{bindAttr src= this.url}} style="border: 4px solid #fff;"/>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>

            <script>
                $(function() {
                    var $container = $('#masonry_user_container');
                    window.setTimeout(function() {
                        $container.masonry();
                        $container.masonry('reloadItems');
                    }, 10);
                });
            </script>
        </div>

        {{/each}}


    </div>
</div>

<script>
    $(function() {
        var $container = $('#masonry_user_container');
        window.setTimeout(function() {
            $container.masonry();
            $container.masonry('reloadItems');
        }, 10);
    });
</script>