{{#if controller.loadingTime}}

{{render "loadingSpinner"}}

{{/if}}
<div id="conversation_content">
    {{#each conversationContent}} 
    <div id="conversation_{{unbound this.conversationID}}"class='each-conversation easing' {{action transitionToConversation this.conversationID}}>

         <div class="conversation-each-container">
            <div class="conversation-deletebtn" {{action removeConversationItem this.conversationID}}><i class='fa fa-trash-o'></i></div>


            <div class="radius-circle conversation-img">
                {{#if this.one}}
                
                <img class="conversation-img1" {{bind-attr src=  this.onePic}} />
                
                {{/if}}
                {{#if this.two}}
                
                <img class="conversation-img2a" {{bind-attr src=  this.onePic}} />
                <img class="conversation-img2b" {{bind-attr src=  this.twoPic}} />
                
                {{/if}}
                {{#if this.three}}
                
                <img class="conversation-img3a" {{bind-attr src=  this.onePic}} />
                <img class="conversation-img3a" {{bind-attr src=  this.twoPic}} />
                <img class="conversation-img3b" {{bind-attr src=  this.threePic}} />
                
                {{/if}}
                {{#if this.four}}
                
                <img class="conversation-img3a" {{bind-attr src=  this.onePic}} />
                <img class="conversation-img3a" {{bind-attr src= this.twoPic}} />
                <img class="conversation-img4a" {{bind-attr src=  this.threePic}} />
                <img class="conversation-img4a conversation-img4b" {{bind-attr src=  this.fourPic}} />
                
                {{/if}}
                
            </div>


            <div>
                <div class="comment-namentime">
                    <div class="namentime_position">
                        <span class="comment-username"  >
                            {{this.names}}
                        </span>
                        <div class="posttime-container">
                            <span class="posttime">{{date this.time_stamp}}</span>
                        </div>
                    </div>
                </div>

                <div class="comment-content conversation-comment">
                    {{{this.msg}}}
                </div>
            </div>
        </div>

    </div>
    {{/each}}
</div>

{{#if controller.makeSureDelete}}

{{view HubStar.DeleteFunctionView}}

{{/if}}
