{{#if isInvitePeople}}       

{{render "invitePeople" null}}      
{{/if}}
<div class="Message-Board box">
    <div class="conversation-msg-title-box">
        <div class="conversation-msg-title">
            <div class="radius-circle conversation-msg-img conversation-msg-img2">
                <img {{bind-attr src= controller.commenter_photo_url}} />
            </div>
            &nbsp;Conversation
        </div>
        <div class="create-conversation easing hint--left hint--rounded" data-hint="Invite friends to this conversation!" {{action invitePeople id}}>
             <span class="conversation-add">
                <i class="fa fa-user"></i>
                <i class="fa fa-plus conversation-plus"></i>
            </span>
        </div>
        <div class="create-conversation easing show-more-comment">
            <div  id="showMoreComment"  class="show-more-icon"  {{action seeMore target="controller" on="click"}}>
                <i class="fa fa-caret-down show-comment_inner" ></i>   
            </div>
            <div id="closeComment" class="show-close" {{action closeMore target="controller" on="click"}}>
                <i class="fa fa-caret-up show-comment_inner" ></i>
            </div>
        </div>
    </div>

    <div class="comment-follower-containers">       
        <div id="messageData"  class="message-data" >
            {{#each  contentFollowerPhotoOld }}     
            <div  class="hint--rounded hint--bottom" data-hint="{{unbound this.name}}">
                <img class="profilepic_comment radius-circle message-profile-img message-profile-img2" {{bind-attr src= this.photo_url}} />                
            </div>
            {{/each}}
        </div>
        {{#if isNewPeople}}
        <div class="message-newppl">
            {{#each  contentFollowerPhoto}}
            {{#if this.isAdd}}
            <div class="message-newppl-img" data-hint="{{unbound this.name}}" {{action addToList id}} >            
                 <div class="invite-this-friend radius-circle easing message-newppl-minus"><i class="fa fa-minus" ></i></div>
                <img class="profilepic_comment radius-circle" {{bind-attr src= this.photo_url}} />                         
            </div>
            {{/if}}
            {{/each}}
        </div>
        {{/if}}
    </div>

    <div  class="message-comment-container">
        <div class="message-input-box">
            <a>
                <img class="profilepic_comment message-input-img" {{bind-attr src= controller.commenter_photo_url}} /> 
                <div class='user-says-angle-before'></div>
                <div class='user-says-angle-after'></div>
            </a>

            <div class="post-comment-container">
                <div class="post-input">
                    {{view Ember.TextArea valueBinding="messageContent" class="no-resize" placeholder="Write a comment..." }}                                          
                </div>
                {{#if controller.isUploadPhoto}}
                <div class="post-upload">
                    <div class='remove-comment-photo easing' {{action removePic }}><i class="fa fa-times"></i></div>
                    <img  {{bind-attr src= "newStyleImageSource"}}>
                </div>
                {{/if}}
                <div class="post-action-container">
                    <div  class="message-btn easing post-addphoto"><i class='fa fa-picture-o'>&nbsp;</i>Add Photo
                        <div class="post-addphoto-txt"> 
                            {{view HubStar.SingleImageInputButtonView }}
                        </div>
                    </div>
                    {{#if controller.isPosting}}
                    <div class="message-btn easing" style=''{{action addComment}}><i class='fa fa-check'>&nbsp;</i>Send</div>
                    {{else}}
                    <div class="message-btn-x easing" style=''><i class="spinner">&nbsp;</i>Posting </div>
                    {{/if}}
                </div>

            </div>

        </div>
    </div>


    <div id="content_conversationItem_{{unbound controller.id}}" class="Message-Board_comment-container">
        {{#each conversationItemContent}}
        <div class="Message-Board_comment-item">         
            <div class="comment-position">   
                <a class="profilepic-comment-container"   href="#/users/{{unbound this.sender_id}}">
                    <img class="profilepic_comment" {{bind-attr src= this.sender_photo_url_large}} />
                </a>
                <div style="">
                    <div class="comment-namentime">
                        <div class="namentime_position">
                            <a class="comment-username"   href="#/users/{{unbound this.sender_id}}">
                                {{this.name }}
                            </a>
                            <div class="posttime-container">
                                <span class="posttime">{{date this.time_stamp}}</span>
                            </div>
                        </div>                      
                    </div>
                    <div class="comment-content">
                        {{{this.msg}}}<br>
                        {{#if this.isUrl }}
                        <div class="comment-img-container">
                            <img {{bind-attr src= this.url}}/>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

