




<div id="discovery_search_bar_wrapper" style="z-index: 11;margin-bottom: -55px;">

    <div style="position: absolute; top: 130px; width: 350px;left:0; right: 0; margin: auto;">
        <img src="../../images/Welcometext.png"/>
    </div>

    <div class="search-bar" style="">
        <div id ="navigator" class="Nav-btn easing" style="float: left;" {{action dropdownNavigator}}><i class="icon-list"></i></div>
        {{#if controller.isNavigatorDropdown}}
        {{view HubStar.NavigatorView}}
        {{/if}}

        <div class="Search-box easing" style="">
            {{view HubStar.SearchRequireTextFieldView valueBinding="search_string"  id="search_businesses" class="no-effect hover-opacity easing" placeholder="Search by keyword" }}
            <div class="Nav-btn easing" style="position: relative;float: right;border-radius: 0 3px 3px 0;top: -50px; right: -5px;border-left: 1px solid #ddd;"  {{action searching on="click" target="view"}}>
                <i class="icon-search"></i>
            </div>
        </div>
    </div>

    <div class="popular-topics" style="">
        <span style="float: left;color: white;font-family: Georgia, serif;font-style: italic;margin: 5px 15px;">Most Popular Topics:</span>
        <div id="1" {{action topicSearch "New Homes"}} >New Homes</div>
        <div id="2"  {{action topicSearch "Kitchens"}} >Kitchens</div>
        <div  id="3"  {{action topicSearch "Bathrooms"}} >Bathrooms</div>
        <div id="4"  {{action topicSearch "Renovations"}} >Renovations</div>
        <div  id="5"  {{action topicSearch "Outdoor Living"}} >Outdoor Living</div>
        <div id="6"  {{action topicSearch "Interior"}} >Interior</div>
    </div>

</div>


    <ol id="joyRideTipContent">
      <li data-id="6" data-text="Next"  data-options="tipLocation:right">
        <h2>Stop #1</h2>
        <p>Our navigator will help you to find what you want</p>
      </li>
<!--      <li data-id="discovery_search_bar_wrapper" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
        <h2>Stop #2</h2>
        <p>Get the details right by styling Joyride with a custom stylesheet!</p>
      </li>-->
      <li data-id="1" data-button="Next" data-options="tipLocation:right">
        <h2>Stop #3</h2>
        <p>It works right aligned.</p>
      </li>
      <li data-id="2" data-button="Next">
        <h2>Stop #4</h2>
        <p>It works as a modal too!</p>
      </li>
      <li data-id="3" data-button="Next" data-options="tipLocation:right">
        <h2>Stop #4.5</h2>
        <p>It works with classes, and only on the first visible element with that class.</p>
      </li>
      <li data-id="4" data-button="Next">
        <h2>Stop #5</h2>
        <p>Now what are you waiting for? Add this to your projects and get the most out of your apps!</p>
      </li>
    </ol>




<script>
      
            $(window).load(function() {
        $('#joyRideTipContent').joyride({
          autoStart : true,
          postStepCallback : function (index, tip) {
          if (index == 2) {
            $(this).joyride('set_li', false, 1);
          }
        },
        modal:true,
        expose: true
        });
      });
</script>
