




<div id="discovery_search_bar_wrapper" class="searchbar-wrapper">

    <div class="search-wrapper-container"> 
        <div id="select-text" class="searchbar-title searchbar-title1">Select a category to start browsing</div>
        <div id="welcome-text" class="searchbar-title searchbar-title2">Welcome to MyTrends</div>
        <div class="searchbar-maintopic" data-step="5" data-intro="Start your search by choosing what type of projects you’d like to find – <b>Residential</b> or <b>Commercial</b>." data-position='left' >
            <div id="residential" class="residentialCommerical residentialCommerical-selected easing"   {{action residential on="click" target="view"}}>Residential</div>
            <div id="commercial" class="residentialCommerical residentialCommerical-selected easing"  {{action commercial on="click" target="view"}}>Commercial</div>
        </div>

    </div>

    <div class="search-bar" >
        <div id ="navigator" class="Nav-btn easing" data-step="6" data-intro="Use the Navigator to browse content by <b>category</b>." data-position='left' {{action dropdownNavigator}} >
             <i class="fa fa-list searchbar-listIcon"></i>
            <div class="searchbar-listtxt">Categories</div>
        </div>
        {{#if controller.isNavigatorDropdown}}
        {{view HubStar.NavigatorView}}
        {{/if}}

        <div class="search-box easing" >
            {{view HubStar.SearchRequireTextFieldView valueBinding="search_string"  id="search_business" class="no-effect hover-opacity easing" placeholder="Search by keyword" }}
            <div class="Nav-btn easing searchbar-searchicon-container" {{action searching on="click" target="view"}}>
                <i class="fa fa-search searchcar-searchicon"></i>
            </div>
        </div>
    </div>

    <div class="popular-topics">
        <span class="searchbar-populartopic">Most Popular Topics:</span>

        {{#if controller.residentialKeyword}}
        <div {{action topicSearch "New Homes"}} >NEW HOMES</div>
        <div {{action topicSearch "Kitchens"}} >KITCHEN</div>
        <div {{action topicSearch "Bathrooms"}} >BATHROOM</div>
        <div {{action topicSearch "Renovations"}} >RENOVATIONS</div>
        <div {{action topicSearch "Outdoor Living"}} >OUTDOOR LIVING</div>
        <div {{action topicSearch "Interior"}} >INTERIOR</div>
        {{else}}
        <div {{action topicSearch "Office"}} >OFFICE</div>
        <div {{action topicSearch "Civic"}} >CIVIC DESIGN</div>
        <div {{action topicSearch "Education"}} >EDUCATION</div>
        <div {{action topicSearch "Hospitality"}} >HOSPITALITY</div>
        <div {{action topicSearch "Retail"}} >RETAIL</div>
        <div {{action topicSearch "Apartment"}} >APARTMENT</div>

        {{/if}}

    </div>

</div>


