<!--<div id="login_lightbox" class="blur" {{action canelDropDown}}>&nbsp;</div>-->

{{#if controller.projectCategoryDropdown}}
<div id="dropItem1"  class="Dropdownstyle1" {{action dropdown controller.dropdownCategory}}>
     {{#each controller.categorys}}
     <div  class="ite " {{action topicSelection this}}>{{topic}}</div>
    {{/each}}

</div>
{{/if}}


{{#if controller.projectTimeframeDropdown}}
<div id="dropItem2" class="Dropdownstyle1" {{action dropdown controller.dropdownTimeframe}}>
     <div  class="ite ">1-2 months</div>
    <div  class="ite ">Next 6 months</div>
    <div  class="ite ">Within 12 months</div>
    <div  class="ite ">1-2 years</div>
    <div  class="ite ">Within 3 years</div>
</div>
{{/if}}

{{#if controller.projectBudgetDropdown}}
<div id="dropItem3" class="Dropdownstyle1" {{action dropdown controller.dropdownBudget}}>
     <div  class="ite ">Less than 5k</div>
    <div  class="ite ">5k-10k</div>
    <div  class="ite ">10k-50k</div>
    <div  class="ite ">50k-100k</div>
    <div  class="ite ">100k-250k</div>
    <div  class="ite ">250k-500k</div>
    <div  class="ite ">500k- 1M</div>
    <div  class="ite ">1M+</div>
</div>
{{/if}}

{{#if controller.projectExperienceDropdown}}
<div id="dropItem4" class="Dropdownstyle1" {{action dropdown controller.dropdownExperience}}>
     <div  class="ite ">First Time</div>
    <div  class="ite ">Helped someone do this</div>
    <div  class="ite ">Have done this once before</div>
    <div  class="ite ">Experienced at this type of project</div>
</div>
{{/if}}

{{#if controller.countryDropdown}}
<div id="countryDropdown" class="Dropdownstyle1"  style="width: 450px;text-align: center; left: 0;" {{action dropdown "country"}}>
</div>
{{/if}}

{{#if controller.regionDropdown}}
<div id="regionDropdown" class="Dropdownstyle1" style="width: 450px;text-align: center; left: 0;" {{action dropdown "region"}}>
 </div>
{{/if}}

{{#if controller.categoryDropdown}}
<div id="categoryDropdown"  class="Dropdownstyle1"  style="width: 225px; left: 0;" {{action dropdown "category"}}>
     {{#each controller.categorys}}
     <div  class="ite " {{action topicSelection this}}>{{topic}}</div>
    {{/each}}

</div>
{{/if}}

{{#if controller.subcategoryDropdown}}
<div id="subcategoryDropdown" class="Dropdownstyle1" style="width: 225px; left: 0;" {{action dropdown "subcategory"}}>

     {{#each controller.subcate}}
     <div  class="ite " >{{category_topic}}</div>
    {{/each}}

</div>
{{/if}}

{{#if controller.numberDropdown}}
<div id="numberDropdown" class="Dropdownstyle1" style="width: 90px;left:0;" {{action dropdown "number"}}>
     <div class="ite easing" style="">09</div>
    <div class="ite easing" style="">04</div>
    <div class="ite easing" style="">03</div>
    <div class="ite easing" style="">075</div>
    <div class="ite easing" style="">071</div>
    <div class="ite easing" style="">024</div>
</div>
{{/if}}




{{#if controller.isPackgetDropdown}}
<div id="profilePackgetDropdown" class="Dropdownstyle1" style="width: 500px;" {{action dropdown controller.projectCategoryDropdownType}}>
     <div  class="ite ">Platinum</div>
    <div  class="ite ">Gold</div>
    <div  class="ite ">Silver</div>
    <div  class="ite ">Bronze</div>
</div>
{{/if}}

{{#if controller.isGeoDropdown}}
<div id="geoDropdown" class="edit-object-ul Dropdownstyle2" style="top:60px;"{{action dropdown controller.applicationCategoryDropdownType}}>
     <div class="ite easing" style="">Global</div>
     <div class="ite easing" style="">Australia</div>
    <div class="ite easing" style="">New Zealand</div>
    <div class="ite easing" style="">United States</div>
    <div class="ite easing" style="">India</div>
    <div class="ite easing" style="">China</div>
    <div class="ite easing" style="">Asia</div>
</div>
{{/if}}

{{#if controller.isActiveDropdown}}
<div id="is_actvie" class="Dropdownstyle1" style="width: 500px;" {{action dropdown controller.projectActiveDropdownType}}>
     <div  class="ite ">true</div>
    <div  class="ite ">false</div>
</div>
{{/if}}

{{#if controller.isDeleteDropdown}}
<div id="is_delete" class="Dropdownstyle1" style="width: 500px;" {{action dropdown controller.projectDeleteDropdownType}}>
     <div  class="ite ">true</div>
    <div  class="ite ">false</div>
</div>
{{/if}}



{{#if controller.profileCategoryDropdown}}
<div id="profileCategoryDropdown"  class="Dropdownstyle1"  style="width: 260px; left: 0;" {{action dropdown "category"}}>
     {{#each controller.categorys}}
     <div  class="ite " {{action topicSelection this}}>{{topic}}</div>
    {{/each}}

</div>
{{/if}}

{{#if controller.profileSubcategoryDropdown}}
<div id="profileSubcategoryDropdown" class="Dropdownstyle1" style="width: 260px; left: 0;" {{action dropdown "subcategory"}}>

     {{#each controller.subcate}}
     <div  class="ite " >{{category_topic}}</div>
    {{/each}}

</div>
{{/if}}

