
<div  style="width: 98%;padding: 15px 10px;margin: 0 auto;overflow: hidden;border-bottom: 1px solid #ddd;">
    <div style="margin:0 auto; padding: 0 0 0 50px;">
        <a>
            <img class="profilepic_comment"  style="width: 45px; height: 45px;float: left; margin: 4px 0 0 -50px; margin-top: 0; " {{bindAttr src= this.commenter_photo_url}} /> 
            <div class='user-says-angle-before' style="left: 49px;"></div>
            <div class='user-says-angle-after' style="left: 47px;"></div>
        </a>

        <div class="" style="width: 100%; border-radius: 2px;border: 1px solid #ddd;background-color: #fff;">
            <div   style="margin: 0;width: 100%; height:100px;">
                {{view Ember.TextArea valueBinding="messageContent" class="no-resize no-effect" placeholder="Write a comment..." }}                                          
            </div>
            {{#if controller.isUploadPhoto}}
            <div style='max-width: 100%;max-height: 100px;padding: 10px 12px;text-align: center;border-top: 1px solid #ddd;'>
                <div class='remove-comment-photo easing' {{action removePic model.message_id}}><i class="fa fa-remove"></i></div>             
                <img  {{bindAttr src= "newStyleImageSource"}}  style="max-width: 100%; max-height: 80px;">
            </div>
            {{else}}
            {{#if model.isUrl }}
            <div style='max-width: 100%;max-height: 100px;padding: 10px 12px;text-align: center;border-top: 1px solid #ddd;'>
                <div class='remove-comment-photo easing'  {{action removeOriginalPic model.message_id}}><i class="fa fa-remove"></i></div>             
                <img {{bindAttr src= model.url}} style="max-width: 100%; max-height: 80px;"/>
            </div>
            {{/if}}
            {{/if}}


            <div class="" style="height: 30px;position: relative;border-top: 1px solid #ddd;top: -1px;">
                <div  class="message-btn easing" style=" border-right: 1px solid #ddd;"><k class='fa fa-picture'>&nbsp;</k>Add Photo
                    <div style="opacity:0;position: relative;height:30px;top:-30px;overflow: hidden;"> 
                        {{view HubStar.SingleImageInputButtonView }}
                    </div>
                </div>
                <div class="message-btn easing" style=''{{action updateMessage model.message_id}}><k class='fa fa-ok'>&nbsp;</k>Post</div>
            </div>

        </div>

    </div>

</div>
<script>
    $(function() {
        var $container = $('#masonry_user_container');
        window.setTimeout(function() {
            $container.masonry();
            $container.masonry('reload');
        }, 10);
    });
</script>