

<div id="uploadArea"  style="height: 510px;width: 570px;  display: none">

    {{#if controller.updateOrCreate}}

    <div id="createCollection" style=' color: #333; font-size: 20px; font-weight: bold; text-align: center; margin: 5px 0 0;'>Create a Collection</div>

    <div id="updateCollection" style=' color: #333; font-size: 20px; font-weight: bold; text-align: center; margin: 5px 0 0; display: none' >Update a Collection</div>
    {{/if}}


    {{#if controller.addPartner}}

    <div id="createCollection" style=' color: #333; font-size: 20px; font-weight: bold; text-align: center; margin: 5px 0 0;'>Add Partner </div>

    {{/if}}
    <div  style=" width: 80%;  margin: auto;" id="clientAddCollection">
        {{#if controller.updateOrCreate}}
        <div style="font-size: 16px;font-weight: bold;color: #555; line-height: 25px;">Name*</div>
        {{/if}}

        {{#if controller.addPartner}}
        <div style="font-size: 16px;font-weight: bold;color: #555; line-height: 25px;">URL*</div>
        {{/if}}
        {{#if controller.updateOrCreate}}
        {{view HubStar.SearchRequireTextFieldView valueBinding="controller.newTitle"  id="" class="" style="height:30px;" placeholder="e.g. Bedroom Design" }} 

        {{/if}}

        {{#if controller.addPartner}}
        {{view HubStar.SearchRequireTextFieldView valueBinding="currentAddPartnerPic"  id="" class="" style="height:30px;" placeholder="http://my.trendsideas.com/#/profiles/new-home-trends-nz" }} 
        <div style="margin: auto; vertical-align: top;width: 80%;left: 0;right: 0;position: relative;">
            <div style="height: 180px; overflow: hidden;width: 100%;line-height: 180px;text-align: center;margin-top: 5px;">
                <img style="max-height: 100%; padding: 10px; background-color: rgba(0,0,0,0.03);" {{bindAttr src="selectedPartnerPic"}}/>
            </div>
        </div>

        {{/if}}



        {{#if controller.updateOrCreate}}


        <div style="font-size: 16px;font-weight: bold;color: #555; line-height: 25px;">Description</div>
        <div style="height: 150px;">
            {{view Ember.TextArea valueBinding="controller.newDesc" rows="12" cols="70" class="no-resize"  placeholder="Add a short description to your Collection"}}
        </div>


        {{/if}}


    </div>
    <div class="controlbtn-field" style="margin-top: 0px;height: 60px;">
                    {{#if controller.is_authentic_user}}
        <div id="deletebtn" type="button" {{action deleteSelectedCollection}} class="new-btn red-btn" style="right:0; display: none">
             <i class='fa fa-trash-o'></i>
        </div>
                    {{/if}}
        {{#if controller.updateOrCreate}}
        <div style="position: relative; right: 15px;margin-top: 8px;float: right;">

            <div id="uploadingObject" class='new-btn' style="right: 0;"  {{action returnCollection  id target="view" on="click"}}>Cancel</div>
            <div id="createbtn" type="button" {{action submit }}  class="new-btn green-btn" style="right:0;">Create </div>
            <div id="updatebtn" type="button" {{action updateCollectionInfo }} class="new-btn green-btn" style="right:0; display: none">Update</div>

        </div>
        {{/if}}

        {{#if controller.addPartner}}
        <div style="float: right; margin: 5px 20px;">
            <div id="uploadingObject" class='new-btn' style="right: 0;"  {{action returnCollection  id target="view" on="click"}}>Cancel</div>
            <div id="createbtn" type="button" {{action submit }}  class="new-btn green-btn" style="right:0;">Add</div>
        </div>
        {{/if}}
    </div>
</div>