

<div id="uploadArea"  class="upload-area">

    {{#if controller.updateOrCreate}}

    <div id="createCollection" class="createNew">Create a Collection</div>

    <div id="updateCollection" class="createNew updateCollection" >Update a Collection</div>
    {{/if}}


    {{#if controller.addPartner}}

    <div id="createCollection" class="createNew">Add Partner </div>

    {{/if}}
    <div  class="createNetwork" id="clientAddCollection">
        {{#if controller.updateOrCreate}}
        <div class="createNetwork-link">Name*</div>
        {{/if}}

        {{#if controller.addPartner}}
        <div class="createNetwork-link">URL*</div>
        {{/if}}
        {{#if controller.updateOrCreate}}
        {{view HubStar.SearchRequireTextFieldView valueBinding="controller.newTitle" style="height:30px;" placeholder="Name this Collection" }} 

        {{/if}}

        {{#if controller.addPartner}}
        {{view HubStar.SearchRequireTextFieldView valueBinding="currentAddPartnerPic" style="height:30px;" placeholder="http://trendsideas.com/#/profiles/new-home-trends-nz" }} 
        <div class="createNetwork-preview">
            <div class="createNetwork-preview-inner">
                <img {{bind-attr src="selectedPartnerPic"}}/>
            </div>
        </div>

        {{/if}}



        {{#if controller.updateOrCreate}}


        <div class="create-discription">Description</div>
        <div class="create-discription-input">
            {{view Ember.TextArea valueBinding="controller.newDesc" rows="12" cols="70" class="no-resize"  placeholder="Write a brief description for this Collection"}}
        </div>

        {{/if}}
    </div>
    <div class="controlbtn-field editCollection-action">
                    {{#if controller.is_authentic_user}}
        <div id="deletebtn" type="button" {{action deleteSelectedCollection}} class="new-btn red-btn editCollection-update">
             <i class="fa fa-trash-o"></i>
        </div>
                    {{/if}}
        {{#if controller.updateOrCreate}}
        <div class="editCollection-updates">

            <div id="uploadingObject" class="new-btn editCollection-cancel" {{action returnCollection  id target="view" on="click"}}>Cancel</div>
            <div id="createbtn" type="button" {{action submit }}  class="new-btn green-btn right-0" >Create</div>
            <div id="updatebtn" type="button" {{action updateCollectionInfo }} class="new-btn green-btn editCollection-update">Update</div>

        </div>
        {{/if}}

        {{#if controller.addPartner}}
        <div class="editCollection-updates2">
            <div id="uploadingObject" class="new-btn editCollection-cancel" {{action returnCollection  id target="view" on="click"}}>Cancel</div>
            <div id="createbtn" type="button" {{action submit }}  class="new-btn green-btn editCollection-add">Add</div>
        </div>
        {{/if}}
    </div>
</div>