
<div id="editbox" class="blur_black"  {{action reviewCancel on="click" target="controller"}}>&nbsp;</div>

<div id ="editEditors" class="profile-editors-container">
    <div class="new-profile-display-top">
        <div class="profile-editors-title">Profile Editors</div>
    </div>
    {{#if controller.isCreator}}
    <div class="profile-editors-top" ><div><i class="fa fa-user-md"></i>&nbsp;Administrators</div></div>
    <div class="profile-editors-below">
        {{#if controller.loadingTime}}
        <div class="profile-editors-loading">
            <i class="spinner">&nbsp;</i>
        </div>
        {{/if}}
        {{#each  contentAdministratorPhoto}}
        <div class="invite-friend hint--rounded hint--bottom" data-hint="{{unbound this.name}}"  {{action removeAdministrator record_id}}>             
             <div class="invite-this-friend radius-circle easing" ><i class="fa fa-user profile-editors-admin"></i></div>            
            <img class="profilepic_comment radius-circle"  {{bindAttr src= this.photo_url}} /> 
        </div>
        {{/each}}

    </div>
    {{/if}}
    {{#if controller.isAdministrator}}
    <div class="profile-editors-top"><div><i class="fa fa-user"></i>&nbsp;Editors</div> </div>
    <div class="profile-editors-below">
        {{#if controller.loadingTime}}
        <div class="profile-editors-loading">
            <i class="spinner">&nbsp;</i>
        </div>
        {{/if}}
        {{#each  contentEditorPhoto}}
        <div class="invite-friend hint--rounded hint--bottom" data-hint="{{unbound this.name}}"  {{action removeEditor record_id}}>
             <div class="invite-this-friend radius-circle easing" ><i class="fa fa-user profile-editors-edit" ></i></div>           
            <img class="profilepic_comment radius-circle"  {{bindAttr src= this.photo_url}} /> 
        </div>
        {{/each}}

    </div>
    {{/if}}
    <div class="profile-editors-top" > <div><i class="fa fa-users" ></i>&nbsp;Followers</div></div>
    <div class="profile-editors-below">

        {{#if controller.loadingTime}}
        <div class="profile-editors-loading">
            <i class="spinner">&nbsp;</i>
        </div>
        {{/if}}

        {{#each  contentFollowerPhoto}}

        <div class="profile-editors-follower">
            <div class="invite-friend hint--rounded hint--bottom" data-hint="{{unbound name}}"  >
                {{#if controller.isCreator}}
                <div class="invite-this-friend radius-circle easing"><i class="fa fa-user profile-editors-admin" {{action addToAdministrator record_id}}></i> </div>
                {{/if}}
                <div class="invite-this-friend radius-circle easing profile-editors-div"><i class="fa fa-user profile-editors-edit" {{action addToEditor record_id}}></i></div>
                <img class="profilepic_comment radius-circle"   {{bindAttr src= this.photo_url}} /> 
            </div>
        </div>

        {{/each}}
    </div>
    <div class="profile-editors-button">
        <div  class="message-btn easing border-right"  {{action reviewCancel }}><i class="fa fa-times">&nbsp;</i>Cancel</div>
        <div class="message-btn easing" {{action  save}}>             
             <span class="profile-editors-btn-span">
                <i class="fa fa-user"></i>
                <i class="fa fa-plus"></i>
            </span>
            &nbsp;Save</div>
    </div>
    
</div>



