
<div id="editbox" class="blur_black"  {{action reviewCancel on="click" target="controller"}}>&nbsp;</div>

<div id ="editEditors" class="Message-Board" style="z-index: 11; position: fixed; width: 545px; margin: 10px auto; border-radius:5px; overflow: hidden; background-color: rgb(255, 255, 255); top: 25%; left: 0px;display: block;right: 0;box-shadow: 0 0 5px #fff;">
    {{#if isCreator}}
    <div class="" style="height: 50px; width: 100%;position: relative; border-bottom: 1px solid #ddd; background-color: #f3f3f3;padding: 0 15px;">
        <div style="color: #555; font-size: 15px; line-height: 50px; font-weight: bold; float: left;margin-left: 20px;">Administrators</div>
    </div>

    <div style="position: relative; width: 100%;min-height: 100px;max-height: 520px;padding: 0 45px;">

        {{#if controller.loadingTime}}
        <div style="position: relative; width: 100%;text-align: center;height: 190px;padding-top: 70px;float: left;">
            <i class="spinner">&nbsp;</i>
        </div>
        {{/if}}

        {{#each  contentAdministratorPhoto}}
        <div class="invite-friend hint--rounded hint--bottom" data-hint="{{unbound this.name}}" style="" {{action removeAdministrator record_id}}>             
             <div class="invite-this-friend radius-circle easing" style="opacity: .8;" ><i class="fa fa-user" style="color:red"></i></div>            
            <img class="profilepic_comment radius-circle"  style=" box-shadow: 0 0 3px #888;border: 1px solid #f3f3f3;width: 45px;height: 45px;" {{bindAttr src= this.photo_url}} /> 
        </div>
        {{/each}}

    </div>
    {{/if}}
     {{#if isAdministrator}}
    <div class="" style="height: 50px; width: 100%;position: relative; border-bottom: 1px solid #ddd; background-color: #f3f3f3;padding: 0 15px;">
        <div style="color: #555; font-size: 15px; line-height: 50px; font-weight: bold; float: left;margin-left: 20px;">Editors</div>
        <!--            <div  class='create-conversation easing' style=" font-size: 15px; line-height: 50px; font-weight: bold; width: 50px;height: 49px;"><i class="fa fa-search"></i></div>-->
    </div>

    <div style="position: relative; width: 100%;min-height: 100px;max-height: 520px;padding: 0 45px;">

        {{#if controller.loadingTime}}
        <div style="position: relative; width: 100%;text-align: center;height: 190px;padding-top: 70px;float: left;">
            <i class="spinner">&nbsp;</i>
        </div>
        {{/if}}

        {{#each  contentEditorPhoto}}
        <div class="invite-friend hint--rounded hint--bottom" data-hint="{{unbound this.name}}" style="" {{action removeEditor record_id}}>
             <div class="invite-this-friend radius-circle easing" style="opacity: .8;" ><i class="fa fa-user" style="color:blue" ></i></div>           
            <img class="profilepic_comment radius-circle"  style=" box-shadow: 0 0 3px #888;border: 1px solid #f3f3f3;width: 45px;height: 45px;" {{bindAttr src= this.photo_url}} /> 
        </div>
        {{/each}}

    </div>
     {{/if}}
    <div class="" style="height: 50px; width: 100%;position: relative; border-bottom: 1px solid #ddd; background-color: #f3f3f3;padding: 0 15px;">
        <div style="color: #555; font-size: 15px; line-height: 50px; font-weight: bold; float: left;margin-left: 20px;">Followers</div>
        <!--            <div  class='create-conversation easing' style=" font-size: 15px; line-height: 50px; font-weight: bold; width: 50px;height: 49px;"><i class="fa fa-search"></i></div>-->
    </div>

    <div style="position: relative; width: 100%;min-height: 100px;max-height: 520px;padding: 0 45px;">

        {{#if controller.loadingTime}}
        <div style="position: relative; width: 100%;text-align: center;height: 190px;padding-top: 70px;float: left;">
            <i class="spinner">&nbsp;</i>
        </div>
        {{/if}}

        {{#each  contentFollowerPhoto}}

        <div style="position: relative; float: left;">
            <div class="invite-friend hint--rounded hint--bottom" data-hint="{{unbound name}}" style="" >
                <div class="invite-this-friend radius-circle easing"><i class="fa fa-user" style="color:red" {{action addToAdministrator record_id}}></i> </div>
                <div class="invite-this-friend radius-circle easing" style="top :24px;"><i class="fa fa-user" style="color:blue" {{action addToEditor record_id}}></i></div>
                <img class="profilepic_comment radius-circle"  style=" box-shadow: 0 0 3px #888;border: 1px solid #f3f3f3;width: 45px;height: 45px;" {{bindAttr src= this.photo_url}} /> 
            </div>
        </div>

        {{/each}}
    </div>
    <div class="" style="height: 41px;position: relative;border-top: 1px solid #ddd;bottom: 0;width: 100%;display: block;clear: both;">
        <div  class="message-btn easing" style="font-size: 15px; height: 40px; line-height: 40px; border-right: 1px solid #ddd;" {{action reviewCancel }}><i class="fa fa-times">&nbsp;</i>Cancel</div>
        <div class="message-btn easing" style="font-size: 15px; height: 40px; line-height: 40px;"{{action  save}}>             
             <span style="position: relative">
                <i class="fa fa-user" style=""></i>
                <i class="fa fa-plus" style="position: absolute;font-size: 8px;top: 8px;left: 10px;color: white;background-color: #333;height: 12px;width: 12px;line-height: 11px;border: 1px solid #fff;border-radius: 50%;"></i>
            </span>
            &nbsp;Save</div>
    </div>
</div>



