
<div class="reply-comment-frame editreply-container">
    <div class="editreply-innercontainer">
        <a  href="#/users/{{unbound model.user_id}}">
            <img class="profilepic_comment profilepic-comment-img" {{bindAttr src="controller.commenter_photo_url"}} /> 
            <div class="user-reply-angle-before user-reply-angle-before4" ></div>
            <div class="user-reply-angle-after user-reply-angle-after4" ></div>
        </a>
 
        <div class="reply-comment-container editreply-reply">
            <div id ="editReply_{{unbound model.reply_id}}" class="editreply-input">
                {{view HubStar.SearchRequireTextFieldView valueBinding="replyContent" class="no-resize" placeholder="Write a comment..." }}                                          
            </div> 
            <div class="editreply-edit">
                <div class="message-btn easing editreply-addimg"><i class="fa fa-picture-o"></i>
                    <div class="editreply-imgbtn"> 
                        {{view HubStar.SingleImageInputButtonView }}
                    </div>
                </div>
                {{#if controller.isReply}}
                <div class="message-btn easing editreply-reply-w" {{action updateReply model.reply_id}}>
                     <i class='fa fa-check'></i>
                </div>
                {{else}}

                <div class="message-btn easing editreply-reply-w" >
                    <i class="spinner spinner-sml"></i>
                </div>
                {{/if}}
            </div>
        </div>

        {{#if controller.isUploadPhoto}}

        <div class="editMessage-addimg">
            <div class="remove-comment-photo easing" {{action removePic model.reply_id}}><i class="fa fa-times"></i></div>   

            <img  {{bindAttr src= "newStyleImageSource"}} >
        </div>
        {{else}}
        {{#if model.isUrl }}
        <div class="editMessage-addimg">
            <div class="remove-comment-photo easing" {{action removeOriginPic model.reply_id}}><i class="fa fa-times"></i></div>   
            <img {{bindAttr src= model.url}} />
        </div>
        {{/if}}

        {{/if}}

    </div>
</div>