
    <div class="reply-comment-frame reply-comment-frame2">
        <div class="reply-comment-innerframe">
            <a href="#/users/{{unbound model.user_id}}">
                <img class="profilepic_comment comment-item-img2"{{bind-attr src="controller.currentUser.photo_url_large"}} /> 
                <div class="user-reply-angle-before user-reply-angle-before3"></div>
                <div class="user-reply-angle-after user-reply-angle-after3"></div>
            </a>

            <div class="reply-comment-container reply-comment-container-w">
                <div id ="reply_{{unbound model.message_id}}" class="reply-comment-inputBox">
                    {{view HubStar.SearchRequireTextFieldView valueBinding="commentContent"  class="no-resize" placeholder="Write a comment..." }}                                          
                </div>
                <div class="reply-comment-action2">
                    <div  class="message-btn easing message-btn-w2" {{action closeCommentItem this}}><i class="fa fa-times"></i>
                        <div class="message-btn-w3"> 
                            {{view HubStar.SingleImageInputButtonView }}
                        </div>
                    </div>

                    <div class="message-btn easing message-btn-w" {{action updateComment this}}>
                         <i class="fa fa-check"></i>
                    </div>

                </div>
            </div>

            <!--please disable the following div when it's got not content-->
            {{#if controller.isUploadPhoto}}
            <div class="upload-img">
                <div class="remove-comment-photo easing" {{action removePic}}><i class="fa fa-times"></i></div>
                <img {{bind-attr src= "newStyleImageSource"}} >
            </div>
            {{/if}}
        </div>
    </div>