
<div  class="editMessage-container">
    <div class="editMessage-innercontainer">
        <a>
            <img class="profilepic_comment editMessage-img" {{bind-attr src= this.commenter_photo_url}} /> 
            <div class="user-says-angle-before user-says-angle-before5"></div>
            <div class="user-says-angle-after user-says-angle-after5"></div>
        </a>

        <div class="editMessage-input-container" >
            <div class="editMessage-inputbox">
                {{view Ember.TextArea valueBinding="messageContent" class="no-resize no-effect" placeholder="Write a comment..." }}                                          
            </div>
            {{#if controller.isUploadPhoto}}
            <div class="editMessage-addimg" >
                <div class="remove-comment-photo easing" {{action removePic model.message_id}}><i class="fa fa-times"></i></div>             
                <img  {{bindAttr src= "newStyleImageSource"}}>
            </div>
            {{else}}
            {{#if model.isUrl }}
            <div class="editMessage-addimg" >
                <div class="remove-comment-photo easing"  {{action removeOriginalPic model.message_id}}><i class="fa fa-times"></i></div>             
                <img {{bind-attr src= model.url}}/>
            </div>
            {{/if}}
            {{/if}}


            <div class="editMessage-actioncontainer">
                <div class="message-btn easing editMessage-action-addphoto"><i class="fa fa-picture-o">&nbsp;</i>Add Photo
                    <div class="editMessage-action-add"> 
                        {{view HubStar.SingleImageInputButtonView }}
                    </div>
                </div>
                <div class="message-btn easing"{{action updateMessage model.message_id}}><i class="fa fa-check">&nbsp;</i>Post</div>
            </div>

        </div>

    </div>

</div>
