

<div class="popup-container">

    <div id="google_pop" class="popup-bg-fadeout"  {{action setGooglePopup on="click" target="view"}}></div>


    <div  id ="google_map_pop" class="aside-container radius-rounded-corner box googlemappop-container">
       
        <div id="" class="enlarge-map easing googlemappop-exit" {{action setGooglePopup on="click" target="view"}} ><i class="fa fa-times" ></i></div>
        <div  id="map_canvas_pop" class="googlemappop-canvas" >


        </div>
        <div class="scrollbarGoogleMap">
            <div id="directionsPanel" class="googlemappop-scrollbar" > 
            </div>        
        </div>

        <div >
            <div class="googlemappop-input-container googlemappop-input-top">From:</div>
            <div class="googlemappop-input">{{input type="text" value=fromAddress placeholder="Enter your start address here" class="no-effect"}}</div>
            <div class="googlemappop-input-container">To:</div>
            <div class="googlemappop-input">{{address}}, {{suburb}}, {{region}}, {{country}}</div>
        </div>

        <div class="googlemappop-action-container" >
            <div class="message-btn easing googlemappop-printmap" value="Print map" onclick="printmap('google_map_pop');"><i class="fa fa-print">&nbsp;</i>Print Map</div>
 
          <div id ="routeMode" class="message-btn easing googlemappop-routemode" {{action dropdownRoute target="view" on="click"}}>
             {{#if view.showTransportation}}
             <span id="routeModeSelection">Transportation</span>
             {{else}}
             <span id="routeModeSelection">{{view.routeModeSelection}}</span>
             {{/if}}
            </div>

            <div id="routeModeDropdown" class="hideClass Dropdownstyle1 googlemappop-routemode-container" {{action selectRoute target="view" on="click"}}>
                <li class="ite" value="DRIVING" >DRIVING</li>
                <li class="ite" value="WALKING">WALKING</li>
                <li class="ite" value="BICYCLING">BICYCLING</li>
                <li class="ite" value="TRANSIT">TRANSIT</li>
            </div>
            {{#if fromAddress}}
            <div id="routeGo" class="message-btn easing googlemappop-dir" {{action routeGo on="click" target="view"}}>Get Directions <i class="fa fa-long-arrow-right">&nbsp;</i></div>
            {{else}}
            <div  class="message-btn-x easing googlemappop-dir" >Get Directions <i class="fa fa-long-arrow-right">&nbsp;</i></div>
            {{/if}}
            <div  id="routeClear" class="message-btn easing googlemappop-clear" {{action routeClear on="click" target="view"}}><i class="fa fa-long-arrow-left">&nbsp;</i>Clear</div>
        </div>

    </div>

</div>

<script>
    function printmap(divName)
    {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;

    }

</script>
