


<div style="width: 100%; height: 100%; overflow: hidden; position: fixed;"> 
    <img src="../../../images/landingpagebg.jpg" style="width: 100%; height:100%; ">
</div>
<div class="group-profilewrapper">
    {{#if controller.groupStepOne}}

    <div id="group-step-1"  class="group-step">
        <div class="group-profile-title-top">
            <div class="group-step-title">
                <div>Select Categories </div>   
                <div id="group-res" class="group-button" {{action chooseResidential}}>residential </div>
                <div id="group-com" class="group-button" {{action chooseCommercial}}>commercial </div>
            </div> 
            <div  class="group-step-button" {{action groupStep  "1"}} >NEXT</div>
        </div>
        <div class="group-content easing">  
            <div class="subcategory-box">
                {{#each controller.subcate}}
                {{#if this.isSelected}}
                <div class="subcategory-word-selected" {{action delToSeclection this}}>{{this.category_topic}}</div>
                {{else}}
                <div class="subcategory-word" {{action addToSeclection this}}>{{this.category_topic}}</div>
                {{/if}}
                {{/each}}
            </div>
            {{#if controller.isResidential}}
            <div class="group-images">                  
                {{#each controller.categorys}}
                {{#if this.isResidential}}
                <div class="select-group" style=""{{action topicSelection this}}>
                     <div class="group-image">         
                        <div id="minusSelect_{{unbound ids}}" class="group-number radius-circle easing" {{action topicSelection this}}>{{chooseNumber}}</div>
                        <div class="group-image-container"><img {{bindAttr src="image"}} /></div>
                    </div>
                    <div class="group-topic-name" >
                        {{topic}}  
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
            {{/if}}               
            {{#if controller.isCommercial}}
            <div class="group-images">
                {{#each controller.categorys}}
                {{#if this.isCommercial}}
                <div class="select-group" style=""{{action topicSelection  this}}>
                     <div class="group-image">    
                        <div id="minusSelect_{{unbound ids}}" class="group-number radius-circle easing"  {{action topicSelection this}}>{{chooseNumber}}</div>                
                        <div class="group-image-container"><img {{bindAttr src="image"}} /></div>
                    </div>
                    <div class="group-topic-name">
                        {{topic}}  
                    </div>
                </div>
                {{/if}}
                {{/each}}
            </div>
            {{/if}}  
        </div> 
    </div>
    {{/if}}

    {{#if controller.groupStepTwo}}

    <div id="group-step-2" class="group-step"> 
        <div class="group-profile-title-top">

            <div  class="group-step-button" style="float:left" {{action groupStep "2"}} >BACK</div>

            <div class="group-step-title" style=" width:60%; cursor: pointer;">
                {{#if controller.editingGroupTitle}}
                <div>
                    <div class="edit-group-left" >
                        {{input type="text" class="insert-profile-name" value=groupTitle}}
                    </div>
                    <div class="edit-group-right" >
                        <div class="new-btn blue-btn"{{action yes controller.groupTitle}}><i class="fa fa-check fa fa-white"></i></div>
                        <div class="new-btn"{{action no controller.groupTitle}}><i class="fa fa-times fa fa-white"></i></div>
                    </div>
                </div>
                {{else}}
                <div class="group-title" {{action changeTitle controller.groupTitle}}>Project Title</div>
                {{/if}}
            </div>

            <div  class="group-step-button" {{action save}} >DONE</div>


        </div>


        <div class="group-content easing" >
            <div class="group-textarea">{{view Ember.TextArea valueBinding="about-project"   class="textarea-style" placeholder="About this project, I would like to......" style=""}}</div>
            <div class="group-part">
                <div class="group-text">Budget:</div>
                <div class="content-group-right"></div>
            </div>
            <div class="group-part">
                <div class="group-text">Time Frame:</div>
                <div class="content-group-right"></div>
            </div>
            <div class="group-part">
                <div class="group-text">Expertise:</div>
                <div class="content-group-right">
                    <div id="1" class="subcategory-word" {{action choose  "1" }}>First Time</div>
                    <div id="2" class="subcategory-word" {{action choose  "2" }}>I have some experiences</div>
                    <div id="3" class="subcategory-word" {{action choose  "3" }}>I am professional</div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</div>
