













<div class="group-wallpaper">
    <img  {{bindAttr src= model.group_bg_url}}>
</div>

<div class="group-wrapper">

    <div class="group-panel">

        <div class="group-panel-left">

            <div>Project: </div> 

            <div>Public: </div>

            <div style="position: relative;top:200px;">


                <div>Categories:</div>

                <div>{{model.group_category}}</div>



            </div>




        </div>
        <div class="group-panel-right">
            
            <div  class="group-creator">
                
                {{date controller.createTime}}
            <img class="easing" {{bindAttr src="model.group_hero_cover_url"}}  />  
            {{model.group_creator_name}}
            </div>

            
        </div>












    </div>
    <div class="group-item-profile">

        <div  id="flip-front" class='group-edit-button'  data-hint="Dashboard"
              {{action flipFrontClick}}>
              <i class="fa fa-cogs"></i>
        </div>
        <div class="group-cover-image">
            <img {{bindAttr src=model.group_hero_url}}"/>
        </div>
        {{model.group_pic_size}}
        <div class="group-pic-image masonry-object_profilepic"  {{action toProfilePage this}}>
             <img style="width:{{unbound model.width}}; height:{{unbound model.height}}" class="easing" {{bindAttr src="model.group_pic_url"}}  />  
        </div>

        <div class="group-desc-part">
            <div class="group-name" >          
                {{model.group_name}}
            </div>
            <div class="group-desc" }>          
                {{model.group_description}}

            </div>
        </div>
    </div>
</div>
   {{view HubStar.MasonryCollectionView}}
