
<div id="group-top" class="group-top">
<div class="group-wallpaper">
    <img  {{bindAttr src= model.group_bg_url}}>
</div> 
{{#unless controller.editGroup}}
<div class="group-wrapper"  >
    <div class="group-panel">
        <div id="blur-bg"></div>
        <div class="group-panel-left">
            <div>Project: </div> 
            <div class="group-category">
                <div>Categories:</div>
                <div>{{model.group_category}}</div>
            </div>
        </div>
        <div class="group-panel-right">
            <div  class="group-creator">
                <img class="group-creator-image" class="easing" {{bindAttr src="model.group_hero_cover_url"}}  /> 
                <div class="group-creator-text">
                    <div class="group-creator-name">   {{model.group_creator_name}} </div>  
                    <div class="group-creator-time">  {{date controller.createTime}} </div>                 
                </div>
            </div>
        </div>
    </div>
    <div class="group-item-profile">
        <div id="flip-front" class="group-edit-button" data-hint="Dashboard"
              {{action goToGroupDashboard}}>
              <i class="fa fa-cogs"></i>
        </div>
        <div class="group-cover-image">
            <img {{bindAttr src=model.group_hero_url}}"/>
        </div>
        {{model.group_pic_size}}
        <div class="group-pic-image masonry-object_profilepic"  >
            <img id ="group_pic" class="easing" {{bindAttr src="model.group_pic_url"}}  />  
        </div>
        <div class="group-title-part">
            <div class="group-name" >          
                {{model.group_name}}
            </div>
            <div class="group-desc" >          
                {{model.group_description}}
            </div>
        </div>
    </div>
</div>
{{else}}

<div class="group-profilewrapper-back" >

    {{#if controller.groupStepOne}}
    <div id="group-step-1"  class="group-step">
        <div class="group-profile-title-top">
            <div class="group-step-title">
                <div>Select Categories </div>   
                <div id="group-res" class="group-button" {{action chooseResidential}}>residential </div>
                <div class="group-button or-help">OR</div>
                <div id="group-com" class="group-button" {{action chooseCommercial}}>commercial </div>
            </div> 
            <div  class="group-step-button" {{action groupStep  "2"}} >NEXT</div>
        </div>
        <div class="group-content easing">  
            <div class="subcategory-box">
                {{#each controller.subcate}}
                {{#if this.isSelected}}
                <div class="subcategory-word-selected" {{action delToSeclection this}}>{{this.category_topic}}</div>
                {{else}}
                <div class="subcategory-word" {{action addToSeclection this}}>{{this.category_topic}}</div>
                {{/if}}
                {{/each}}
            </div>
            {{#if controller.isResidential}}
            <div class="group-images">                  
                {{#each controller.categorys}}
                {{#if this.isResidential}}
                {{#if this.isSelected}}
                <div class="selected-group" {{action topicSelection this }}>
                     <div class="group-image">         
                        <div id="minusSelect_{{unbound ids}}" class="group-number radius-circle easing" {{action topicSelection this}}>{{chooseNumber}}/{{this.subcate.length}}</div>
                        <div class="group-image-container"><img {{bindAttr src="image"}} /></div>
                    </div>
                    <div class="group-topic-name" >
                        {{topic}}  
                    </div>
                </div>
                {{else}}
                <div class="select-group" {{action topicSelection this }}>
                     <div class="group-image">         
                        <div id="minusSelect_{{unbound ids}}" class="group-number radius-circle easing" {{action topicSelection this}}>{{chooseNumber}}/{{this.subcate.length}}</div>
                        <div class="group-image-container"><img {{bindAttr src="image"}} /></div>
                    </div>
                    <div class="group-topic-name" >
                        {{topic}}  
                    </div>
                </div>
                {{/if}}
                {{/if}}
                {{/each}}
            </div>
            {{/if}}               
            {{#if controller.isCommercial}}
            <div class="group-images">
                {{#each controller.categorys}}
                {{#if this.isCommercial}}
                {{#if this.isSelected}}
                <div class="selected-group" {{action topicSelection this }}>
                     <div class="group-image">    
                        <div id="minusSelect_{{unbound ids}}" class="group-number radius-circle easing"  {{action topicSelection this}}>{{chooseNumber}}/{{this.subcate.length}}</div>                
                        <div class="group-image-container"><img {{bindAttr src="image"}} /></div>
                    </div>
                    <div class="group-topic-name">
                        {{topic}}  
                    </div>
                </div>
                {{else}}
                <div class="select-group" {{action topicSelection this }}>
                     <div class="group-image">    
                        <div id="minusSelect_{{unbound ids}}" class="group-number radius-circle easing"  {{action topicSelection this}}>{{chooseNumber}}/{{this.subcate.length}}</div>                
                        <div class="group-image-container"><img {{bindAttr src="image"}} /></div>
                    </div>
                    <div class="group-topic-name">
                        {{topic}}  
                    </div>
                </div>
                {{/if}}
                {{/if}}
                {{/each}}
            </div>
            {{/if}}  
        </div> 
    </div>
    {{/if}}

    {{#if controller.groupStepTwo}}

    <div id="group-step-2" class="group-step"> 
        <div class="group-profile-title-top">

            <div  class="group-step-button group-step-button2" {{action groupStep "1"}} >Category</div>

            <div class="group-step-title group-step-2title">
                <div class="group-textarea">
                    {{view Ember.TextField valueBinding="controller.name" class="textarea-style" placeholder="Profile Title" }}</div>
            </div>
            <div  class="group-step-button" {{action groupStep "3" }} >Style Up</div>
        </div>
        <div class="group-content easing" >

            <div class="group-textarea">{{view Ember.TextArea valueBinding="controller.description"   class="textarea-style" placeholder="About this project, I would like to......" }}</div>
            <div class="group-part">
                <div class="group-text">Budget*:</div>
                <div class="content-group-right">
                    <div id="budget1" class="subcategory-word" {{action chooseBudget  "1" "Less than 5k"}}>Less than 5k</div>
                    <div id="budget2" class="subcategory-word" {{action chooseBudget  "2" "5k-10k"}}>5k-10k</div>
                    <div id="budget3" class="subcategory-word" {{action chooseBudget  "3" "10k-50k"}}>10k-50k</div>
                    <div id="budget4" class="subcategory-word" {{action chooseBudget  "4" "50k-100k"}}>50k-100k</div>
                    <div id="budget5" class="subcategory-word" {{action chooseBudget  "5" "100k-250k"}}>100k-250k</div>
                    <div id="budget6" class="subcategory-word" {{action chooseBudget  "6" "250k-500k"}}>250k-500k</div>
                    <div id="budget7" class="subcategory-word" {{action chooseBudget  "7" "500k- 1M"}}>500k- 1M</div>
                    <div id="budget8" class="subcategory-word" {{action chooseBudget  "8" "1M+"}}>1M+</div>
                </div>
            </div>
            <div class="group-part">
                <div class="group-text">Time Frame*:</div>
                <div class="content-group-right">
                    <div id="time1" class="subcategory-word" {{action chooseTime  "1" "1-2 months"}}>1-2 months</div>
                    <div id="time2" class="subcategory-word" {{action chooseTime  "2" "Next 6 months"}}>Next 6 months</div>
                    <div id="time3" class="subcategory-word" {{action chooseTime  "3" "Within 12 months"}}>Within 12 months</div>
                    <div id="time4" class="subcategory-word" {{action chooseTime  "4" "1-2 years"}}>1-2 years</div>
                    <div id="time5" class="subcategory-word" {{action chooseTime  "5" "Within 3 years"}}>Within 3 years</div>
                </div>
            </div>
            <div class="group-part">
                <div class="group-text">Expertise:</div>
                <div class="content-group-right">
                    <div id="first_time" class="subcategory-word" {{action choose  "1" }}>First Time</div>
                    <div id="some_experiences" class="subcategory-word" {{action choose  "2" }}>I have some experiences</div>
                    <div id="professional" class="subcategory-word" {{action choose  "3" }}>I am professional</div>
                </div>
            </div>          
        </div>
    </div>
    {{/if}}

    {{#if controller.groupStepThree}}
    <div id="group-step-3" class="group-step"> 
        <div class="group-profile-title-top">

            <div  class="group-step-button group-step-button2" {{action groupStep "2"}} >Info</div>

            <div class="group-step-title group-step-3title" >
                <div class="group-name group-desc-part" >
                    {{controller.name}}
                </div>
            </div>
            <div  class="group-step-button" {{action save}} >DONE</div>
        </div>
        <div class="group-content easing" >
            <div class="group-upload-content group-step-button2" >
                <div class="group-upload">
                    <div   class="subcategory-word upload-button" data-hint="Add Photo">Upload a Avatar
                        <div> 
                            {{view HubStar.MultiImageInputButtonView name="logo"}}
                        </div>
                    </div>
                </div>
                <div class="group-upload-image-logo" >                   
                    {{#if logoSaving}}
                    <div class="group-upload-loading-logo easing">
                        <i class="spinner spinner-sml"></i>
                    </div>
                    {{else}}
                    <div class="remove-comment-photo easing remove-help-logo" {{action removePic "logo"}}><i class="fa fa-times"></i></div>   
                    <img  {{bindAttr src= "group_pic_url"}} class="img-help-logo">
                        {{/if}}
                </div>
            </div>
            <div class="group-upload-content">
                <div class="group-upload">
                    <div   class="subcategory-word upload-button"  data-hint="Add Photo">Upload a Cover
                        <div> 
                            {{view HubStar.MultiImageInputButtonView name="bg"}}
                        </div>
                    </div>
                </div>
                <div  class="group-upload-image-bg">                   
                    {{#if bgSaving}}
                    <div class="group-upload-loading-bg easing">
                        <i class="spinner spinner-sml"></i>
                    </div>
                    {{else}}
                    <div class="remove-comment-photo easing remove-help-bg" {{action removePic "bg"}}><i class="fa fa-times"></i></div>
                    <img  {{bindAttr src= "group_bg_url"}} class="img-help-bg">
                        {{/if}}
                </div>
            </div>
        </div>
    </div> 
    {{/if}}
    <div class="group-dashboard-buttons">
        <div class="group-donebtn" {{action save}}>Done</div>
        <div id ="Categories" {{action groupStep "1"}}>Select Categories</div>
        <div id ="Info" {{action groupStep "2"}}>Profile Info</div>
        <div id ="Style" {{action groupStep "3"}}>Style Up</div>    
        <div {{action backToFront}}>Back</div>
    </div>
</div>

</div>



{{/unless}}

{{view HubStar.MasonryCollectionView}}
