<div class="navbar">
    <div style="position: absolute;right: 0;z-index: 1;">
        <img style="" src="../../../images/beta-version.png"/>
        <span style="position: absolute; top: 21px; left: 33px; font-size: 12px;font-weight: bold;color: #f3f3f3;" id="lastidentifie">0.3-111</span>
    </div>
    <div style="margin: 0 auto; width: 87%; height: 45px;">
        <div class="brand">
            <a href="/#">
                <img style="position: relative; top: 0; margin:0;height: 25px;" src="../../../images/landing-trends.png">
            </a>
        </div>

        <!-- show if not logged into platform-->
        {{#if HubStar.isLogin}}

        <div id="login_detail" style="position: relative;float: right;cursor: pointer;text-align: right;">
            {{view HubStar.AfterLoginView}}
        </div>

          <div class="Geo-Filter easing"  style="margin-right: 20px;" {{action dropdownPhotoSetting}}>
             <i class="icon-bell-alt icon-large"></i>
            <div style="cursor: pointer;position: absolute;top: 7px;right: 2px;width: auto;padding: 0 5px 0 4px;height: 15px;background-color: red;line-height: 15px;border-radius: 2px;font-size: 11px;font-weight: bold;">{{unReadCount}}</div>
        </div>
        {{else}}


        <div id="login_icon" style="display:block;position: relative;float: right;">

            {{view HubStar.BeforeLoginView}}

           

        </div>

        {{/if}}


        <!-- user is logged in -->

      
        {{#if isNotification}}
        {{render notificationTop}}
        {{/if}}

        <div class="Geo-Filter easing" style="">
            <i class="icon-search icon-large"></i>
        </div>

        <div id="geo-filter" class="Geo-Filter easing " style="" {{action dropdown controller.projectCategoryDropdownType}}>
             <i class="icon-globe icon-large">&nbsp;</i>
            <span style="font-weight: bold;font-size: 15px;">{{HubStar.geoLocation}}</span>
        </div>
        {{#if controller.isGeoDropdown}}
        {{view HubStar.DropdownListView}}
        {{/if}}


    </div>
</div>




<script type="text/javascript">

    $(document).ready(function() {
        // left hiding menu bar

        // hide #back-top first
        $("#back-top").hide();
        $(window).scroll(function() {

            if ($(this).scrollTop() > 150) {
                $('#back-top').fadeIn();
            } else {
                $('#back-top').fadeOut();
            }

        });
        $('#back-top a').click(function() {
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
    });






    function setDomain() {

        var api_url = document.domain;
        var api_domain_start_pos = api_url.indexOf('.');
        var api_url = api_url.slice(api_domain_start_pos);

        return api_url;
    }




</script>
