<div class="navbar">


    <div class="navbar-inner">
        
            <div class="brand" data-step="1" data-intro="Come to your home feed for all the newest ideas.">
            <a href="/#" > <img class="logonew" {{action showDiscoveryBar}} style="position: relative; top: 0; margin:0;" src="../../../images/landing-trends.png"></a>

<!--            <div style="position: relative;display: inline-block;top: 12px;font-weight: normal;font-style: italic;color: white;font-size: 11px;">
                <span>Beta</span> <span id="lastidentifie">0.3-141</span>
            </div>-->

        </div>


        <div id="top-about-menu" class="top-about-menu" style="display:block">
            <span><a style="color: #fff" class="hover-opacity" target="blank" href="http://about.trendsideas.com/">About</a></span>
            <span><a target="blank" href="http://about.trendsideas.com/business/">Business</a></span>
            <span><a target="blank" href="http://about.trendsideas.com/learning-centre/">Learning Centre</a></span>
            <span><a target="blank" href="http://about.trendsideas.com/contact-us/">Contact us</a></span>

        </div>


        <div id="search-bar" class="search-bar-ontop" style="display:none">
            <div id ="navigator" class="Nav-btn easing" style="float: left;" {{action dropdownHeaderNavigator}}><i class="icon-list"></i></div>
            {{#if controller.isHeaderNavigatorDropdown}}
            {{view HubStar.NavigatorView}}
            {{/if}}
            <div class="Search-box easing" style="">
                {{view HubStar.SearchRequireTextFieldView valueBinding="search_string"  id="search_businesses" class="no-effect hover-opacity easing" placeholder="Search by keyword" }}
                <div class="Nav-btn easing" style="position: relative;float: right;border-radius: 0 3px 3px 0;top: -60px; right: -5px;border-left: 1px solid #ddd;"  {{action searching on="click" target="view"}}>
                    <i class="icon-search"></i>
                </div>
            </div>
        </div>




        {{#if HubStar.isLogin}}

        <div id="login_details" style="position: relative;float: right;cursor: pointer;text-align: right;">
            <div id="login_detail" style="position: relative;float: right;cursor: pointer;text-align: right;" data-step="4" data-intro="your account detail link ">
            {{view HubStar.AfterLoginView}}
        </div>
            </div>
        <div id="Geo-Filter" class="Geo-Filter easing"  style="margin-right: 50px;font-size: 15px;" {{action dropdown "notification"}} data-step="3" data-intro="Get quick updates about your friends' actions that most affect you. ">
             <i class="icon-bell-alt icon-large"></i>
            {{#if isUnReadCountZero}}
            <div style="cursor: pointer;position: absolute;top: 20px;left: 15px;width: auto;padding: 0 5px 0 4px;height: 15px;background-color: red;line-height: 15px;border-radius: 2px;font-size: 11px;font-weight: bold;">{{unReadCount}}</div>
            {{/if}}

            
        </div>



        {{else}}


        <div id="login_icon" class="Geo-Filter" style="position: absolute; right: 80px;">

            {{view HubStar.BeforeLoginView}}


        </div>

        {{/if}}



        <!-- user is logged in -->



        {{#if isNotification}}
        <div style="position: relative; float: right; top: 55px; z-index: 100;">
            <div style="position: absolute;border-color: transparent transparent #f3f3f3 transparent;border-style: solid;border-width: 10px 10px 10px 10px;z-index: 0;"></div>
            <div style="position: absolute;border-color: transparent transparent #888 transparent;border-style: solid;border-width: 10px 10px 10px 10px;z-index: -1;"></div>
        </div>
        {{render notificationTop}}
        {{/if}}

        <div id="geo-filter" class="Geo-Filter easing " style="" {{action dropdown "geoLocation"}} data-step="2" data-intro="Changing global search Location Filter.">
             <i class="icon-angle-down icon-large">&nbsp;</i>
            <span style="font-weight: bold;font-size: 15px;">{{HubStar.geoLocation}}</span>
        </div>

        {{#if controller.isGeoDropdown}}
        {{view HubStar.DropdownListView}}
        {{/if}}


    </div>
</div>




<script type="text/javascript">

    $(document).ready(function() {
        // left hiding menu bar

        // hide #back-top first
        $("#back-top").hide();
        $(window).scroll(function() {

            if ($(this).scrollTop() > 150) {
                $('#back-top').fadeIn();
            } else {
                $('#back-top').fadeOut();
            }

        });
        $('#back-top a').click(function() {
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
    });






    function setDomain() {

        var api_url = document.domain;
        var api_domain_start_pos = api_url.indexOf('.');
        var api_url = api_url.slice(api_domain_start_pos);

        return api_url;
    }




</script>
