<div class="navbar">


    <div class="navbar-inner">

        <div class="brand" data-step="1" data-intro="Click on the <b>Trends logo</b> to return to the main Search Wall." data-position='right'>
            <a href="/#/search" > <img class="logonew" {{action showDiscoveryBar}} src="../../../images/landing-trends.png"></a>
            <a href="/#/search" > <img class="logonew-small" {{action showDiscoveryBar}} src="../../../images/trendsIcon.png"></a>
        </div>
        <div id="top-about-menu" class="easing"{{action dropdown "about"}}>
            <i class="fa fa-info"></i>
        </div>
        {{#if controller.headerAbout}}
        <div id="header_menu_about" class="blank-top-bar"  {{action dropdown "about"}}>&nbsp;</div>
             
        <ul id="top-menu" class="edit-object-ul" style="width: 160px;position: absolute;top:80px;left: 110px;">
            <li class="ite" > <span><a  target="blank" href="http://about.trendsideas.com/">About</a></span></li>
            <li class="ite" > <span><a target="blank" href="http://about.trendsideas.com/business/">Business</a></span></li>
            <li class="ite" >  <span><a target="blank" href="http://about.trendsideas.com/learning-centre/">Learning Centre</a></span></li>
            <li class="ite" >  <span><a target="blank" href="http://about.trendsideas.com/contact-us/">Contact us</a></span></li>
        </ul>
        {{/if}}

        {{#if HubStar.isLogin}}

        <div id="login_details" class="Geo-Filter easing" data-step="4" data-intro="Click on your <b>Profile Picture</b> to access your Profile, Message Centre, Help options or to log out.">
            <div id="login_detail" >
                {{view HubStar.AfterLoginView}}
            </div>
        </div>

        <div id="notification-filter" class="Geo-Filter easing"  {{action dropdown "notification"}} data-step="3" data-intro="New notifications will appear beside the <b>Notification icon</b>. Click the icon to see your latest notifications.">
            <div class="circle-btn"><i class="fa fa-bell fa-lg" ></i></div>
            <div class="circle-btn-description">Notification</div>
            {{#if isUnReadCountZero}}
            <div class="notification-number">{{unReadCount}}</div>
            {{/if}}
        </div>
        {{else}}

        <div id="login_icon" class="Geo-Filter" style="position: absolute; right: 80px;">

            {{view HubStar.BeforeLoginView}}

        </div>

        {{/if}}

        <!-- user is logged in -->

        {{#if isNotification}}
        <div class="notification-triangle">
            <div class="notification-triangle-after" style=""></div>
            <div class="notification-triangle-before" style=""></div>
        </div>
        {{render notificationTop}}
        {{/if}}

        <div id="geo-filter" class="Geo-Filter easing "  {{action dropdown "geoLocation"}} data-step="2" data-intro=" Use the <b>Location Filter</b> to filter search results by region.">
            <div class="circle-btn"><i class="fa fa-globe fa-lg"></i></div>
            <div id="countryLocation" class="Geo-Filter-location">{{controller.geoLocation}}</div>
        </div>

        {{#if controller.isGeoDropdown}}
        {{view HubStar.DropdownListView}}
        {{/if}}
        <div class="search-bar-on-large-screen" >
            <div id="search-bar" class="search-bar-ontop">
                <div id ="navigator" class="Nav-btn easing" {{action dropdownHeaderNavigator}}>
                     <i class="fa fa-list" style="font-size: 20px;"></i>
                    <div style="line-height: 0;position: relative;bottom: 5px;">Categories</div>
                </div>

                {{#if controller.isHeaderNavigatorDropdown}}
                {{view HubStar.NavigatorView}}
                {{/if}}

                <div class="search-box easing" >
                    {{view HubStar.SearchRequireTextFieldView valueBinding="search_string"  id="search_businesses" class="no-effect hover-opacity easing" placeholder="Search by keyword" }}
                    <div class="Nav-btn easing" style="position: relative;float: right;border-radius: 0 3px 3px 0;top: -60px; right: -5px;border-left: 1px solid #ddd;width: 60px"  {{action searching on="click" target="view"}}>
                        <i class="fa fa-search" style="font-size: 20px;line-height: 3;"></i>
                    </div>
                </div>
            </div>
            <div  id="topResidentialCommerical">
                <div id="residential1" class="residentialCommericalTop residentialCommerical-selected easing"   {{action residential on="click" target="view"}}>Residential</div>
                <div id="commercial1" class="residentialCommericalTop residentialCommerical-selected easing"  {{action commercial on="click" target="view"}}>Commercial</div>
            </div>
        </div>

    </div>




    <div class="search-bar-on-small-screen">

        <div id="search-bar" class="search-bar-ontop">
            <div id ="navigator" class="Nav-btn easing"  {{action dropdownHeaderNavigator}}>
                 <i class="fa fa-list" style="font-size: 20px;"></i>
            </div>
            {{#if controller.isHeaderNavigatorDropdown}}
            {{view HubStar.NavigatorView}}
            {{/if}}
            <div class="search-box easing" >
                {{view HubStar.SearchRequireTextFieldView valueBinding="search_string"  id="search_businesses-small" class="no-effect hover-opacity easing" placeholder="Search by keyword" }}
                <div class="Nav-btn easing" style="position: relative;float: right;border-radius: 0 3px 3px 0;top: -60px; right: -5px;border-left: 1px solid #ddd;"  {{action searchingSmall on="click" target="view"}}>
                    <i class="fa fa-search" style="font-size: 20px;"></i>
                </div>
            </div>
        </div>

        <div  id="topResidentialCommerical" >
            <div id="residential2" class="residentialCommericalTop residentialCommerical-selected easing"   {{action residential on="click" target="view"}}>Residential</div>
            <div id="commercial2" class="residentialCommericalTop residentialCommerical-selected easing"  {{action commercial on="click" target="view"}}>Commercial</div>
        </div>

    </div>

</div>



<script type="text/javascript">


    function setDomain() {

        var api_url = document.domain;
        var api_domain_start_pos = api_url.indexOf('.');
        var api_url = api_url.slice(api_domain_start_pos);

        return api_url;
    }




</script>
