<div class="navbar">

    <div class="navbar-inner">
        <div class="brand" >
            <a href="/#" > <img class="logonew" {{action showDiscoveryBar}} style="position: relative; top: 0; margin:0;" src="../../../images/landing-trends.png"></a>

            <div style="position: relative;display: inline-block;top: 12px;font-weight: normal;font-style: italic;color: white;font-size: 11px;">
                <span>Beta</span> <span id="lastidentifie">0.3-121</span>
            </div>
        </div>


        <div id="top-about-menu" class="top-about-menu" style="display:block">
            <span><a target="blank" href="http://about.trendsideas.com/">About</a></span>
            <span><a target="blank" href="http://about.trendsideas.com/business/">Business</a></span>
            <span><a target="blank" href="http://about.trendsideas.com/learning-centre/">Learning Centre</a></span>
            <span><a target="blank" href="http://about.trendsideas.com/contact-us/">Contact us</a></span>
        </div>


   <div id="search-bar" class="search-bar-ontop" style="display:none">
        <div class="Search-box easing" style="">
            {{view HubStar.SearchRequireTextFieldView valueBinding="search_string"  id="search_business" class="no-effect hover-opacity easing" placeholder="Search by keyword" }}
            <div class="Nav-btn easing" style="position: absolute;right: -5px;border-radius: 0 3px 3px 0;top: 0; border-left: 1px solid #ddd;"  {{action searching on="click" target="view"}}>
                <i class="icon-search"></i>
            </div>
        </div>
        <div id ="navigator" class="Nav-btn easing" style="float: right;" {{action dropdownHeaderNavigator}}><i class="icon-list"></i></div>
        {{#if controller.isHeaderNavigatorDropdown}}
        {{view HubStar.NavigatorView}}
        {{/if}}
    </div>




        {{#if HubStar.isLogin}}

        <div id="login_detail" style="position: relative;float: right;cursor: pointer;text-align: right;">
            {{view HubStar.AfterLoginView}}
        </div>
        <div class="Geo-Filter easing"  style="margin-right: 50px;font-size: 15px;" {{action dropdownPhotoSetting }}>
             <i class="icon-bell-alt icon-large"></i>
            <div style="cursor: pointer;position: absolute;top: 20px;left: 15px;width: auto;padding: 0 5px 0 4px;height: 15px;background-color: red;line-height: 15px;border-radius: 2px;font-size: 11px;font-weight: bold;">{{unReadCount}}</div>
        </div>



        {{else}}


        <div id="login_icon" class="Geo-Filter" style="position: absolute; right: 80px;">

            {{view HubStar.BeforeLoginView}}


        </div>

        {{/if}}



        <!-- user is logged in -->



        {{#if isNotification}}
        {{render notificationTop}}
        {{/if}}

        <div id="geo-filter" class="Geo-Filter easing " style="" {{action dropdown "geoLocation"}}>
             <i class="icon-angle-down icon-large">&nbsp;</i>
            <span style="font-weight: bold;font-size: 15px;">{{HubStar.geoLocation}}</span>
        </div>

        {{#if controller.isGeoDropdown}}
        {{view HubStar.DropdownListView}}
        {{/if}}


    </div>
</div>




<script type="text/javascript">

    $(document).ready(function() {
        // left hiding menu bar

        // hide #back-top first
        $("#back-top").hide();
        $(window).scroll(function() {

            if ($(this).scrollTop() > 150) {
                $('#back-top').fadeIn();
            } else {
                $('#back-top').fadeOut();
            }

        });
        $('#back-top a').click(function() {
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
    });






    function setDomain() {

        var api_url = document.domain;
        var api_domain_start_pos = api_url.indexOf('.');
        var api_url = api_url.slice(api_domain_start_pos);

        return api_url;
    }




</script>
