
<div id="invite_box" class="blur_black"  {{action reviewCancel on="click" target="controller"}}>&nbsp;</div>



<div id ="invitepeople" class="Message-Board invitepeople-container" >
    <div class="invitepeople-title-box">
        <div class="invitepeople-title">Adding friends to the conversation.</div>
                    <div  class='create-conversation easing' style=" font-size: 15px; line-height: 50px; font-weight: bold; width: 50px;height: 49px;"><i class="fa fa-search"></i></div>
    </div>

    <div class="invitepeople-display-container">

        {{#if controller.loadingTime}}
        <div class="invitepeople-spinner">
            <i class="spinner">&nbsp;</i>
        </div>
        {{/if}}

        {{#each  contentFollowerPhoto}}
        <div class="invite-friend hint--rounded hint--bottom" data-hint="{{unbound this.name}}" style="" {{action addToList id}}>
             {{#if this.isAdd}}
             <div class="invite-this-friend radius-circle easing invitepeople-isadded" ><i class="fa fa-minus" ></i></div>
            {{else}}
            <div class="invite-this-friend radius-circle easing"><i class="fa fa-plus" ></i></div>
            {{/if}}
            <img class="profilepic_comment radius-circle invitepeople-profileimg" {{bind-attr src= this.photo_url}} /> 
        </div>
        {{/each}}         
    </div>
 <br/><br/>
    <div class="invitepeople-action-container">
        <div  class="message-btn easing invitepeople-action invitepeople-cancel" {{action reviewCancel }}><i class="fa fa-times">&nbsp;</i>Cancel</div>
        <div class="message-btn easing invitepeople-action"{{action reviewPost}} >             
             <span class="invitepeople-action-span">
                <i class="fa fa-user"></i>
                <i class="fa fa-plus invitepeople-action-plus"></i>
            </span>
             &nbsp;Invite
        </div>
    </div>
</div>


