
<div id="invite_box" class="blur_black"  {{action reviewCancel on="click" target="controller"}}>&nbsp;</div>

<div id ="invitepeople" class="Message-Board" style="z-index: 11; position: fixed; width: 545px; margin: 10px auto; border-radius:5px; overflow: hidden; background-color: rgb(255, 255, 255); top: 25%; left: 0px;display: block;right: 0;box-shadow: 0 0 5px #fff;">
    <div class="" style="height: 50px; width: 100%;position: relative; border-bottom: 1px solid #ddd; background-color: #f3f3f3;padding: 0 15px;">
        <div style="color: #555; font-size: 15px; line-height: 50px; font-weight: bold; float: left;margin-left: 20px;">Adding friends to the conversation.</div>
        <!--            <div  class='create-conversation easing' style=" font-size: 15px; line-height: 50px; font-weight: bold; width: 50px;height: 49px;"><k class="icon-search"></k></div>-->
    </div>

    <div style="position: relative; width: 100%;min-height: 100px;max-height: 500px;overflow: hidden;padding: 10px  45px;">

        {{#if controller.loadingTime}}
        <div style="position: relative; width: 100%;text-align: center;height: 190px;padding-top: 70px;float: left;">
            <i class="spinner">&nbsp;</i>
        </div>
        {{/if}}

        {{#each  contentFollowerPhoto}}
        <div class="invite-friend" data-hint={{unbound this.name}} style="" {{action addToList id}}>
             {{#if this.isAdd}}
             <div class="invite-this-friend radius-circle easing" style="opacity: .8;" ><k class="icon-minus" ></k></div>
            {{else}}
            <div class="invite-this-friend radius-circle easing"><k class="icon-plus" ></k></div>
            {{/if}}
            <img class="profilepic_comment radius-circle"  style=" box-shadow: 0 0 3px #888;border: 1px solid #f3f3f3;width: 45px;height: 45px;" {{bindAttr src= this.photo_url}} /> 
        </div>
        {{/each}}
    </div>

    <div class="" style="height: 41px;position: relative;border-top: 1px solid #ddd;bottom: 0;width: 100%;display: block;clear: both;">
        <div  class="message-btn easing" style="font-size: 15px; height: 40px; line-height: 40px; border-right: 1px solid #ddd;" {{action reviewCancel }}><k class="icon-remove">&nbsp;</k>Cancel</div>
        <div class="message-btn easing" style="font-size: 15px; height: 40px; line-height: 40px;"{{action  reviewPost}}><k class='icon-smile'>&nbsp;</k>Invite</div>
    </div>
</div>