

{{#each model.profile}}
<div class="masonry-object_profile-cover">

    {{#if profile_hero_cover_url}}
    <div class="masonry-object_cover-wapper">
        <img {{bindAttr src="profile_hero_cover_url"}} style="width: 100%";/>
    </div>
    {{else}}
    <div class="masonry-object_cover-wapper">
        <img {{bindAttr src="profile_hero_url"}} style="width: 100%;"/>
    </div>
    {{/if}}

    <span class='edit-object easing' style="position: absolute;margin: 10px; top:0;z-index: 2;">

        {{#if controller.is_authentic_user}}
        <div class="new-btn blue-btn hint--right hint--rounded" style="margin: 4px 0px;" data-hint="Edit object" {{action dropdownPhotoSetting id}}>
             <i class="fa fa-cog" style="font-size: 16px; margin: 0px 5px"></i>
            <i class='fa fa-caret-down'></i>
        </div>

        <ul class="hideClass edit-object-ul" id="dropdown_id_{{unbound id}}">
            {{#if controller.is_profile_editing_mode}}
            <li class="ite" {{action  removeCollectedItem this.id}}><i class="fa fa-trash-o" style="font-size: 16px; margin: 0px 5px;"></i>Delete</li>       
            {{/if}}
        </ul>
        {{/if}}

    </span>

</div>


<div style="position: relative; width: 100%; height: 70px; display: block; z-index: 1"></div>


<div class="masonry-object_profilepic" style="cursor:pointer;" {{action toProfilePage this}}>

     <a  href="#/profiles/{{unbound this.id}}" > <img class="easing" {{bindAttr src="profile_pic_url"}}  />   </a>

</div>


<br>

{{#if isFollowCurrentUser}}

<div href="#question_modal" role="button" class="disabled-btn disabled-green" data-toggle="modal" style="margin: 5px auto 15px;width: 100px;display: block;"{{action followThisUser this}}><i class='fa fa-circle-o' >&nbsp; </i> Following</div>

{{else}}


<div href="#question_modal" role="button" class="new-btn green-btn" data-toggle="modal" style="margin: 5px auto 15px;width: 100px;display: block;"{{action followThisUser this}}><i class='fa fa-plus' >&nbsp; </i> Follow</div>

{{/if}}

<div class="masonry-object_name-position" style="margin-bottom: 5px;"> 
    <a  href="#/profiles/{{unbound this.id}}" class="comment-username" style="cursor:pointer; font-size:18px;"{{bindAttr href="getProfile_id"}}  {{action toProfilePage this}}>{{profile_name}} </a>
</div>

<div style="width:100%; text-align:center; margin-bottom: 10px;">
    <ul class="itemprofile">
        <li class="location_li hint-bottom hint-rounded" data-hint="Collections">
            <div><i class="fa fa-eye"> &nbsp{{ this.collections.length}} </i></div>
        </li>
        <li class="location_li hint-bottom hint-rounded" data-hint="Partners">
            <div><i class="fa fa-group">&nbsp {{ length this.profile_partner_ids}}</i></div>  
        </li>
        <li class="location_li hint-bottom hint-rounded" data-hint="Videos">
            <div><i class="fa fa-film">&nbsp {{ videolength this.profile_about_us}}</i></div>  
        </li>
        <li class="location_li hint-bottom hint-rounded" data-hint="Ebooks">
            <div><i class="fa fa-book">&nbsp {{ ebooklength this.profile_about_us}}</i></div>  
        </li>

    </ul>

</div>

<!--TAGS-->

<div class="object-tags-box">

    <div class="object-tags">
        <span class="tags-mark" style="background-color: #427fed"></span>
        <div class="tags easing">
<!--            <div class="tags-new">New </div>-->
            <div class="object-type hint--top hint--rounded" data-hint="Client profile">
                <i class="fa fa-group"></i>
            </div>
        </div>
    </div>

    <div class="object-tags ">
        <span class="tags-mark" style="background-color: #76a7fa"></span>
        <div class="tags easing tagsappear">
            <div class="tags-new">#{{profile_regoin}}</div>                   
        </div>
    </div>

    <div class="object-tags ">
        <span class="tags-mark" style="background-color: #a0c3ff"></span>
        <div class="tags easing tagsappear">
            <div class="tags-new">#{{profile_category}}</div>                   
        </div>
    </div>

</div>

<!--END TAGS-->


<div class="masonry-object_mainfeature" style="">

    <div class="masonry-object_text">


        <div class="more_detail" {{bindAttr id="id"}}>          
            {{profile_cover_text}}


        </div>

    </div>

</div>

{{/each}}


