{{#if getProfile}}
<div class="box col2 noStyle1"  {{action checkingLoginStatus target="view" on="click"}} >
    <div class="masonry-object">
        {{render "itemProfiles" this}}
        {{render "comment" this}}
    </div>
</div>
{{/if}}

{{business_profile_pic}}
{{#if getPhoto}}
<div class="box col2 noStyle1" data-step="9" data-intro="This is an <b>image</b> result. Click the image to see a full screen view and to read the caption." data-position='right' {{action checkingLoginStatus target="view" on="click"}} >
    <div class="object-tags-box">
        <div class="object-tags">
            <span class="tags-mark"></span>
            <div class="tags easing">
                <div class="object-type hint--left hint--rounded" data-hint="Image">
                    <i class="fa fa-picture-o" ></i>
                </div>
            </div>
        </div>
    </div>
    {{render "itemFunction" this}}

    <div class="masonry-object_mainfeature">
        <div class="mainfeature-wrapper">
            <a class="mainfeature-container cursor-pointer" href="#/photos/{{unbound id}}" >
                <div id="init_photo_{{unbound id}}">
                    <img  class="this-is-the-object" {{bind-attr src="object_image_url" }} {{action transitionToPhoto id}} />
                </div>
            </a>

            <span class="edit-object easing item-authentic-block" >

                {{#if controller.is_authentic_user}}

                <div class="new-btn blue-btn hint--right hint--rounded" data-hint="Edit object" {{action dropdownPhotoSetting id}}>
                     <i class="fa fa-cog itemprofile-edit-action" ></i>
                    <i class="fa fa-caret-down"></i>
                </div>
                <ul class="hideClass edit-object-ul item-edit-box" id="dropdown_id_{{unbound id}}">
                    {{#if controller.is_profile_editing_mode}}
                    <li class="ite edit-obj" {{action removeCollectedItem controller.collection_id id "profile"}}><i class="fa fa-trash-o itemprofile-edit-action" ></i>Delete</li>
                    <li class="ite edit-obj" {{action changeCollectionCover id controller.collection_id HubStar.Profile}}> <i class="fa fa-check-circle itemprofile-edit-action" ></i>Set as Cover</li>
                    {{/if}}
                    {{#if controller.is_user_editing_mode}}
                    <li class="ite edit-obj" {{action removeCollectedItem  controller.collection_id id "user"}}><i class="fa fa-trash-o itemprofile-edit-action" ></i>Remove</li>
                    <li class="ite edit-obj" {{action changeCollectionCover id controller.collection_id HubStar.User}}><i class="fa fa-check-circle itemprofile-edit-action" ></i>Set as Cover</li>
                    {{/if}}
                </ul>

                {{/if}}
            </span> 
        </div>


        <div class="masonry-object_poster">  


            <div class="profilepic-on-masonry">
                <a class="poster-name cursor-pointer" href="#/profiles/{{unbound owner_id}}">  
                    <img style="width:{{unbound profile_width}}; height: {{unbound profile_height}};" {{action transitionToProfile owner_id}} {{bind-attr src="owner_profile_pic"}}/></a>
            </div>
            <div class="object_username">
                <a class="poster-name cursor-pointer item-wordbreak" href="#/profiles/{{unbound owner_id}}/collections" {{action transitionToProfile owner_id}}>{{owner_title}}</a>
                <div class="posttime-container">
                    <span class="posttime display-none" >{{date created}}</span>
                </div>
            </div>
        </div>

        <div class="masonry-object_text">
            <div class="masonry-object_text-container">
                <div class="item-title">{{#each photo}}{{photo_title}}{{/each}} </div>
            </div>

            <div class="more_detail reset-margin" {{bind-attr id="id"}} >
                <div class="more_text-container" >
                    <div class="cursor-pointer">
                        {{#each photo}}
                        {{{photo_caption}}}
                        {{/each}}
                    </div>
                </div>
            </div>
            {{#if moreDisplay}}
            <span role="button" class="masonry_more-btn easing"  {{bind-attr id="more_button"}} {{action transitionToPhoto id}} >more &nbsp;</span>
            {{/if}}
        </div>
    </div>
    {{render "comment" this}}
</div>



{{/if}}


{{#if getVideo}}
<div class="box col2 noStyle1" {{action checkingLoginStatus target="view" on="click"}} >
    <div class="object-tags-box">
        <div class="object-tags">
            <span class="tags-mark" ></span>
            <div class="tags easing">
                <div class="tags easing">
                    <div class="object-type hint--left hint--rounded" data-hint="Video">
                        <i class="fa fa-film"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{render "itemFunction" this}}
    <div class="masonry-object_mainfeature">
        <div class="mainfeature-wrapper">

            {{#if controller.isUser}}
            <a class="mainfeature-container" {{action transitionToPhoto id}}>
               <div class="hover-opacity radius-circle easing item-hoverarea" >
                    <i class="fa fa-play item-videoplay" ></i>
                </div>
                <div id="init_photo_{{unbound id}}">
                    <img class="this-is-the-object"{{bind-attr src="object_image_url" }} />      
                </div>
            </a>
            {{else}}
            <a class="mainfeature-container" {{action transitionToVideo id}}>
               <div class="hover-opacity radius-circle easing item-hoverarea" >
                    <i class="fa fa-play item-videoplay" ></i>
                </div>
                <div id="init_photo_{{unbound id}}">
                    <img {{bind-attr src="object_image_url" }} class="this-is-the-object" />
                </div>
            </a>
            {{/if}}

            <span class="edit-object easing item-edit-area">

                {{#if controller.is_authentic_user}}



                <div class="new-btn blue-btn hint--right hint--rounded" data-hint="Edit object" {{action dropdownPhotoSetting id}}>
                     <i class="fa fa-cog item-edit-action" ></i>
                    <i class="fa fa-caret-down"></i>
                </div>
                <ul class="hideClass edit-object-ul item-edit-box" id="dropdown_id_{{unbound id}}">
                    {{#if controller.is_profile_editing_mode}}
                    <li class="ite edit-obj" {{action removeCollectedItem controller.collection_id id "profile"}}><i class="fa fa-trash-o item-edit-action" ></i>Delete</li>
                    {{/if}}
                    {{#if controller.is_user_editing_mode}}
                    <li class="ite edit-obj" {{action removeCollectedItem  controller.collection_id id "user"}}><i class="fa fa-trash-o item-edit-action" ></i>Remove</li>
                    {{/if}}
                </ul>

                {{/if}}
            </span>



        </div>



        <div class="masonry-object_poster">  


            <div class="profilepic-on-masonry">
                <a class="poster-name cursor-pointer" href="#/profiles/{{unbound owner_id}}">  <img  style="width:{{unbound profile_width}}; height: {{unbound profile_height}};" {{action transitionToProfile owner_id}} {{bind-attr src="owner_profile_pic"}}/></a>
            </div>
            <div class="object_username">
                <a class="poster-name cursor-pointer item-wordbreak" href="#/profiles/{{unbound owner_id}}" {{action transitionToProfile owner_id}}>{{owner_title}}</a>
                <div class="posttime-container">
                    <span class="posttime display-none" >{{date created}}</span>
                </div>

            </div>
        </div>

        <div class="masonry-object_text">
            <div>
                <p class="item-title" {{action transitionToVideo id}}>{{object_title}}</p>
                <p class="masonry-object_text-container item-article" >{{object_description}}</p>
            </div>

            {{#if moreDisplay}}
            <span role="button" class="masonry_more-btn easing" {{bind-attr id="more_button"}} {{action transitionToVideo id}} >more &nbsp;</span>
            {{/if}}
        </div>
    </div>

    {{render "comment" this}}
</div>
{{/if}}

{{#if getPdf}}
<div class="box col2 noStyle1" {{action checkingLoginStatus target="view" on="click"}} >
    <div class="object-tags-box">
        <div class="object-tags">
            <span class="tags-mark" ></span>
            <div class="tags easing">              
                    <div class="object-type hint--left hint--rounded" data-hint="PDF">
                        <i class="fa fa-file-text"></i>
                    </div>      
            </div>
        </div>
    </div>


    <div class="masonry-object_mainfeature">
        <div class="mainfeature-wrapper">

            {{#if controller.isUser}}
            <a class="mainfeature-container" {{action transitionToPdf id}}>
                <div class="hover-opacity radius-circle easing item-hoverarea">
                    <i class="item-pdf-icon">PDF</i>
                </div>
                <div id="init_photo_{{unbound id}}">
                    <img class="this-is-the-object"{{bind-attr src="object_image_url"  }}  />      
                </div>
        </a>
            {{else}}
            <a class="mainfeature-container" {{action transitionToPdf id}}> 
               <div class="hover-opacity radius-circle easing item-hoverarea">
                    <i class="item-pdf-icon">PDF</i>
                </div>
               <div id="init_photo_{{unbound id}}">
                <img {{bind-attr src="object_image_url" }} class="this-is-the-object" />
                 </div>
            </a>
            {{/if}}
            <span class="edit-object easing item-edit-area" >
                {{#if controller.is_authentic_user}}
                <div class="new-btn blue-btn hint--right hint--rounded" data-hint="Edit object" {{action dropdownPhotoSetting id}}>
                     <i class="fa fa-cog item-edit-action" ></i>
                    <i class="fa fa-caret-down"></i>
                </div>
                <ul class="hideClass edit-object-ul item-edit-box" id="dropdown_id_{{unbound id}}">
                    {{#if controller.is_profile_editing_mode}}

                    <li class="ite edit-obj" {{action  removeCollectedItem controller.collection_id id "profile"}}><i class="fa fa-trash-o item-edit-action" ></i>Delete</li>
                    {{/if}}
                    {{#if controller.is_user_editing_mode}}
                    <li class="ite edit-obj" {{action  removeCollectedItem  controller.collection_id id "user"}}><i class="fa fa-trash-o item-edit-action" ></i>Remove</li>
                    {{/if}}
                </ul>

                {{/if}}
            </span>
        </div>



        <div class="masonry-object_poster">  


            <div class="profilepic-on-masonry">
                <a class="poster-name cursor-pointer" href="#/profiles/{{unbound owner_id}}">  <img  {{action transitionToProfile owner_id}} {{bind-attr src="owner_profile_pic"}}/></a>
            </div>
            <div class="object_username ">
                <a class="poster-name cursor-pointer item-wordbreak" href="#/profiles/{{unbound owner_id}}" {{action transitionToProfile owner_id}}>{{owner_title}}</a>
                <div class="posttime-container">
                    <span class="posttime display-none" >{{date created}}</span>
                </div>

            </div>
        </div>

        <div class="masonry-object_text">
            <div>
                <p class="item-title item-pdf-title" {{action transitionToPdf id}}>{{object_title}}</p>
                <p class="masonry-object_text-container item-article" >{{object_description}}</p>
            </div>
            
             {{#if moreDisplay}}
            <span role="button" class="masonry_more-btn easing"  {{bind-attr id="more_button"}} {{action transitionToPdf id}} >more &nbsp;</span>
            {{/if}}
            
        </div>
    </div>

    
</div>
{{/if}}

{{#if getArticle}}
<div class="box col2 noStyle1" data-step="8" data-intro="This is an <b>article</b> result. Click the image to read the article and see all the images associated with it." data-position='right' {{action checkingLoginStatus target="view" on="click"}}>

    <div class="object-tags-box">
        <div class="object-tags">
            <span class="tags-mark" ></span>
            <div class="tags easing">

                <div class="object-type hint--left hint--rounded" data-hint="Article">
                    <i class="fa fa-book"></i>
                </div>
            </div>
        </div>
    </div>
    {{render "itemFunction" this}}
    <div class="masonry-object_mainfeature">
        <div class="mainfeature-wrapper">
            <a class="mainfeature-container" href="#/articles/{{unbound id}}" >
                <div id="init_photo_{{unbound id}}">
                    {{#if controller.isUser}}             
                    <img class="this-is-the-object"{{bind-attr src="object_image_url"  }} {{action transitionToPhoto id}} />
                         {{else}}
                         <img class="this-is-the-object"{{bind-attr src="object_image_url"  }} {{action transitionToArticle id}} /> <!--it is the cover of the article-->
                         {{/if}}
                </div>
            </a>   

            <span class="edit-object easing item-edit-area" >
                {{#if controller.is_authentic_user}}
                <div class="new-btn blue-btn hint--right hint--rounded" data-hint="Edit object" {{action dropdownPhotoSetting id}}>
                     <i class="fa fa-cog item-edit-action" ></i>
                    <i class="fa fa-caret-down"></i>
                </div>
                <ul class="hideClass edit-object-ul item-edit-box" id="dropdown_id_{{unbound id}}">
                    {{#if controller.is_profile_editing_mode}}
                    <li class="ite edit-obj" {{action  removeCollectedItem controller.collection_id id "profile"}}><i class="fa fa-trash-o item-edit-action" ></i>Delete</li>
                    <li class="ite edit-obj"  {{action changeCollectionCover id controller.collection_id HubStar.Profile "article"}}> <i class="fa fa-check-circle item-edit-action" ></i>Set as Cover</li>
                    {{/if}}
                    {{#if controller.is_user_editing_mode}}
                    <li class="ite edit-obj" {{action  removeCollectedItem  controller.collection_id id "user"}}><i class="fa fa-trash-o item-edit-action" ></i>Remove</li>
                    <li class="ite edit-obj" {{action changeCollectionCover id controller.collection_id HubStar.User "article"}}><i class="fa fa-check-circle item-edit-action" ></i>Set as Cover</li>
                    {{/if}}
                </ul>
                {{/if}}
            </span>
        </div>

        <div class="masonry-object_poster">
            <div class="profilepic-on-masonry">
                <img style="width:{{unbound profile_width}}; height: {{unbound profile_height}};"  {{action transitionToProfile owner_id}} {{bind-attr src="owner_profile_pic"}}/>
            </div>
            <div class="object_username">
                <a class="poster-name item-wordbreak cursor-pointer item-txt-auto" href="#/profiles/{{unbound owner_id}}" {{action transitionToProfile owner_id}} >{{owner_title}}</a>
                <div class="posttime-container display-none" >
                    <span class="posttime">{{date created}}</span>
                </div>
            </div>

        </div>

        <div class="masonry-object_text">
            <div class="masonry-object_text-container">
                <a class="item-title cursor-pointer" {{action transitionToArticle id}}>{{object_title}}</a>
                <p class="item-article-overflow" {{action transitionToArticle id}}>{{{object_description}}}</p>
            </div>
            <div class="more_detail display-none item-txt-auto" {{bind-attr id="id"}} >
                <h1>{{object_title}}</h1>
                {{{object_description}}}

            </div>
            {{#if moreDisplay}}
            <span role="button" class="masonry_more-btn easing"  {{bind-attr id="more_button"}} {{action transitionToArticle id}}>more</span>
            {{/if}}
        </div>
    </div>
    {{render "comment" this}}
</div>
{{/if}}
