<div id="addCollection_{{unbound model.id}}"  style="display: none">
   
    {{render addCollection}}

    <!--<div style="position:fixed; background-color: red; width: 100px;height: 100px;top:100px">asdfasdfasdfasdfasdfsd</div>-->
</div>       
{{#if model.getProfile}}
{{else}}
<div class="item-function-control easing" style="">
    {{model.photo_isLike}}
                
     {{#if model.isLike}}
     <div  id="thumbUpBtn_{{unbound model.id}}" style="float: left;" class="object-type easing" {{action unLike model.id}}>
          <i class="fa fa-thumbs-up">&nbsp;<span style="font-size: 11px;">{{model.likes_count}}</span>&nbsp;</i>
    </div>
     {{else}}
    <div  id="thumbUpBtn_{{unbound model.id}}" style="float: left;" class="object-type easing" {{action addLike model.id}}>
          <i class="fa fa-thumbs-up">&nbsp;<span style="font-size: 11px;">{{model.likes_count}}</span>&nbsp;</i>
    </div>
     {{/if}}
    <div data-hint="Add to your own collection." id="saveBtn_{{unbound model.id}}"  style="float: left;" class="object-type easing hint--top hint--rounded" {{action switchCollection model}}>
         <i class="fa fa-folder" >&nbsp</i>
    </div>
    <div id="share_{{unbound model.id}}" class="object-type easing"  style="">

        <div data-hint="Share this photo to other social platform." style="" class="hint--top hint--rounded" {{action shareDisplay model.id on="click"}}>
            <i style="padding:10px" class="fa fa-share" >&nbsp</i>
        </div>

        <ul class="hideClass edit-object-ul" style="width: 150px; margin: 0 auto; top: 35px; left:30px; position: absolute; ">
            <li style="position:fixed;top:0;left:0;height:100%;width:100%;z-index:-1;" {{action shareHide model.id on="click"}}></li>
            <li class="ite" {{action  fbShare model}} >
        <i class="fa fa-facebook" style="font-size: 16px; margin: 0px 5px;position: absolute"></i><span style="margin-left: 2.5em">Facebook</span>
        </li>
        <li class='ite' {{action tShare model }} >
    <i class="fa fa-twitter" style="font-size: 16px;  margin: 0px 5px;position: absolute"></i><span style="margin-left: 2.5em">Twitter</span>
    </li>
    <li class='ite' {{action pShare model}} >
<i class="fa fa-pinterest" style="font-size: 16px;  margin: 0px 5px;position: absolute"></i><span style="margin-left: 2.5em">Pinterest</span>
</li>
<li class="ite" {{action gpShare model}}>
<i class="fa fa-google-plus" style="font-size: 16px; margin: 0px 5px;position: absolute"></i><span style="margin-left: 2.5em">Google+</span>
</li>
</ul>
</div>

</div>
{{/if}}