{{#if getProfile}}
<div class="box col2 noStyle1"  {{action checkingLoginStatus target="view" on="click"}}>
    <div class="masonry-object">

        {{render itemProfiles this}}
        {{render "comment" this}}
    </div>
</div>


{{/if}}


{{#if getPhoto}}
<div class="box col2 noStyle1" {{action checkingLoginStatus target="view" on="click"}}>

    {{render itemFunction this}}

    <div class="object-tags-box">
        <div class="object-tags">
            <span class="tags-mark" style="background-color: #427fed"></span>
            <div class="tags easing">
                <!--                        <div class="tags-new">New </div>-->
                <div class="object-type hint--left hint--rounded" data-hint="Image">
                    <i class="fa fa-picture-o" ></i>
                </div>
            </div>
        </div>

        <div class="object-tags ">
            <span class="tags-mark" style="background-color: #76a7fa"></span>
            <div class="tags easing tagsappear">
                <div class="tags-new">#{{country}}</div>
            </div>
        </div>
        <div class="object-tags " style="display:none;">
            <span class="tags-mark" style="background-color: #a0c3ff"></span>
            <div class="tags easing tagsappear">
                <div class="tags-new">#{{timezone}} </div>
            </div>
        </div>
    </div>

    <div class="masonry-object_mainfeature">
        <div class="mainfeature-wrapper">
            <a class="mainfeature-container" href="#/photos/{{unbound id}}" style="cursor: pointer">

                <img class="this-is-the-object" {{bindAttr src="object_image_url" }} {{action transitionToPhoto id}} />
            </a>

            <span class='edit-object easing' style="position: absolute;margin: 10px; top: 11px;left: 115px;">

                {{#if controller.is_authentic_user}}



                <div class="new-btn blue-btn hint--right hint--rounded" data-hint="Edit object" {{action dropdownPhotoSetting id}}>
                     <i class="fa fa-cog" style="font-size: 16px; margin: 0px 5px"></i>
                    <i class='fa fa-caret-down'></i>
                </div>
                <ul class="hideClass edit-object-ul" id="dropdown_id_{{unbound id}}">
                    {{#if controller.is_profile_editing_mode}}
                    <li class="ite" {{action  removeCollectedItem controller.collection_id id "profile"}}><i class="fa fa-trash-o" style="font-size: 16px; margin: 0px 5px;"></i>Delete</li>
                    <li class='ite'  {{action changeCollectionCover id controller.collection_id HubStar.Profile}}> <i class="fa fa-check-circle" style="font-size: 16px;  margin: 0px 5px;"></i>Set as collection cover</li>
                    {{/if}}
                    {{#if controller.is_user_editing_mode}}
                    <li class="ite" {{action  removeCollectedItem  controller.collection_id id "user"}}><i class="fa fa-trash-o" style="font-size: 16px; margin: 0px 5px;"></i>Remove</li>
                    <li class="ite" {{action changeCollectionCover id controller.collection_id HubStar.User}}><i class="fa fa-camera" style="font-size: 16px; margin: 0px 5px;"></i>Set as Cover</li>
                    {{/if}}
                </ul>

                {{/if}}
            </span>
        </div>


        <div class="masonry-object_poster">  


            <div class="profilepic-on-masonry">
                <a class="poster-name" style="cursor: pointer; width: auto;" href="#/profiles/{{unbound owner_id}}">  <img  {{action transitionToProfile owner_id}} {{bindAttr src="owner_profile_pic"}}/></a>
            </div>
            <div class="object_username">
                <a class="poster-name" style="cursor: pointer; width: auto;" href="#/profiles/{{unbound owner_id}}" {{action transitionToProfile owner_id}}>{{owner_title}}</a>
                <div class="posttime-container">
                    <span class="posttime" style="display:none;">{{date created}}</span>
                </div>

                <!--                <ul class="itemprofile" style="margin: 5px 0 0;">
                                    <li class="location_li hint-bottom hint-rounded" data-hint="Collections">
                                        <div><i class="fa fa-eye"> &nbsp;{{this.collections.length}}</i></div>
                                    </li>
                                    <li class="location_li hint-bottom hint-rounded" data-hint="Partners">
                                        <div><i class="fa fa-group">&nbsp;{{ length this.profile_partner_ids}}</i></div>
                                    </li>
                                    <li class="location_li hint-bottom hint-rounded" data-hint="Videos">
                                        <div><i class="fa fa-film">&nbsp;{{ videolength this.profile_about_us}}</i></div>
                                    </li>
                                    <li class="location_li hint-bottom hint-rounded" data-hint="Ebooks">
                                        <div><i class="fa fa-book">&nbsp;{{ ebooklength this.profile_about_us}}</i></div>
                                    </li>
                                </ul>-->

            </div>
        </div>

        <div class="masonry-object_text">
            <div class="masonry-object_text-container">
                <p>    {{photo_title}}  </p>
            </div>

            <div class="more_detail" {{bindAttr id="id"}} >
                <div class="more_text-container" >
                    <div style="display:block;">
                        {{{object_description}}}
                    </div>
                </div>
                </div>
            {{#if moreDisplay}}
            <span role="button" class="masonry_more-btn easing"  {{bindAttr id="more_button"}} {{action transitionToPhoto id}} >more &nbsp;</span>
            {{/if}}
        </div>
    </div>
    {{render "comment" this}}
</div>



{{/if}}







{{#if getVideo}}
<div class="box col2 noStyle1" >
    <div class="object-tags-box">
        <div class="object-tags">
            <span class="tags-mark" style="background-color: #427fed"></span>
            <div class="tags easing">
                <div class="tags easing">
                    <div class="tags-new">New</div>
                    <div class="object-type hint--left hint--rounded" data-hint="Video">
                        <i class="fa fa-film"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="object-tags " style="display:none;">
            <span class="tags-mark" style="background-color: #76a7fa"></span>
            <div class="tags easing tagsappear">
                <div class="tags-new">#{{region}}</div>
            </div>
        </div>

        <div class="object-tags ">
            <span class="tags-mark" style="background-color: #a0c3ff"></span>
            <div class="tags easing tagsappear"  style="overflow: hidden;">
                <div class="tags-new">#{{categories}}</div>
            </div>
        </div>
    </div>
    {{render itemFunction this}}
    <div class="masonry-object_mainfeature">
        <div class="mainfeature-wrapper">

            {{#if controller.isUser}}
            <a class="mainfeature-container" {{action transitionToPhoto id}}>
                <div class="hover-opacity radius-circle easing" style="cursor: pointer;position: absolute;width: 70px;height: 70px;border: 2px solid #fff;line-height: 66px;text-align: center;color: #fff;font-size: 25px;margin: 90px auto;left: 0;right: 0;box-shadow: 0 0 10px #f3f3f3;z-index: 10;">
                    <i class="fa fa-play" style="margin-left: 5px;text-shadow: 0 0 10px #f3f3f3;"></i>
                </div>
                <img class="this-is-the-object"{{bindAttr src="object_image_url"  }}  />      </a>
            {{else}}
            <a class="mainfeature-container" {{action transitionToVideo id}}>
                <div class="hover-opacity radius-circle easing" style="cursor: pointer;position: absolute;width: 70px;height: 70px;border: 2px solid #fff;line-height: 66px;text-align: center;color: #fff;font-size: 25px;margin: 90px auto;left: 0;right: 0;box-shadow: 0 0 10px #f3f3f3;z-index: 10;">
                    <i class="fa fa-play" style="margin-left: 5px;text-shadow: 0 0 10px #f3f3f3;"></i>
                </div>
                <img {{bindAttr src="object_image_url" }} class="this-is-the-object" />
            </a>
            {{/if}}

            <span class='edit-object easing' style="position: absolute;margin: 10px; top: 11px;left: 115px;">

                {{#if controller.is_authentic_user}}



                <div class="new-btn blue-btn hint--right hint--rounded" data-hint="Edit object" {{action dropdownPhotoSetting id}}>
                     <i class="fa fa-cog" style="font-size: 16px; margin: 0px 5px"></i>
                    <i class='fa fa-caret-down'></i>
                </div>
                <ul class="hideClass edit-object-ul" id="dropdown_id_{{unbound id}}">
                    {{#if controller.is_profile_editing_mode}}
                    <li class="ite" {{action  removeCollectedItem controller.collection_id id "profile"}}><i class="fa fa-trash-o" style="font-size: 16px; margin: 0px 5px;"></i>Delete</li>
                    {{/if}}
                    {{#if controller.is_user_editing_mode}}
                    <li class="ite" {{action  removeCollectedItem  controller.collection_id id "user"}}><i class="fa fa-trash-o" style="font-size: 16px; margin: 0px 5px;"></i>Remove</li>
                    {{/if}}
                </ul>

                {{/if}}
            </span>



        </div>



        <div class="masonry-object_poster">  


            <div class="profilepic-on-masonry">
                <a class="poster-name" style="cursor: pointer; width: auto;" href="#/profiles/{{unbound owner_id}}">  <img  {{action transitionToProfile owner_id}} {{bindAttr src="owner_profile_pic"}}/></a>
            </div>
            <div class="object_username">
                <a class="poster-name" style="cursor: pointer; width: auto;" href="#/profiles/{{unbound owner_id}}" {{action transitionToProfile owner_id}}>{{owner_title}}</a>
                <div class="posttime-container">
                    <span class="posttime" style="display:none;">{{date created}}</span>
                </div>

                <!--                <ul class="itemprofile" style="margin: 5px 0 0;">
                                    <li class="location_li hint-bottom hint-rounded" data-hint="Collections">
                                        <div><i class="fa fa-eye"> &nbsp;{{this.collections.length}}</i></div>
                                    </li>
                                    <li class="location_li hint-bottom hint-rounded" data-hint="Partners">
                                        <div><i class="fa fa-group">&nbsp;{{ length this.profile_partner_ids}}</i></div>
                                    </li>
                                    <li class="location_li hint-bottom hint-rounded" data-hint="Videos">
                                        <div><i class="fa fa-film">&nbsp;{{ videolength this.profile_about_us}}</i></div>
                                    </li>
                                    <li class="location_li hint-bottom hint-rounded" data-hint="Ebooks">
                                        <div><i class="fa fa-book">&nbsp;{{ ebooklength this.profile_about_us}}</i></div>
                                    </li>
                                </ul>-->

            </div>
        </div>

        <div class="masonry-object_text">
            <div style="">
                <p style="font-weight: bold;margin-bottom: 5px;" {{action transitionToVideo id}}>{{object_title}}</p>
                <p class="masonry-object_text-container" style="font-size: 11px; max-height: 50px;">{{object_description}}</p>
            </div>
        </div>
    </div>

    {{render "comment" this}}
</div>
{{/if}}


{{#if getArticle}}
<div class="box col2 noStyle1"  {{action checkingLoginStatus target="view" on="click"}}>

    <div class="object-tags-box">
        <div class="object-tags">
            <span class="tags-mark" style="background-color: #427fed"></span>
            <div class="tags easing">

                <div class="object-type hint--left hint--rounded" data-hint="Article">
                    <i class="fa fa-book"></i>
                </div>
            </div>
        </div>

        <div class="object-tags " style="display:none;">
            <span class="tags-mark" style="background-color: #76a7fa"></span>
            <div class="tags easing tagsappear">
                <div class="tags-new">#{{region}}</div>
            </div>

        </div>


        <div class="object-tags ">
            <span class="tags-mark" style="background-color: #a0c3ff"></span>
            <div class="tags easing tagsappear"  style="overflow: hidden;">
                <div class="tags-new">#{{categories}}</div>
            </div>
        </div>
    </div>
    {{render itemFunction this}}
    <div class="masonry-object_mainfeature">
        <div class="mainfeature-wrapper">
            <a class="mainfeature-container" href="#/articles/{{unbound id}}" >
                {{#if controller.isUser}}
                <img class="this-is-the-object"{{bindAttr src="object_image_url"  }} {{action transitionToPhoto id}} />
                     {{else}}
                     <img class="this-is-the-object"{{bindAttr src="object_image_url"  }} {{action transitionToArticle id}} /> <!--it is the cover of the article-->
                     {{/if}}              
            </a>   

            <span class='edit-object easing' style="position: absolute;margin: 10px; top: 11px;left: 115px;">
                {{#if controller.is_authentic_user}}
                <div class="new-btn blue-btn hint--right hint--rounded" data-hint="Edit object" {{action dropdownPhotoSetting id}}>
                     <i class="fa fa-cog" style="font-size: 16px; margin: 0px 5px"></i>
                    <i class='fa fa-caret-down'></i>
                </div>
                <ul class="hideClass edit-object-ul" id="dropdown_id_{{unbound id}}">
                    {{#if controller.is_profile_editing_mode}}
                    <li class="ite" {{action  removeCollectedItem controller.collection_id id "profile"}}><i class="fa fa-trash-o" style="font-size: 16px; margin: 0px 5px;"></i>Delete</li>
                    <li class='ite'  {{action changeCollectionCover id controller.collection_id HubStar.Profile "article"}}> <i class="fa fa-check-circle" style="font-size: 16px;  margin: 0px 5px;"></i>Set as collection cover</li>
                    {{/if}}
                    {{#if controller.is_user_editing_mode}}
                    <li class="ite" {{action  removeCollectedItem  controller.collection_id id "user"}}><i class="fa fa-trash-o" style="font-size: 16px; margin: 0px 5px;"></i>Remove</li>
                    <li class="ite" {{action changeCollectionCover id controller.collection_id HubStar.User "article"}}><i class="fa fa-camera" style="font-size: 16px; margin: 0px 5px;"></i>Set as Cover</li>
                    {{/if}}
                </ul>
                {{/if}}
            </span>
        </div>

        <div class="masonry-object_poster">
            <div class="profilepic-on-masonry">
                <img  {{action transitionToProfile owner_id}} {{bindAttr src="owner_profile_pic"}}/>
            </div>
            <div class="object_username">
                <a class="poster-name" href="#/profiles/{{unbound owner_id}}" {{action transitionToProfile owner_id}} style="cursor: pointer; width: auto;">   {{creator}}</a>
                <div class="posttime-container" style="display:none;">
                    <span class="posttime">{{date created}}</span>
                </div>

                <!--                <ul class="itemprofile" style="margin: 5px 0 0;">
                                    <li class="location_li hint-bottom hint-rounded" data-hint="Collections">
                                        <div><i class="fa fa-eye"> &nbsp;{{this.collections.length}}</i></div>
                                    </li>
                                    <li class="location_li hint-bottom hint-rounded" data-hint="Partners">
                                        <div><i class="fa fa-group">&nbsp;{{ length this.profile_partner_ids}}</i></div>
                                    </li>
                                    <li class="location_li hint-bottom hint-rounded" data-hint="Videos">
                                        <div><i class="fa fa-film">&nbsp;{{ videolength this.profile_about_us}}</i></div>
                                    </li>
                                    <li class="location_li hint-bottom hint-rounded" data-hint="Ebooks">
                                        <div><i class="fa fa-book">&nbsp;{{ ebooklength this.profile_about_us}}</i></div>
                                    </li>
                                </ul>-->

            </div>

        </div>


        <div class="masonry-object_text">
            <div class="masonry-object_text-container">
                <a style="font-size: 16px; font-weight: bold;cursor: pointer" {{action transitionToArticle id}}>{{object_title}}</a>
                <p style="text-overflow: ellipsis"; {{action transitionToArticle id}}>{{{object_description}}}</p>
            </div>

            <div class="more_detail" {{bindAttr id="id"}} style="display:none;width:auto">
                <h1>{{object_title}}</h1>
                {{{object_description}}}

            </div>
           {{#if moreDisplay}}
            <span role="button" class="masonry_more-btn easing"  {{bindAttr id="more_button"}} {{action transitionToArticle id}}>more</span>
            {{/if}}
        </div>
    </div>

    {{render "comment" this}}
</div>
{{/if}}






