<div id="addCollection_{{unbound model.id}}"  class="itemfunction-add">
    {{render addCollection}}
</div>       
{{#if model.getProfile}}
{{else}}
<div class="item-function-control easing" >
    {{model.photo_isLike}}

    {{#if model.isLike}}
    <div data-hint="Unlike" id="thumbUpBtn_{{unbound model.id}}" class="object-type easing hint--top hint--rounded itemfunction-icon-position" {{action unLike model.id}}>
          <i class="fa fa-thumbs-up">&nbsp;<span class="itemfunction-font">{{model.likes_count}}</span>&nbsp;</i>
    </div>
    {{else}}
    <div data-hint="Like" id="thumbUpBtn_{{unbound model.id}}" class="object-type easing hint--top hint--rounded itemfunction-icon-position" {{action addLike model.id}}>
          <i class="fa fa-thumbs-up">&nbsp;<span class="itemfunction-font">{{model.likes_count}}</span>&nbsp;</i>
    </div>

    {{/if}}

    {{#if model.getArticle}}
    <div data-hint="Save this article to a collection" id="saveBtn_{{unbound model.id}}" class="object-type easing hint--top hint--rounded itemfunction-icon-position" {{action switchCollection model}}>
         <i class="fa fa-folder" >&nbsp;<span class="itemfunction-font">{{model.save_count}}</span>&nbsp</i>
    </div>
    {{/if}}
    {{#if model.getPhoto}}
    <div data-hint="Save this image to a collection" id="saveBtn_{{unbound model.id}}" class="object-type easing hint--top hint--rounded itemfunction-icon-position" {{action switchCollection model}}>
         <i class="fa fa-folder" >&nbsp;<span class="itemfunction-font">{{model.save_count}}</span>&nbsp</i>
    </div>
    {{/if}}
    {{#if model.getVideo}}
    <div data-hint="Save this video to a collection" id="saveBtn_{{unbound model.id}}" class="object-type easing hint--top hint--rounded itemfunction-icon-position" {{action switchCollection model}}>
         <i class="fa fa-folder" >&nbsp;<span class="itemfunction-font">{{model.save_count}}</span>&nbsp</i>
    </div>
    {{/if}}

    <div id="share_{{unbound model.id}}" class="object-type easing" >
        {{#if model.getArticle}}
        <div data-hint="Share this article" class="hint--top hint--rounded" {{action shareDisplay model.id on="click"}}>
            <i class="fa fa-share itemfunction-icon" >&nbsp;<span class="itemfunction-font">{{model.share_count}}</span>&nbsp</i>
        </div>
        {{/if}}
        {{#if model.getPhoto}}
        <div data-hint="Share this image" class="hint--top hint--rounded" {{action shareDisplay model.id on="click"}}>
            <i class="fa fa-share itemfunction-icon" >&nbsp;<span class="itemfunction-font">{{model.share_count}}</span>&nbsp</i>
        </div>
        {{/if}} 
        {{#if model.getVideo}}
        <div data-hint="Share this video" class="hint--top hint--rounded" {{action shareDisplay model.id on="click"}}>
            <i class="fa fa-share itemfunction-icon" >&nbsp;<span class="itemfunction-font">{{model.share_count}}</span>&nbsp</i>
        </div>
        {{/if}}

        <ul class="hideClass edit-object-ul itemfunction-share-container" >
            <li class="itemfunction-clikearea" {{action shareHide model.id on="click"}}></li>
            <li class="ite" {{action  fbShare model}} >
                <i class="fa fa-facebook share-type share-type-pos2" ></i><span class="share-type-txt2" >Facebook</span>
            </li>
            <li class="ite" {{action tShare model }} >
                <i class="fa fa-twitter share-type share-type-pos2" ></i><span class="share-type-txt2" >Twitter</span>
            </li>
            <li class="ite" {{action pShare model}} >
                <i class="fa fa-pinterest share-type share-type-pos2" ></i><span class="share-type-txt2" >Pinterest</span>
            </li>
            <li class="ite" {{action gpShare model}}>
                <i class="fa fa-google-plus share-type share-type-pos2" ></i><span class="share-type-txt2" >Google+</span>
            </li>
        </ul>
    </div>

</div>
{{/if}}