
<div id="login_lightbox" onclick="document.getElementById('login_lightbox').style.display = 'none';
        document.getElementById('login_container').style.display = 'none';">&nbsp;</div>
<div class="hover panel" id="login_container">
    <div class="front easing">


        <div class="head controlbtn-field">
            <div type="button" {{action popupModal }} class="closeview"><i class="icon-remove"></i></div>
            <img class="logonew"  style="margin: 30px auto 0; width: 92px; display: block;" src="../../../images/trendslogo(black).png"></img>
            <div class="logincopy">
                <p><strong>COLLECT YOUR ONLINE RESOURCE FOR KITCHENS, PRODUCTS, SERVICES & IDEAS</strong></p>
                <p>
                    Hundreds of videos+, thousands of articles and tens of thousands of high quality images from around the world showcasing: Architecture, Kitchen Design, Bathroom Design, Interiors, Landscape Design and Commercial Design. 
                </p>
            </div>

            <div id="dd" class="wrapper-dropdown-3" tabindex="1" style="height:45px;">

                <div>
                    <div id="dropdown-cover" class="dropdown_test"  style="float: left; bottom: 10px; position: relative; width: 64px; height: 45px; margin-left: -11px; padding-left: 35px; border-radius: 3px 0 0 3px;">
                        <div class="login-icon">
                            <i class="icon-facebook icon-large">
                            </i>
                        </div>   
                    </div>
                    <div  id="dropdown-cover" onclick="Facebook(650, 400);" style="float: right; bottom: 10px; position: relative; width: 204.5px; height: 45px; margin-right: -9.5px; border-radius: 0 3px 3px 0;">
                        <div class="sign-in-with" >Sign In with Facebook</div>
                    </div>
                </div>
                <ul class="dropdown"  style="width:270px">
                    <li  onclick="LinkedIn(650, 400);" ><a style="color:rgb(0,172,237)" href="#"><i class="icon-linkedin-sign icon-large"></i>Sign in with LinkedIn</a></li>
                    <li  onclick="Google(650, 400);" ><a style="color:rgb(211,72,54)" href="#"><i class="icon-google-plus icon-large"></i>Sign in with Google+</a></li>
                    <li  onclick="Yahoo(650, 400);" ><a style="color:rgb(123,0,153)" href="#"><img src='../../../images/yahoo.png' style='width: auto; height: 35px; float:left;margin: -3% -5% 0 6%;'>Sign in with Yahoo</a></li>
                    <!--                    <li  onclick="Sina(650, 400);" ><a style="color:rgb(245,213,0)" href="#"><img src='../../../images/sina.png' style='width: auto; height: 35px; float:left;margin: -3% -3% 0 6%;'>Sign in with Sina</a></li>-->
                    <li  onclick="QQ(650, 400);" ><a style="color:rgb(62,59,62)" href="#"><img src='../../../images/qq.png' style='width: auto; height: 35px; float:left;margin: -3% -2% 0 7%;'>Sign in with QQ</a></li>
                    <li  class='signup'><a style="color:rgb(0,153,68)" href="#email_login" {{action email_login}}><i class="icon-envelope icon-large"></i>Sign in with Email</a></li>
                </ul>
            </div>
            <div class="panelcircle"><strong>OR</strong></div>
        </div>
        <div class="content ">
            {{#unless mail}}
            <div style="margin: 20px auto 0; font-weight: bold;">Other platforms you might prefer:</div>

            <div style="margin: 10px auto 5px; width: 100%;">
                <a  class="square-button" href='#' onclick="LinkedIn(650, 400);" >
                    <div id="dropdown-cover" style="position: absolute; width: 45px; height: 45px; border-radius: 3px;"></div>
                    <div class="square-button-twitter"><i class="icon-linkedin-sign icon-large" style="float: left; margin: 11px 15px; width: auto; height:22px; line-height: 20px;"></i></div></a>

                <a  class="square-button"  href='#' onclick="Google(650, 400);" >
                    <div id="dropdown-cover" style="position: absolute; width: 45px; height: 45px; border-radius: 3px;"></div>
                    <div class="square-button-google"><i class="icon-google-plus icon-large" style="float: left; margin: 11px 15px; width: auto; height:22px; "></i></div></a>

                <a  class="square-button"  href='#' onclick="Yahoo(650, 400);">
                    <div id="dropdown-cover" style="position: absolute; width: 45px; height: 45px; border-radius: 3px;"></div>
                    <div class="square-button-yahoo"><img src="../../../images/yahoo(white).png" style="float: left; margin: 10px 0px; width: auto; height:22px;  "></img></div></a>



                <a  class="square-button"  href='#' onclick="QQ(650, 400);">
                    <div id="dropdown-cover" style="position: absolute; width: 45px; height: 45px; border-radius: 3px;"></div>
                    <div class="square-button-qq"><img src="../../../images/QQ(white).png" style="float: left; margin: 11px 9px; width: auto; height:22px;"></img></div></a>

                <a  class="square-button" href="#email_login" {{action email_login}} >
                    <div id="dropdown-cover" style="position: absolute; width: 45px; height: 45px; border-radius: 3px;"></div>
                    <div class="square-button-email"><i class="icon-envelope icon-large" style="float: left; margin: 11px 13px; width: auto; height:22px; "></i></div></a> 

            </div>
            {{else}}



            <div>

                <tr>
                    <td>
                        <div style="display: block;">
                            <div   style="margin: 0;width: 100%;">
                                {{input type="text" value=username placeholder="Username"}}
                            </div>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <div style="display: block;">
                            <div   style="margin: 0;width: 100%;">
                                {{input type="password" value=password placeholder="Password"}}
                            </div>
                        </div>
                    </td>
                </tr>
            </div>



            <div style="position: absolute;top: 517px;left: 179px;">
                <div  type="button" class="new-btn" {{action email_login }}>
                      Cancel 
            </div>
            <div  type="button" class="new-btn green-btn"{{action login }} >
                  Login
        </div>
    </div>
    <div style="font-size: 11px;">
        <a href='#'>Forgot your username or password?</a>
    </div>




    {{/unless}}

    <div style="position: relative; text-align: center; font-size: 12px; margin-bottom: 15px;"> 
        Don't have an account? Click <a  href="#" class='signup' {{action flipFrontClick}}>here </a> to sign up!
    </div>


</div>


</div>





<div class="back easing">

    <div class="head controlbtn-field">
        <div type="button" {{action popupModal }} class="closeview"><i class="icon-remove"></i></div>
        <div style="font-size: 22px;margin: 20px auto 15px;"> 
            <strong>Sign Up for your Free Account!</strong>
        </div>

        <div id="dd2" class="wrapper-dropdown-3" tabindex="1" style="top: 3px; height: 45px;">
            <div>
                <div id="dropdown-cover" class="dropdown_test_2"  style="float: left; bottom: 10px; position: relative; width: 64px; height: 45px; margin-left: -11px; padding-left: 35px; border-radius: 3px 0 0 3px;">
                    <div class="login-icon">
                        <i class="icon-facebook icon-large">
                        </i>
                    </div>   
                </div>
                <div  id="dropdown-cover" onclick="Facebook(650, 400);" style="float: right; bottom: 10px; position: relative; width: 204.5px; height: 45px; margin-right: -9.5px; border-radius: 0 3px 3px 0;">
                    <div class="sign-in-with" >Sign In with Facebook</div>
                </div>
            </div>
            <ul class="dropdown"  style="width:270px">
                <li  onclick="LinkedIn(650, 400);" ><a style="color:rgb(0,172,237)" href="#"><i class="icon-linkedin-sign icon-large"></i>Sign in with LinkedIn</a></li>
                <li  onclick="Google(650, 400);" ><a style="color:rgb(211,72,54)" href="#"><i class="icon-google-plus icon-large"></i>Sign in with Google+</a></li>
                <li  onclick="Yahoo(650, 400);" ><a style="color:rgb(123,0,153)" href="#"><img src='../../../images/yahoo.png' style='width: auto; height: 35px; float:left;margin: -3% -5% 0 6%;'>Sign in with Yahoo</a></li>
                <!--                <li  onclick="Sina(650, 400);" ><a style="color:rgb(245,213,0)" href="#"><img src='../../../images/sina.png' style='width: auto; height: 35px; float:left;margin: -3% -3% 0 6%;'>Sign in with Sina</a></li>-->
                <li  onclick="QQ(650, 400);" ><a style="color:rgb(62,59,62)" href="#"><img src='../../../images/qq.png' style='width: auto; height: 35px; float:left;margin: -3% -2% 0 7%;'>Sign in with QQ</a></li>
            </ul>
        </div>
        <div style="font-size: 11px; margin-bottom: 10px;">
            Don't worry , we'll never post without your permission.
        </div>
    </div>
    <div class="panelcircle" style="position: absolute; right: 0; top: 160px; margin: auto;left: 0; font-weight: bold">OR</div>

    <div class="content">

        <div style="font-size: 14px; font-weight: bold; margin: 20px auto 0 auto;float:left;">
            Sign Up with your Email Address:
        </div>


        <div>
            <tr>
                <td>
                    <div  style="display: block; margin-bottom: 5px;" >

                        <div  id="first_name" style="margin: 0;width: 49%;display: inline-block;">
                            {{input type="text" value=first_name placeholder="First Name"}}
                        </div>
                        <div id="last_name" style="margin: 0;width: 49%;display: inline-block;">
                            {{input type="text" value=last_name placeholder="Last Name"}}
                        </div>

                    </div>
                </td>
            </tr>
            <td>
                <div style="display: block;">
                    <div   style="margin: 0;width: 100%;">
                        {{input type="password" value=password placeholder="Password"}}
                    </div>
                </div>
            </td>
            </tr>  

            <td>
                <div style="display: block;">
                    <div   style="margin: 0;width: 100%;">             
                        {{input type="text" value=email placeholder="Your Email"}}
                    </div>
                </div>
            </td>
            <tr>
        </div>




        <div  type="button" class="new-btn" id="goback" style="position: absolute;top: 473px;left: 142px;" {{action flipFrontBack}}>
              Go Back
    </div>
    <div  type="button" class="new-btn green-btn" id="goback" style="position: absolute;top: 473px;left:284px;" {{action signUp}}>
          Sign Up
</div>

</div>







</div>
</div>




<script>





    function DropDown(el) {
        this.dd = el;
        this.placeholder = this.dd.children('span');
        this.opts = this.dd.find('ul.dropdown > li');
        this.val = '';
        this.index = -1;
        this.initEvents();
    }
    DropDown.prototype = {
        initEvents: function() {
            var obj = this;

            obj.dd.on('click', function(event) {
                $(this).parents('div .wrapper-dropdown-3').toggleClass('active');
                return false;
            });


            obj.opts.on('click', function() {
                var opt = $(this);
                obj.val = opt.text();
                obj.index = opt.index();
                obj.placeholder.text(obj.val);
            });
        },
        getValue: function() {
            return this.val;
        },
        getIndex: function() {
            return this.index;
        }
    };
    $(function() {


        var dd = new DropDown($('.dropdown_test'));

        $(document).click(function() {
            // all dropdowns
            $('.wrapper-dropdown-3').removeClass('active');
        });
        var dd2 = new DropDown($('.dropdown_test_2'));

        $(document).click(function() {
            // all dropdowns
            $('.wrapper-dropdown-3').removeClass('active');
        });

    });

</script>
