
{{#if controller.loadingTime}}

{{render "loadingSpinner"}}

{{/if}}

<div class="masonry-container">
    <!-- masonry from here -->

    <div id="profile_submenu_collection" class="style-box t-style-box masonry-profilesubmenu" >
        <div class="masonry-collectionname" >{{controller.title}}
        </div>
        <div class="hint--right hint--rounded masonry-return" data-hint="Go back" >
            <i class="fa fa-level-up edit-btn masonry-return-icon" {{action goBack}}></i>
        </div>

    </div>

    <div id="masonry_photo_collection_container"  class="centered clearfix masonry_push_down" >

        <!--SECTION CONTROL BAR-->
        {{#if controller.is_profile_editing_mode}}
        {{#if controller.is_authentic_user}}
        {{#if controller.uploadStuff}}



        <div class="box style-box t-style-box col2" id="addNew" >

            <div id="tagetUplaod" {{action newUpload }}  >
                 <div class="add-new-object-hoverarea easing">
                    <i class="fa fa-arrow-circle-o-up masonry-createCollection" ></i>
                </div>
                <div class="masonry-object t-style-box">
                    <div class="add-new-object-content">
                        <img src="https://s3-ap-southeast-2.amazonaws.com/develop.devbox/Defaultcollection-cover.png" />
                    </div>
                </div>
            </div>

            <div id="ownerUpload"  class="col4 masonry-upload-container" >             
                {{#unless controller.uploadOrsubmit}}
                {{#view HubStar.PhotoCreateView }}


                <div class="masonry-upload-innercontainer"> 
                    <div class="masonry-upload-txtContainer">
                        <i class="fa fa-arrow-circle-o-up masonry-uploadicon" ></i>
                        <span class="masonry-upload-title1">
                            Drag & Drop Your Photos Here
                        </span>
                        <span class="masonry-upload-title2">Individual images must not exceed 10MB in size.<br> Upload a maximum of 20 images and a total of 20MB at a time.<br>(Supported file formats: .bmp, .gif, .jpg/.jpeg, .png)</span> 
                                    </div>

                                    <div class="new-btn blue-btn masonry-upload-choose-container" >
                                        Choose 
                                        <div class="masonry-upload-choose"> {{view HubStar.ImageInputButtonView }}</div> 
                                    </div> 

                                    <div id="dragAndDroppArea" class="dragndropbox not-display" >

                                        {{#each uploadImageContent}}




                                        <div class="masonry-upload-imgBox">
                                            <div> 
                                                {{#each photo}}
                                                <img  {{bind-attr src= "photo_image_original_url"}}  alt="Logo" class="masonry-upload-img">
                                                    <div {{bind-attr class="photo_source_id"}} class="display-none" >
                                                        <img class="masonry-upload-spinner" src="../../../images/uploadphotos_spinner.gif"/>
                                                    </div>
                                                    {{/each}}
                                            </div>
                                            <div class="masonry-img-title">{{photo_title}}</div>
                                        </div>
                                        {{/each}}
                                    </div>
                                    </div>
                                    <div class="controlbtn-field masonry-gap" >
                                        <div class="controlbtn masonry-controlbtn" >
                                            <span class="new-btn" {{action back }}>Close</span>
                                            <span class="new-btn green-btn" {{action photoUpload}}>Upload</span>
                                        </div>
                                    </div>

                                    {{/view}}
                                    {{else}}
                                    {{render "photoCreateInfoSetting"}}
                                    {{/unless}}
                                    </div>
                                    </div>
                                    {{/if}}
                                    {{/if}}
                                    {{/if}}

                                    {{#each controller.content}}
                                    {{view HubStar.ItemView}}
                                    {{/each}}




                                    </div>
                                    </div>


                                    {{#if controller.makeSureDelete}}

                                    {{view HubStar.DeleteFunctionView}}

                                    {{/if}}
