
{{#if controller.loadingTime}}

{{render "loadingSpinner"}}

{{/if}}
<div class="masonry-container">

    {{#if controller.groupPage}}
    <div class="new-masonry-bar" >
        <ul  id="new-user-stats">
            <li id="networkGroup"  data-step="11" data-intro="Click here to see the group’s <b>Network Partners</b>." data-position="top" {{action selectPartner}}>Network <span class="masonry-submenu-txt" >&nbsp; • &nbsp;</span> {{controller.groupNetworkStatistics}}</li>
            <li id="networkGroup1"  data-step="11" data-intro="Click here to see the group’s <b>Network Partners</b>." data-position="top" {{action selectPartner1}}>Collections <span class="masonry-submenu-txt" >&nbsp; • &nbsp;</span> {{controller.groupNetworkStatistics}}</li>
        </ul>
    </div>

    {{else}}

    <div id="profile_submenu" class="style-box t-style-box masonry-profilesubmenu" >

        <div class="profile-selection-status"  >{{controller.profileSelectionStatus}}</div>
        {{#if partnerTag}}
        <div class="masonry-search">
            <div class="partner-searchbox">
                {{view HubStar.SearchRequireTextFieldView valueBinding="partnerSearchString"  id="search_business" placeholder="Search for Partners" class="no-effect" }}
            </div>
            <div class="hover-opacity masonry-searchicon" {{action partnerSearch}}>
                 <i class="fa fa-search"></i>
            </div>
        </div>
        <div class="clear-all hover-opacity" style="" class="hover-opacity"{{action partnerSearchReset this}}><i class="fa fa-times masonry-clean-search" ></i></div>
        {{/if}} 
        {{#if controller.partnerPage}}
        <ul class="user-stats" id="user-stats">


            <li id="defualt"  data-step="8" data-intro="Click here to view the profile’s <b>Collections</b>." data-position="top"><a {{action selectCollection}}> Collections <span class="masonry-submenu-txt">&nbsp; • &nbsp;</span> {{controller.profileCollectionStatistics}}</a></li>
            <li id="video"   data-step="9" data-intro="Click here to view the profile’s <b>Videos</b>." data-position="top"><a {{action selectVideo this}}> Videos <span class="masonry-submenu-txt" >&nbsp; • &nbsp;</span> {{controller.profileVideoStatistics}}</a></li>
            {{#if HubStar.pdf_display}}   
            <li id="pdf" data-step="10" data-intro="Click here to view the profile’s <b>PDFs</b>." data-position="top"><a {{action selectPdf this}}> PDF <span class="masonry-submenu-txt" >&nbsp; • &nbsp;</span>{{controller.profilePdfStatistics}}</a></li>
            {{/if}}
            <li id="network"  data-step="11" data-intro="Click here to see the profile’s <b>Network Partners</b>." data-position="top"><a {{action selectPartner this}}>Network <span class="masonry-submenu-txt" >&nbsp; • &nbsp;</span> {{controller.profilePartnerStatistics}}</a></li>
            <li id="follow"  data-step="12" data-intro="Click here to see who is <b>Following</b> this profile." data-position="top"><a {{action selectFollower this}}>Followers <span class="masonry-submenu-txt" >&nbsp; • &nbsp;</span> {{controller.profileFollowerStatistics}}</a></li>  
            <li id="reviewList"  data-step="13" data-intro="Click here to read <b>Reviews</b> of this profile. Thanks for taking time on the tour, have a good trip on our website." data-position="top"><a {{action selectReview this}}>Reviews <span class="masonry-submenu-txt" >&nbsp; • &nbsp;</span> {{controller.profileReviewStatistics}}</a></li> 

        </ul>
        {{/if}}

        {{#if controller.userTage}}
        <ul class="user-stats" id="user-stats">
            <li id="defualt" data-step="5" data-intro="The <b>Collections</b> tab is where you"ll find your collections of saved images, articles and videos." data-position="top"><a {{action selectCollection}}> Collections<span class="masonry-submenu-txt" >&nbsp; • &nbsp;</span> {{controller.userCollectionStatistics}}</a></li>
            <li id ="ufollowing"data-step="6" data-intro="Click the <b>Following</b> tab to see who you are following." data-position="top"><a {{action selectFollowing this}}> Following<span class="masonry-submenu-txt" >&nbsp; • &nbsp;</span> {{controller.userFollowingStatistics}}</a></li>
            <li id ="ufollower" data-step="7" data-intro="Click the <b>Followers</b> tab to see who is following you." data-position="top"><a {{action selectFollower this}}> Followers<span class="masonry-submenu-txt" >&nbsp; • &nbsp;</span> {{controller.userFollowerStatistics}}</a></li>
            {{#if controller.isUserSelf}}
            <li id ="message" data-step="8" data-intro="Click the <b>Message</b> tab to access your Message Centre. Next will jump to your <b>Business Profile</b>" data-position="top"><a {{action selectMessage this}}> Messages<span class="masonry-submenu-txt" >&nbsp;</span></a></li>


            {{/if}}

            <li id ="post" data-step="9" data-intro="Click the <b>Post</b> tab to access your Post Wall." data-position="top"><a {{action selectPost this}}> Posts<span class="masonry-submenu-txt" >&nbsp;</span></a></li>


        </ul>
        {{/if}}    

    </div>



    {{/if}}

    <div id="masonry_user_container" class="centered clearfix masonry_push_down" >
        <!-- masonry from here -->
        {{#if collectionTag}}
        {{view HubStar.CollectionsView}}
        {{/if}} 
        {{#if videoTag}}
        {{outlet profileVideos}}
        {{/if}} 

        {{#if pdfTag}}
        {{outlet profilePdf}}
        {{/if}} 

        {{#if partnerTag}}
        {{render "profilePartners"}}
        {{/if}} 

        {{#if followerProfileTag}}
        {{render "userFollowers"}}
        {{/if}} 

        {{#if reviewTag}}
        {{render "reviewList"}}
        {{/if}} 

        {{#if followerTag}}
        {{render "userFollowers"}}
        {{/if}} 

        {{#if followingTag}}
        {{render "userFollowings"}}
        {{/if}} 

        {{#if messageTag}}
        {{outlet messageCenter}}
        {{/if}} 


        {{#if postTag}}
        {{outlet userMessage}}
        {{/if}} 

        {{#if controller.groupNetwork}}
        {{outlet "groupNetwork"}}
        {{/if}}
    </div>


</div>
