



<div class="Message-Board box">


    <div class="create-conversation easing hint--left hint--rounded" data-hint="Notifications" {{action selectNotification controller.id}}>
         <i class="fa fa-bell"></i>
        {{#if isUnReadCountZero}}
        <div class="messagecenter-unreadcount">{{unReadCount}}</div>
        {{/if}}
    </div>
    <div class="messagecenter-container Ally">
        <div class="messagecenter-title" ><i class="fa fa-envelope" >&nbsp;&nbsp;&nbsp;</i>Message Centre</div>
        <div class="create-conversation easing hint--left hint--rounded" data-hint="Start a new conversation" {{action selectNewConversation}}><i class="fa fa-plus"></i></div>
    </div>

    <div class="Message-menu-messages-container" >

        {{render conversation}}

    </div>
</div>


{{#if isNotification}}     
{{render notification}}
{{/if}}

{{#if isNewConversation}}
{{render newConversation}}
{{/if}}

{{#if isConversationItem}}
{{render conversationItem}}
{{/if}}
