
<div  class="Message-Board_comment-item" style=''>
    {{#unless model.enableToEdit}}  <!-- enableToEdit is just whether allow to modify-->


    <div class="comment-position">   
        <a class="profilepic-comment-container"   href="#/users/{{unbound model.user_id}}">
            <img class="profilepic_comment" {{bindAttr src= model.photo_url_large}} />
        </a>
        <div style="">
            <div class="comment-namentime">
                <div class="namentime_position">
                    <a class="comment-username"   href="#/users/{{unbound model.user_id}}">
                        {{model.user_name }}
                    </a>
                    <div class="posttime-container">
                        <span class="posttime">{{date model.time_stamp}}</span>
                    </div>
                </div>
                <div class="reply-comment easing">  
                    {{#if model.isUserself}} <!--model.isUserself is used to judge whether the reply message is written by the current login user-->

                    <i class="icon-trash"  {{action removeMessage model.message_id}}></i>                 
                    <i class="icon-pencil" {{action editingCommentData model.message_id model.msg}}></i>

                    {{else}}
                    {{#if controller.isUserself}} 

                    <!--controller.isUserself is used to judge whether it is the page owner who have right to delete every message-->

                    <i class="icon-trash"  {{action removeMessage model.message_id}}></i>                 
                    <i class="icon-pencil" {{action editingCommentData model.message_id model.msg}}></i>            
                    {{/if}}
                    {{/if}}

                    <div id="showMoreComment_{{unbound model.message_id}}" style="display: inline-block; cursor: pointer"  {{action seeMore model.message_id target="controller" on="click"}}>
                        <span style="font-size: 11px;font-weight: bold">&nbsp; reply&nbsp; {{model.replyCount}}</span>
                        <i class="icon-caret-down show-comment_inner" ></i>   
                    </div>
                    <div id="closeComment_{{unbound model.message_id}}"   style="display: none;cursor: pointer" {{action closeMore model.message_id  target="controller" on="click"}}>
                        <span style="font-size: 11px;font-weight: bold">&nbsp; reply &nbsp; {{model.replyCount}}</span>
                        <i class="icon-caret-up show-comment_inner" ></i>
                    </div>

                </div>
            </div>
            <div class="comment-content">
                {{model.msg}}<br>
                {{#if model.isUrl }}
                <div style='margin: 5px auto;max-width: 300px;max-height: 300px;float: left;'>
                    <img {{bindAttr src= model.url}} style="border: 4px solid #fff;"/>
                </div>
                {{/if}}
            </div>
        </div>
    </div>

    <script>
        $(function() {
            var $container = $('#masonry_user_container');
            window.setTimeout(function() {
                $container.masonry();
                $container.masonry('reloadItems');
            }, 200);
        });
    </script>

    {{else}}

    {{render editMessage model}}
    {{/unless}}

    <!--the following comment-frame is used to show the reply box for the second level reply-->
    <div id="messageData_{{unbound model.message_id}}"  style="display: none">
        {{#if model.replyEdit}}
        <div class="reply-comment-frame"  style="">
            <div style="margin:0 auto; padding: 0 45px 15px 0;">
                <a  href="#/users/{{unbound model.user_id}}">
                    <img class="profilepic_comment"  style="float: right; margin: 4px -45px 0 0; margin-top: 0;"{{bindAttr src="controller.commenter_photo_url"}} /> 
                    <div class='user-reply-angle-before'></div>
                    <div class='user-reply-angle-after'></div>
                </a>

                <div class="reply-comment-container" style="width: 382px;height: 32px;">
                    <div style="margin: 0;width: 320px; height: 30px;float: left;">
                        {{view Ember.TextField elementIdBinding="review_id" valueBinding="replyContent" class="no-resize" placeholder="What's up!" }}                                          
                    </div>
                    <div style="float: right;height: 34px;position: relative;">
                        <div  class="message-btn easing" style="width:30px; border-right: 1px solid #ddd; border-left: 1px solid #ddd;"><k class='icon-picture'></k>
                            <div style="opacity:0;position: relative;height:30px;top:-30px;overflow: hidden;"> 
                                {{view HubStar.SingleImageInputButtonView }}
                            </div>
                        </div>
                        {{#if controller.isReply}}
                        <div class="message-btn easing" style='width: 30px;'{{action addReply model.message_id}}>
                             <k class='icon-ok'></k>
                        </div>
                        {{else}}
                        <div class="message-btn easing" style='width: 30px;'>
                            <k class='icon-ok'></k>
                        </div>
                        {{/if}}
                    </div>
                </div>

                <!--please disable the following div when it's got not content-->
                {{#if controller.isUploadPhoto}}
                <div style='width: 380px;max-height: 100px;padding: 10px 12px;text-align: center;background-color: #fff;border-radius: 0 0 3px 3px;border: 1px solid #ddd;border-top: none;'>
                    <div class='remove-comment-photo easing' ><i class="icon-remove"></i></div>
                    <img  {{bindAttr src= "newStyleImageSource"}}  style="max-height: 80px;max-width: 300px">
                </div>
                {{/if}}
            </div>
        </div>
        {{/if}}
        <!--output each the second level reply-->
        {{#each  model.replyMessageCollection}} 
        {{#unless this.enableToEdit}}
        <div class="your-relpy">
            <a class="your-relpy_profilepic" href="#/users/{{unbound this.user_id}}">
                <img class="profilepic_comment"  {{bindAttr src= this.photo_url_large}} />
            </a>
            <div style="">
                <div class="comment-namentime">
                    <div class="namentime_position">
                        {{#if this.isUserself}}
                        <div class="reply-comment" style="left: 40px;right: initial;">
                            <i class="icon-trash"  {{action removeReply this.reply_id}}></i>
                            <i class="icon-pencil" {{action editingReplyData this.reply_id this.msg}}></i>
                        </div>
                        {{else}}
                        {{#if controller.isUserself}}
                        <div class="reply-comment" style="left: 40px;right: initial;">                        
                            <i class="icon-trash"  {{action removeReply this.reply_id}}></i>
                            <i class="icon-pencil" {{action editingReplyData this.reply_id this.msg}}></i>
                        </div>
                        {{/if}}
                        {{/if}}
                        <a class="comment-username"  href="#/users/{{unbound this.user_id}}">
                            {{this.user_name}}    
                        </a>
                        <div class="posttime-container">
                            <span class="posttime">{{date this.time_stamp}}</span>
                        </div>
                    </div>
                </div>
                <div class="comment-content">
                    {{this.msg}}<br>
                    {{#if this.isUrl }}   <!-- if the isUrl is not null which mean it has the picture url, so it can show the image-->
                    <div style='margin: 5px auto;max-width: 300px;max-height: 300px;float: right;'>
                        <img {{bindAttr src= this.url}} style="border: 4px solid #fff;"/>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
        {{else}}

        {{render editReply this}}
        {{/unless}}
        {{/each}}         
    </div>

</div>
<script>
    $(function() {
        var $container = $('#masonry_user_container');
        window.setTimeout(function() {
            $container.masonry();
            $container.masonry('reloadItems');
        }, 200);
    });
</script>

