<div class="box col2 message-bg" >
    {{#unless model.enableToEdit}}
    <div class="message-topreply">
        <div class="message-modify">
            {{#if model.isUserself}} <!--model.isUserself is used to judge whether the reply message is written by the current login user-->

            <span class="hint--bottom hint--rounded message-deleteicon" data-hint="Remove Post">
                <i class="fa fa-trash-o"  {{action removeMessageItem model.message_id}}></i>
            </span>                 
            <span class="hint--bottom hint--rounded cursor-pointer" data-hint="Edit Post">
                <i class="fa fa-pencil"  {{action editingCommentData model.message_id model.msg}}></i>
            </span>

            {{else}}
            {{#if controller.isUserself}} 
            <!--controller.isUserself is used to judge whether it is the page owner who have right to delete every message-->
            <span class="hint--bottom hint--rounded message-deleteicon" data-hint="Remove Post">
                <i class="fa fa-trash-o" {{action removeMessageItem model.message_id}}></i>    
            </span>
            {{/if}}
            {{/if}}
        </div>
        <div class="radius-circle message-profileimg" >
            <img class="profilepic_comment" href="#/users/{{unbound model.user_id}}" {{bindAttr src= model.photo_url_large}} /> 
        </div>

        <div class="comment-namentime message-title" >
            <div class="namentime_position">
                <a class="comment-username"   href="#/users/{{unbound model.user_id}}">
                    {{model.user_name}}
                </a>
                <div class="posttime-container">
                    <span class="posttime">{{date model.time_stamp}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="comment-content message-content-imgContainer" >
        {{{model.msg}}}
        {{#if model.isUrl }}
        <div class="message-content-imgbox">
            <img {{bindAttr src= model.url}} />
        </div>
        {{/if}}
    </div>
    {{#if model.replyEdit}}
    <div class="reply-comment-frame message-replyedit-container">
        <div class="editreply-innercontainer">
            <a  href="#/users/{{unbound model.user_id}}">
                <img class="profilepic_comment profilepic-comment-img" {{bind-attr src="controller.commenter_photo_url"}} /> 
                <div class="user-reply-angle-before user-reply-angle-before4"></div>
                <div class="user-reply-angle-after user-reply-angle-after4"></div>
            </a>

            <div class="reply-comment-container editreply-reply">
                <div id ="reply_{{unbound model.message_id}}" class="editreply-input">
                    {{view HubStar.SearchRequireTextFieldView valueBinding="replyContent" class="no-resize" placeholder="Add a comment..." }}                                          
                </div>
                <div class="editreply-edit">
                    <div  class="message-btn easing hint--bottom hint--rounded editreply-addimg" data-hint="Add Photo"><i class="fa fa-picture-o"></i>
                        <div class="editreply-imgbtn"> 
                            {{view HubStar.SingleImageInputButtonView }}

                        </div>
                    </div>
                    {{#if controller.isReply}}
                    <div class="message-btn easing hint--bottom hint--rounded editreply-reply-w" data-hint="Post" {{action addReply model.message_id}}>
                         <i class="fa fa-check" ></i>
                    </div>
                    {{else}}

                    <div class="message-btn easing editreply-reply-w" >
                        <i class="spinner spinner-sml"></i>
                    </div>
                    {{/if}}


                </div>
            </div>

            <!--please disable the following div when it"s got not content-->
            {{#if controller.isUploadPhoto}}
            <div class="upload-img">
                <div class="remove-comment-photo easing" {{action removePic}}><i class="fa fa-times"></i></div>
                <img  {{bind-attr src= "newStyleImageSource"}} >
            </div>
            {{/if}}
        </div>
    </div> 
    {{/if}}

    <div id="messageData_{{unbound model.message_id}}"  class="display-none">
        <div id="messageScrollBar_{{unbound model.message_id}}">
            {{#each  model.replyMessageCollection}} 
            {{#unless this.enableToEdit}}
            <div class="your-reply message-post-reply" >
                <a class="your-relpy_profilepic" href="#/users/{{unbound this.user_id}}">
                    <img class="profilepic_comment"  {{bindAttr src= this.photo_url_large}} />
                </a>
                <div class="message-replytimename">
                    <div class="comment-namentime">
                        <div class="namentime_position">
                            {{#if this.isUserself}}
                            <div class="reply-comment message-post-action" >
                                <span class="hint--bottom hint--rounded" data-hint="Delete"><i class="fa fa-trash-o"  {{action removeReplyItem this.reply_id}}></i></span>
                                <span class="hint--bottom hint--rounded" data-hint="Edit"><i class="fa fa-pencil" {{action editingReplyData this.reply_id this.msg}}></i></span>
                            </div>
                            {{else}}
                            {{#if controller.isUserself}}
                            <div class="reply-comment message-post-action" >   
                                <span class="hint--bottom hint--rounded" data-hint="Delete"><i class="fa fa-trash-o"  {{action removeReplyItem this.reply_id}}></i></span>
                                <!--                            <span class="hint--bottom hint--rounded" data-hint="Edit"><i class="fa fa-pencil" {{action editingReplyData this.reply_id this.msg}}></i></span>-->
                            </div>
                            {{/if}}
                            {{/if}}
                            <a class="comment-username"  href="#/users/{{unbound this.user_id}}">
                                {{this.user_name}}    
                            </a>
                            <div class="posttime-container">
                                <span class="posttime">{{date this.time_stamp}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="comment-content">
                        {{this.msg}}<br>
                        {{#if this.isUrl }}   <!-- if the isUrl is not null which mean it has the picture url, so it can show the image-->
                        <div class="message-post-img">
                            <img {{bindAttr src= this.url}}/>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{else}}
            {{render "editReply" this}}
            {{/unless}}
            {{/each}}     
        </div>
    </div>
     {{#if model.replayCountZero }}
    <div class="hover-opacity easing show-all-comment-box" >  
        <div id="showMoreComment_{{unbound model.message_id}}" class="all-comment-show" {{action seeMore model.message_id target="controller" on="click"}}>
            <span class="all-comment-indicator-txt" >view comment &nbsp; {{model.replyCount}}</span>
            <i class="fa fa-caret-down show-comment_inner" ></i>   
        </div>
        <div id="closeComment_{{unbound model.message_id}}" class="all-comment-hide" {{action closeMore model.message_id  target="controller" on="click"}}>
            <span class="all-comment-indicator-txt" >Hide comment &nbsp; {{model.replyCount}}</span>
            <i class="fa fa-caret-up show-comment_inner" ></i>
        </div>
    </div>
     {{/if}}

    {{else}}

    {{render "editMessage" model}}
    {{/unless}}
</div>

    {{#if controller.makeSureDelete}}

    {{view HubStar.DeleteFunctionView}}


    {{/if}}