



<div class="Message-Board box" style="">


    <div class="create-conversation easing hint--left hint--rounded" data-hint="Notifications" {{action selectNotification controller.id}}>
         <i class="fa fa-bell"></i>
        {{#if isUnReadCountZero}}
        <div style="cursor: pointer;position: absolute;top: 20px;left: 15px;width: auto;padding: 0 5px 0 4px;height: 15px;background-color: red;line-height: 15px;border-radius: 2px;font-size: 11px;font-weight: bold;color: white;">{{unReadCount}}</div>
        {{/if}}
    </div>
    <div style="background-color: #f3f3f3; width:100%;height: 70px; border-bottom: 1px solid #ddd;padding: 0 20px;">
        <div style="color: #555;font-size: 18px;line-height: 70px;font-weight: bold;float: left;" ><i class="fa fa-envelope" >&nbsp;&nbsp;&nbsp;</i>Message Centre</div>
        <div class="create-conversation easing hint--left hint--rounded" data-hint="Start a new conversation" {{action selectNewConversation}}><i class="fa fa-plus"></i></div>
    </div>

    <div class="Message-menu-messages-container" >

        {{render conversation }}

    </div>
</div>




{{#if isNotification}}     
{{render notification}}
{{/if}}

{{#if isNewConversation}}
{{render newConversation}}
{{/if}}

{{#if isConversationItem}}
{{render conversationItem}}
{{/if}}
