
<div class="blur_black navigator-blurblack" {{action closeDropdownNavigator on="click" target="controller"}}>&nbsp;</div>
<div class="Navigator-box navigator-container">
    <div class="navigator-titleContainer uppermenu">
          <i class="fa fa-list searchbar-listIcon categories"></i>
        <span class="navigator-title">Categories</span>

    </div>
     
    <div class="Navigator-content">
        <div class="navigator-topic" >
            <ul class="navigator-topic-content">
                {{#each controller.categorys}}
                {{type1}}
                {{#if display}}
                <li id="navigator_id_{{unbound this.ids}}" class="" {{action topicSelection this}}> {{topic}}<i class="fa fa-search" {{action topicSearch topic}} ></i></li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
          
        <div id ="category_topic" class="navigator-topic3 navigator-topic2">

            {{#each  controller.subcate}}
            <ul class="navigator-topic-content">
                <li id="navigator_id1_{{unbound this.ids}}" {{action searchTopicSelection subcategories ids}}> {{category_topic}}<i class="fa fa-search" {{action topicSearch category_topic}} ></i></li>
            </ul>
            {{/each}}
        </div>

        <div id="search_topic" class="navigator-topic navigator-topic2" >
            {{#each  controller.subcategories}}

            <ul class="navigator-topic-content">
                <li {{action topicSearch search_topic}} > {{search_topic}} </li>
            </ul>
            {{/each}}
        </div>
    </div>

    <div class="Navigator_links" >
        <div class="navigator-footer-left">
            <span><a target="blank" href="http://about.trendsideas.com/">About</a></span>
            <span><a target="blank" href="http://about.trendsideas.com/business/">Business</a></span>
            <span><a target="blank" href="http://about.trendsideas.com/learning-centre/">Learning Centre</a></span>
            <span><a target="blank" href="http://about.trendsideas.com/contact-us/">Contact us</a></span>
        </div>
        <div class="navigator-footer-right">
             v.<span id="lastidentifie">2.3.05</span>            

            <span><a target="blank" href="http://about.trendsideas.com/terms-of-use-agreement/">Terms of Use</a></span>
            <span><a target="blank" href="http://about.trendsideas.com/privacy-policy/">Privacy Policy</a></span>
        </div>
    </div>
</div>

<script>
    $(function() {
        $("#category_topic").mCustomScrollbar({
            scrollButtons: {
                enable: false,
                scrollSpeed: "auto"
            },
            advanced: {
                updateOnBrowserResize: true,
                updateOnContentResize: true,
                autoScrollOnFocus: false,
                normalizeMouseWheelDelta: false
            },
            autoHideScrollbar: true,
            mouseWheel: true,
            theme: "dark-2",
            set_height: 388
        });
    });
</script>
