

<div class="blur_black" style="background-color: initial"  {{action closeDropdownNavigator on="click" target="controller"}}>&nbsp;</div>
<div class="Navigator-box" style="">
    <div style="background-color: #f3f3f3; height: 45px; line-height: 45px;width: 100%; border-bottom: 1px solid #ddd;padding: 0 15px;border-radius: 3px 3px 0 0;">
        <span style="font-size: 18px;font-weight: bold;color: #555;">Navigator</span>

    </div>
   
     <div class="switch-container">
            <div id="Residential" style="display: inline-block;font-weight: bold;font-size: 13px;vertical-align: baseline;cursor:pointer;" {{action residential on="click" target="view"}}>Residential</div>
            <div  id="switchbar" class="insetbox-shadow switch-groove" style="display: inline-block;cursor:pointer;" >
                <div style="height: 10px;width: 50%;border-right: 1px solid rgba(0,0,0,.3);float: left;margin: 6px 0;"></div>
                <div style="height: 10px;width: 50%;border-left: 1px solid rgba(255,255,255,.5); float: right;margin: 6px 0;"></div>

                <div id="switchbarBtn" class="radius-circle gradient1 switch-btn" style="margin-left: 13px"></div>

            </div>
            <div id="Commercial" style="display: inline-block;font-weight: bold;font-size: 13px;vertical-align: baseline;cursor:pointer;" {{action commercial on="click" target="view"}}>Commercial</div>
        </div>
    
    <div class="Navigator-content" style="">
        <div class="" style="width: 33%;height: 100%;float: left;padding: 8px 0;overflow: auto">
            <ul style="margin:0">
                {{#each controller.categorys}}
                {{type1}}
                {{#if display}}
                <li id="navigator_id_{{unbound this.ids}}" class="" {{action topicSelection this}}> {{topic}}<i class="fa fa-search" {{action topicSearch topic}} ></i></li>
                {{/if}}
                {{/each}}
            </ul>
        </div>



        <div id ="category_topic" style="width: 33.5%;height: 100%;border-left: 1px solid #ddd; border-right: 1px solid #ddd;float: left;padding: 8px 0;overflow: auto">


            {{#each  controller.subcate}}

            <ul style="margin:0">
                <li id="navigator_id1_{{unbound this.ids}}" {{action searchTopicSelection subcategories ids}}> {{category_topic}}<i class="fa fa-search" {{action topicSearch category_topic}} ></i></li>

            </ul>
            {{/each}}
        </div>

        <div id="search_topic" style="width: 33.5%;height: 100%;float: left;padding: 8px 0;overflow: auto">
            {{#each  controller.subcategories}}

            <ul style="margin:0">
                <li {{action topicSearch search_topic}} > {{search_topic}} </li>

            </ul>
            {{/each}}
        </div>


    </div>

    <div class="Navigator_links" style="">
        <div style="float: left">
            <span><a target="blank" href="http://about.trendsideas.com/">About</a></span>
            <span><a target="blank" href="http://about.trendsideas.com/business/">Business</a></span>
            <span><a target="blank" href="http://about.trendsideas.com/learning-centre/">Learning Centre</a></span>
            <span><a target="blank" href="http://about.trendsideas.com/contact-us/">Contact us</a></span>
        </div>
        <div style="float: right">
             ver. 
            <span id="lastidentifie">0.4-156</span>
            <span><a target="blank" href="http://about.trendsideas.com/terms-of-use-agreement/">Terms of Use</a></span>
            <span><a target="blank" href="http://about.trendsideas.com/privacy-policy/">Privacy Policy</a></span>
        </div>
    </div>
</div>




<script>
    $(function() {
        $("#category_topic").mCustomScrollbar({
            scrollButtons: {
                enable: false,
                scrollSpeed: "auto"
            },
            advanced: {
                updateOnBrowserResize: true,
                updateOnContentResize: true,
                autoScrollOnFocus: false,
                normalizeMouseWheelDelta: false
            },
            autoHideScrollbar: true,
            mouseWheel: true,
            theme: "dark-2",
            set_height: 388
        });
    });


</script>