

<div class="blur_black" style="background-color: initial"  {{action dropdownNavigator on="click" target="controller"}}>&nbsp;</div>
<div class="Navigator-box" style="">
    <div style="background-color: #f3f3f3; height: 35px; line-height: 35px;width: 100%; border-bottom: 1px solid #ddd;padding: 0 15px;border-radius: 3px 3px 0 0;"><span style="font-size: 18px;font-weight: bold;color: #555;">Navigator</span></div>

    <div id="navigator-content" class="Navigator-content" style="">
        

                <ul class="secondList" >
                    <li>&nbsp;</li>
                    <div id="shuai" style="width: 120%; height: 150%; position: absolute;margin-left: -20px; margin-top: -155px; z-index: -1;"></div>
                    {{#each controller.categorys}}

                    <li> <span><a href="#" {{action topicSearch topic}} > {{topic}}</a></span>
                        <ul>
                            <li>&nbsp;</li>
                  
                            <div id="shuai1" style="width: 120%; height: 150%; position: absolute;margin-left: -20px; margin-top: -80px;  z-index: -1;"></div>
                            {{#each subcate}}
                            <li> <span><a href="#" {{action topicSearch category_topic}} > {{category_topic}}</a></span>
                                <ul>
                                    <li>&nbsp;</li>
                                    <div id="shuai2" style="width: 140%; height: 150%; position: absolute;margin-left: -20px; margin-top: -70px;  z-index: -1;"></div>
                                    {{#each subcategories}}
                                    <li class="search_topic"> <a href="#" {{action topicSearch search_topic}} >{{search_topic}}</a></li>


                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
          


    </div>

    <div class="Navigator_links" style="">
        <div style="float: left">
            <span><a target="blank" href="http://about.trendsideas.com/">About</a></span>
            <span><a target="blank" href="http://about.trendsideas.com/business/">Business</a></span>
            <span><a target="blank" href="http://about.trendsideas.com/learning-centre/">Learning Centre</a></span>
            <span><a target="blank" href="http://about.trendsideas.com/contact-us/">Contact us</a></span>
        </div>
        <div style="float: right">
            <span><a target="blank" href="http://about.trendsideas.com/terms-of-use-agreement/">Terms of Use</a></span>
            <span><a target="blank" href="http://about.trendsideas.com/Privacy-policy/">Privacy Policy</a></span>
        </div>
    </div>
</div>



<script>
    
       $("#navigator-content > ul > li >span").hover(function() {
                    $("#navigator-content > ul > li").not(this).removeClass('sidebar-hover');
                });
                $("#navigator-content > ul > li> ul ").hover(function() {
                    $(this).parent().addClass("sidebar-hover");
                });
    
    
    $(function() {
        $("#category_topic").mCustomScrollbar({
            scrollButtons: {
                enable: false,
                scrollSpeed: "auto"
            },
            advanced: {
                updateOnBrowserResize: true,
                updateOnContentResize: true,
                autoScrollOnFocus: false,
                normalizeMouseWheelDelta: false
            },
            autoHideScrollbar: true,
            mouseWheel: true,
            theme: "dark-2",
            set_height: 388
        });
    });
</script>