{{#if isInvitePeople}}       
{{render "invitePeople" null}}      
{{/if}}
<div class="Message-Board box">
    <div class="conversation-msg-title-box">
        <div class="conversation-msg-title">
             <a><img class="profilepic_comment conversation-msg-img" {{bind-attr src= controller.commenter_photo_url}} /> </a>
            &nbsp;Conversation
        </div>
        <div class="create-conversation easing hint--left hint--rounded" data-hint="Invite friends to this conversation!" {{action invitePeople id}}>
             <span class="invitepeople-action-span">
                <i class="fa fa-user"></i>
                <i class="fa fa-plus invitepeople-action-plus"></i>
            </span>
        </div>
    </div>
 

    {{#if isAdded}}
    <div class="comment-follower-contatiners2">
        {{#each  contentFollowerPhoto}}
        {{#if this.isAdd}}
        <div class="invite-friend" {{action addToList id}} data-hint="{{unbound this.name}}">
             <div class="invite-this-friend radius-circle easing invitepeople-isadded"><i class="fa fa-minus" ></i></div>
            <img class="profilepic_comment radius-circle message-profile-img" {{bind-attr src= this.photo_url}} />                
        </div>
        {{/if}}
        {{/each}}
    </div>
    {{/if}}


    <div  class="message-comment-container">
        <div class="message-input-box">
            <a>
                <img class="profilepic_comment message-input-img" {{bind-attr src= controller.commenter_photo_url}} /> 
                <div class="user-says-angle-before"></div>
                <div class="user-says-angle-after"></div>
            </a>

            <div class="post-comment-container">
                <div class="post-input">
                    {{view Ember.TextArea valueBinding="messageContent" class="no-resize" placeholder="Write something..." }}                                          
                </div>
                {{#if controller.isUploadPhoto}}
                <div class="post-upload">
                    <div class="remove-comment-photo easing" {{action removePic }}><i class="fa fa-times"></i></div>
                    <img {{bind-attr src= "newStyleImageSource"}} >
                </div>
                {{/if}}
                <div class="post-action-container">
                    <div  class="message-btn easing post-addphoto" style=""><i class='fa fa-picture-o'>&nbsp;</i>Add Photo
                        <div class="post-addphoto-txt"> 
                            {{view HubStar.SingleImageInputButtonView }}
                        </div>
                    </div>
                     {{#if controller.isPosting}}
                    <div class="message-btn easing" style=''{{action addComment}}><i class='fa fa-check'>&nbsp;</i>Send</div>
                    {{else}}
                    <div class="message-btn-x easing" style=''><i class="spinner">&nbsp;</i>Posting </div>
                    {{/if}}
                    
                </div>

            </div>

        </div>
    </div>


</div>

