{{#if isInvitePeople}}       
{{render invitePeople}}      
{{/if}}
<div class="Message-Board box" style="width: 545px; margin: 10px; border-radius:5px; overflow: hidden; background-color: rgb(255, 255, 255); top: 0px; left: 0px;">
    <div style="background-color: #f3f3f3; width:100%;height: 70px; border-bottom: 1px solid #ddd;padding: 0 20px;">
        <div style="color: #555;font-size: 18px;line-height: 70px;font-weight: bold;float: left;" data-hint="{{unbound this.name}}>
            <a><img class="profilepic_comment"  style="float: left; margin: 12px; box-shadow: 0 0 3px #888;border: 1px solid #f3f3f3;width: 45px;height: 45px;" {{bindAttr src= controller.commenter_photo_url}} /> </a>
            &nbsp;Conversation
        </div>
        <div class="create-conversation easing hint--left hint--rounded" data-hint="Invite friends to this conversation!" style=""{{action invitePeople}}><i class="icon-smile"></i></div>
    </div>


    {{#if isAdded}}
    <div style="position: relative; width: 100%;min-height: 100px;padding: 10px  15px;">
        {{#each  contentFollowerPhoto}}
        {{#if this.isAdd}}
        <div class="invite-friend"  style="" {{action addToList id}} data-hint="{{unbound this.name}}">
             <div class="invite-this-friend radius-circle easing" style="opacity: .8;"><k class="icon-minus" ></k></div>
            <img class="profilepic_comment radius-circle"  style=" box-shadow: 0 0 3px #888;border: 1px solid #f3f3f3;width: 45px;height: 45px;" {{bindAttr src= this.photo_url}} />                
        </div>
        {{/if}}
        {{/each}}
    </div>
    {{/if}}


    <div  style="width: 100%;padding: 20px 6.5%;margin: 0 auto;overflow: hidden;border-bottom: 1px solid #ddd;">
        <div style="margin:0 auto; padding: 0 0 0 45px;">
            <a>
                <img class="profilepic_comment"  style="float: left; margin: 4px 0 0 -45px; margin-top: 0;" {{bindAttr src= controller.commenter_photo_url}} /> 
                <div class='user-says-angle-before'></div>
                <div class='user-says-angle-after'></div>
            </a>

            <div class="post-comment-container">
                <div   style="margin: 0;width: 100%; height:80px;">
                    {{view Ember.TextArea valueBinding="messageContent" class="no-resize" placeholder="What's up!" }}                                          
                </div>
                {{#if controller.isUploadPhoto}}
                <div style='background-color: rgba(0,0,0,.2);max-width: 100%;max-height: 100px;padding: 10px 12px;text-align: center;'>
                    <div class='remove-comment-photo easing' {{action removePic }}><i class="icon-remove"></i></div>
                    <img  {{bindAttr src= "newStyleImageSource"}}  style="max-width: 100%; max-height: 80px;;">
                </div>
                {{/if}}
                <div class="" style="height: 30px;position: relative;border-top: 1px solid #ddd;top: -1px;">
                    <div  class="message-btn easing" style=" border-right: 1px solid #ddd;"><k class='icon-picture'>&nbsp;</k>Add Photo
                        <div style="opacity:0;position: relative;height:30px;top:-30px;overflow: hidden;"> 
                            {{view HubStar.SingleImageInputButtonView }}
                        </div>
                    </div>
                    <div class="message-btn easing" style=''{{action addComment}}><k class='icon-ok'>&nbsp;</k>Post</div>
                </div>

            </div>

        </div>
    </div>


</div>


<script>
    $(function() {
        var $container = $('#masonry_user_container');
        window.setTimeout(function() {
            $container.masonry();
            $container.masonry('reload');
        }, 10);
    });
</script>