
<div id="user_groups_dropdown_scrollbar">  

    {{#each model}}
    <a   {{action transitionToGroup this.group_id}}> 
        <div>
            <div class="profile-top-image-position" > 
                
                <img {{bind-attr src="this.group_pic_url"}}  style="width:{{unbound this.width}};height:{{unbound this.height}}">                  
            </div>
            <div class="profile-top-name-position">{{this.group_name}}</div> 
        </div>
    </a>
    {{/each}}
</div>