
<div class="blur_black" {{action cancel on="click" target="view"}} style="z-index:11;"></div>



<div class="new-profile-display" >
    <div class="new-profile-display-top">
     
        <div class='new-profile-display-button'><a href="#/profiles/new"><i class="fa fa-plus">&nbsp;New Profile</i></a> </div>
        
        <div class="new-profile-display-title">Profile List</div>
    </div>

    <div id="profiles_display">
        <div id="profile-creator-title" class="title-list title-list-selected" {{action clickToDisplay 'Creator' on="click" target="view"}}> 
             <i class="fa fa-bookmark" style="color: yellow;">&nbsp;</i>Creator &nbsp;(&nbsp;{{HubStar.userCreator}}&nbsp;)
            <div>Creates profiles<i class="fa fa-caret-down fa-caret-up">&nbsp;</i></div>
        </div>
        <div id="profile-creator">
            {{#each model}} 
            {{#if this.isCreator}}
            <div>
                <a href="#/profiles/{{unbound this.profile_id}}">
                    <div  class="profile-image"> 
                        <div class="profile-top-image-position">
                            <img {{bindAttr src="this.profile_pic"}}  style="width:{{unbound widthTop}}; height:{{unbound heightTop}}" >
                        </div>
                        <div class="profile-top-name-position">{{unbound this.profile_name}} </div>
                    </div>
                </a>
            </div>
            {{/if}}
            {{/each}}

        </div>      
        <div id="profile-admin-title" class="title-list " {{action clickToDisplay "Admin" on="click" target="view"}}>
             <i class="fa fa-bookmark" style="color: red;"></i>&nbsp;Administrator &nbsp;(&nbsp;{{HubStar.userAdministrator}}&nbsp;)
            <div>Profile owner / manage editors, contents and tags <i class="fa fa-caret-down">&nbsp;</i></div>
        </div>
        <div id="profile-admin">

            {{#each model}}  
            {{#if this.isAdministrator}}
            <div>
                <a href="#/profiles/{{unbound this.profile_id}}">
                    <div class="profile-image" > 
                        <div class="profile-top-image-position">
                            <img {{bindAttr src="this.profile_pic"}}  style="width:{{unbound widthTop}}; height:{{unbound heightTop}}" >
                        </div>

                        <div class="profile-top-name-position">{{this.profile_name}}</div>

                    </div>
                </a>
            </div>
            {{/if}}
            {{/each}}
        </div>

        <div id="profile-editor-title" class="title-list" {{action clickToDisplay "Editor" on="click" target="view"}}>
             <i class="fa fa-bookmark " style="color: blue;">&nbsp;</i>Editor  &nbsp;(&nbsp;{{HubStar.userEditor}}&nbsp;)
            <div>Manage contents and tags<i class="fa fa-caret-down">&nbsp;</i></div>
        </div>
        <div id="profile-editor">

            {{#each model}}  
            {{#if this.isEditor}}
            <div>
                <a href="#/profiles/{{unbound this.profile_id}}">
                    <div class="profile-image" > 

                        <div class="profile-top-image-position">
                            <img {{bindAttr src="this.profile_pic"}}  style="width:{{unbound widthTop}}; height:{{unbound heightTop}}" >
                        </div>
                        <div class="profile-top-name-position">{{this.profile_name}} </div>
                    </div>
                </a>
            </div>
            {{/if}}
            {{/each}}
        </div>



        <div style="position: absolute; right:20px; top:0; color:#000; font-size:20px;" {{action cancel on="click" target="view"}}><i class='fa fa-times'></i></div>
    </div>

</div>