
<div class="blur_black" {{action cancel on="click" target="view"}} style="z-index:11;"></div>

<div>
   
    <div class="new-profile-display" >
         {{#if model}}
        <div style="width: 100%;height: auto; min-height: 50px;padding-left: 25px;">

            <div style="font-size: 20px;font-weight: bold;color: #555; height: auto; min-height: 50px;vertical-align: middle;display: inline-block;">
                <a href="#/profiles/new"><i class="fa fa-plus">&nbsp;New Profile</I></a>
            </div>
        </div>
        <div style="width: 100%;height: auto; max-height: 50px;padding: 10px 10px;line-height: 10px;margin-left: 15px;">
            <i class="fa fa-bookmark" style="position: relative; font-size: 13px; color: red; display: inline-block; margin-right: 5px;">&nbsp;Administrator</i>
            <i class="fa fa-bookmark" style="position: relative; font-size: 13px; color: blue;display: inline-block; margin-right: 5px;">&nbsp;Editor</i>
            <i class="fa fa-bookmark" style="position: relative;  font-size: 13px; color: gold;display: inline-block">&nbsp;Creator</i>
        </div>

        <div id="profiles_display" style="margin: 5px auto; padding: 0 15px;height: 330px;">
           
            <div id="profiles_display_scrollbar">
                {{#each model}}  
                {{#if this.isAdministrator}}
                <div>
                    <a href="#/profiles/{{unbound this.profile_id}}">
                        <div class="profile-image" > 
                            <i class="fa fa-bookmark profile-bookmark" style="color: red;"></i>
                            <div class="profile-image-position">
                                <img {{bindAttr src="this.profile_pic"}}  style="width:{{unbound width}}; height:{{unbound height}}" >
                            </div>

                            <div class="profile-name-position">{{this.profile_name}}</div>

                        </div>
                    </a>
                </div>
                {{/if}}
                {{#if this.isEditor}}
                <div>
                    <a href="#/profiles/{{unbound this.profile_id}}">
                        <div class="profile-image" > 
                            <i class="fa fa-bookmark profile-bookmark" style="color: blue;"></i>
                            <div class="profile-image-position">
                                <img {{bindAttr src="this.profile_pic"}}  style="width:{{unbound width}}; height:{{unbound height}}" >
                            </div>
                            <div class="profile-name-position">{{this.profile_name}} </div>
                        </div>
                    </a>
                </div>
                {{/if}}
                {{#if this.isCreator}}
                <div>
                    <a href="#/profiles/{{unbound this.profile_id}}">
                        <div  class="profile-image"> 
                            <i class="fa fa-bookmark profile-bookmark" style="color: gold;"></i>
                            <div class="profile-image-position">
                                <img {{bindAttr src="this.profile_pic"}}  style="width:{{unbound width}}; height:{{unbound height}}" >
                            </div>
                            <div class="profile-name-position">{{unbound this.profile_name}} </div>
                        </div>
                    </a>
                </div>
                {{/if}}
                {{/each}}
            </div>
        
        </div>
        {{else}}
            <div style="text-align: center; line-height: 420px;">

            <div style="font-size: 20px;font-weight: bold;color: #555; height: auto; min-height: 50px;vertical-align: middle;display: inline-block;">
                <a href="#/profiles/new"><i class="fa fa-plus">&nbsp;Please create your new Profiles</I></a>
            </div>
        </div>
            {{/if}}
 <div style="position: absolute; right:20px; top:0; color:#000; font-size:20px;" {{action cancel on="click" target="view"}}><i class='fa fa-times'></i></div>
    </div>
       
    
</div>