
<div class="blur_black" {{action cancel on="click" target="view"}}></div>

<div style="margin:0 auto; padding: 0 0 15px 15px;">


    <div class="Add-review" style="">
        <div style="width: 100%;height: auto; min-height: 50px;padding: 10px 23px;">
            
            <div style="font-size: 18px;font-weight: bold;color: #555; height: auto; min-height: 50px;vertical-align: middle;display: inline-block;width: 390px;">
                <a href="#/profiles/new}}"><i class="fa fa-plus">&nbsp; NEw Profile  </I></a>
            </div>
        </div>


        <div style="margin: 5px auto; padding: 0 15px;height: 200px;">
              {{#each view.profiles}}           
            <div style="height:150px; max-width:150px;  padding:10px;position:relative; float:left; line-height: 0px;" data-hint="{{unbound this.profile_name}}"> 
                <a href="#/profiles/{{unbound this.profile_id}}"><img {{bindAttr src="this.profile_pic"}}  style="width:100%;" ></a>
<!--              <div style=" color: #555; margin: 5px;">{{this.profile_name}}</div>                 -->
            </div>

            {{/each}}
        </div>

        <div class="" style="height: 41px;position: absolute;border-top: 1px solid #ddd;bottom: 0;width: 100%;">
            <div class="message-btn easing" style="width: 100%;" {{action cancel on="click" target="view"}}><i class='fa fa-check'>&nbsp;</i>Cancel</div>
        </div>


    </div>
</div>