
<div class="blur_black" {{action cancel on="click" target="view"}} style="z-index:11;"></div>



<div class="new-profile-display" >
    <div class="new-profile-display-top">
        <div><a href="#/profiles/new"><i class="fa fa-plus">&nbsp;New Profile</i></a> </div>
        <div class="new-profile-display-title">Profile List</div>
    </div>

    <div id="profiles_display">
        <div class="title-list"><i class="fa fa-plus">&nbsp;Creator</i></a> </div>
        <div id="profile-creater">
                {{#each model}} 
                {{#if this.isCreator}}
                <div>
                    <a href="#/profiles/{{unbound this.profile_id}}">
                        <div  class="profile-image"> 
                            <div class="profile-top-image-position">
                                <img {{bindAttr src="this.profile_pic"}}  style="width:{{unbound width}}; height:{{unbound height}}" >
                            </div>
                            <div class="profile-top-name-position">{{unbound this.profile_name}} </div>
                        </div>
                    </a>
                </div>
                {{/if}}
                {{/each}}

        </div>
        <div class="title-list"><i class="fa fa-plus">&nbsp;Administrator</i></a> </div>
        <div id="profile-admin">

            {{#each model}}  
            {{#if this.isAdministrator}}
            <div>
                <a href="#/profiles/{{unbound this.profile_id}}">
                    <div class="profile-image" > 
                        <i class="fa fa-bookmark profile-bookmark" style="color: red;"></i>
                        <div class="profile-top-image-position">
                            <img {{bindAttr src="this.profile_pic"}}  style="width:{{unbound width}}; height:{{unbound height}}" >
                        </div>

                        <div class="profile-top-name-position">{{this.profile_name}}</div>

                    </div>
                </a>
            </div>
            {{/if}}
            {{/each}}
        </div>
        <div class="title-list"><i class="fa fa-plus">&nbsp;Editor</i></a> </div>
        <div id="profile-editor">

            {{#each model}}  
            {{#if this.isEditor}}
            <div>
                <a href="#/profiles/{{unbound this.profile_id}}">
                    <div class="profile-image" > 
                        <i class="fa fa-bookmark profile-bookmark" style="color: blue;"></i>
                        <div class="profile-top-image-position">
                            <img {{bindAttr src="this.profile_pic"}}  style="width:{{unbound width}}; height:{{unbound height}}" >
                        </div>
                        <div class="profile-top-name-position">{{this.profile_name}} </div>
                    </div>
                </a>
            </div>
            {{/if}}
            {{/each}}
        </div>



        <div style="position: absolute; right:20px; top:0; color:#000; font-size:20px;" {{action cancel on="click" target="view"}}><i class='fa fa-times'></i></div>
    </div>

