<div class="blank-top-bar" {{action notificationCancel on="click" target="controller"}}>&nbsp;</div>
<div  class="Notification-Board Notification-top notificationtop-container" >

    {{#if controller.loadingTime}}
    <div class="notificationtop-loading">
        <i class="spinner">&nbsp;</i>
    </div>
    {{/if}} 
    <div class="notificationtop-titleContainer">
        <div class="notificationtop-title"><i class="fa fa-bell">&nbsp;&nbsp;&nbsp;</i>Notifications</div>
        <div class="create-conversation easing hint--left hint--rounded notificationtop-makeRead" data-hint="Set all as read" {{action markAllRead}}>
             <i class="fa fa-th-list"></i>
        </div>
    </div>

    <div id="notifitopbar" class="notificationtop-txtContainer">
        {{#each controller.notificationTopContent}}
        {{#if this.isRead}}

        <div class="each-conversation easing notificationtop-txt-height" >
            <div class="notificationtop-innertxt"{{action go this.notification_id}}>
                 <a class="notificationtop-imgbox" >
                    <img {{bind-attr src= this.photo_url}} /> 

                </a>
                <div>
                    <div class="comment-namentime">
                        <div class="notificationtop-txt-title" >
                            <span class="comment-username" >
                                {{this.name}}
                            </span>
                            <span class="notificationtop-txt-type"> {{this.typeDisplay}}</span>               

                        </div>
                    </div>

                     <div class="comment-content notificationtop-txtbox" >
                        <span class="notificationtop-txt">
                            {{#unless this.isTag}}
                            {{this.content}}
                            {{/unless}}
                        </span>
                    </div>
                    <div class="posttime-container"> 
                        <span class="posttime notificationtop-txt-time" >{{date this.time}}</span>
                    </div>

                </div>
            </div>
            <div class="reply-comment easing notificationtop-reply">  
                <i class="fa fa-check-circle"></i>                 
                <i class="fa fa-times-circle" {{action removeNotificationItem this.notification_id}}></i>
            </div>
        </div>
        {{else}}

        <div class="each-conversation easing unread-style notificationtop-txt-height" >
            <div class="notificationtop-innertxt" {{action go this.notification_id}}>
                 <a class="notificationtop-imgbox" {{bind-attr href="controller.photo_url"}}>
                    <img {{bind-attr src= this.photo_url}} /> 

                </a>
                <div>
                    <div class="comment-namentime">
                        <div class="notificationtop-txt-title" >
                            <span class="comment-username" >
                                {{this.name}}
                            </span>
                            <span class="notificationtop-txt-type"> {{this.typeDisplay}}</span>               
                        </div>
                    </div>

                    <div class="comment-content notificationtop-txtbox" >
                        <span class="notificationtop-txt">
                            {{#unless this.isTag}}
                            {{this.content}}
                            {{/unless}}
                        </span>
                    </div>

                    <div class="posttime-container">
                        <span class="posttime notificationtop-txt-time" >{{date this.time}}</span>
                    </div>

                </div>
            </div>
            <div class="reply-comment easing notificationtop-reply" > 
                <i class="fa fa-check-circle  " {{action markRead this.notification_id}}></i>                 
                <i class="fa fa-times-circle" {{action removeNotificationItem this.notification_id}}></i>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
    <div class="notificationtop-moreContainer">
        <div class="notificationtop-more">   <i class="cursor-pointer" {{action seeAll}}>  See all</i>  </div>
    </div>
</div> 
{{#if controller.makeSureDelete}} 

{{view HubStar.DeleteFunctionView}}

{{/if}}
