{{#if controller.loadingTime}}

{{render "loadingSpinner"}}

{{/if}}
<div class="Notification-Board box Message-Board" >
    <div class="messagecenter-container">
        <div class="messagecenter-title"><i class="fa fa-bell">&nbsp;&nbsp;&nbsp;</i>Notifications</div>
        <div class="create-conversation easing hint--left hint--rounded" data-hint="Set all as read" {{action markAllRead}}>
             <i class="fa fa-th-list"></i>
        </div>
    </div>
    <div  id="content_notification" >
        {{#each controller.notificationContent}}
        {{#if this.isRead}}

        <div class="each-conversation easing">

            <div class="notification-content" {{action go this.notification_id}}>
                 <a {{bind-attr href="controller.photo_url"}}>
                    <img {{bind-attr src= this.photo_url}} /> 

                </a>
                <div>
                    <div class="comment-namentime">
                        <div class="namentime_position">
                            <span class="comment-username" >
                                {{this.name}}
                            </span>
                            <span class="notification-name"> {{this.typeDisplay}}</span>
                            <div class="posttime-container">
                                <span class="posttime">{{date this.time}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="comment-content notification-context">
                        <span>
                            {{#unless this.isTag}}
                            {{this.content}}
                            {{/unless}}
                        </span>
                    </div>
                </div>
            </div>
           
            {{#if this.isButton}}
             {{#if this.isTag}}
            <div class="reply-comment easing notification-preview-tag" >                 
                <span class="new-btn blue-btn" {{action viewPhoto this.action_id}}><i class="fa fa-picture-o"> &nbsp;</i>Preivew Tag</span>
            </div>
            {{/if}}
            <div class="reply-comment easing notification-buttons" >  
                <span class="new-btn green-btn "  {{action accept this.notification_id this.type}}><i class="fa fa-check"> &nbsp;</i>Accept</span>
                <span class="new-btn" {{action decline this.notification_id this.type}}><i class="fa fa-times"> &nbsp;</i>Decline</span>


            </div>
            <div class="reply-comment easing notification-edit-buttons">  
                <i class="fa fa-check-circle" ></i>                 
                <i class="fa fa-times-circle"{{action deleteNotification this.notification_id}}></i>
            </div>
            {{else}}
            {{#if this.isTag}}

            <div class="reply-comment easing notification-preview-tag" >                 
                <span class="new-btn blue-btn" {{action viewPhoto this.action_id}}><i class="fa fa-picture-o"> &nbsp;</i>Preivew Tag</span>

            </div>
            {{/if}}
            <div class="reply-comment easing notification-edit-buttons-before" >  
                <i class="fa fa-check-circle" ></i>                 
                <i class="fa fa-times-circle"{{action deleteNotification this.notification_id}}></i>
            </div>
            {{/if}}
        </div>

        {{else}}
        <div class="each-conversation easing unread-style">

            <div class="notification-content" {{action go this.notification_id}}>
                 <a  {{bind-attr href="controller.photo_url"}}>
                    <img  {{bind-attr src= this.photo_url}} /> 

                </a>
                <div>
                    <div class="comment-namentime">
                        <div class="namentime_position">
                            <span class="comment-username" >
                                {{this.name}}
                            </span>
                            <span class="notification-name"> {{this.typeDisplay}}</span>
                            <div class="posttime-container">
                                <span class="posttime">{{date this.time}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="comment-content notification-context">
                        <span >
                            {{#unless this.isTag}}
                            {{this.content}}
                            {{/unless}}
                        </span>
                    </div>
                </div>
            </div>
            
            {{#if this.isButton}}
            {{#if this.isTag}}

            <div class="reply-comment easing notification-preview-tag" >                 
                <span class="new-btn blue-btn" {{action viewPhoto this.action_id}}><i class="fa fa-picture-o"> &nbsp;</i>Preivew Tag</span>
            </div>
            {{/if}}
            <div class="reply-comment easing notification-buttons" >                 
                <span class="new-btn green-btn "  {{action accept this.notification_id this.type}}><i class="fa fa-check"> &nbsp;</i>Accept</span>
                <span class="new-btn" {{action decline this.notification_id this.type}}><i class="fa fa-times"> &nbsp;</i>Decline</span>                
            </div>
            <div class="reply-comment easing notification-edit-buttons" >  
                <i class="fa fa-check-circle" {{action markRead this.notification_id}}></i>                 
                <i class="fa fa-times-circle"{{action deleteNotification this.notification_id}}></i>
            </div>
            {{else}}
            {{#if this.isTag}}
            <div class="reply-comment easing notification-preview-tag" >                 
                <span class="new-btn blue-btn" {{action viewPhoto this.action_id}}><i class="fa fa-picture-o"> &nbsp;</i>Preivew Tag</span>
            </div>
            {{/if}}
            <div class="reply-comment easing notification-edit-buttons-before" >  
                <i class="fa fa-check-circle" {{action markRead this.notification_id}}></i>                 
                <i class="fa fa-times-circle"{{action deleteNotification this.notification_id}}></i>
            </div>

            {{/if}}


        </div>
        {{/if}}
        {{/each}}
    </div>
</div>

<script>

</script>