
<div class="blur_black"  {{action closeUploader}}></div>

<div class="review-wrapper pdfuploader-container" >

    <div class="pdfuploader-add-resource">Add Resource</div>


    {{#view HubStar.SingleFileUploaderView }}
    <div class="t-style-box pdfuploader-inner" >

        <div id="pdfUploaderData" class="pdfuploader-back" >
            <div id="pdfUploaderContent" class="pdfuploader-txtContainer">
                <i class="fa fa-arrow-circle-o-up pdfuploader-icon" ></i>
                <span class="pdfuploader-txt1">
                    Drag & Drop Your PDF Here
                </span>
                
            </div>
        </div>



        <div  id="pdfInformation" >

            {{#each pdfArray}}          



            <div class="pdfuploader-preview-container">

                <div {{bind-attr id="id"}} class="pdfuploader-editing-container">
                    <div class="pdfuploader-editing-preview">
                        <div class="changePDFpic easing hint--right hint--rounded" data-hint="Change Cover" {{action changeCover id}}>
                             <i class="fa fa-plus-circle"></i>     
                        </div>  
                        <img alt=""  {{bind-attr src="pdf_cover_image"}}>
                    </div>
                    <div class="pdfuploader-editing-info">
                        <div class="pdfuploader-title">
                            {{view Ember.TextField valueBinding="controller.pdf_title"  placeholder="file name"}}
                        </div>
                        <div class="pdfuploader-des">
                            {{view Ember.TextArea valueBinding="controller.pdf_desc"  placeholder="file description" class="no-resize"}}
                        </div>

                    </div>
                    

        </div>
    </div>
    {{/each}}
</div>

</div>
{{/view}}

<div class="pdfuploader-action-container" >
    <div class="message-btn easing pdfuploader-action-btn" {{action closeUploader}}>
         Skip  
</div>
<div class="message-btn easing pdfuploader-action-choose" >
    Choose 
    <div class="pdfuploader-action-choose-btn"> {{view HubStar.SingleImageInputButtonView }}</div> 
</div>
<div class="message-btn easing pdfuploader-action-btn" {{action submit}}>
     Submit  
</div>
</div>



</div>
{{#if controller.loadingTime}}

{{render "loadingSpinner"}}

{{/if}}
