
<div class="blur_black"  {{action closeUploader}}></div>

<div class="review-wrapper pdfuploader-container" >

    <div class="pdfuploader-add-resource">Add Resource</div>


    {{#view HubStar.SingleFileUploaderView }}
    <div class="t-style-box pdfuploader-inner" >

        <div id="pdfUploaderData" class="pdfuploader-back" >
            <div id="pdfUploaderContent" class="pdfuploader-txtContainer">
                <i class="fa fa-arrow-circle-o-up pdfuploader-icon" ></i>
                <span class="pdfuploader-txt1">
                    Drag & Drop Your PDF Here
                </span>
                <span class="pdfuploader-txt2">Please upload no more than 20 photos at a time, and maximum size of 20MB per photo.</span> 
            </div>
        </div>



        <div  id="pdfInformation" >
            {{#if controller.loadingTime}}

            {{render loadingSpinner}}

            {{/if}}
            {{#each pdfArray}}          



            <div class="pdfuploader-preview-container">
                <!--                <div id="pdf_id_{{unbound id}}" >
                                    <span class="pdfuploader-preview"{{action modifyDetail pdf_id}}><img alt="Click!" {{bindAttr src="pdf_cover_image"}}></span> 
                                    <span class="pdfuploader-preview pdfuploader-preview-title" {{action modifyDetail id}}>{{pdf_title}}</span>
                                    <span><i class="fa fa-trash-o pdfuploader-trash" style="" {{action deletePdf id}}></i></span> 
                                    <span><i class="fa fa-edit pdfuploader-edit" {{action modifyDetail id}}></i></span>             
                                </div>-->

                <div {{bindAttr id="id"}} class="pdfuploader-editing-container">
                    <div class="pdfuploader-editing-preview">
                        <div class="changePDFpic easing hint--right hint--rounded" data-hint="Change Cover" {{action changeCover id}}>
                             <i class="fa fa-plus-circle"></i>     
                        </div>  
                        <img alt=""  {{bindAttr src="pdf_cover_image"}}>
                    </div>
                    <div class="pdfuploader-editing-info">
                        <div class="pdfuploader-title">
                            {{view Ember.TextField valueBinding="controller.pdf_title"  placeholder="file name"}}
                        </div>
                        <div class="pdfuploader-des">
                            {{view Ember.TextArea valueBinding="controller.pdf_desc"  placeholder="file description" class="no-resize"}}
                        </div>

                    </div>
                    <div class="new-btn blue-btn easing pdfuploader-cancel" {{action cancelDetail id}}>Cancel

                </div>
                <div class="new-btn green-btn easing pdfuploader-save" {{action saveDetail id}}>Save

            </div>
        </div>
    </div>
    {{/each}}
</div>

</div>
{{/view}}

<div class="pdfuploader-action-container" >
    <div class="message-btn easing pdfuploader-action-btn" {{action closeUploader}}>
         Skip  
</div>
<div class="message-btn easing pdfuploader-action-choose" >
    Choose 
    <div class="pdfuploader-action-choose-btn"> {{view HubStar.ImageInputButtonView }}</div> 
</div>
<div class="message-btn easing pdfuploader-action-btn" {{action submit}}>
     Submit  
</div>
</div>



</div>
