<!--
{{#if controller.loadingTime}}

{{render loadingSpinner}}

{{/if}}-->
{{#if controller.collectable}}
{{render addCollection}}
{{/if}}
<div  id ="ssss" class="objectview-wrapper" >

    <div class="objectview-left">

        <div class="top-controlbar easing" >


            {{#if controller.megaResouce.getVideo}}
            <div class="fa icon-on-black hint--rounded hint--bottom top-article" data-hint="Watch this Video" {{action transitionToVideo controller.megaResouce}}>
                 <i class="fa fa-film"></i><span class="pretooltip">Watch</span>
            </div>    
            {{/if}}
            {{#unless controller.enableTag}}
            <div class="fa icon-on-black hint--rounded hint--bottom top-article" data-hint="Save this photo to your own collection." {{action switchCollection on="click" target="controller"}}>
                <i class="fa fa-folder"></i><span class="pretooltip">Save</span>
            </div>
            <div class="fa icon-on-black hint--rounded hint--bottom top-article" data-hint="Share this photo to other social platform." {{action dropdownPhotoSetting "1"}}>
                 <i class="fa fa-share"></i><span class="pretooltip">Share</span> 
            </div>
            {{/unless}}
            {{#if HubStar.tagging_display}}
            {{#unless controller.megaResouce.getArticle}}
            {{#unless controller.megaResouce.getVideo}}
            {{#if controller.isBusinessProfile}}
            {{#if controller.enableTag}}
            <div class="fa icon-on-black hint--rounded hint--bottom top-tag" data-hint="end tagging this photo" {{action endTag}}>
                 <i class="fa fa-tag"></i><span class="pretooltip">EndTag</span> 
            </div>
            {{else}}
            <div class="fa icon-on-black hint--rounded hint--bottom top-tag-acts" data-hint="activate this tag " {{action activateTag}}>
                 <i class="fa fa-tag"></i><span class="pretooltip">Tag</span> 
            </div>
            {{/if}}
            {{/if}}

            {{#if controller.showAllTags}}
            <div class="fa icon-on-black hint--rounded hint--bottom top-tag-acts" data-hint="hide tags this photo" {{action hideTags}}>
                 <i class="fa fa-tag"></i><span class="pretooltip">HideTag</span> 
            </div>
            {{else}}
            <div class="fa icon-on-black hint--rounded hint--bottom top-tag-acts" data-hint="show tag this photo" {{action showTags}}>
                 <i class="fa fa-tag"></i><span class="pretooltip">ShowTag</span> 
            </div>
            {{/if}}
            {{/unless}}
            {{/unless}}
            {{/if}}
            <ul class="hideClass edit-object-ul share-box" id="dropdown_id_1_{{unbound megaResouce.id}}">


                <li class="ite" {{action  fbShare "1"}} >
                    <i class="fa fa-facebook share-type share-type-pos2"></i><span class="share-type-txt2">Facebook</span>
                </li>
                <li class='ite' {{action tShare "1"}} >
                    <i class="fa fa-twitter share-type share-type-pos2"></i><span class="share-type-txt2">Twitter</span>
                </li>
                <li class='ite' {{action pShare "1"}} >
                    <i class="fa fa-pinterest share-type share-type-pos2"></i><span class="share-type-txt2">Pinterest</span>
                </li>
                <li class="ite" {{action gpShare "1"}}>
                    <i class="fa fa-google-plus share-type share-type-pos2"></i><span class="share-type-txt2">Google+</span>
                </li>
            </ul>

            <script type="text/javascript">
                (function(d) {
                    var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
                    p.type = 'text/javascript';
                    p.async = true;
                    p.src = '//assets.pinterest.com/js/pinit.js';
                    f.parentNode.insertBefore(p, f);
                }(document));
            </script>

        </div>

        <div  id="close_photo_wrapper" class="closeview" {{action closeWindow on="click" target="controller"}} >
            <i class="fa fa-times"></i>
            <span id="close_text" class="close_text">close</span>
        </div>

        <div class="mainfeature">
          
            <div  class="previous previous-arrow-box" id ="previousphoto" {{action previesImage on="click" target="view"}}>
                {{#if HubStar.touchDevice}}
                <i id="p" class="arrow-pos arrow-left"></i>
                {{/if}}
            </div>
            <div  class="next next-arrow-box" id ="nextphoto" {{action nextImage on="click" target="view"}}>
                {{#if HubStar.touchDevice}}
                <i id="n" class="arrow-pos arrow-right"></i>
                  {{/if}}
            </div>
          
            </div>
            <!--     image show here-->   
            <div id ="tag_image">
                {{view HubStar.PhotoDisplayAreaView}}

                <!--     show add new  tag template-->   
                {{#if HubStar.tagging_display}}
                {{#if  controller.enableTag}}      
                {{#if controller.inImage}} <!--only when it within the image place can add the tag-->
                {{ render showTag }}
                {{/if}}
                {{/if}}
                {{/if}}

                {{#if controller.megaResouce.getArticle}}

                <div class="click-to-read-hit-area easing" {{action transitionToArticle controller.megaResouce.id}}>
                     <div class="click-to-read-btn easing">
                        <i class="fa fa-book">&nbsp;</i>click to read
                    </div>
                </div>
                {{/if}}

                <!--     show   tag's detail content  template-->   
                <!--              only when is not in the edit tag state and mouse over the tag can show the detail content-->
                {{#if HubStar.tagging_display}}
                {{#unless controller.enableTag}}
                {{#if controller.showEachTagContent }}
                {{  view HubStar.TagContentView }}
                {{/if}}
                {{/unless}}
                <!--     show all the tags--> 
                {{#if controller.showAllTags}} <!--      showOrNot tag-->
                {{#each controller.contentTags}}
                {{view HubStar.TagMouseView}} 
                {{/each}}
                {{/if}}
                {{#if controller.makeSureActivateTag}}
                {{view HubStar.ActivateTagFunctionView}}
                {{/if}}
                {{/if}}
            </div>
        

        <!--THIS IS THE ALBUM BOX-->

        {{view HubStar.ShowAlbumView}}

        <div class="bottom-controlbar easing" >
            <div class="fa icon-on-black left-arrow"  {{action previesImage on="click" target="controller"}}>
                <i class="fa fa-arrow-left"></i>
            </div>
            {{#unless controller.isRead}}
            <div class="fa icon-on-black hint--rounded hint--top middle-icon" data-hint="Show other photos in this collection." {{action popupAibum on="click" target="view"}}>
                <i class="fa fa-th"></i>
            </div>
            {{else}}
            <div  class="spinner-object" >
                <i class="spinner"></i> 
            </div>
            {{/unless}}
            <div class="fa icon-on-black right-arrow" {{action nextImage on="click" target="controller"}}>
                <i class="fa fa-arrow-right"></i>
            </div>
            <div class="text-on-black photo-no"> {{controller.image_no}}/{{content.length}} </div>
        </div>

    </div> 
    <div class="objectview-right">
        <!-- USER SECTION -->
        <div style="cursor: pointer;">
            <div class="object-poster easing" {{action setNameTag on="click" target="view"}}>
                <div class="profilepic-container">
                    <a class="profilepic" href="#/profiles/{{unbound megaResouce.owner_id}}" {{action transitionToProfile megaResouce.owner_id}}><img {{bindAttr src="controller.megaResouce.owner_profile_pic"}} /></a>              
                </div>
                <div class="poster_user" >
                    <a class="poster-name" href="#/profiles/{{unbound megaResouce.owner_id}}" {{action transitionToProfile megaResouce.owner_id}}>{{controller.megaResouce.owner_title}}</a>
                </div>        

                <div class="enquiryBtn-containter message-img">
                    <div class="enquiryBtn-ring"></div>
                    <div class="enquiryBtn easing"{{action editingContactForm }}><i class="fa fa-envelope easing message-img-box"></i></div>
                    <div class="btn-description message-img-txt">MESSAGE</div>
                </div>
            </div>
        </div>



        <!-- OBJECT CONTROLL SECTION -->
        <div  class="collapes-container view-stats-box">
            <div class="collapes-container_inner view-stats-innerbox">
                {{megaResouce.photo_isLike}}

                {{#if megaResouce.isLike}}

                <div  class="square-button hint--rounded hint--bottom"  data-hint="unLike this Idea!" {{action unLike}}>
                      <i class="fa fa-thumbs-up">&nbsp;<span class="view-stats-font">{{megaResouce.likes_count}}</span>&nbsp;</i>
                </div>
                {{else}}
                <div  class="square-button hint--rounded hint--bottom"  data-hint="Like this Idea!" {{action addLike}}>
                      <i class="fa fa-thumbs-up">&nbsp;<span class="view-stats-font">{{megaResouce.likes_count}}</span>&nbsp;</i>
                </div>
                {{/if}}
                <div class="square-button hint--rounded hint--bottom"  data-hint="Add to your own collection." {{action switchCollection on="click" target="controller"}}>
                    <i class="fa fa-folder" >&nbsp;<span class="view-stats-font">{{megaResouce.save_count}}</span>&nbsp;</i>
                </div>

                <div class="square-button hint--rounded hint--bottom for-tooltip-position share-box2" data-hint="Share this photo to other social platform" {{action dropdownPhotoSetting "2"}}>
                     <i class="fa fa-share" >&nbsp;<span class="view-stats-font">{{megaResouce.share_count}}</span>&nbsp;</i>
                </div>


                {{#if controller.megaResouce.getArticle}}
                <div class="square-button hint--rounded hint--bottom" data-hint="Read this article"  {{action transitionToArticle controller.megaResouce.id}}>
                     <i class="fa fa-book">&nbsp;</i>
                </div>       
                {{/if}}

                {{#if controller.is_authentic_user}}
                <div class="square-button hint--left hint--rounded view-edit-box" data-hint="Edit Photo Info">
                    <i class="fa fa-pencil-square-o" {{action editingPhotoMegaData}}></i>
                </div>
                {{/if}}
                <ul class="hideClass edit-object-ul share-box3a" id="dropdown_id_2_{{unbound megaResouce.id}}">
                    <li class="ite" {{action  fbShare "2"}} >
                        <i class="fa fa-facebook share-type share-type-pos2"></i><span class="share-type-txt2">Facebook</span>
                    </li>
                    <li class='ite' {{action tShare "2"}} >
                        <i class="fa fa-twitter share-type share-type-pos2"></i><span class="share-type-txt2">Twitter</span>
                    </li>
                    <li class='ite' {{action pShare "2"}} >
                        <i class="fa fa-pinterest share-type share-type-pos2"></i><span class="share-type-txt2">Pinterest</span>
                    </li>
                    <li class="ite" {{action gpShare "2"}}>
                        <i class="fa fa-google-plus share-type share-type-pos2"></i><span class="share-type-txt2">Google+</span>
                    </li>
                </ul>
            </div>
        </div>




        <!-- OBJECT DESCRIPTION SECTION -->
        <div>
            <div class="object-collapes-title" {{action setTitleTag  on="click" target="view"}}>
                <div class="collapes-title_inner">
                    About
                </div>
                <div class="dropdownicon" >
                    <i class="fa fa-angle-down"></i>
                </div>
            </div>
            <div class="collapes-container article-display" id="article_action">
                <div  class="collapes-container_inner">

                    {{#unless controller.enableToEdit}}

                    <div class="article-title">{{controller.selectedPhoto.photo_title}}  </div>
                    <div class="article-text">
                        <p>{{{controller.selectedPhoto.photo_caption}}}</p>
                        <table class="profilesnew-table article-text-table">
                            <tbody class="article-text-table-tbody">
                                {{#if controller.selectedPhoto.photo_link_url}}
                                <tr>
                                    <td class="article-table-td1">Link: </td>
                                    <td>
                                        <a target="_blank" {{bindAttr href=controller.selectedPhoto.photo_link_url }} class="article-text-url">{{{controller.selectedPhoto.photo_link_text}}}</a>
                                    </td>
                                </tr>
                                {{/if}}
                            </tbody>
                        </table>


                    </div>
                    {{else}}
                    {{view Ember.TextField valueBinding="controller.selectedPhoto.photo_title"  id="" class="edit_photo-titile_field"  }}
                    {{view Ember.TextArea valueBinding="controller.selectedPhoto.photo_caption"  id="" class="edit_photo-caption_field"}}
                    <table class="profilesnew-table article-text-table">
                        <tbody class="article-text-table-tbody">

                            <tr>
                                <td class = "article-text-table-td2">Link Text:</td>
                                <td>
                                    <div class="article-text-url2">
                                        <div  id="displayName"  class="article-text-url3">
                                            {{view Ember.TextArea valueBinding="controller.selectedPhoto.photo_link_text" class="no-resize" placeholder="Type Your Link Text here"}}

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr >


                                <th class="article-text-table-td2 article-text-margin">Link Url:</th>
                                <td>
                                    <div class="article-text-url2 article-text-margin">
                                        <div  id="displayName" class="article-text-url3">
                                            {{view Ember.TextArea valueBinding="controller.selectedPhoto.photo_link_url" class="no-resize" placeholder="http://example.com"}}
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>



                    <div class="buttons content-edit">

                        <div type="button" class="new-btn blue-btn" {{action yes}}> <i class="fa fa-check fa fa-white"></i></div>

                        <div type="button" class="new-btn" {{action no }}> <i class="fa fa-times"></i></div>

                    </div>

                    {{/unless}}

                </div>

            </div>

        </div>


        <div id="photo_view_ads">
            
        </div>

        <!-- OBJECT DISCUSSION SECTION -->

        <div>
            <div class="object-collapes-title" {{action setDiscussionTag on="click" target="view"}} >
                <div class="collapes-title_inner">
                    Discussion
                </div>
                <span class="show-comment_inner">
                    <span class="comment-amount" > {{controller.megaResouce.comments.length}} </span>
                </span>
                <div class="dropdownicon">
                    <i class="fa fa-angle-down dropdownicon-dis"></i>
                </div>      
            </div>



            <div class="collapes-container article-display" id="discuss_action">
                <div class="collapes-container_inner discuss-box">
                    <div class="discuss-input-box">
                        <div class="discuss-input-innerbox">
                            <a>
                                <img class="profilepic_comment comment-item-img comment-item-img-z1" src="http://develop.devbox.s3.amazonaws.com/profile_pic/default/defaultpic1.jpg" />
                                <img class="profilepic_comment comment-item-img comment-item-img-z2" {{bindAttr src="controller.currentUser.photo_url_large"}} /> 
                                <div class="user-says-angle-before user-says-angle-before1"></div>
                                <div class="user-says-angle-after user-says-angle-after1"></div>
                            </a>

                            <div class="discuss-input">
                                <div class="discuss-input-txt">
                                    {{view Ember.TextArea valueBinding="commentContent" id="AddRecord" class="no-resize no-effect" placeholder="Write a comment..." }}                                          
                                </div>
                                <div class="discuss-submit">
                                    <div class="message-btn easing width-100"{{action addComment}}><i class='fa fa-check'>&nbsp;</i>Post </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{#each controller.megaResouce.comments}}
                    {{#unless this.isEdit}}
                    <div class="comment-item">

                        <div class="comment-position">
                            <a class="profilepic-comment-container" href="#/users/{{unbound commenter_id}}">
                                <img class="profilepic_comment" {{bindAttr src="commenter_profile_pic_url"}} />
                            </a>
                            <div style="">
                                <div class="comment-namentime">
                                    <a class="comment-username"  href="#/users/{{unbound commenter_id}}">
                                        {{name}}
                                    </a>
                                    <div class="posttime-container">
                                        <span class="posttime">{{date time_stamp}}</span>                  
                                    </div>
                                    {{#if this.getUser}}
                                    <span class="edit-comment easing">
                                        <i class="fa fa-trash-o"  {{action removeComment this}}></i>                 
                                        <i class="fa fa-pencil" {{action updateComment this}}></i>
                                    </span>
                                    {{/if}}
                                </div>

                                <div class="comment-content">
                                    {{content}}

                                    <!-- for +someone into the conversation-->
                                    <span>
                                        <span></span>
                                        <a></a>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    {{else}}
                    {{render editComment this}}   
                    {{/unless}}

                    {{/each}}

                </div>
            </div>

        </div>


    </div>


    <!-- add the tag content-->




    <!--end of tag content-->


</div>




{{#if controller.makeSureDelete}}

{{view HubStar.DeleteFunctionView}}

{{/if}}
{{#if controller.contact}}
{{render contact}}
{{/if}}