
<div class="controlbtn-field photocreateinfo-title-container">
    <span class="photocreateinfo-yesicon"><i class='fa fa-check-circle'></i></span>
    <span class="photocreateinfo-txtbox">
        <span class="photocreateinfo-txt1">Congratulations! Your Photos have been uploaded!</span>
        <span class="photocreateinfo-txt2">Now, say something about the photo.</span>
    </span>
</div>

<div class="photocreateinfo-edit-container">
    {{#each photoInfo}}
    <div class="photocreateinfo-img">
        <img {{bindAttr src="url"}} style=""/>
    </div>
    <div class="photocreateinfo-editinfo">
        <div>
            <div class="photocreateinfo-editinfo-name">File name: </div>
            <div class="disabled-btn photocreateinfo-editinfo-input" > {{filename}} </div>
        </div>
        <div>
            <div class="photocreateinfo-editinfo-name">Title*: </div>
            <div class="photocreateinfo-editinfo-input" > {{view Ember.TextField valueBinding="title" class="edit_photo-titile_field" }} </div>
        </div>
        <div>
            <div class="photocreateinfo-editinfo-name photocreateinfo-editinfo-des">Description: </div> 
            <div class="photocreateinfo-editinfo-input"> {{view Ember.TextArea valueBinding="caption" class="edit_photo-caption_field" }} </div>
        </div>

        </div>
    {{/each}}
</div>

<div class="controlbtn-field photocreateinfo-action-container" >
    <span class="new-btn blue-btn photocreateinfo-selectmore" {{action backToDragAndDrop}}>Select more</span>
    <div class="controlbtn photocreateinfo-submit" >
        <span class="new-btn" {{action finishUploadingAndInfo}}>Skip</span>
        <span class="new-btn green-btn" {{action submitPhotoInfo}}>Submit</span> 
    </div>
</div>