



<div class='controlbtn-field' style='position:relative;height: 85px; width: 100%;background-color: #fafafa;text-align: left;color: #555;padding: 10px 25px;text-shadow: 0 1px 0 rgba(255,255,255,0.8);'>
    <span style="position: relative;display: inline-block;font-size: 40px;margin: 10px 0;vertical-align: top;"><i class='fa fa-check-circle'></i></span>
    <span style="position: relative;width: 87%;display: inline-block;margin: 10px 15px;">
        <span style='font-size: 20px;display: block;line-height: 25px;'>Congratulations! Your Photos have been uploaded!</span>
        <span style='font-size: 13px;margin: auto;  display: block;line-height: 16px;'>Now, say something about the photo.</span>
    </span>
</div>





<div style="position: relative; margin: 15px auto;height: 520px; width: 690px; overflow: auto;">



    {{#each photoInfo}}
    <div style="position: relative; width: 29%;display: inline-block;height: 150px;vertical-align: top;overflow: hidden;margin: 15px;line-height: 150px;text-align: center;">
        <img {{bindAttr src="url"}} style=""/>
    </div>
    <div style="position: relative; width: 63%;display: inline-block; height: 350px; vertical-align: top; overflow: hidden; margin: 15px;  margin-left: 0;">
        <div style="width: 100%">
            <div style="width: 20%; display:inline-block">File name: </div>
            <div style="width: 58%; display:inline-block"  class="disabled-btn" > {{filename}} </div>
        </div>
        <div style="width: 100%">
            <div style="width: 20%; display:inline-block">Title*: </div>
            <div style="width: 58%; display:inline-block"> {{view Ember.TextField valueBinding="title"  id="" class="edit_photo-titile_field"  }} </div>
        </div>
        <div style="width: 100%">
            <div style="width: 20%; display:inline-block">Description: </div> 
            <div style="width: 58%; display:inline-block"> {{view Ember.TextArea valueBinding="caption"  id="" class="edit_photo-caption_field2"}} </div>
        </div>
        <div style="width: 100%">
            <div style="width: 20%; display:inline-block">Keywords: </div> 
            <div style="width: 58%; display:inline-block"> {{view Ember.TextArea valueBinding="keywords"  id="" class="edit_photo-keywords_field" placeholder="*Please separate multiple keywords with a comma; i.e. Bathroom Vanities, Kitchen Appliances"}} </div>
        </div>
    </div>
    {{/each}}




</div>
<div class="controlbtn-field" style="margin-top: 20px;">
    <span style='position: relative; float: left;margin: 23px;' class="new-btn blue-btn" {{action backToDragAndDrop}}>Select more</span>
    <div class="controlbtn" style="left: 34%;">
        <span class="new-btn" {{action finishUploadingAndInfo}}>Skip</span> 
        <span class="new-btn green-btn" {{action submitPhotoInfo}}>Submit</span> 
    </div>
</div>