



<div class="controlbtn-field photocreateinfo-title-container">
    <span class="photocreateinfo-yesicon"><i class='fa fa-check-circle'></i></span>
    <span class="photocreateinfo-txtbox">
        <span class="photocreateinfo-txt1">Congratulations! Your Photos have been uploaded!</span>
        <span class="photocreateinfo-txt2">Now, say something about the photo.</span>
    </span>
</div>





<div class="photocreateinfo-edit-container">



    {{#each photoInfo}}
    <div class="photocreateinfo-img">
        <img {{bindAttr src="url"}} style=""/>
    </div>
    <div class="photocreateinfo-editinfo">
        <div style="">
            <div class="photocreateinfo-editinfo-name">File name: </div>
            <div style="width: 58%; display:inline-block" class="disabled-btn" > {{filename}} </div>
        </div>
        <div style="">
            <div class="photocreateinfo-editinfo-name">Title*: </div>
            <div style="width: 58%; display:inline-block"> {{view Ember.TextField valueBinding="title"  id="" class="edit_photo-titile_field"  }} </div>
        </div>
        <div style="">
            <div style="width: 20%; top: -25px; position: relative; display:inline-block">Description: </div> 
            <div style="width: 58%; display:inline-block"> {{view Ember.TextArea valueBinding="caption"  id="" class="edit_photo-caption_field"}} </div>
        </div>

        </div>
    {{/each}}




</div>
<div class="controlbtn-field" style="margin-top: 20px;">
    <span style='position: relative; float: left;margin: 23px;' class="new-btn blue-btn" {{action backToDragAndDrop}}>Select more</span>
    <div class="controlbtn" style="left: 34%;">
        <span class="new-btn" {{action finishUploadingAndInfo}}>Skip</span> 
        <span class="new-btn green-btn" {{action submitPhotoInfo}}>Submit</span> 
    </div>
</div>