<div class="plaform_bar" >
    <img src="../../../images/reflection.png"/>
    <div id="navContainer" class="easing" {{action sidebarScroll target="view" on="mouseEnter"}}>

        <ul id="nav-ul" >
            <div style="width:90px; height: 100%; position: absolute; z-index: -1;"></div>
            <li> 
                <div> <img {{bindAttr src="controller.user.photo_url_large"}} class="profilepic_user"/></div>
            </li>

            <li style="margin-top: 20px;"> <div class="hint--right hint--rounded" data-hint="Category"><a href="#"> <i class="icon-eye-open" style="font-size: 20px;"></i></a></div>
                <ul class="firstList" >
                    <li>&nbsp;</li>
                    <div style="width: 120%; height: 150%; position: absolute;margin-left: -20px; margin-top: -155px; z-index: -1;"></div>
                    {{#each controller.categorys}}

                    <li> <span><a href="#" {{action topicSearch topic}} > {{topic}}</a></span>
                        <ul>
                            <li>&nbsp;</li>
                  
                            <div style="width: 120%; height: 150%; position: absolute;margin-left: -20px; margin-top: -80px;  z-index: -1;"></div>
                            {{#each subcate}}
                            <li> <span><a href="#" {{action topicSearch category_topic}} > {{category_topic}}</a></span>
                                <ul>
                                    <li>&nbsp;</li>
                                    <div style="width: 140%; height: 150%; position: absolute;margin-left: -20px; margin-top: -70px;  z-index: -1;"></div>
                                    {{#each subcategories}}
                                    <li class="search_topic"> <a href="#" {{action topicSearch search_topic}} >{{search_topic}}</a></li>


                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ul>
            </li>
            <li><div class="hint--right hint--rounded" data-hint="Search for Location"><a href="#"> <i class="icon-globe" style="font-size: 20px;"></i></a></div>
                <ul class="nav-geo-ul">
                    <li>&nbsp;</li>
                    <div style="width: 120%; height: 150%; position: absolute;margin-left: -20px; margin-top: -50px;  z-index: -1;"></div>


                    <li><div  {{action changeLocation userLocation}} >Your location</br>
                            ({{userLocation}})
                        </div></li>
                        <li><div  {{action changeLocation 'Global'}} >Global</div></li>
                    <li><div  {{action changeLocation 'Australia'}} >Australia</div></li>
                    <li><div {{action changeLocation 'New Zealand'}} >New Zealand</div></li>
                    <li><div {{action changeLocation 'United States'}} >United States</div></li>
                    <li><div {{action changeLocation 'India'}} >India</div></li>
                    <li><div {{action changeLocation 'China'}} >China</div></li>
                    <li><div {{action changeLocation 'Asia'}} >Asia</div></li>
                </ul>
            </li>


            <li> <div class="hint--right hint--rounded" data-hint="Your Collection"><a href="#"> <i class="icon-folder-open" style="font-size: 20px;"></i></a></div>   
                <ul>
                    <li>&nbsp;</li>
                    <div style="width: 120%; height: 150%; position: absolute;margin-left: -20px; margin-top: -50px;  z-index: -1;"></div>
                    {{#each controller.user.collections}}

                    <li><a  href="{{unbound controller.myUserProfile}}/{{unbound id}}" > {{title}}</a></li>

                    {{/each}}
                </ul>
            </li>

            <script>

                $("#navContainer > ul > li >span").hover(function() {
                    $("#navContainer > ul > li").not(this).removeClass('sidebar-hover');
                });
                $("#navContainer > ul > li> ul ").hover(function() {
                    $(this).parent().addClass("sidebar-hover");
                });</script>


            <li> <div class="hint--right hint--rounded" data-hint="Feedback & Support"><a href="http://about.trendsideas.com"> <i class="icon-question-sign" style="font-size: 20px;"></i></a></div>   
            </li>

            <li> <div class="hint--right hint--rounded" data-hint="Log out"><a href="#" onclick="logout();"> <i class="icon-off" style="font-size: 20px;"></i></a></div>   
            </li>
        </ul>


    </div>

    <div class="showsidebar easing"><k class="icon-circle-arrow-right"></k></div>

</div>




<script>

                    function logout() {

                        $.ajax({
                            type: 'POST',
                            url: getRestAPIURL()+ '/logout',
                            contentType: 'application/json; charset=uft-8',
                            dataType: 'json',
                            success: function(para) {
                               

                            }
                        });

                        localStorage.clear();


                    }
</script>