
{{#if controller.loadingTime}}

{{render loadingSpinner}}

{{/if}}
{{#if controller.is_authentic_user}}
<div class="box style-box t-style-box col2 z-index-0" {{action pdfCreateModeSwitch}} id="addNewPdf" >    
     <div id="uploadPdfObject" >

        <div class="add-new-object-hoverarea easing">

               <i class="fa fa-plus-circle"></i>
        </div>
        <div class="masonry-object t-style-box col2">
            <div class="add-new-object-content">
                <img src="https://s3-ap-southeast-2.amazonaws.com/develop.devbox/Defaultcollection-cover.png" />
            </div>

        </div>
    </div>

</div>

{{/if}}
{{#each  pdfContent}}



{{view HubStar.ItemView}}


{{/each}}



{{#if controller.makeSureDelete}}

{{view HubStar.DeleteFunctionView}}

{{/if}}


{{#if controller.is_pdf_create_mode}}
{{render pdfUploader}}
{{/if}}