

<div class="profilegb" style="background: #fff url('../images/texture.png') repeat;width: 100%;height: auto; ">

    <div class="profile-wallpaper" style="width: 100%; height: 500px; overflow: hidden; position: fixed;">
        <img  {{bindAttr src= model.profile_bg_url}} style="width: 100%; height:auto;">
    </div>
    <div style="width: 100%; height:170px; position: relative; display: block; opacity: 0;">
    </div>
    <div style="position: absolute;">
        {{#if controller.contactChecking}}
        {{render contact}}
        {{/if}}
    </div>

</div>

<div class="hover panel" style='z-index: 0; float: none;position: relative; width: 87%; height: auto; margin:  auto; background: #fff; box-shadow: 0px 0px 8px #555; border-radius: 3px 3px 0 0;max-width: 1260px;min-width: 1250px;overflow: hidden;'>

    <div class="front" style="text-align: inherit; width: auto; height: auto; box-shadow: none; border: none; position: relative;">

        <div class="profilewrapper premium">
            <!--corpbanner-->

            <div class="profilecorpbanner"    style="">
                <img {{bindAttr src= model.profile_hero_url}} style="width:100%;"/>
                {{#if controller.is_authentic_user}}

                <div  id="flip-front" class='blue-btn new-btn hint--left hint--rounded edit-dashboard-btn' style="display: block; margin: 10px;position: absolute;top: 0;right: 0;" data-hint="Dashboard"
                      {{action flipFrontClick}}>
                      <i class="icon-cogs"></i>
                </div>

                {{/if}}
                <div class="corpbanner_mask" style="background: url('../images/bannershadow.png') repeat-x; position: absolute;bottom:0; width: 100%; height: 200px;">
                    <div class="corpbanner_content" style="position: absolute;bottom:0;margin-left: 30%;width: 70%;">
                        <div class="main_title" style="height: 100px;">

                            <div>
                                {{#if controller.editing}}
                                <div style="display: inline-block; width: 350px;">

                                    {{input type="text" class="insert-contactdetails" value=profile_name}}
                                </div>
                                <div style="display: inline-block;vertical-align: bottom; margin-left:20px">
                                    <div class="new-btn blue-btn"{{action yes controller.profileName}}><i class="icon-ok icon-white"></i></div>
                                    <div class="new-btn"{{action no controller.profileName}}><i class="icon-remove icon-white"></i></div>
                                </div>
                                {{else}}
                                <div style="display: inline-block; color: white; max-width: 750px; overflow: hidden; font-size: 28px; margin-bottom: 15px; line-height: 32px; vertical-align: middle;">
                                    {{profile_name}}
                                </div>
                                {{#if controller.is_authentic_user}}
                                <div class="edit-btn easing hint--rounded hint--bottom" data-hint="Edit content" style="color: white;" {{action toggleEditing  controller.profile_name controller.profileName}}>
                                     <i class="icon-edit"></i>
                                </div>
                                {{/if}}
                                {{/if}}
                            </div>



                            <!--STAR RATING-->
                            <div style="position: absolute;width: 500px;">
                                <span class="stars" style="float: left;margin: 5px 15px 5px 0;" ><span id="starsize" ></span></span>  
                                <div class="hint--right hint--rounded" data-hint="Review this profile!"  {{action rateEditing model.id}} >
                                     <div class="contactmeicon easing" style="float: left;  width: 35px; height: 35px;line-height: 31px;text-align: center;font-weight: bold;font-size: 13px;border: 2px solid #aaa;">{{this.profile_average_review}}</div>
                                    <div class="hover-opacity" style="font-size: 13px; font-weight: bold; color: #fff; cursor: pointer;  float: left;  margin: 8px 10px;">{{this.reviews.length}} • Reviews</div> 
                                </div>
                            </div>   


                            <!--contact me-->
                            <div class="contactmebtn hint--bottom hint--rounded easing" data-hint="Contact us!">
                                <a class="contactmeicon easing" {{action editingContactForm }}><i class="icon-envelope easing" style="font-size: 18px;"></i></a>
                            </div>
                            <!--contact me-->

                            <div class="contactmebtn hint--left hint--rounded easing" data-hint="Share this profile!" >
                                <a class="contactmeicon easing" {{action dropdownPhotoSetting}}><i class="icon-share-alt easing" style="font-size: 19px;"></i></a>
                            </div>

                            <ul class="hideClass edit-object-ul" id="dropdown_id_{{unbound id}}" style="width: 150px;  padding: 0;right: 45px;top: 70px;position: absolute;">
                                <!--<li style="position:fixed;z-index:0;height:100%;width:100%;" onClick="document.getElementById('dropdown_id_'+{{unbound id}}).style.display='none' ">&nbsp;<li>-->
                                <li class="ite" {{action  fbShare}} >
                            <k class="icon-facebook" style="font-size: 16px; margin: 0px 5px;position: absolute"></k><span style="margin-left: 2.5em">Facebook</span>
                            </li>
                            <li class='ite' {{action tShare}} >
                        <k class="icon-twitter" style="font-size: 16px;  margin: 0px 5px;position: absolute"></k><span style="margin-left: 2.5em">Twitter</span>
                        </li>
                        <li class='ite' {{action pShare}} >
                    <k class="icon-pinterest" style="font-size: 16px;  margin: 0px 5px;position: absolute"></k><span style="margin-left: 2.5em">Pinterest</span>
                    </li>
                        <li class="ite" {{action gpShare}}>
                    <k class="icon-google-plus" style="font-size: 16px; margin: 0px 5px;position: absolute"></k><span style="margin-left: 2.5em">Google+</span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>


<div style="position: relative; width: 100%;background-color: rgb(242,240,240); border-radius: 0 0 3px 3px;">

    <!--PROFILE PAGE LEFT SIDE-->

    
    <table cellpadding="0" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <!--LEFT COL BEGINS -->
                <td class="left_col" width="29%" valign="top">
                    <div class="profileaside">
                        <div class="profileaside_content">
                            <div class="aside-profilepic">
                                <div style="min-height: 175px; overflow: visible; line-height: 175px;margin-bottom: 20px;" data-hint="{{unbound model.id}}">
                                    <a href="#/profiles/{{unbound model.id}}">
                                        <img {{bindAttr src= model.profile_pic_url}} style="border:5px solid white;box-shadow: 0px 0px 5px #888;min-height: 0;width: 100%">
                                    </a> 
                                </div>
                                {{#if controller.follow_status}}
                                <div href="#question_modal" role="button" class="disabled-btn disabled-green" data-toggle="modal" style="margin:10px auto;display: block;width: 150px;"{{action followThisProfile}}><i class='icon-circle-blank' >&nbsp; </i> Following</div>
                                {{else}}
                                <div href="#question_modal" role="button" class="new-btn green-btn" data-toggle="modal" style="margin:10px auto;display: block;width: 150px;"{{action followThisProfile}}><i class='icon-plus' >&nbsp; </i> Follow</div>

                                {{/if}}

                            </div>


                            <div class="LatestFollower">

                                {{#each contentFollowerPhoto}}                                             
                                <a class='radius-circle' href="#/users/{{unbound this.id}}">
                                    <div class="hint--bottom hint--rounded" data-hint="{{unbound this.name}}">
                                        <img {{bindAttr src= this.photo_url}}/>
                                    </div>
                                </a>                                             
                                {{/each}}

                            </div>
                            <div class="Followed-by easing"{{action selectFollower this }}>Followed by {{controller.profileFollowerStatistics}} people.</div>



                            <!--KEYWORDS SECTION-->
                            <div class="aside-container"> 
                                <div style='margin-bottom: 15px;display: inline-block;font-size: 18px; vertical-align: top;'>
                                    <i class='icon-bookmark' style='margin-right: 10px;'></i>Keywords
                                </div>

                                <div style='width: 100%;min-height: 100px;'>
                                    <ul class="Client-Keywords-tags">    
                                        {{#each controller.show_keyword_array}}  
                                        <li><div class="tags-before"></div><a href="#" {{action keywordSearch this.keyword_name}} >{{this.keyword_name}}</a></li>
                                        {{/each}}
                                    </ul>
                                </div>                                            
                            </div>




                            <!--PROFILE CONTACT SECTION-->

                            {{#unless controller.editingContact}}
                            <div class="aside-container" style="">
                                <div style='margin-bottom: 15px;display: inline-block;font-size: 18px; vertical-align: top;'><i class='icon-phone' style='margin-right: 10px;'></i>Contact Detail</div>
                                {{#if controller.is_authentic_user}}
                                <div class="edit-btn easing hint--rounded hint--bottom" data-hint="Edit content" {{action toggleEditing model.phone_number controller.contact}}>
                                     <i class="icon-edit" ></i>
                                </div>
                                {{/if}}


                                {{/unless}}

                                <table id="aside_contact" class="">
                                    <tr>
                                        <th>Contact:</th>
                                        {{#if controller.editingContact}}
                                        {{input type="text" class="insert-contactdetails" value=first_name placeholder="First Name "}}
                                        {{input type="text" class="insert-contactdetails" value=last_name placeholder="Last Name"}}
                                        {{else}}
                                        <th class="Contact_2child">{{first_name}} {{last_name}}</th>
                                        {{/if}}
                                    </tr>
                                    <tr>
                                        <th>Category:</th>
                                        {{#if controller.editingContact}}
                                        {{input type="text" class="insert-contactdetails" value=model.profile_category  }}
                                        {{else}}
                                        <th class="Contact_2child"><a >{{model.profile_category}}</a></th>
                                        {{/if}}
                                    </tr>
                                    <tr>
                                        <th>Address:</th>
                                        {{#if controller.editingContact}}
                                        {{input type="text" class="insert-contactdetails" value=address placeholder="Street Address" }}
                                        {{input type="text" class="insert-contactdetails" value=suburb  placeholder="Suburb"}}
                                        {{input type="text" class="insert-contactdetails" value=region  placeholder="Region"}}
                                        {{input type="text" class="insert-contactdetails" value=country placeholder="country" }}
                                        {{else}}
                                        {{#if controller.address}}
                                        <th class="Contact_2child">{{address}},</th>
                                        {{/if}}
                                        {{#if controller.suburb}}
                                        <th class="Contact_2child">{{suburb}},</th>
                                        {{/if}}
                                        {{#if controller.region}}
                                        <th class="Contact_2child">{{region}},</th>
                                        {{/if}}
                                        {{#if controller.country}}
                                        <th class="Contact_2child">{{country}}</th>
                                        {{/if}}
                                        {{/if}}
                                    </tr>

                                    <tr>
                                        <th>Phone:</th>
                                        {{#if controller.editingContact}}
                                        {{input type="text" class="insert-contactdetails" value=profile_contact_number  }}
                                        {{else}}
                                        <th class="Contact_2child">{{profile_contact_number}}</th>
                                        {{/if}}
                                    </tr>
                                    <tr>
                                        <th>Website:</th>
                                        {{#if controller.editingContact}}
                                        {{input type="text" class="insert-contactdetails" value=website }}

                                        {{else}}
                                        <th class="Contact_2child"><a href="#"{{action gotoSize}}>{{website}}</a></th>
                                        {{/if}}
                                    </tr>

                                    <tr>

                                        {{#if controller.editingContact}}   
                                        <th style = "color: #aaa; text-align: right;padding-bottom: 10px;font-size: 14px;font-weight: normal;width: 90px;">Website URL:</th>       
                                        {{input type="text" class="insert-contactdetails" value=website_url }}                        
                                        {{else}}

                                        {{/if}}
                                    </tr>

                                </table>
                                {{#unless controller.editingContact}}


                                {{else}}
                                <div class="buttons" style="position: relative;display: block;margin: 10px auto 0;text-align: center;">
                                    <div  type="button" class="new-btn blue-btn" {{action yes controller.contact }}> <i class="icon-ok icon-white"></i></div>

                                    <div  type="button" class="new-btn" {{action no controller.contact}}> <i class="icon-remove"></i></div>

                                </div>
                                {{/unless}}
                            </div>

                            <!--PROFILE HOURS SECTION-->

                            <div class="aside-container" style="border-top: 1px solid #fff;">
                                <div style='margin-bottom: 15px;display: inline-block;font-size: 18px; vertical-align: top;'><i class='icon-time' style='margin-right: 10px;'></i>Hours</div>

                                {{#unless controller.editingTime}}
                                {{#if controller.is_authentic_user}}
                                <div class="edit-btn easinghint--rounded hint--bottom" data-hint="Edit content" {{action toggleEditing  model.profile_name controller.timeSetting}}>
                                     <i class="icon-edit"></i>
                                </div>
                                {{/if}}
                                {{/unless}}

                                {{#each controller.hours}}

                                <table id="aside_contact">
                                    {{#unless controller.editingTime}}
                                    <tbody style="display: inline-block; vertical-align: top;">
                                        <tr style="">
                                            <th>{{day}}</th>
                                            {{else}}
                                            {{input type="text" class="inserthours-day" value=day}}
                                            {{/unless}}

                                            {{#unless controller.editingTime}}
                                            <th class="Contact_2child">{{time}}</th>
                                            {{else}}
                                            {{input type="text" class="inserthours-time" value=time  }}
                                            {{/unless}}
                                        </tr>
                                    </tbody>
                                </table>


                                {{/each}}
                                {{#if controller.editingTime}}

                                <div style="width: 75px;margin: auto;">
                                    <div class="new-btn blue-btn"{{action yes controller.timeSetting}}><i class="icon-ok icon-white"></i></div>
                                    <div class="new-btn"{{action no controller.timeSetting}}><i class="icon-remove icon-white"></i></div>
                                </div>
                                {{/if}}
                            </div>


                            <!--PROFILE GOOGLEMAP SECTION--> 
                            <div class="aside-container" style="border-bottom:0 none;border-top: 1px solid #fff;">
                                <div id="google-map"  style="width: 300px;height: 250px; border: 5px solid #fff;cursor: pointer"  >
                                    <div class="enlarge-map easing" style=""{{action popUpGoogleMap}}><k class="icon-resize-full"></k></div>
                                    <img  {{bindAttr src="controller.profile_google_map"}} style="width: 100%; height:auto;" {{action popUpGoogleMap}}>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <!--LEFT COL ENDS -->

                <!--RIGHT COL BEGINS -->
                <td class="right_col" width="70%" valign="top">
                    <!--PROFILE PAGE MAIN PART-->

                    <div class="profilemain" style="display: inline-block; width: 100%;left: 0;right: 0; background-color: white;margin: auto; min-width: 553px;">

                        <div class="profile-main-content" style="margin: 20px auto;width: 90%;">

                            <div class="main_aboutus" style="">

                                <div class="editor-content">
                                    <div style="display: inline-block;">
                                        <p style='display: inline-block; font-size: 18px;'>
                                            <i class='icon-group' style='margin-right: 10px;display: inline-block;'></i>About Us
                                        </p>

                                        {{#if controller.editingAbout}}
                                        <div style="height: 300px;">
                                            {{view HubStar.HtmlEditorView}}
                                        </div>   
                                    </div>
                                    <div style="right: 40px;bottom: 25px;position: absolute;">
                                        <div class="new-btn blue-btn" {{action yesAbout controller.aboutMe}}><i class="icon-ok icon-white"></i></div>
                                        <div class="new-btn" {{action no controller.aboutMe}}><i class="icon-remove"></i></div>
                                    </div>
                                    {{else}}
                                    {{#if controller.is_authentic_user}}

                                    <div class="edit-btn hint--rounded hint--bottom" data-hint="Edit content" {{action toggleEditing controller.about_me controller.aboutMe}}>

                                         <i class="icon-edit"></i>
                                    </div>

                                    {{/if}}
                                </div>
                                <div style="display: block; width: 100%" >{{{model.profile_about_us}}}</div>
                                {{/if}}
                            </div>




                            <div style="height: 40px; bottom: 0;width: 700px;position: absolute;margin-bottom: 15px;">
                                <ul class="locationandlinks">

                                    {{#if facebook}}
                                    <li class="location_li">
                                        <a href="#" target="_blank" {{action socialLink 'facebook'}}>&nbsp <k class="icon-facebook"> </k></a>
                                    </li>
                                    {{/if}}
                                    {{#if twitter}}
                                    <li class="location_li">
                                        <a href="#" target="_blank" {{action socialLink 'twitter'}}>&nbsp <k class="icon-twitter"> </k></a>
                                    </li>
                                    {{/if}}
                                    {{#if googleplus}}
                                    <li class="location_li">
                                        <a href="#" target="_blank"{{action socialLink 'googleplus'}}>&nbsp <k class="icon-google-plus"> </k></a>
                                    </li>
                                    {{/if}}
                                    {{#if pinterest}}
                                    <li class="location_li">
                                        <a href="#" target="_blank" {{action socialLink 'pinterest'}}>&nbsp <k class="icon-pinterest"> </k></a>
                                    </li>
                                    {{/if}}
                                    {{#if linkedin}}
                                    <li class="location_li">
                                        <a href="#" target="_blank"{{action socialLink 'linkedin'}}>&nbsp <k class="icon-linkedin"> </k></a>
                                    </li>
                                    {{/if}}
                                    {{#if youtube}}
                                    <li class="location_li">
                                        <a href="#" target="_blank" {{action socialLink 'youtube'}}>&nbsp <k class="icon-youtube-play"> </k></a>
                                    </li>
                                    {{/if}}

                                </ul>
                            </div>

                        </div>

                    </div>
                </td>


                <!--RIGHT COL ENDS -->
            </tr>
        </tbody>
    </table>
</div>
</div>

</div>


<div class="back t-style-box"  style='width: 100%;height:auto;  background-color:white; border-radius: 3px;border:none;position:absolute;top:0;left:0;;'>
>>>>>>> bc1dfe860272fd79d219ade51b25b7b74bb7a1aa
    <div style="position: relative; top: 0; width: 100%;height: 300px;overflow: hidden; border-radius: 3px 3px 0 0;">
        <img {{bindAttr src= model.profile_hero_url}} style="width:100%;"/>
        <div style="background: url('../images/bannershadow.png') repeat-x; position: absolute; width: 100%; height: 200px; bottom: 0;">
            <div style='font-size: 45px;color: white;font-weight: bold;line-height: 50px;margin: 40px  60px;bottom: 0;position: absolute;'>
                <k class='icon-cogs'>&nbsp;</k>Dashboard</div>
        </div>
    </div>

    <div class="tabbable">
        <div class="tabs-left">
            <ul class="nav nav-tabs easing">
                <li class="active" {{action changeSize}}><a href="#tab1" data-toggle="tab">Style up!</a></li>
                <li class="easing" {{action changeSize}}><a href="#tab2" data-toggle="tab">General Settings</a></li>
                <li class="easing" {{action changeSize}}><a href="#tab3" data-toggle="tab">Account Settings</a></li>
                <li class="easing" {{action changeSize}}><a href="#tab7" data-toggle="tab">Social Link</a></li>
                {{#if controller.isAdmin}}
                <li class="easing" {{action changeSize}}><a href="#tab4" data-toggle="tab">Authority Settings</a></li>
                <li class="easing" {{action changeSize}}><a href="#tab5" data-toggle="tab">Keywords Settings</a></li>
                {{/if}}   
            </ul>
        </div>

        <div class="tab-content easing">
            <div class="tab-pane active" id="tab1">
                <div style="font-size: 25px; color: #555; text-align: center;font-weight: bold;margin: 10px auto 30px;">Style up your profile!</div>

                <div class='styleup_section'>
                    <a href="#fileuploader" data-toggle="tab" {{action setUploadImageMode "Profile Picture"}}>
                       <div class='styleup_uploadbox easing hint--right hint--rounded' data-hint='Upload' {{action changeSize}}>
                         <i class='icon-upload icon-3x' style="width: 30px;margin: auto;display: block;position: relative;top: 40px;"></i>
                            <span style="font-size: 13px;font-weight:bold;bottom: 20px;position: relative;">Profile Picture</span>
                        </div>
                    </a>
                    <div style='height: 150px;margin: 10px 15px;display: inline-block; width: auto;line-height: 150px;vertical-align: top;'>
                        <img style="max-height: 100%; width: auto;max-width: 300px;" {{bindAttr src="profile_pic_url"}} />
                    </div>
                </div>

                <div class='styleup_section easing'>
                    <a href="#fileuploader" data-toggle="tab" {{action setUploadImageMode "Profile Hero"}}>
                       <div class='styleup_uploadbox easing hint--right hint--rounded' data-hint='Upload' {{action changeSize}}>
                         <i class='icon-upload icon-3x' style="width: 30px;margin: auto;display: block;position: relative;top: 40px;"></i>
                            <span style="font-size: 13px;font-weight:bold;bottom: 20px;position: relative;">Profile Hero</span>
                        </div>
                    </a>
                    <div style='height: 150px;margin: 10px 15px;display: inline-block; width: auto;line-height: 150px;vertical-align: top;'>
                        <img style="max-height: 100%; width: auto;max-width: 300px;" {{bindAttr src="profile_hero_url"}}/>
                    </div>
                </div>

                <div class='styleup_section easing'>
                    <a href="#fileuploader" data-toggle="tab" {{action setUploadImageMode "Background"}}>
                       <div class='styleup_uploadbox easing hint--right hint--rounded' data-hint='Upload' {{action changeSize}}>
                         <i class='icon-upload icon-3x' style="width: 30px;margin: auto;display: block;position: relative;top: 40px;"></i>
                            <span style="font-size: 13px;font-weight:bold;bottom: 20px;position: relative;">Profile Background</span>
                        </div>
                    </a>
                    <div style='height: 150px;margin: 10px 15px;display: inline-block; width: auto;line-height: 150px;vertical-align: top;'>
                        <img style="max-height: 100%; width: auto;max-width: 300px;" {{bindAttr src="profile_bg_url"}} />
                    </div>
                </div>




                <div style="right: 0;margin: 30px auto 0;width: 150px;">
                    <span class='new-btn blue-btn flip-back'{{action flipFrontBack }}><k class='icon-group'> &nbsp;</k>Back</span>
                </div>

            </div>

            <div class="tab-pane" id="tab2">

                <div style="font-size: 25px; color: #555; text-align: center;font-weight: bold;margin: 10px auto 30px;">General Settings</div>

                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="padding-right: 147px; font-size: 14px;  display: table;border-collapse: separate;border-spacing: 4px;margin: 30px auto;">
                    <tbody class="profilesnew-table" style="display: table-row-group; vertical-align: middle; border-color: inherit;">
                        <tr>
                            <td>Profile Name*: </td>
                            <td>
                                <div style="display: block;">
                                    {{view Ember.TextField valueBinding="profile_name"   class="mustFill1" placeholder="Heritage Tiles NZ"}}
                                </div>
                                <div class="mustfull" id="mustFill1" style="display: none">please fill in info... </div>
                            </td>
                        </tr>


                        <tr>
                            <td>Profile Contact:</td>
                            <td>
                                <div  style="display: block; margin-bottom: 5px;" >

                                    <div  style="margin: 0 5px 0;width: 48%;display: inline-block;">
                                        {{view Ember.TextField valueBinding="first_name"  placeholder="First Name"}}
                                    </div>
                                    <div style="margin: 0;width: 48%;display: inline-block;">
                                        {{view Ember.TextField valueBinding="last_name"  placeholder="Last Name"}}
                                    </div>

                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Physical Address:</td>
                            <td>
                                <div  style="display: block; margin-bottom: 5px;" >

                                    <div  style="margin: 0 5px 0;width: 48%;display: inline-block;">
                                        {{view Ember.TextField valueBinding="address"  placeholder="Street Address"}}
                                    </div>
                                    <div style="margin: 0;width: 48%;display: inline-block;">
                                        {{view Ember.TextField valueBinding="suburb"  placeholder="Suburb"}}
                                    </div>

                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td>Contact Number:</td>
                            <td>
                                <div style="display: block;">
                                    <div   style="margin: 0;width: 100%;">
                                        {{view Ember.TextField valueBinding="profile_contact_number" placeholder="0987364531"}}
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Website:</td>
                            <td>
                                <div style="display: block;">
                                    <div   style="margin: 0;width: 100%;">
                                        {{view Ember.TextField valueBinding="website" placeholder="yourdomain.com"}}
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Website URL:</td>
                            <td>
                                <div style="display: block;">
                                    <div   style="margin: 0;width: 100%;">
                                        {{view Ember.TextField valueBinding="website_url" placeholder="http://www.yourdomain.com"}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Profile Cover Text:</td>
                            <td>
                                <div style="display: block;">
                                    <div   style="margin: 0;width: 100%;">
                                        {{view Ember.TextField valueBinding="profile_cover_text" placeholder="Small profile description"}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Gooogle Analytics Tracking ID:</td>
                            <td>
                                <div style="display: block;">
                                    <div   style="margin: 0;width: 100%;">
                                        {{view Ember.TextField valueBinding="profile_analytics_code" placeholder="UA-44575103-1"}}
                                    </div>
                                </div>
                            </td>
                        </tr>


                    </tbody>
                </table>
                <div style="right: 0;margin: 30px auto 0;width: 150px;">
                    <span class="new-btn green-btn" {{action saveUpdate}}>Save</span>
                    <span class='new-btn blue-btn flip-back' {{action flipFrontBack}}><k class='icon-group'> &nbsp;</k>Back</span>
                </div>
            </div>







            <div class="tab-pane" id="tab3">
                <div style="font-size: 25px; color: #555; text-align: center;font-weight: bold;margin: 10px auto 30px;">Account Settings</div>

                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="padding-right: 147px; font-size: 14px;  display: table;border-collapse: separate;border-spacing: 4px;margin: 30px auto;">
                    <tbody style="display: table-row-group; vertical-align: middle; border-color: inherit;">


                        <tr>
                            <td>Country*:</td>
                            <td>
                                <div style="display: block;">
                                    <div   style="margin: 0;width: 100%;">
                                        {{view Ember.TextField valueBinding="country" class="country"  placeholder="New Zealand" value="New Zealand"}}
                                    </div>
                                </div>
                                <div class="mustfull" id="country" style="display: none">please fill in info... </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Region*:</td>
                            <td>
                                <div style="display: block;">
                                    <div   style="margin: 0;width: 100%;">
                                        {{view Ember.TextField valueBinding="region" class="region"  placeholder="Auckland"}}
                                    </div>
                                </div>
                                <div class="mustfull" id="region" style="display: none">please fill in info... </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Direct Enquiry Email*:</td>

                            <td>
                                <div style="display: block;">
                                    <div   style="margin: 0;width: 100%;">
                                        {{view Ember.TextField valueBinding="contact_email"  class="mustFill4"  placeholder="superman@hubstar.com"}}
                                    </div>
                                </div>
                                <div class="mustfull" id="emailFormat4" style="display: none">not correct email format.....</div>
                                <div class="mustfull" id="mustFill4" style="display: none">please fill in info... </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Secondary  Email (cc):</td>
                            <td>
                                <div style="display: block;">
                                    <div   style="margin: 0;width: 100%;">
                                        {{view Ember.TextField valueBinding="secondary_email"  class=""  placeholder="superman@hubstar.com"}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>DirectEnquiry Provide Email (bcc):</td>
                            <td>
                                <div style="display: block;">
                                    <div   style="margin: 0;width: 100%;">
                                        {{view Ember.TextField valueBinding="direct_enquiry_provide_email"  class=""  placeholder="superman@hubstar.com"}}
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Editor*:</td>
                            <td>
                                <div style="display: block;">
                                    <div   style="margin: 0;width: 100%; height: 100px;">
                                        {{view Ember.TextArea valueBinding="editors"   class="mustFill6 no-resize" placeholder="Ironman@hubstar.com, CaptainAmerica@hubstar.com, hulk@hubstar.com"}}
                                    </div>
                                </div>
                                <div class="mustfill" id="emailFormat6" style="display: none">not correct email format.....</div>
                                <div class="mustfull" id="mustFill6" style="display: none">please fill in info... </div>
                            </td>
                        </tr>


                    </tbody>
                </table>
                <div style="right: 0;margin: 30px auto 0;width: 150px;">
                    <span class="new-btn green-btn" {{action saveUpdate}} >Save</span>
                    <span class='new-btn blue-btn flip-back'{{action flipFrontBack}}}><k class='icon-group'> &nbsp;</k>Back</span>
                </div>
            </div>

            <div class="tab-pane" id="tab7">
                <div style="font-size: 25px; color: #555; text-align: center;font-weight: bold;margin: 10px auto 30px;">Social Link</div>

                <table cellpadding="0" cellspacing="0" border="0" width="100%" style="padding-right: 147px; font-size: 14px;  display: table;border-collapse: separate;border-spacing: 4px;margin: 30px auto;">
                    <tbody style="display: table-row-group; vertical-align: middle; border-color: inherit;">

                        <tr>
                            <td>Facebook:</td>
                            <td>
                                <div style="display: block;">
                                    <div  id="facebook" style="margin: 0;width: 100%;">
                                        {{input type="text" value=facebook placeholder="eg:www.facebook.com"}}
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Twitter:</td>
                            <td>
                                <div style="display: block;">
                                    <div  id="twitter" style="margin: 0;width: 100%;">
                                        {{input type="text" value=twitter placeholder="eg:www.twitter.com"}}
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Google+:</td>
                            <td>
                                <div style="display: block;">
                                    <div id="googleplus"  style="margin: 0;width: 100%;">
                                        {{input type="text" value=googleplus placeholder="eg:plus.google.com"}}
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Pinterest:</td>
                            <td>
                                <div style="display: block;">
                                    <div  id="pinterest"  style="margin: 0;width: 100%;">
                                        {{input type="text" value=pinterest placeholder="eg:www.pinterest.com"}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Linkedin:</td>
                            <td>
                                <div style="display: block;">
                                    <div id="linkedin"  style="margin: 0;width: 100%;">
                                        {{input type="text" value=linkedin placeholder="eg:www.linkedin.com"}}
                                    </div>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td>Youtube:</td>
                            <td>
                                <div style="display: block;">
                                    <div  id="youtube" style="margin: 0;width: 100%;">
                                        {{input type="text" value=youtube placeholder="eg:www.youtube.com"}}
                                    </div>
                                </div>
                            </td>
                        </tr>


                    </tbody>
                </table>
                <div style="right: 0;margin: 30px auto 0;width: 150px;">
                    <span class="new-btn green-btn" {{action saveUpdate}} >Save</span>
                    <span class='new-btn blue-btn flip-back'{{action flipFrontBack}}}><k class='icon-group'> &nbsp;</k>Back</span>
                </div>
            </div>



            <div class="tab-pane" id="tab4">
                <div style="font-size: 25px; color: #555; text-align: center;font-weight: bold;margin: 10px auto 30px;">Authority Settings</div>
                <table cellpadding="0" cellspacing="0" border="0" width="100%" class='profilesnew-table' style="padding-right: 147px; font-size: 14px;  display: table;border-collapse: separate;border-spacing: 4px;margin: 30px auto;">
                    <tbody style="display: table-row-group; vertical-align: middle; border-color: inherit;">


                        <tr>
                            <td>Active*:</td>
                            <td>
                                <div class="new-btn" style="display: block;" {{action dropdown controller.projectActiveDropdownType}}>
                                     <span> {{controller.projectActiveDropdownContent}}</span>
                                    <span class="caret"></span>
                                </div>
                                {{#if controller.isActiveDropdown}}
                                {{view HubStar.DropdownListView}}
                                {{/if}}
                            </td>
                        </tr>

                        <tr>
                            <td>Deleted*:</td>

                            <td>
                                <div class="new-btn" style="display: block;" {{action dropdown controller.projectDeleteDropdownType}}>
                                     <span> {{controller.projectDeleteDropdownContent}}</span>
                                    <span class="caret"></span>
                                </div>
                                {{#if controller.isDeleteDropdown}}
                                {{view HubStar.DropdownListView}}
                                {{/if}}
                            </td>
                        </tr>

                        <tr>
                            <td> Package:</td>
                            <td>
                                <div class="new-btn" style="display: block;" {{action dropdown controller.projectCategoryDropdownType}}>
                                     <span> {{controller.projectCategoryDropdownContent}}</span>
                                    <span class="caret"></span>
                                </div>
                                {{#if controller.isPackgetDropdown}}
                                {{view HubStar.DropdownListView}}
                                {{/if}}
                            </td>
                        </tr>
                        <tr>
                            <td> Creator:</td>
                            <td>
                                <div class="disabled-btn" style="display: block; font-size: 12px;">
                                    <span> {{controller.profile_creator}}</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Boost:</td>
                            <td>
                                <div style="display: block;">
                                    <div   style="margin: 0;width: 100%;">
                                        {{view Ember.TextField valueBinding="boost"  class="mustFill4"  }}
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Domains:</td>
                            <td>
                                <div style="display: block;">
                                    <div   style="margin: 0;width: 100%;">
                                        {{view Ember.TextField valueBinding="domains"  class="mustFill4"  }}
                                    </div>
                                </div>
                                <div class="mustfill" id="emailFormat6" style="display: none">not correct email format.....</div>
                                <div class="mustfull" id="mustFill6" style="display: none">please fill in info... </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Keywords:</td>
                            <td>
                                <div style="display: block;">
                                    <div   style="margin: 0;width: 100%; height:100px;">
                                        {{view Ember.TextArea valueBinding="keywords" class="no-resize"  placeholder="* Please ensure you use a commer seperated list!!! ie: bathroom, kitchen, living room"}}
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <div style="right: 0;margin: 30px auto 0;width: 150px;">
                    <span class="new-btn green-btn" {{action saveUpdate}} >Save</span>
                    <span class='new-btn blue-btn flip-back'{{action flipFrontBack}}}><k class='icon-group'> &nbsp;</k>Back</span>
                </div>
            </div>


            <div class="tab-pane" id="tab5">

                <div style="font-size: 25px; color: #555; text-align: center;font-weight: bold;margin: 10px auto 5px;">Keywords Settings</div>
                <div style="font-size: 15px; font-weight: bold;color: #555; text-align: center;margin: 5px auto 20px;">You have {{keyword_left}} keywords left out of  ({{keyword_num}}).</div>
                {{#view HubStar.KeywordDropTargetView}}
                <div style="width: 700px; min-height: 100px; background-color: #f3f3f3; margin: 10px auto;padding: 5px 8px;position: relative;">
                    <div style="font-size: 13px; font-weight: bold;color: #aaa;position: absolute;bottom: 5px;text-align: center;width: 684px;">Keywords in this area can be showed on the profile, drag from the pool below. (maximum 10 keywords)</div>
                    {{#each controller.show_keyword_array}}                    
                    <div class='hashtags' style="margin: 2px 3px;">{{keyword_name}}{{#if controller.is_authentic_user}}<i class='remove-hashtages' {{action deleteKeywords keyword_id "show"}}>x</i>{{/if}}</div>                    
                    {{/each}}                      
                </div>
                {{/view}}
                <div style="width: 700px; border: 1px solid #ddd;margin: 0 auto;border-radius: 3px;">

                    <div class="keyword-pool" style="">
                        {{#each controller.keywords_array}}
                        {{#view HubStar.KeywordView elementIdBinding="keyword_id"}}
                        <div class='hashtags' style="margin: 2px 3px;">{{keyword_name}}{{#if controller.is_authentic_user}}<i class='remove-hashtages' {{action deleteKeywords keyword_id "all"}}>x</i>{{/if}}</div>
                        {{/view}}
                        {{/each}}
                    </div>

                    <div  style="margin: 0;width: 657px; height:50px;border-top: 1px dashed #aaa;overflow: hidden;">
                        {{view Ember.TextArea valueBinding="add_keywords" class="no-resize no-effect"  placeholder="* Please ensure you use a commer seperated list!!! ie: bathroom, kitchen, living room"}}
                    </div>

                    <div class="new-btn" style="float: right;top: -50px;height: 51px;line-height: 50px;right: -1px;" {{action addKeywords}}>Add</div>
                </div>


                <div style="right: 0;margin: 30px auto 0;width: 150px;">
                    <span class="new-btn green-btn" {{action saveUpdate}}>Save</span>
                    <span class='new-btn blue-btn flip-back' {{action flipFrontBack}}><k class='icon-group'> &nbsp;</k>Back</span>
                </div>
            </div>


            <div class="tab-pane" id="fileuploader">

                {{#if controller.isPhotoUploadMode}}
                {{#view HubStar.SingleFileUploaderView }}
                <div style="position: relative; margin: 15px auto;height: 520px; width: 87%; background-color: rgba(242,240,240,0.5);border: 3px dashed #aaa;">
                    <div style="top: 190px;position: relative;margin: auto;width: 80%;font-size: 26px; text-shadow: 1px 1px 0px #fff, -0.5px -0.5px 0px #555;color: #aaa;text-align: center;font-size: 35px;">


                        <i class="icon-upload" style="font-size: 45px;"></i>
                        <p style="font-weight: bold; margin: 10px;">
                            {{controller.UploadImageMode}} 

                        </p>
                        <span style='font-size: 17px;display: block;line-height: 25px;'>Please select one photo for your choice.</span>   
                        <span style='font-size: 17px;display: block;line-height: 25px;'> {{controller.RequiredImageSize}}</span>
                        <span style='font-size: 17px;display: block;line-height: 25px;'> {{controller.CurrentImageSize}}</span>

                    </div>
                    <div class="new-btn blue-btn" style="margin: auto; width: 200px; top: 550px; position: absolute;left: 0;">
                        Choose 
                        <div style="opacity:0;position: absolute;top: 0px;left: 0;"> {{view HubStar.SingleImageInputButtonView }}</div>
                        <div style="opacity:0;position: absolute;top: 0px;left: 0;"> </div>
                    </div>

                    <div id="dragAndDroppArea" class="dragndropbox" style="display:block">
                        <div style="position: relative;margin:3px; display: inline-block; vertical-align: top; min-width: 150px;text-align: center;">
                            <div>
                                <img  {{bindAttr src= "newStyleImageSource"}}  style="max-width: 140px; max-height: 150px;">
                                <div id='uploadStyleImg' style="display: none;">
                                    <img style="width: 25px; height: 25px;position: absolute;top: 40%;left: 62px;" src="../../../images/uploadphotos_spinner.gif"/>
                                </div>
                            </div>
                            <div style="margin: 2px 0 5px; font-size: 13px; text-overflow:ellipsis; text-align: center; width: 150px;overflow: hidden;word-wrap: break-word;line-height: 15px;">{{newStyleImageName}}</div>
                        </div>

                    </div>
                </div>
                <div class="" style="margin-top: 20px;">
                    <div class="controlbtn" style="left: 300px;">

                        {{#if controller.isCrop}}
                        <span id="photoUploadbtn" class="new-btn blue-btn" {{action cropButton}}>Crop</span>
                        {{else}}
                        <span  class="disabled-btn" >Crop</span>
                        {{/if}} 
                        {{#if controller.isUpload}}
                        <span id="photoUploadbtn" class="new-btn green-btn" {{action photoUpload}}>Upload</span>
                        {{else}}
                        <span  class="disabled-btn" >Upload</span>
                        {{/if}} 
                        <a href="#tab1" data-toggle="tab" {{action resetNewStyleImageSource}}><span class="new-btn">Close</span></a>


                    </div>
                </div>
                {{/view}}
                {{/if}}

                {{#if controller.loadingTime}}

                {{render loadingSpinner}}

                {{/if}}

                {{#if controller.isPhotoEditingMode}}

                <div class='' style='position:relative;height: 65px; width: 100%;background-color: #fafafa;text-align: left;color: #555;padding: 10px 25px;text-shadow: 0 1px 0 rgba(255,255,255,0.8);'>
                    <span style="position: relative;display: inline-block;font-size: 40px; vertical-align: top;"><k class='icon-ok-circle'></k></span>
                    <span style="position: relative;width: 87%;display: inline-block;margin: 0 15px;">
                        <span style='font-size: 20px;display: block;line-height: 25px;font-weight: bold'>Crop your picture now!</span>
                        <span style='font-size: 15px;display: block;line-height: 15px;'> Image Size: <span id="log"></span> </span>  
                    </span>
                </div>

                {{#if controller.isProfilePicture}}
                <div id="crop-container" style="width: 820px;height: 500px;margin: 10px auto; text-align: center">          
                    {{/if}}
                    {{#if controller.isProfileHero}}
                    <div id="crop-container" style="width: 830px;height: 500px;margin: 10px auto; text-align: center">
                        {{/if}}
                        {{#if controller.isProfileBackground}}
                        <div id="crop-container" style="width: 850px;height: 500px;margin: 10px auto; text-align: center">
                            {{/if}}
                            <canvas id="panel" class="crop-canvas" style="height: 100%;width: auto;margin: 0 auto; "><img  {{bindAttr src= "newStyleImageSource"}} ></canvas>
                        </div>



                        <div class="" style="margin-top: 5px;">

                            <div class="controlbtn" style="left: 34%;">
                                <span class="new-btn green-btn " {{action photoUpload}} ><k class='icon-save'> &nbsp;Save</span>
                                <a href="#tab1" data-toggle="tab"{{action resetNewStyleImageSource}}>   <span class="new-btn" >Back</span> </a>

                            </div>
                        </div>
                        {{/if}}
                        {{#if controller.isFinished}}

                        <div class='' style='line-height: 45px;position:relative;height: 50px; width: 100%;background-color: #fafafa;text-align: left;color: #555;padding: 5px 25px;text-shadow: 0 1px 0 rgba(255,255,255,0.8);'>
                            <span style="position: relative;display: inline-block;font-size: 40px;vertical-align: top;"><k class='icon-ok-circle'></k></span>
                            <span style="position: relative;width: 87%;display: inline-block;margin: 0 15px;">

                                <span style='font-size: 20px;display: block;line-height: 15px;'>Congratulations! Your Photos have been uploaded!</span>
                            </span>
                        </div>

                        <div style="position: relative; margin: auto;height: 500px; width: 690px; overflow: hidden;line-height: 490px;">
                            <div style="position: relative;margin:3px;text-align: center;overflow: hidden;">
                                <img  {{bindAttr src= "newStyleImageSource"}} >
                            </div>
                        </div>
                        <div class="" style="">


                            <div class="controlbtn" style="left: 34%;">

                                <a href="#tab1" data-toggle="tab"{{action resetNewStyleImageSource}}>   <span class="new-btn" >Finish</span> </a>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>

        </div>



    </div>




    {{#if controller.switchPhoto}}


    {{view HubStar.MasonryCollectionView}}

    {{else}}


    {{render masonryCollectionItems}}


    {{/if}}


    {{#if controller.makeSureDelete}}

    {{view HubStar.DeleteFunctionView}}


    {{/if}}

    {{#if HubStar.checkLoginStatus}}

    {{render loginModal}}       

    {{/if}}



    {{#if controller.rateTime}}

    {{render review this}}


    {{/if}}
    

    {{#unless HubStar.isLogin}}
    {{render "footer"}}
    {{/unless}}



    {{#if controller.popUpMap}}

    {{view  HubStar.GoogleMapPopupView}}


    {{/if}}


