<div class="profilemain">

    <div class="profile-main-content profile-main-container" >

        <div class="main_aboutus" >
            <p class="profileaboutus-title">
                <i class="fa fa-group profileaboutus-icon" ></i>About Us
            </p>
            <div class="editor-content profileaboutus-maintxt" >
                <div class="profileaboutus-display">
                    {{#if controller.editingAbout}}

                    <div class="profileaboutus-yesno">
                        <div class="new-btn blue-btn" {{action yesAbout controller.aboutMe}}><i class="fa fa-check fa fa-white"></i></div>
                        <div class="new-btn" {{action no controller.aboutMe}}><i class="fa fa-times"></i></div>
                    </div>
                    <div class="profileaboutus-txt">
                        {{#if controller.isAboutUsObjectExist}}
                        {{view HubStar.AboutUsView1}}
                        {{else}}
                        {{view HubStar.HtmlEditorView}}
                        {{/if}}
                    </div>
                </div>
                <div class="profileaboutus-yesno2">
                    <div class="new-btn blue-btn" {{action yesAbout controller.aboutMe}}><i class="fa fa-check fa fa-white"></i></div>
                    <div class="new-btn" {{action no controller.aboutMe}}><i class="fa fa-times"></i></div>
                </div>
                {{else}}
                {{#if controller.is_authentic_user}}

                <div class="edit-btn hint--rounded hint--bottom profileaboutus-edit" data-hint="Edit content" {{action toggleEditing controller.about_me controller.aboutMe}}>
                     <i class="fa fa-pencil-square-o"></i>
                </div>
                {{/if}}
            </div>
            {{#if model.show_template}}
            <div class="profileaboutus-displaycontent" >{{view HubStar.AboutUsView1}}</div>
            {{else}}
            <div class="profileaboutus-displaycontent" >{{{model.profile_about_us}}}</div>
            {{/if}}
            {{/if}}
        </div>


        <div class="profileaboutus-sociallink">
            <ul class="locationandlinks">
                {{#if facebook}}
                <li class="location_li">
                    <a href="#" target="_blank" {{action socialLink 'facebook'}}>&nbsp;&nbsp; <i class="fa fa-facebook"> </i></a>
                </li>
                {{/if}}
                {{#if twitter}}
                <li class="location_li">
                    <a href="#" target="_blank" {{action socialLink 'twitter'}}>&nbsp;&nbsp;<i class="fa fa-twitter"> </i></a>
                </li>
                {{/if}}
                {{#if googleplus}}
                <li class="location_li">
                    <a href="#" target="_blank"{{action socialLink 'googleplus'}}>&nbsp;&nbsp; <i class="fa fa-google-plus"> </i></a>
                </li>
                {{/if}}
                {{#if pinterest}}
                <li class="location_li">
                    <a href="#" target="_blank" {{action socialLink 'pinterest'}}>&nbsp;&nbsp; <i class="fa fa-pinterest"> </i></a>
                </li>
                {{/if}}
                {{#if linkedin}}
                <li class="location_li">
                    <a href="#" target="_blank"{{action socialLink 'linkedin'}}>&nbsp;&nbsp; <i class="fa fa-linkedin"> </i></a>
                </li>
                {{/if}}
                {{#if youtube}}
                <li class="location_li">
                    <a href="#" target="_blank" {{action socialLink 'youtube'}}>&nbsp;&nbsp; <i class="fa fa-youtube-play"> </i></a>
                </li>
                {{/if}}

                {{#if instagram}}
                <li class="location_li">
                    <a href="#" target="_blank" {{action socialLink 'instagram'}}>&nbsp;&nbsp;<i class="fa fa-instagram"> </i></a>
                </li>
                {{/if}}             
            </ul>
        </div>
    </div>
</div>
