<div class="profilemain" style="">

    <div class="profile-main-content" style="margin: 20px 0;width: 95%;">

        <div class="main_aboutus" style="">
            <p style='display: inline-block; font-size: 18px; margin: 0'>
                <i class='fa fa-group' style='margin-right: 10px;display: inline-block;'></i>About Us
            </p>
            <div class="editor-content" style="margin-top: -20px;">
                <div style="display: inline-block;">
                    {{#if controller.editingAbout}}

                    <div style="right: 45px; position: absolute;top: 45px;">
                        <div class="new-btn blue-btn" {{action yesAbout controller.aboutMe}}><i class="fa fa-check fa fa-white"></i></div>
                        <div class="new-btn" {{action no controller.aboutMe}}><i class="fa fa-times"></i></div>
                    </div>

                    <div style="height: 300px;margin-top: 35px;">
                        {{#if controller.isAboutUsObjectExist}}
                        {{view HubStar.AboutUsView1}}
                        {{else}}
                        {{view HubStar.HtmlEditorView}}
                        {{/if}}
                    </div>


                </div>
                <div style="right: 40px;bottom: 25px;position: absolute;">
                    <div class="new-btn blue-btn" {{action yesAbout controller.aboutMe}}><i class="fa fa-check fa fa-white"></i></div>
                    <div class="new-btn" {{action no controller.aboutMe}}><i class="fa fa-times"></i></div>
                </div>
                {{else}}
                {{#if controller.is_authentic_user}}

                <div class="edit-btn hint--rounded hint--bottom" style="margin: 0 0 15px 120px;" data-hint="Edit content" {{action toggleEditing controller.about_me controller.aboutMe}}>
                     <i class="fa fa-pencil-square-o"></i>
                </div>

                {{/if}}
            </div>
            {{#if model.show_template}}
            <div style="display: block; width: 100%" >{{view HubStar.AboutUsView1}}</div>
            {{else}}
            <div style="display: block; width: 100%" >{{{model.profile_about_us}}}</div>
            {{/if}}
            {{/if}}
        </div>




        <div style="height: 40px; bottom: 0;width: 700px;position: absolute;margin-bottom: 15px;">
            <ul class="locationandlinks">

                {{#if facebook}}
                <li class="location_li">
                    <a href="#" target="_blank" {{action socialLink 'facebook'}}>&nbsp <i class="fa fa-facebook"> </i></a>
                </li>
                {{/if}}
                {{#if twitter}}
                <li class="location_li">
                    <a href="#" target="_blank" {{action socialLink 'twitter'}}>&nbsp <i class="fa fa-twitter"> </i></a>
                </li>
                {{/if}}
                {{#if googleplus}}
                <li class="location_li">
                    <a href="#" target="_blank"{{action socialLink 'googleplus'}}>&nbsp <i class="fa fa-google-plus"> </i></a>
                </li>
                {{/if}}
                {{#if pinterest}}
                <li class="location_li">
                    <a href="#" target="_blank" {{action socialLink 'pinterest'}}>&nbsp <i class="fa fa-pinterest"> </i></a>
                </li>
                {{/if}}
                {{#if linkedin}}
                <li class="location_li">
                    <a href="#" target="_blank"{{action socialLink 'linkedin'}}>&nbsp <i class="fa fa-linkedin"> </i></a>
                </li>
                {{/if}}
                {{#if youtube}}
                <li class="location_li">
                    <a href="#" target="_blank" {{action socialLink 'youtube'}}>&nbsp <i class="fa fa-youtube-play"> </i></a>
                </li>
                {{/if}}

            </ul>
        </div>

    </div>

</div>
