
<div class="profile-wallpaper profile-box">
    <img  {{bind-attr src= model.profile_bg_url}} class="profile-bg-url">
</div>
<div class="profile-top"></div>

<div id="profilePanel" class="hover panel profilePanel" style="position: relative !important;"><!-- must keep inline css for some reason by Ally-->
    <div id="profileFront" class="front" style="text-align: inherit; width: auto;height: auto; box-shadow: none; border: none; position: relative !important;">

        <div class="profilewrapper premium">
            <!--corpbanner-->

            <div class="profilecorpbanner">
                <img {{bind-attr src= model.profile_hero_url}} class="profile-wid"/>
                {{#if controller.is_authentic_user}}

                <div id="flip-front" data-hint="Dashboard" class="blue-btn new-btn hint--left hint--rounded edit-dashboard-btn blue-btn-ard" {{action flipFrontClick}}>
                     <i class="fa fa-cogs"></i>
                </div>

                {{/if}}
                <div class="corpbanner_mask">
                    <div class="corpbanner_content">
                        <div class="main_title main-title">

                            <div>
                                {{#if controller.editing}}
                                <div style="margin-bottom: 10px;">
                                    <div style="display: inline-block; width: 350px;">
                                        {{input type="text" class="insert-profile-name" value=profile_name}}
                                    </div>
                                    <div style="display: inline-block;vertical-align: bottom; margin-left:20px">
                                        <div class="new-btn blue-btn"{{action yes controller.profileName}}><i class="fa fa-check fa fa-white"></i></div>
                                        <div class="new-btn"{{action no controller.profileName}}><i class="fa fa-times fa fa-white"></i></div>
                                    </div>
                                </div>
                                {{else}}
                                <div id="profileName"  style="display: inline-block; color: white; max-width: 500px; overflow: hidden; font-size: 28px; margin-bottom: 15px; line-height: 32px; vertical-align: middle;">
                                    {{profile_name}}
                                </div>
                                {{#if controller.is_authentic_user}}
                                <div class="edit-btn easing hint--rounded hint--bottom" data-hint="Edit content" style="color: white;" {{action toggleEditing  controller.profile_name controller.profileName}}>
                                     <i class="fa fa-pencil-square-o"></i>
                                </div>
                                {{/if}}
                                {{/if}}
                            </div>



                            <!--STAR RATING-->
                            <div style="position: absolute;width: 100%;">
                                <div style=";width: 50%; float: left;" data-step="1" data-intro="Click here to <b>Rate and Review</b> a profile." data-position="right">

                                    <span class="stars" style="float: left;margin: 5px 15px 5px 0;" ><span id="starsize" ></span></span>
                                    <div class="hint--right hint--rounded" data-hint="Review this profile!"  {{action rateEditing model.id}} >
                                         <div class="contactmeicon easing" style="float: left;width: 45px;height: 45px;line-height: 33px;text-align: center;font-weight: bold;font-size: 15px;border: 5px solid rgba(0,0,0,.3);top: -5px;;">{{this.profile_average_review}}</div>
                                        <div class="hover-opacity" style="font-size: 13px; font-weight: bold; color: #fff; cursor: pointer;  float: left;  margin: 8px 10px;">{{this.reviews.length}} • Reviews</div>
                                    </div>

                                </div>
                                <!--contact me-->
                                <div class="enquiryBtn-containter" style="float: right;margin: -5px 20px 0 0;position: relative; right: 20px;"  data-step="3" data-intro="Click here to <b>Contact</b> the profile owner." data-position="left">
                                    <div class="enquiryBtn-ring"></div>
                                    <div class="enquiryBtn easing"{{action editingContactForm }}><i class="fa fa-envelope easing" style="font-size: 18px;"></i></div>
                                    <div class="btn-description">MESSAGE</div>
                                </div>
                                <!--Share profile-->
                                <div class="contactmebtn hint--left hint--rounded easing" style="position: relative; right: 30px;"  data-step="2" data-intro="Click here to <b>Share</b> a link to this profile through social media." data-position="left">
                                    <a class="contactmeicon easing" {{action dropdownPhotoSetting}}><i class="fa fa-share easing" style="font-size: 19px;"></i></a>
                                    <div class="btn-description" style="margin: 8px;">SHARE</div>
                                </div>
                                <!--is_editor-->
                                {{#if HubStar.profile_manager}}
                                {{#if controller.is_editor}}
                                <div class="contactmebtn hint--bottom hint--rounded easing" style="position: relative; right: 30px;" data-hint="Profile Editor!" >
                                    <a class="contactmeicon easing" {{action editingEditor }}><i class="fa fa-user easing" style="font-size: 18px;"></i></a>
                                    <div class="btn-description">EDITOR</div>
                                </div>
                                {{/if}}
                                {{/if}}

                            </div>
                            <ul class="hideClass edit-object-ul" id="dropdown_id_{{unbound id}}" style="width: 150px;  padding: 0;right: 65px;top: 100px;position: absolute;">
                                <li class="ite" {{action  fbShare}} >
                                    <i class="fa fa-facebook" style="font-size: 16px; margin: 0px 5px;position: absolute"></i><span style="margin-left: 2.5em">Facebook</span>
                                </li>
                                <li class="ite" {{action tShare}} >
                                    <i class="fa fa-twitter" style="font-size: 16px;  margin: 0px 5px;position: absolute"></i><span style="margin-left: 2.5em">Twitter</span>
                                </li>
                                <li class="ite" {{action pShare}} >
                                    <i class="fa fa-pinterest" style="font-size: 16px;  margin: 0px 5px;position: absolute"></i><span style="margin-left: 2.5em">Pinterest</span>
                                </li>
                                <li class="ite" {{action gpShare}}>
                                    <i class="fa fa-google-plus" style="font-size: 16px; margin: 0px 5px;position: absolute"></i><span style="margin-left: 2.5em">Google+</span>
                                </li>
                                <li class="ite" {{action eShare}}> 
                                    <img src="../../../images/sent.png" style="width: 16px;height: 16px">
                                    <i class="send_email" style="font-size: 16px; margin: 0px 5px;position: absolute"></i><span style="margin-left: 1.5em">E-mail</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--            <div id="light" class="white_content">
                             <a class="close email" href = "javascript:void(0)" onclick = "document.getElementById('light').style.display = 'none';
                                document.getElementById('fade').style.display = 'none'">Close</a>
                                    <div style=" width: 100%; height: 50px;resize: none;">
                                    {{view Ember.TextArea valueBinding="controller.emailBody" rows="12" cols="70" class="no-resize" placeholder="Send this idea to..."}}
                                </div>
                            <div style=" width: 100%; height: 200px;resize: none;">
                                
                                {{view Ember.TextArea valueBinding="controller.emailBody" rows="12" cols="70" class="no-resize" placeholder="Add a massage"}}
                                    
                                </div>
                            <div style="float: right;position: relative; display: inline-block; vertical-align: top;margin: 5px 0;">
                        <a href="#"><img {{bind-attr src="controller.owner_profile_pic"}} class="profilepic"/></a>              
                    </div>
                        </div>
                        <div id="fade" class="black_overlay"></div>-->
            <div style="position: relative; width: 100%;background-color: rgb(242,240,240); border-radius: 0 0 3px 3px;">

                <!--PROFILE PAGE LEFT SIDE-->


                <table cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <!--LEFT COL BEGINS -->
                            <td class="left_col" width="29%" valign="top">
                                <div class="profileaside">
                                    <div class="profileaside_content">
                                        <div class="aside-profilepic" data-step="4" data-intro="Start following this profile by clicking <b>+ Follow</b>." data-position="right">
                                            <div style="min-height: 175px; overflow: visible; line-height: 175px;margin-bottom: 20px;" data-hint="{{unbound model.profile_name}}">
                                                <a href="#/profiles/{{unbound model.id}}">
                                                    <img {{bind-attr src= model.profile_pic_url}} style="border:5px solid white;box-shadow: 0px 0px 5px #888;min-height: 0;width: 100%">
                                                </a>
                                            </div>
                                            {{#if controller.follow_status}}
                                            <div href="#question_modal" role="button" class="disabled-btn disabled-green" data-toggle="modal" style="margin:10px auto;display: block;width: 150px;"{{action followThisProfile}}><i class="fa fa-circle-o" >&nbsp; </i> Following</div>
                                            {{else}}
                                            <div href="#question_modal" role="button" class="new-btn green-btn" data-toggle="modal" style="margin:10px auto;display: block;width: 150px;"{{action followThisProfile}}><i class="fa fa-plus" >&nbsp; </i> Follow</div>

                                            {{/if}}

                                        </div>

                                        <div>
                                            <div class="LatestFollower" >

                                                {{#each contentFollowerPhoto}}
                                                <a class="radius-circle" href="#/users/{{unbound this.id}}">
                                                    <div class="hint--bottom hint--rounded" data-hint="{{unbound this.name}}">
                                                        <img {{bind-attr src= this.photo_url}}/>
                                                    </div>
                                                </a>
                                                {{/each}}
                                            </div>
                                            <div class="Followed-by easing" {{action selectFollower this }}>Followed by {{controller.profileFollowerStatistics}} people.</div>
                                        </div>


                                        <!--KEYWORDS SECTION-->
                                        <div class="aside-container" >
                                            <div style="margin-bottom: 15px;display: inline-block;font-size: 18px; vertical-align: top;">
                                                <i class="fa fa-bookmark" style="margin-right: 10px;"></i>Keywords
                                            </div>

                                            <div style="width: 100%;min-height: 100px;">
                                                <ul class="Client-Keywords-tags">
                                                    {{#each controller.show_keyword_array}}
                                                    <li><div class="tags-before"></div><a href="#" {{action keywordSearch this.keyword_name}} >{{this.keyword_name}}</a></li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                        </div>




                                        <!--PROFILE CONTACT SECTION-->

                                        <div class="aside-container" style="" data-step="5" data-intro="Find <b>Contact Details</b> for the profile owner here." data-position="right">
                                            <div style="margin-bottom: 15px;display: inline-block;font-size: 18px; vertical-align: top;"><i class="fa fa-phone" style="margin-right: 10px;"></i>Contact Details</div>
                                            {{#unless controller.editingContact}}
                                            {{#if controller.is_authentic_user}}
                                            <div class="edit-btn easing hint--rounded hint--bottom" data-hint="Edit content" {{action toggleEditing model.phone_number controller.contact}}>
                                                 <i class="fa fa-pencil-square-o" ></i>
                                            </div>
                                            {{/if}}


                                            {{/unless}}

                                            <table id="aside_contact" >
                                                <tbody>
                                                    <tr valign="top">
                                                        <th>Contact:</th>
                                                        <td>
                                                            {{#if controller.editingContact}}
                                                            {{input type="text" class="insert-contactdetails" value=first_name placeholder="First Name"}}
                                                            {{input type="text" class="insert-contactdetails" value=last_name placeholder="Last Name"}}
                                                            {{else}}
                                                            <div class="Contact_2child">{{first_name}} {{last_name}}</div>
                                                            {{/if}}
                                                        </td>
                                                    </tr>
                                                    <tr valign="top">
                                                        <th>Category:</th>
                                                        <td>
                                                            {{#if controller.editingContact}}
                                                            <div class="new-btn" style="margin: 4px 0px 0 20px;width: 100%;display: inline-block; text-align: left;" {{action dropdown "category"}}>
                                                                 <span id="profileCategorySelection">{{controller.profileCategorySelection}}</span>
                                                                <span class="caret"></span>
                                                                {{#if controller.profileCategoryDropdown}}
                                                                {{view HubStar.DropdownListView}}
                                                                {{/if}}
                                                            </div>
                                                            {{else}}
                                                            <div class="Contact_2child"><a >{{model.profile_category}}</a></div>
                                                            {{/if}}
                                                        </td>
                                                    </tr>
                                                    <tr valign="top">
                                                        <th>Subcategory:</th>
                                                        <td>
                                                            {{#if controller.editingContact}}
                                                            <div  class="new-btn" style="margin: 4px 0px 0 20px;width: 100%;display: inline-block; text-align: left;" {{action dropdown "subcategory"}}>
                                                                  <span id="profileSubcategorySelection">{{controller.profileSubcategorySelection}}</span>
                                                                <span class="caret"></span>
                                                                {{#if controller.profileSubcategoryDropdown}}
                                                                {{view HubStar.DropdownListView}}
                                                                {{/if}}
                                                            </div>
                                                            {{else}}
                                                            <div class="Contact_2child"><a >{{model.profile_subcategory}}</a></div>
                                                            {{/if}}
                                                        </td>
                                                    </tr>
                                                    <tr valign="top">
                                                        <th style="vertical-align: top;">Address:</th>
                                                        <td>
                                                            {{#if controller.editingContact}}
                                                            {{input type="text" class="insert-contactdetails" value=address placeholder="Street Address" }}
                                                            {{input type="text" class="insert-contactdetails" value=suburb  placeholder="Suburb"}}
                                                            {{input type="text" class="insert-contactdetails" value=region  placeholder="Region"}}
                                                            {{input type="text" class="insert-contactdetails" value=country placeholder="country" }}
                                                            {{else}}
                                                            {{#if controller.address}}
                                                            <div class="Contact_2child">{{address}},</div>
                                                            {{/if}}
                                                            {{#if controller.suburb}}
                                                            <div class="Contact_2child">{{suburb}},</div>
                                                            {{/if}}
                                                            {{#if controller.region}}
                                                            <div class="Contact_2child">{{region}},</div>
                                                            {{/if}}
                                                            {{#if controller.country}}
                                                            <div class="Contact_2child">{{country}}</div>
                                                            {{/if}}
                                                            {{/if}}
                                                        </td>
                                                    </tr>

                                                    <tr valign="top">
                                                        <th>Phone:</th>
                                                        <td>
                                                            {{#if controller.editingContact}}
                                                            {{input type="text" class="insert-contactdetails" value=profile_contact_number  }}
                                                            {{else}}
                                                            <div class="Contact_2child">{{profile_contact_number}}</div>
                                                            {{/if}}
                                                        </td>
                                                    </tr>
                                                    <tr valign="top">
                                                        <th>Website:</th>
                                                        <td>
                                                            {{#if controller.editingContact}}
                                                            {{input type="text" class="insert-contactdetails" value=website }}

                                                            {{else}}
                                                            <div class="Contact_2child"><a href="{{unbound  website_url}}"{{action gotoSize}}>{{website}}</a></div>
                                                            {{/if}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        {{#if controller.editingContact}}
                                                        <th style="color: #aaa;text-align: right;font-size: 14px;font-weight: normal;width: 90px;">Website URL:</th>
                                                        <td>
                                                            {{input type="text" class="insert-contactdetails" value=website_url }}
                                                        </td>
                                                        {{else}}
                                                        {{/if}}
                                                    </tr>
                                                </tbody>
                                            </table>
                                            {{#unless controller.editingContact}}


                                            {{else}}
                                            <div class="buttons" style="position: relative;display: block;margin: 10px auto 0;text-align: center;">
                                                <div  type="button" class="new-btn blue-btn" {{action yes controller.contact }}> <i class="fa fa-check fa fa-white"></i></div>

                                                <div  type="button" class="new-btn" {{action no controller.contact}}> <i class="fa fa-times"></i></div>

                                            </div>
                                            {{/unless}}
                                        </div>

                                        <!--PROFILE HOURS SECTION-->

                                        <div class="aside-container" style="border-top: 1px solid #fff;"  data-step="6" data-intro="Find out <b>Opening Hours</b> for the profile owner here." data-position="right">
                                            <div style="margin-bottom: 15px;display: inline-block;font-size: 18px; vertical-align: top;"><i class="fa fa-clock-o" style="margin-right: 10px;"></i>Hours</div>

                                            {{#unless controller.editingTime}}
                                            {{#if controller.is_authentic_user}}
                                            <div class="edit-btn easinghint--rounded hint--bottom" data-hint="Edit content" {{action toggleEditing  model.profile_name controller.timeSetting}}>
                                                 <i class="fa fa-pencil-square-o"></i>
                                            </div>
                                            {{/if}}
                                            {{/unless}}

                                            {{#each controller.hours}}

                                            <table id="aside_contact">

                                                <tbody>

                                                    {{#unless controller.editingTime}}

                                                <th class="Contact_1child">{{day}}</th>

                                                {{else}}
                                                <td> {{input type="text" class="inserthours-day" value=day}}</td>
                                                {{/unless}}

                                                {{#unless controller.editingTime}}
                                                <th class="Contact_2child">{{time}}</th>
                                                {{else}}
                                                <td>  {{input type="text" class="inserthours-time" value=time  }}</td>
                                                {{/unless}}

                                                </tbody>
                                            </table>


                                            {{/each}}
                                            {{#if controller.editingTime}}

                                            <div style="width: 75px;margin: auto;">
                                                <div class="new-btn blue-btn"{{action yes controller.timeSetting}}><i class="fa fa-check fa fa-white"></i></div>
                                                <div class="new-btn"{{action no controller.timeSetting}}><i class="fa fa-times fa fa-white"></i></div>
                                            </div>
                                            {{/if}}
                                        </div>


                                        <!--PROFILE GOOGLEMAP SECTION-->
                                        <div class="aside-container" style="border-bottom:0 none;border-top: 1px solid #fff;" data-step="7" data-intro=" Click the <b>Location Map</b> to find out how to reach the profile owner’s address from your location." data-position="right">
                                            <div id="google-map"  style="width: 290px;height: 260px; border: 5px solid #fff;cursor: pointer" >
                                                <div class="enlarge-map easing" style=""{{action popUpGoogleMap}}><k class="fa fa-expand"></k></div>
                                                <img  {{bind-attr src="controller.profile_google_map"}} style="width: 100%; height:auto;" {{action popUpGoogleMap}}>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <!--LEFT COL ENDS -->

                            <!--RIGHT COL BEGINS -->
                            <!--PROFILE PAGE MAIN PART-->
                            <td class="right_col" width="70%" valign="top">
                                {{view HubStar.ProfileAboutUsEditView}}
                            </td>


                            <!--RIGHT COL ENDS -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    {{#unless controller.userTour}}
    <div id="profileDashboard" class="back t-style-box">
        <div class="profile-tab-profilehero">
            <img {{bind-attr src= model.profile_hero_url}}/>
            <div class="profile-tab-profilehero2">
                <div class="profile-tab-dashboard">
                    <i class="fa fa-cogs">&nbsp;</i>Dashboard
                </div>
            </div>
        </div>

        <div class="tabbable">
            <div class="tabs-left">
                <ul class="nav nav-tabs easing">
                    <li class="active" {{action changeSize}}><a href="#tab1" data-toggle="tab">Style up!</a></li>
                    <li class="easing" {{action changeSize}}><a href="#tab2" data-toggle="tab">General Settings</a></li>
                    <li class="easing" {{action changeSize}}><a href="#tab3" data-toggle="tab">Account Settings</a></li>
                    <li class="easing" {{action changeSize}}><a href="#tab7" data-toggle="tab">Social Links</a></li>
                    {{#if controller.isAdmin}}
                    <li class="easing" {{action changeSize}}><a href="#tab4" data-toggle="tab">Authority Settings</a></li>
                    {{/if}}
                    {{#if controller.is_authentic_user}}
                    <li class="easing" {{action changeSize}}><a href="#tab5" data-toggle="tab">Keyword Settings</a></li>
                    {{/if}}
                </ul>
            </div>

            <div class="tab-content easing">
                <div class="tab-pane active" id="tab1">
                    <div class="profile-tab-title">Style up your profile!</div>

                    <div class="styleup_section">
                        <a href="#fileuploader" data-toggle="tab" {{action setUploadImageMode "Profile Picture"}}>
                           <div class="styleup_uploadbox easing hint--right hint--rounded" data-hint="Upload" {{action changeSize}}>
                             <i class="fa fa-arrow-circle-o-up fa fa-3x profile-tab1-errow"></i>
                                <span class="profile-tab1-txt">Profile Picture</span>
                            </div>
                        </a>
                        <div class="profile-tab1-imgcontainer">
                            <img {{bind-attr src="profile_pic_url"}} />
                        </div>
                    </div>

                    <div class="styleup_section easing">
                        <a href="#fileuploader" data-toggle="tab" {{action setUploadImageMode "Profile Hero"}}>
                           <div class="styleup_uploadbox easing hint--right hint--rounded" data-hint="Upload" {{action changeSize}}>
                             <i class="fa fa-arrow-circle-o-up fa fa-3x profile-tab1-errow"></i>
                                <span class="profile-tab1-txt">Profile Hero</span>
                            </div>
                        </a>
                        <div class="profile-tab1-imgcontainer">
                            <img {{bind-attr src="profile_hero_url"}}/>
                        </div>
                    </div>

                    <div class="styleup_section easing">
                        <a href="#fileuploader" data-toggle="tab" {{action setUploadImageMode "Background"}}>
                           <div class="styleup_uploadbox easing hint--right hint--rounded" data-hint="Upload" {{action changeSize}}>
                             <i class="fa fa-arrow-circle-o-up fa fa-3x profile-tab1-errow"></i>
                                <span class="profile-tab1-txt">Profile Background</span>
                            </div>
                        </a>
                        <div class="profile-tab1-imgcontainer">
                            <img {{bind-attr src="profile_bg_url"}} />
                        </div>
                    </div>
                    <div class="profile-tab-save1">
                        <span class="new-btn blue-btn flip-back"{{action flipFrontBack }}><i class="fa fa-group"> &nbsp;</i>Back</span>
                    </div>

                </div>

                <div class="tab-pane" id="tab2">

                    <div class="profile-tab-title">General Settings</div>
                    <div class="profile-tab-table">


                        <div class="profile-row">
                            <div class="profile-col1" >Profile Name*:</div>
                            <div class="profile-col2" >
                                <div class="profile-tab-row1">
                                    {{view Ember.TextField valueBinding="profile_name"   class="mustFill1" placeholder=""}}
                                    <div class="mustfull profile-tab-row1-wrn" id="mustFill1">please fill in info... </div>
                                </div>

                            </div>
                        </div>

                        <div class="profile-row">
                            <div class="profile-col1" >Profile Contact:</div>
                            <div class="profile-col2">


                                <div  class="profile-tab-row2a">
                                    {{view Ember.TextField valueBinding="first_name"  placeholder="First Name"}}
                                </div>
                                <div class="profile-tab-row2b">
                                    {{view Ember.TextField valueBinding="last_name"  placeholder="Last Name"}}
                                </div>


                            </div>
                        </div>

                        <div class="profile-row">
                            <div class="profile-col1" >Profile Category:</div>

                            <div  class="profile-col2">

                                <div class="new-btn classfication profile-tab-row2a" {{action dropdown "category" }}>
                                     <span id="profileCategorySelection">{{controller.profileCategorySelection}}</span>
                                    <span class="caret"></span>
                                    {{#if controller.profileCategoryDropdown}}
                                    {{view HubStar.DropdownListView}}
                                    {{/if}}

                                </div>
                                <div class="new-btn classfication profile-tab-row2c" {{action dropdown "subcategory" }}>
                                     <span id="profileSubcategorySelection">{{controller.profileSubcategorySelection}}</span>
                                    <span class="caret"></span>
                                    {{#if controller.profileSubcategoryDropdown}}
                                    {{view HubStar.DropdownListView}}
                                    {{/if}}


                                </div>

                            </div>
                        </div>

                        <div class="profile-row">
                            <div class="profile-col1" >Physical Address:</div>
                            <div class="profile-col2">

                                <div  class="profile-tab-row2a">
                                    {{view Ember.TextField valueBinding="address"  placeholder="Street Address"}}
                                </div>
                                <div class="profile-tab-row2b">
                                    {{view Ember.TextField valueBinding="suburb"  placeholder="Suburb"}}
                                </div>


                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="profile-col1" >Contact Number:</div>
                            <div class="profile-col2">
                                <div class="profile-tab-row1">
                                    {{view Ember.TextField valueBinding="profile_contact_number" placeholder=""}}
                                </div>

                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="profile-col1" >Website Domain:</div>
                            <div class="profile-col2">
                                <div class="profile-tab-row1">
                                    {{view Ember.TextField valueBinding="website" placeholder="yourdomain.com"}}
                                </div>

                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="profile-col1" >Website URL:</div>
                            <div class="profile-col2">
                                <div class="profile-tab-row1">
                                    {{view Ember.TextField valueBinding="website_url" placeholder="http://www.yourdomain.com"}}
                                </div>

                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="profile-col1" >Profile Cover Text:</div>
                            <div class="profile-col2">
                                <div class="profile-tab-row1">
                                    {{view Ember.TextField valueBinding="profile_cover_text" placeholder="Brief description (displayed when your profile appears in search results)"}}
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="profile-col1" >Google Analytics Tracking ID:</div>
                            <div class="profile-col2">
                                <div class="profile-tab-row1">
                                    {{view Ember.TextField valueBinding="profile_analytics_code" placeholder=""}}
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="profile-tab-save2">
                        <span class="new-btn green-btn" {{action saveUpdateGeneral}}>Save</span>
                        <span class="new-btn blue-btn flip-back" {{action flipFrontBack}}><i class="fa fa-group"> &nbsp;</i>Back</span>
                    </div>
                </div>

                <div class="tab-pane" id="tab3">

                    <div class="profile-tab-title">Account Settings</div>
                    <div class="profile-tab-table">
                        <div class="profile-row">
                            <div class="profile-col3" >Country*:</div>
                            <div class="profile-col2" >
                                <div class="profile-tab-row2">
                                    {{view Ember.TextField valueBinding="country" class="country"  placeholder="New Zealand" value="New Zealand"}}
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="profile-col3" >Region*:</div>
                            <div class="profile-col2" >
                                <div class="profile-tab-row2">
                                    {{view Ember.TextField valueBinding="region" class="region"  placeholder="Auckland"}}
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="profile-col3" >Direct Enquiry Primary Email (To:)*:</div>
                            <div class="profile-col2" >
                                <div class="profile-tab-row2">
                                    {{view Ember.TextField valueBinding="contact_email"  class="mustFill4"  placeholder=""}}
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="profile-col3" >Direct Enquiry Secondary Email (Cc:):</div>
                            <div class="profile-col2" >
                                <div class="profile-tab-row2">
                                    {{view Ember.TextField valueBinding="secondary_email"  class=""  placeholder=""}}
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="profile-col3" >Direct Enquiry Tertiary Email (Bcc:):</div>
                            <div class="profile-col2" >
                                <div class="profile-tab-row2">
                                    {{view Ember.TextField valueBinding="direct_enquiry_provide_email"  class=""  placeholder=""}}
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="profile-col3" >Editors*:</div>
                            <div class="profile-col2" >
                                <div class="profile-tab-row2 profile-tab-editor">
                                    {{view Ember.TextArea valueBinding="editors"   class="mustFill6 no-resize" placeholder=""}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-tab-save3">
                        <span class="new-btn green-btn" {{action saveUpdate}} >Save</span>
                        <span class="new-btn blue-btn flip-back"{{action flipFrontBack}}><i class="fa fa-group"> &nbsp;</i>Back</span>
                    </div>
                </div>

                <div class="tab-pane" id="tab7">
                    <div class="profile-tab-title">Social Links</div>

                    <div class="profile-tab-table">
                        <div class="profile-row">
                            <div class="profile-col1" >Facebook:</div>
                            <div id="facebook" class="profile-col2" >
                                <div class="profile-tab-row1">
                                    {{input type="text" value=facebook placeholder="www.facebook.com/username"}}
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="profile-col1" >Twitter:</div>
                            <div id="twitter" class="profile-col2" >
                                <div class="profile-tab-row1">
                                    {{input type="text" value=twitter placeholder="www.twitter.co/username"}}
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="profile-col1" >Google+:</div>
                            <div id="googleplus" class="profile-col2" >
                                <div class="profile-tab-row1">
                                    {{input type="text" value=googleplus placeholder="plus.google.com/username"}}
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="profile-col1" >Pinterest:</div>
                            <div id="pinterest" class="profile-col2" >
                                <div class="profile-tab-row1">
                                    {{input type="text" value=pinterest placeholder="www.pinterest.com/username"}}
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="profile-col1" >Linkedin:</div>
                            <div id="linkedin" class="profile-col2" >
                                <div class="profile-tab-row1">
                                    {{input type="text" value=linkedin placeholder="www.linkedin.com/in/username"}}
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="profile-col1" >Youtube:</div>
                            <div id="youtube" class="profile-col2" >
                                <div class="profile-tab-row1">
                                    {{input type="text" value=youtube placeholder="www.youtube.com/user/username"}}
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="profile-col1" >Instagram:</div>
                            <div id="instagram" class="profile-col2" >
                                <div class="profile-tab-row1">
                                    {{input type="text" value=instagram placeholder="www.instagram.com/username"}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-tab-save1">
                        <span class="new-btn green-btn" {{action saveUpdate}} >Save</span>
                        <span class="new-btn blue-btn flip-back"{{action flipFrontBack}}><i class="fa fa-group"> &nbsp;</i>Back</span>
                    </div>
                </div>

                <div class="tab-pane" id="tab4">

                    <div class="profile-tab-title">Authority Settings</div>
                    <div class="mustfull profile-tab-row1-wrn" id="errorMessage2">You can't change the package, your keyword numbers exceed the limit of<br> the package you want to change, please delete some keywords in your "Keyword Settings".</div>

                    <div class="profile-tab-table">
                        <div class="profile-row">
                            <div class="profile-col4" >Active*:</div>
                            <div class="profile-col2">
                                <div class="new-btn classfication profile-tab-row2d" {{action dropdown controller.projectActiveDropdownType}}>
                                     <span> {{controller.projectActiveDropdownContent}}</span>
                                    <span class="caret"></span>
                                    {{#if controller.isActiveDropdown}}
                                    {{view HubStar.DropdownListView}}
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="profile-col4" >Deleted*:</div>
                            <div class="profile-col2">
                                <div class="new-btn classfication profile-tab-row2d" {{action dropdown controller.projectDeleteDropdownType}}>
                                     <span> {{controller.projectDeleteDropdownContent}}</span>
                                    <span class="caret"></span>
                                    {{#if controller.isDeleteDropdown}}
                                    {{view HubStar.DropdownListView}}
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="profile-col4" >Package:</div>
                            <div class="profile-col2">
                                <div class="new-btn classfication profile-tab-row2d" {{action dropdown controller.projectCategoryDropdownType}}>
                                     <span> {{controller.projectCategoryDropdownContent}}</span>
                                    <span class="caret"></span>
                                    {{#if controller.isPackgetDropdown}}
                                    {{view HubStar.DropdownListView}}
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="profile-col4 profile-col4a">Creator:</div>
                            <div class="profile-col2">
                                <div class="disabled-btn profile-tab-row2d profile-tab-col1">
                                    <span> {{controller.profile_creator}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="profile-col4">Domains:</div>
                            <div class="profile-col2">
                                <div class="profile-tab-row2d profile-tab-row2e">
                                    {{view Ember.TextField valueBinding="domains"  class="mustFill4"  }}
                                </div>
                                <div class="mustfill profile-tab-row1-wrn" id="emailFormat6">not correct email format.....</div>
                                <div class="mustfull profile-tab-row1-wrn" id="mustFill6">please fill in info... </div>
                            </div>
                        </div>
                        <div class="profile-row">
                            <div class="profile-col4 ">Keywords:</div>
                            <div class="profile-col2">
                                <div class="profile-tab-row2d profile-tab-row2f">
                                    {{view Ember.TextArea valueBinding="keywords" class="no-resize"  placeholder="Please use a comma separated list! i.e.: bathroom, kitchen, living room"}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="profile-tab-save4">
                        <span class="new-btn green-btn" {{action saveUpdate}} >Save</span>
                        <span class="new-btn blue-btn flip-back"{{action flipFrontBack}}><i class="fa fa-group"> &nbsp;</i>Back</span>
                    </div>
                </div>


                <div class="tab-pane" id="tab5">

                    <div class="profile-tab-title profile-tab5-title">Keywords Settings</div>
                    <div class="profile-tab5-subtitle">You have {{keyword_left}} keywords left out of  ({{keyword_num}}).</div>
                    {{#view HubStar.KeywordDropTargetView}}
                    <div class="profile-tab5-txtContainer">

                        {{#each controller.show_keyword_array}}
                        <div class="hashtags profile-tab5-keyword">{{keyword_name}}{{#if controller.is_authentic_user}}<i class="remove-hashtages" {{action deleteKeywords keyword_id "show"}}>x</i>{{/if}}</div>
                        {{/each}}

                        <div class="profile-tab5-txt">You can display up to 10 keywords at a time on your business profile. <br/>Drag and drop keywords from the area below.</div>
                    </div>
                    {{/view}}
                    <div class="profile-tab5-keywordcontainer">

                        <div class="keyword-pool">
                            {{#each controller.keywords_array}}
                            {{#view HubStar.KeywordView elementIdBinding="keyword_id"}}
                            <div class="hashtags profile-tab5-keyword">{{keyword_name}}{{#if controller.is_authentic_user}}<i class="remove-hashtages" {{action deleteKeywords keyword_id "all"}}>x</i>{{/if}}</div>
                            {{/view}}
                            {{/each}}
                        </div>

                        <div class="profile-tab5-inputKey">
                            {{view Ember.TextArea valueBinding="add_keywords" class="no-resize no-effect"  placeholder="*Please separate multiple keywords with a comma; i.e. Bathroom Vanities, Kitchen Appliances"}}
                        </div>

                        <div class="new-btn profile-tab5-addbtn" {{action addKeywords}}>Add</div>
                    </div>


                    <div class="profile-tab-save1">
                        <span class="new-btn green-btn" {{action saveUpdate}}>Save</span>
                        <span class="new-btn blue-btn flip-back" {{action flipFrontBack}}><i class="fa fa-group"> &nbsp;</i>Back</span>
                    </div>
                </div>


                <div class="tab-pane" id="fileuploader">

                    {{#if controller.isPhotoUploadMode}}
                    {{#view HubStar.SingleFileUploaderView }}
                    <div class="profile-tab1-uploadContainer">
                        <div class="profile-tab1-upload">
                            <img  {{bind-attr src= "backgroundImage"}}>

                            <p class="profile-tab1-title">
                                {{controller.UploadImageMode}}

                            </p>
                            <span class="profile-tab1-txt2">Please select one photo for your choice.</span>
                            <span class="profile-tab1-txt2"> {{controller.RequiredImageSize}}</span>
                            <span class="profile-tab1-txt2"> {{controller.CurrentImageSize}}</span>

                        </div>
                        <div class="new-btn blue-btn profile-tab1-choose-box">
                            Choose
                            <div class="profile-tab1-choosebtn"> {{view HubStar.SingleImageInputButtonView }}</div>
                            <div class="profile-tab1-choosebtn"> </div>
                        </div>

                        <div id="dragAndDroppArea" class="dragndropbox">
                            <div id="smallUploadImage" class="profile-tab1-smallimgctn">
                                <div>
                                    <img  {{bind-attr src= "newStyleImageSource"}}  class="profile-tab1-smallimg">
                                    <div id="uploadStyleImg" class="profile-tab1-img1">
                                        <img class="profile-tab1-img2" src="../../../images/uploadphotos_spinner.gif"/>
                                    </div>
                                </div>
                                <div class="profile-tab1-imgname">{{newStyleImageName}}</div>
                            </div>

                        </div>
                    </div>
                    <div class="profile-tab1-upload-action">
                        <div class="controlbtn profile-tab1-action-btn">


                            {{#if controller.isCrop}}
                            <span id="photoUploadbtn" class="new-btn blue-btn" {{action cropButton}}>Crop</span>
                            {{else}}
                            <span  class="disabled-btn" >Crop</span>
                            {{/if}}
                            {{#if controller.isUpload}}
                            <span id="photoUploadbtn" class="new-btn green-btn" {{action photoUpload}}>Upload</span>
                            {{else}}
                            <span  class="disabled-btn" >Upload</span>
                            {{/if}}
                            <a href="#tab1" data-toggle="tab" {{action resetNewStyleImageSource}}><span class="new-btn">Close</span></a>


                        </div>
                    </div>
                    {{/view}}
                    {{/if}}


                    {{#if controller.isPhotoEditingMode}}

                    <div class="profile-tab-editContainer">
                        <span class="profile-tab1-edit-check"><i class="fa fa-check-circle"></i></span>
                        <span class="profile-tab1-edit-titlectn">
                            <span class="profile-tab1-edit-title">Crop your picture now!</span>
                            <span class="profile-tab1-edit-imgsize"> Image Size: <span id="log"></span> </span>
                        </span>
                    </div>

                    {{#if controller.isProfilePicture}}
                    <div id="crop-container" class="profile-tab1-edit-profilepic">
                        {{/if}}
                        {{#if controller.isProfileHero}}
                        <div id="crop-container" class="profile-tab1-edit-profilehero">
                            {{/if}}
                            {{#if controller.isProfileBackground}}
                            <div id="crop-container" class="profile-tab1-edit-profilebg">
                                {{/if}}
                                <canvas id="panel" class="crop-canvas profile-tab1-edit-canvas"><img  {{bind-attr src= "newStyleImageSource"}} ></canvas>
                            </div>

                            <div class="profile-tab1-edit-action">

                                <div class="controlbtn">
                                    <span class="new-btn green-btn " {{action photoUpload}} ><i class="fa fa-save"> &nbsp;</i>Save</span>
                                    <a href="#tab1" data-toggle="tab"{{action resetNewStyleImageSource}}>   <span class="new-btn" ><i class="fa fa-group"> &nbsp;</i>Back</span> </a>

                                </div>
                            </div>
                            {{/if}}
                            {{#if controller.isFinished}}

                            <div class="profile-tab-editContainer profile-tab1-edit-finish">
                                <span class="profile-tab1-edit-check"><i class="fa fa-check-circle"></i></span>
                                <span class="profile-tab1-edit-titlectn">
                                    <span class="profile-tab1-edit-title2">Congratulations! Your Photos have been uploaded!</span>
                                </span>
                            </div>

                            <div class="profile-tab1-final-container">
                                <div class="profile-tab1-final-imgcontainer">

                                    <img  {{bind-attr src= "newStyleImageSource"}}>
                                </div>
                            </div>
                            <div class="profile-tab1-edit-action">


                                <div class="controlbtn">

                                    <a href="#tab1" data-toggle="tab"{{action resetNewStyleImageSource}}>   <span class="new-btn" ><i class="fa fa-group"> &nbsp;</i>Finish</span> </a>
                                </div>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>

            </div>
        </div>


        {{/unless}}


        {{#if editorAdd}}
        {{render "editEditors" null}}
        {{/if}}

        {{#if isShareEmail}}
        {{render "shareEmail" null}}
        {{/if}}
        
        {{#if controller.switchPhoto}}


        {{view HubStar.MasonryCollectionView}}

        {{else}}


        {{render "masonryCollectionItems" null}}


        {{/if}}


        {{#if controller.makeSureDelete}}

        {{view HubStar.DeleteFunctionView}}


        {{/if}}




        {{#if controller.rateTime}}

        {{render "review" this}}


        {{/if}}






        {{#if controller.popUpMap}}

        {{view  HubStar.GoogleMapPopupView}}


        {{/if}}


        {{#if controller.makeSelection}}

        {{view HubStar.SelectFunctionView}}

        {{/if}}


        {{#if controller.contactChecking}}

        {{render "contact" null}}
        {{/if}}
