
 
<div class="profilegb" style="width: 100%;height: auto; position: relative;top: 100px;">
    <div class="landing-page"> 
    <img src="../../../images/landingpagebg.jpg">
</div>
    <div style="position: relative; height: 210px; top: 20px; width: 715px; margin:0 auto;">

        <img src="http://s3.hubsrv.com/trendsideas.com/profiles/trends-media-sales-marketing-services/profile_picture/Screen%20Shot%202013-09-05%20at%209_286x284.51" style="width: 150px; height:auto;border: 3px solid white;box-shadow: 0px 0px 15px #555; float: left;">

        <div style="float: left;color: white; text-shadow: 0px 0px 15px #000;font-size: 40px;line-height: 50px;letter-spacing: 1px;margin: 24px 0 0 28px;">
            <p><b>SIGN UP NOW</b></p> 
            <p><b>TO myTrends</b></p>        
        </div>
    </div>

    <div class="profilewrapper" style="z-index: 5; position: relative; width: 980px;  margin: auto;background: white; box-shadow: 0px 0px 13px; border-radius: 3px; bottom: 10px;top: 100px;">

        <div class="profilecorpbanner" style=" height: 400px; border-radius: 3px 3px 0 0; position: relative; overflow: hidden;">       
            <img src="https://s3-ap-southeast-2.amazonaws.com/develop.devbox/profile_cover/default/defaultcover4.jpg" style="width: 100%;"/>
            <div class="corpbanner_mask" style="background: url('../images/bannershadow.png') repeat-x; position: absolute;bottom:0; width: 100%; height: 200px;"></div>
        </div>


        <div style="padding: 10px; font-weight: bold; background-color: rgb(241, 238, 238);"> Step 1. Package</div>
        <div class="contactme-table easing" style="width: 87%;margin: auto;padding-bottom: 160px; " >
            
            <div id="gold" class="profilenew-package hover-opacity easing" style="cursor: pointer" {{action packageSelection "gold"}}>GOLD</div>
            <div  id="silver" class="profilenew-package hover-opacity easing" style="cursor: pointer"{{action packageSelection "silver"}}>SILVER</div>
            <div  id="bronze" class="profilenew-package hover-opacity easing" style="cursor: pointer" {{action packageSelection "bronze"}}>BRONZE</div>

        </div>
        <div style="padding: 10px; font-weight: bold; background-color: rgb(241, 238, 238);">Step 2. Client Detail</div>

        <div class="mustfull" id="errorMessage2" style="display: none">please fill in Client Email. </div>
        <div class="mustfull" id="errorMessage1" style="display: none">please fill in Client Name. </div>
    
        <div class="contactme-table easing" style="width: 87%;margin: auto;padding-bottom: 50px;">

            <div style="padding: 0 20px; width: 100%;font-size: 14px;  display: table;border-collapse: separate;border-spacing: 4px;margin: 40px 0 30px;">
                  
                <div class="profilesnew-table" style="display: table-row-group; vertical-align: middle; border-color: inherit;">
                    <div style="display:table-row">  
                    </div>

                    <div style="display:table-row">
                        <div style="display:table-cell; text-align: right;">Client Name*:</div>
                        <div style="display:table-cell"> 
                            <div style="display: block;">
                                <div   id="clientNameField" class=""   style="margin: 10px 30px 5px 10px;;width: 70%;">
                                    {{view Ember.TextField valueBinding="client_name" class="clientName"  placeholder="Your Name" }}
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div style="display:table-row">
                        <div style="display:table-cell;text-align: right;">Client Email*:</div>

                        <div style="display:table-cell"> 
                            <div style="display: block;">
                                <div   id="clientEmailField"  style="margin: 10px 30px 5px 10px;;width: 70%;">
                                    {{view Ember.TextField valueBinding="owner" class="clientEmail"  placeholder="emailaddress@yourdomain.com"}}
                                </div>
                            </div>   
                            <div class="mustfull" id="clientEmailFormat" style="display: none">not correct email format.....</div>
                          
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div style="padding: 10px; font-weight: bold; background-color: rgb(241, 238, 238);">Step 3. Business Profile</div>

        <div class="mustfull" id="errorMessage3" style="display: none">please fill in Profile Name. </div>
        <div class="mustfull" id="errorMessage5" style="display: none">please fill in Contact Email. </div>
        <div class="mustfull" id="errorMessage6" style="display: none">please fill in Admins Emails. </div>
         <div class="mustfull" id="numberFormat" style="display: none">please fill in info as number </div>
        <div class="mustfull" id="errorMessage4" style="display: none">please select one from the dropdown list </div>
        <div class="mustfull" id="errorMessage7" style="display: none">please select one classfication </div>
        <div class="contactme-table easing" style="width: 87%;margin: auto;padding-bottom: 0px;">

            <div id="step3" style="padding: 0 20px; width: 100%;font-size: 14px;  display: table;border-collapse: separate;border-spacing: 4px;margin: 40px 0 30px 20px;">
           

                    <div style="display:table-row">  
                    </div>
                
                 <div style="display:table-row">
                    <div style="display:table-cell;text-align: right;" >Profile URL*:</div>
                    <div style="display:table-cell"> 
                        <div style="margin: 10px 30px 5px 10px;;width: 70%; text-align: center;">
                            {{form controller.profile_name}}<div id="regionChecking">-{{form controller.regionSelection}}</div>-{{form controller.countrySelection}}
                        </div>
                  
                    </div> 
                </div>

                    <div style="display:table-row">
                        <div style="display:table-cell;text-align: right;" >Profile Name*: </div>                     
                        <div style="display:table-cell"> 
                            <div  id="profileNameField" style="margin: 10px 30px 5px 10px;;width: 70%;">
                                {{view Ember.TextField valueBinding="profile_name" class="profileName" placeholder="Your Business Name"}} 
                            </div>
                           
                        </div>
                    </div>
                
                 <div style="display:table-row">
                        <div style="display:table-cell;text-align: right;" >Classification*:</div> 

                        <div  style="display:table-cell">
                     
                                <div id="residential" class="classfication" style="margin: 10px 10px 0;width: 34%;display: inline-block;" {{action classSelection "Residential"}}>
                                     <span id="">Residential</span>
                                    
                                </div>
                                <div id="commercial" class="classfication" style="margin: 10px -1px 0;width: 34%;display: inline-block;" {{action classSelection "Commercial"}}>
                                     <span id="">Commercial</span>
                                   
                                   
                                </div>                              
                         
                        </div>
                    </div>


                    <div style="display:table-row">
                        <div style="display:table-cell;text-align: right;" >Profile Category*:</div> 

                        <div style="display:table-cell">
                            <div  style="display: block; margin-bottom: 0px;" >
                                <div id="categorySelectionCheck"class="new-btn" style="margin: 10px 10px 0;width: 34%;display: inline-block;" {{action dropdown "category"}}>
                                     <span id="categorySelection">{{controller.categorySelection}}</span>
                                    <span class="caret"></span>
                                    {{#if controller.categoryDropdown}}
                                    {{view HubStar.DropdownListView}}
                                    {{/if}}
                                </div>
                                <div id="subcategorySelectionCheck" class="new-btn" style="margin: 10px -1px 0;width: 34%;display: inline-block;" {{action dropdown "subcategory"}}>
                                     <span id="subcategorySelection">{{controller.subcategorySelection}}</span>
                                    <span class="caret"></span>
                                    {{#if controller.subcategoryDropdown}}
                                    {{view HubStar.DropdownListView}}
                                    {{/if}}
                                </div>                              
                            </div>
                        </div>
                    </div>
          <div style="display:table-row">
                        <div style="display:table-cell;text-align: right;" >Physical Address*:</div>                      
                        <div style="display:table-cell">
                            <div id="countrySelectionCheck" class="new-btn"  style="margin: 10px 30px 5px 10px;;width: 70%;" {{action dropdown "country"}}>
                                 <span id="countrySelection">{{controller.countrySelection}}</span>
                                <span class="caret"></span>
                                {{#if controller.countryDropdown}}
                                {{view HubStar.DropdownListView}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                    <div style="display:table-row">
                        <div style="display:table-cell;text-align: right;" ></div>
                        <div style="display:table-cell">
                            <div id="regionSelectionCheck" class="new-btn"  style="margin: 10px 30px 5px 10px;;width: 70%;" {{action dropdown "region"}}>
                                 <span id="regionSelection">{{controller.regionSelection}}</span>
                                <span class="caret"></span>
                                {{#if controller.regionDropdown}}
                                {{view HubStar.DropdownListView}}
                                {{/if}}
                            </div>                  
                        </div>
                    </div>
                    <div style="display:table-row">
                        <div style="display:table-cell;text-align: right;" ></div>
                        <div style="display:table-cell"> 
                            <div style="display: block;">
                                <div    style="margin: 10px 30px 5px 10px;;width: 70%;">
                                    {{view Ember.TextField valueBinding="suburb"  placeholder="Suburb"}}
                                </div>
                            </div>
                       </div>
                    </div>
                    <div style="display:table-row">
                        <div style="display:table-cell;text-align: right;" ></div>
                        <div style="display:table-cell"> 
                            <div    style="margin: 10px 30px 5px 10px;;width: 70%;">
                                {{view Ember.TextField valueBinding="address"  placeholder="Street Address"}}
                            </div>
                        </div>
                    </div>
              

                <div style="display:table-row">
                    <div style="display:table-cell;text-align: right;" >Contact Name:</div>
                    <div style="display:table-cell"> 
                        <div  style="display: block; margin-bottom: 0px;" >

                            <div  style="margin: 10px 10px 0;width: 34%;display: inline-block;">
                                {{view Ember.TextField valueBinding="first_name"  placeholder="First Name"}}
                            </div>
                            <div style="margin: 10px -3px 0;width: 34%;display: inline-block;">
                                {{view Ember.TextField valueBinding="last_name"  placeholder="Last Name"}}
                            </div>

                        </div>
                    </div>
                </div>
                <div style="display:table-row">
                    <div style="display:table-cell;text-align: right;" >Contact Number:</div>
                    <div style="display:table-cell"> 

                        <div  style="display: block; " >

                            <div id="numberField"  style="margin: 10px 10px 5px 10px;;width: 70%; display: inline-block">
                                {{view Ember.TextField valueBinding="profile_contact_number" class="contactNumber" placeholder="Your Business Contact Number"}}
                            </div>
                           
                        </div>
                    </div>
                </div>

                <div style="display:table-row">
                    <div style="display:table-cell;text-align: right;" >Contact Email*:</div>

                    <div style="display:table-cell"> 
                        <div style="display: block;">
                            <div   id="contactEmailField" style="margin: 10px 10px 5px 10px;;width: 70%; display: inline-block">
                                {{view Ember.TextField   id="contactEmail" valueBinding="direct_enquiry_emails"  class="contactEmail"  placeholder="emailaddress@yourdomain.com"}}
                            </div>
                            <div style="display:inline-block" id="firstAdd" {{action addSecond target="view" on="click"}}><i class="fa fa-plus" ></i></div> 
                        </div>     
                        <div class="mustfull" id="contactEmailFormat" style="display: none;">not correct email format.....</div>
                    </div>

                </div>

                <div  id="secondEmail" style="display:none;">
                    <div style="display:table-cell;text-align: right;" >Contact Second Email:</div>

                    <div style="display:table-cell"> 
                        <div style="display: block;">
                            <div   id="contactEmailField2" style="margin: 10px 10px 5px 10px;;width: 70%;display:inline-block">
                                {{view Ember.TextField valueBinding="direct_enquiry_emails_2"  id="contactEmail2"  class="contactEmail" placeholder="emailaddress@yourdomain.com"}}
                            </div>
                            {{#if view.added}}
                            <div style="display:inline-block" id="secondAdd" {{action addThird target="view" on="click"}}><i class="fa fa-plus" ></i></div>
                            <div style="display:inline-block" id="secondDelete" {{action deleteSecond target="view" on="click"}}><i class="fa fa-minus" ></i></div>
                            {{else}}
                            <div style="display:inline-block" id="secondDelete" {{action deleteSecond target="view" on="click"}}><i class="fa fa-minus" ></i></div>
                            {{/if}}
                        </div>     
                        <div class="mustfull" id="contactEmailFormat2" style="display: none">not correct email format.....</div>
                    </div>

                </div>

                <div id="thirdEmail" style="display:none;">
                    <div style="display:table-cell;text-align: right;" >Contact Third Email:</div>

                    <div style="display:table-cell"> 
                        <div style="display: block;">
                            <div   id="contactEmailField3" style="margin: 10px 10px 5px 10px;;width: 70%;display:inline-block">
                                {{view Ember.TextField id="contactEmail3" valueBinding="direct_enquiry_emails_3"  class="contactEmail"  placeholder="emailaddress@yourdomain.com"}}
                            </div>
                            <div style="display:inline-block" id="thirdDelete" {{action deleteThird target="view" on="click"}}><i class="fa fa-minus" ></i></div>
                        </div>     
                        <div class="mustfull" id="contactEmailFormat3" style="display: none">not correct email format.....</div>
                    </div>


                </div>

                <div style="display:table-row">
                    <div style="display:table-cell;text-align: right;" >Website Name:</div>
                    <div style="display:table-cell"> 
                        <div style="display: block;">
                            <div  style="margin: 10px 30px 5px 10px;;width: 70%;">
                                {{view Ember.TextField valueBinding="website" placeholder="yourdomain.com"}}
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display:table-row">
                    <div style="display:table-cell;text-align: right;" >Website URL:</div>
                    <div style="display:table-cell"> 
                        <div style="display: block;">
                            <div   style="margin: 10px 30px 5px 10px;;width: 70%;">
                                {{view Ember.TextField valueBinding="website_url" placeholder="http://www.yourdomain.com"}}
                            </div>
                        </div>
                    </div>
                </div>

                 <div style="display:table-row" id="addTR">
                    <div style="display:table-cell;text-align: right;" >Admins*:</div>
                    <div style="display:table-cell"> 
                        <div style="display: block;">
                            <div   id="adminsField_1" style="margin: 10px 10px 5px 10px;;width: 70%; display: inline-block;">
                                <input id="admins_1"  type="text" class="admins" placeholder="emailaddress@yourdomain.com"/>                           
                            </div>
                            <div style="display: inline-block;"{{action addTRmore}}><i class="fa fa-plus" ></i></div>
                        </div>                   
                        <div class="mustfill" id="adminsEmailFormat_1" style="display: none">not correct email format.....</div>
                    </div>                 
                </div>
            </div>
         </div>

            <div  style="display: block; margin: auto;   text-align: center;padding-bottom: 30px;">
                <a class="new-btn green-btn" href="#" {{action save }} style="width: 100px;">Create Profile</a>
            </div>

        </div>




    </div>
















