
<h1> profiles</h1>


{{#each model}}
<ul>
    <li>
        <h3> id | {{#linkTo 'profile' this}}{{id}}{{/linkTo}}   |   {{profile_name}}</h3>
    </li>
</ul>


{{/each}}





<div style="width:100%;height:100%;z-index: 1000;position: fixed;">
    <img src="../../../images/landingpagebg.jpg" style="width:100%; position:fixed;"/>

    <div style="width: 87%;margin: 40px auto;display: block;line-height: 45px;">
        <img class="logonew" style="position: relative; height: 30px;display: inline-block;vertical-align: top;margin: 8px;" src="../../../images/landing-trends.png">
        <div style="position:relative; float:right; color:white; font-size:15px;font-weight: bold;">
            <span style="letter-spacing: 1px; margin: 0 0 0 10px;">LOGIN</span>
            <span>&nbsp | &nbsp</span>
            <span style="letter-spacing: 1px; margin: 0 0 0 10px;">HELP</span>
        </div>
    </div>

    <div style="position: absolute; vertical-align: middle; color: #fff; width: 40%; text-align: center;margin: auto;left: 0;right: 0;top: 55px;font-size: 14px; font-family: 'Montserrat', sans-serif; letter-spacing: 2px;opacity: .9;">
        <span>2,100,000 IDEAS</span>
        <span>&nbsp | &nbsp</span>
        <span>1,200,000 PRODUCTS</span>
        <span>&nbsp | &nbsp</span>
        <span>5,000 SERVICES</span>
    </div>

    <div style="position:absolute;width: 40%;text-align: center;top: 21%;margin: auto;display: block;left: 0;right: 0;">
        <img style="position: relative;margin: 8px auto;min-width: 300px;width: 70%;" src="../../../images/landing-trends.png">

        <div style="width: 300px;height: 45px;margin: 20px auto 0;background-color: #fff;text-align: center;color: #888;font-weight: bold; font-size: 18px;line-height: 45px; border-radius: 5px 5px 0 0"><i class="icon-facebook">&nbsp</i> Register with social account</div>
        <div></div>
        <!--This is the email register section-->
        <div>
            <div style="width: 300px;height: 45px;margin: 0 auto;background-color: #fff;text-align: center;color: #888;font-weight: bold; font-size: 18px;line-height: 45px;"><i class="icon-envelope-alt">&nbsp</i> Register with Email</div>
            <div style="width: 300px;margin: 0 auto ;background-color: #fff;padding: 0 8px;">

                <div   style="width: 49%;display: inline-block;vertical-align: top;">
                    {{view Ember.TextField valueBinding="username" placeholder="First Name"}}
                </div>

                <div   style="width: 49%;display: inline-block;vertical-align: top;">
                    {{view Ember.TextField valueBinding="username" placeholder="Last Name"}}
                </div>

                <div   style="margin: 0;width: 100%;">
                    {{view Ember.TextField valueBinding="password" placeholder="Your Email"}}
                </div>

                <div   style="margin: 0;width: 100%;">
                    {{view Ember.TextField valueBinding="password" placeholder="Password"}}
                </div>

            </div>

            <div style="width: 300px;height: 45px;margin: 0 auto 20px;background-color: #fff;text-align: center;color: #888;font-weight: bold; font-size: 18px;line-height: 45px; border-radius: 0 0 5px 5px"> Register</div>
        </div>
        <!--End of email register section-->

        <span style="font-family: 'Montserrat', sans-serif; font-size: 14px;color: #fff;margin: 15px auto;opacity: .7;display: block;">Learn more</span>
    </div>





</div>    