
<div style="width:100%;height:100%;z-index: 1000;position: fixed;min-width: 1100px;min-height: 728px;">
    <img src="../../../images/landingpagebg.jpg" style="width:100%; position:fixed;"/>

    <div style="width: 87%;margin: 40px auto;display: block;line-height: 45px;">
        <img class="logonew" style="position: relative; height: 30px;display: inline-block;vertical-align: top;margin: 8px;" src="../../../images/landing-trends.png">
        <div style="position:relative; float:right; color:white; font-size:15px;font-weight: bold;">
            <span style="letter-spacing: 1px; margin: 0 0 0 10px;">LOGIN</span>
            <span>&nbsp | &nbsp</span>
            <span style="letter-spacing: 1px; margin: 0 0 0 10px;"{{action emailSend}}>HELP</span>
        </div>
    </div>

    <div style="position: absolute; vertical-align: middle; color: #fff; width: 600px; text-align: center;margin: auto;left: 0;right: 0;top: 55px;font-size: 13px; font-family: 'Montserrat', sans-serif; letter-spacing: 2px;opacity: .9;">
        <span>2,100,000 IDEAS</span>
        <span>&nbsp | &nbsp</span>
        <span>1,200,000 PRODUCTS</span>
        <span>&nbsp | &nbsp</span>
        <span>5,000 SERVICES</span>
    </div>

    <div style="position:absolute;width: 33%;text-align: center;top: 21%;margin: auto;display: block;left: 0;right: 0;">
        <img style="position: relative;margin: 10px auto 40px -10px; min-width: 320px;width: 70%;" src="../../../images/landing-trends.png">

        <div id="click-register-social" class="register-with easing social-active" style="border-radius: 5px 5px 0 0; border-bottom:1px solid #e3e3e3;">
            <i class="icon-facebook">&nbsp</i><a style="color: #888"> Register with social account</a>
        </div>

        <div id="social-link" style="display: block; width: 300px; height: 60px; line-height: 60px; margin: 0px auto; background-color: white;padding:12px;border-bottom: 1px solid #e3e3e3;">

            <div class="social-login-iconbox">
                <i onclick="Facebook(650, 400);" class="icon-facebook"></i>
            </div>

            <div class="social-login-iconbox">
                <i onclick="Twitter(650, 400);"class="icon-twitter"></i>
            </div>

            <div class="social-login-iconbox" style="">
                <i onclick="Google(650, 400);" class="icon-google-plus"></i>
            </div>

            <div class="social-login-iconbox">
                <i onclick="LinkedIn(650, 400);" class="icon-linkedin"></i>
            </div>

            <div class="social-login-iconbox">
                <i onclick="Sina(650, 400);"class="icon-weibo"></i>
            </div>

        </div>


        <!--This is the email register section-->
        <div>
            <div id="click-register" class="register-with easing register-clicker">
                <i class="icon-envelope">&nbsp </i><a style="color: #888"> Register with Email</a>
            </div>

            <div   id="register-with-email-drop-down" style="width: 300px;margin: 0 auto ;background-color: #fff;border-radius: 0 0 5px 5px;display:none;">
                <div style="padding: 0 8px;">

                    <div style="border-bottom: 1px solid #e3e3e3; border-top:1px solid #e3e3e3;">
                        <div class="login-textfield" style="width: 49%;display: inline-block;vertical-align: top;height: 45px;line-height: 45px;">
                            {{view Ember.TextField valueBinding="first_name" placeholder="First Name" }}
                        </div>

                        <div class="login-textfield" style="width: 49%;display: inline-block;vertical-align: top;height: 45px;line-height: 45px;">
                            {{view Ember.TextField valueBinding="last_name" placeholder="Last Name" }}
                        </div>
                    </div>

                    <div  class="login-textfield" style="margin: 0;width: 100%;height: 45px;line-height: 45px;border-bottom: 1px solid #e3e3e3;">
                        {{view Ember.TextField valueBinding="email" placeholder="Your Email" }}
                    </div>

                    <div class="login-textfield"  style="margin: 0;width: 100%;height: 45px;line-height: 45px;border-bottom: 1px solid #e3e3e3;">
                        {{view Ember.TextField valueBinding="password" placeholder="Password" }}
                    </div>
                </div>

                <div id="register-btn" class="register-btn easing" style="" {{action signUp}}> Register</div>
            </div>


            <div id="register-with-email-step-2" style="width: 300px;margin: 0 auto ;background-color: #fff;border-radius: 0 0 5px 5px;display:none;">
                <div style="padding: 0 8px;">

                    <div  class="login-textfield" style="margin: 0;width: 100%;height: 45px;line-height: 45px;border-bottom: 1px solid #e3e3e3;border-top:1px solid #e3e3e3;">
                        {{view Ember.TextField valueBinding="youremail" placeholder="Region" }}
                    </div>

                    <div style="border-bottom: 1px solid #e3e3e3;">
                        <div class="login-select easing" style="">
                            Male
                        </div>

                        <div class="login-select easing" style="">
                            Female
                        </div>
                    </div>

                    <div class="login-textfield"  style="margin: 0;width: 100%;height: 45px;line-height: 45px;border-bottom: 1px solid #e3e3e3;">
                        {{view Ember.TextField valueBinding="age" placeholder="How old are you?" }}
                    </div>
                </div>
                <div class="back-btn easing" style="" >Back</div>
                <div class="register-btn easing register-btn-small" >Done</div>

            </div>

        </div>
        <!--End of email register section-->

        <a href="http://trendsideas.com/ViewPage.aspx?pageName=Contact%20Us&region=1" target="blank">
            <span style="font-family: 'Montserrat', sans-serif; font-size: 13px;color: #fff;margin: 15px auto;opacity: .9;display: block;">Learn more</span>
        </a>
    </div>

</div>    

<script>
    $("#click-register-social").click(function() {

        $('#click-register-social').removeClass('social-active');
        $('#click-register').removeClass('active-tab');

        if ($('#social-link').css('display') == 'block') {
            $('#social-link').animate({height: 'toggle'});

            if ($('#register-with-email-drop-down').css('display') == 'block') {
                $('#register-with-email-drop-down').animate({height: 'toggle'});
            }
            if ($('#register-with-email-step-2').css('display') == 'block') {
                $('#register-with-email-step-2').animate({height: 'toggle'});
            }
        }
        /* hiding social login */

        if ($('#social-link').css('display') == 'none') {
            $('#social-link').animate({height: 'toggle'});
            $('#click-register-social').addClass('social-active');

            if ($('#register-with-email-drop-down').css('display') == 'block') {
                $('#register-with-email-drop-down').animate({height: 'toggle'});
            }
            if ($('#register-with-email-step-2').css('display') == 'block') {
                $('#register-with-email-step-2').animate({height: 'toggle'});
            }
        }
        /* showing social login section*/

    });
    /* social login slider function */



    /* clicking register step 2 function*/


    $('.back-btn').click(function() {
        $('#register-with-email-step-2').removeClass('active-step');
        $('#register-with-email-step-2').animate({height: 'toggle'});
        $('#register-with-email-drop-down').animate({height: 'toggle'});


        checkSocial();
    });
    /* going back to step 1 function*/


    $(".register-clicker").click(function() {

        if ($('#register-with-email-step-2').hasClass('active-step')) {
            //alert('closing step2');

            $('#social-link').animate({height: 'toggle'});
            $('#register-with-email-step-2').animate({height: 'toggle'});

            if ($('#click-register').hasClass('active-tab')) {
                $('#click-register').removeClass('active-tab');
                /* closing step */
            }

            else {
                $('#click-register').addClass('active-tab');
                /* opening step */
            }

        }
        /* closing/opening register section while on step 2 function */


        if ($('#register-with-email-drop-down').css('display') == 'block' && $('#click-register').hasClass('active-tab')) {
            //alert('closing step1');
            $('#click-register').removeClass('active-tab');
            $('#social-link').animate({height: 'toggle'});
            $('#register-with-email-drop-down').animate({height: 'toggle'});
            $('#click-register-social').addClass('social-active');

        }
        /* closing register section while on step 1 function */


        if ($('#register-with-email-drop-down').css('display') == 'none' && $('#register-with-email-step-2').hasClass('')) {
            //alert('opening step 1');
            $('#click-register-social').removeClass('social-active');
            $('#click-register').addClass('active-tab');
            $('#register-with-email-drop-down').animate({height: 'toggle'});
            checkSocial();

        }
        /* clicking register step 1 function*/

    });

    function checkSocial() {
        if ($('#social-link').css('display') == 'block') {
            $('#social-link').animate({height: 'toggle'});
        }
        else {
        }
    }
    /* close social login checker function */


    $('.login-select').click(function() {
        $('.login-select').removeClass('login-selected');
        $(this).addClass('login-selected');

    });
    /* select gender function */
    
    
    
            function DropDown(el) {
                        this.dd = el;
                        this.placeholder = this.dd.children('span');
                        this.opts = this.dd.find('ul.dropdown > li');
                        this.val = '';
                        this.index = -1;
                        this.initEvents();
                    }
                    DropDown.prototype = {
                        initEvents: function() {
                            var obj = this;

                            obj.dd.on('click', function(event) {
                                $(this).parents('div .wrapper-dropdown-3').toggleClass('active');
                                return false;
                            });
                            obj.opts.on('click', function() {
                                var opt = $(this);
                                obj.val = opt.text();
                                obj.index = opt.index();
                                obj.placeholder.text(obj.val);
                            });
                        },
                        getValue: function() {
                            return this.val;
                        },
                        getIndex: function() {
                            return this.index;
                        }
                    };

                    $(function() {

                        var dd3 = new DropDown($('.dropdown_test_3'));
                        $(document).click(function() {
                            $('.wrapper-dropdown-3').removeClass('active');
                        });

                    });

                    function setDomain() {

                        var api_url = document.domain;
                        var api_domain_start_pos = api_url.indexOf('.');
                        var api_url = api_url.slice(api_domain_start_pos);

                        return api_url;
                    }





                    function Facebook(popupWidth, popupHeight) {

                        var left = (screen.width / 2) - (popupWidth / 2);
                        var top = (screen.height / 2) - (popupHeight / 2);
                        var api_url = "http://" + document.domain + "/hybridauth/default/login/?provider=Facebook#_=_";
                        newwindow = window.open(api_url, 'name', 'height=' + popupHeight + ',width=' + popupWidth + ',top=' + top + ',left=' + left + ',toolbar=no,scrollbars=no,location=no,resizable =yes');
                        if (window.focus) {
                            newwindow.focus();
                        }



                    }
                    function Yahoo(popupWidth, popupHeight) {
                        var left = (screen.width / 2) - (popupWidth / 2);
                        var top = (screen.height / 2) - (popupHeight / 2);
                        var api_url = "http://" + document.domain + "/hybridauth/default/login/?provider=Yahoo";
                        newwindow = window.open(api_url, 'name', 'height=' + popupHeight + ',width=' + popupWidth + ',top=' + top + ',left=' + left + ',toolbar=no,scrollbars=no,location=no,resizable =yes');
                        if (window.focus) {
                            newwindow.focus();
                        }
                    }
                    function QQ(popupWidth, popupHeight) {
                        var left = (screen.width / 2) - (popupWidth / 2);
                        var top = (screen.height / 2) - (popupHeight / 2);
                        var api_url = "http://" + document.domain + "/hybridauth/default/login/?provider=QQ";
                        newwindow = window.open(api_url, 'name', 'height=' + popupHeight + ',width=' + popupWidth + ',top=' + top + ',left=' + left + ',toolbar=no,scrollbars=no,location=no,resizable =yes');
                        if (window.focus) {
                            newwindow.focus();
                        }
                    }
                       function Twitter(popupWidth, popupHeight) {
                        var left = (screen.width / 2) - (popupWidth / 2);
                        var top = (screen.height / 2) - (popupHeight / 2);
                        var api_url = "http://" + document.domain + "/hybridauth/default/login/?provider=Twitter";
                        newwindow = window.open(api_url, 'name', 'height=' + popupHeight + ',width=' + popupWidth + ',top=' + top + ',left=' + left + ',toolbar=no,scrollbars=no,location=no,resizable =yes');
                        if (window.focus) {
                            newwindow.focus();
                        }
                    }
                    function Sina(popupWidth, popupHeight) {
                        var left = (screen.width / 2) - (popupWidth / 2);
                        var top = (screen.height / 2) - (popupHeight / 2);
                        var api_url = "http://" + document.domain + "/hybridauth/default/login/?provider=Sina";
                        newwindow = window.open(api_url, 'name', 'height=' + popupHeight + ',width=' + popupWidth + ',top=' + top + ',left=' + left + ',toolbar=no,scrollbars=no,location=no,resizable =yes');
                        if (window.focus) {
                            newwindow.focus();
                        }
                    }
                    function LinkedIn(popupWidth, popupHeight) {
                        var left = (screen.width / 2) - (popupWidth / 2);
                        var top = (screen.height / 2) - (popupHeight / 2);
                        var api_url = "http://" + document.domain + "/hybridauth/default/login/?provider=LinkedIn";
                        newwindow = window.open(api_url, 'name', 'height=' + popupHeight + ',width=' + popupWidth + ',top=' + top + ',left=' + left + ',toolbar=no,scrollbars=no,location=no,resizable =yes');
                        if (window.focus) {
                            newwindow.focus();
                        }
                    }
                    function Google(popupWidth, popupHeight) {
                        var left = (screen.width / 2) - (popupWidth / 2);
                        var top = (screen.height / 2) - (popupHeight / 2);
                        var api_url = "http://" + document.domain + "/hybridauth/default/login/?provider=Google";
                        newwindow = window.open(api_url, 'name', 'height=' + popupHeight * 1.5 + ',width=' + popupWidth + ',top=' + top + ',left=' + left + ',toolbar=no,scrollbars=no,location=no,resizable =yes');
                        if (window.focus) {
                            newwindow.focus();
                        }
                    }
    
    
</script>
