<div class="Register-Page" style="">
    <div style="width: 100%; height: 100%;position: absolute;min-height: 728px;min-width: 1100px;display: block;">
        <img src="../../../images/landingpagebg.jpg" style=""/>
    </div>
    <div style="width: 87%;margin: 40px auto;display: block;line-height: 45px;text-align: center;">
        <img class="logonew" style="position: relative; height: 30px;margin: 8px;float: left;" src="../../../images/landing-trends.png">
        <div style="position:relative; float:right;color: #fff; font-size:15px;font-weight: bold;">
            <span style="letter-spacing: 1px; margin: 0 0 0 10px;cursor:pointer;" onClick="loginPane();" id="login-btn" class="white-text-hover easing">LOGIN</span>
            <span>&nbsp | &nbsp</span>
            <a href="http://about.trendsideas.com" target="blank"><span class="white-text-hover easing" style="letter-spacing: 1px; margin: 0 0 0 10px;">HELP</span></a>
        </div>

        <div style="position: relative;  color: #fff; width: 500px; margin: auto;font-size: 13px; font-family: 'Montserrat', sans-serif; letter-spacing: 2px;opacity: .9;display: inline-block;">
            <span>83,000 IDEAS</span>
            <span>&nbsp | &nbsp</span>
            <span>210,000 PRODUCTS</span>
            <span>&nbsp | &nbsp</span>
            <span>650 SERVICES</span>
        </div>

    </div>


    <img id="fadein-image" style="position: relative;margin: 0 auto 40px; min-height: 150px;max-height: 256px; height: 20%;display: block; top: 5%;" src="../../../images/landing-page-title(LOGO).png">

    <div id="profiles-main-container" style="position: relative;width: 300px;text-align: center;top: 40px;margin: auto;display: block;left: 0;right: 0;">   

        <div id="click-register-social" class="register-with easing social-active" style="border-radius: 5px 5px 0 0; border-bottom:1px solid #e3e3e3;">
            <i class="icon-facebook">&nbsp</i><a style="color: #888"> Register with social account</a>
        </div>

        <div id="social-link" class="social-links-container" style="display: block;">

            <div onclick="Facebook(650, 400);"class="social-login-iconbox">
                <i  class="icon-facebook"></i>
            </div>

            <div onclick="Twitter(650, 400);" class="social-login-iconbox">
                <i class="icon-twitter"></i>
            </div>

            <div onclick="Google(650, 400);" class="social-login-iconbox" style="">
                <i  class="icon-google-plus"></i>
            </div>

            <div onclick="LinkedIn(650, 400);" class="social-login-iconbox">
                <i  class="icon-linkedin"></i>
            </div>

            <div onclick="Sina(650, 400);" class="social-login-iconbox">
                <i class="icon-weibo"></i>
            </div>

        </div>


        <!--This is the email register section-->
        <div>
            <div id="click-register" class="register-with easing register-clicker">
                <i class="icon-envelope">&nbsp </i><a style="color: #888"> Register with Email</a>
            </div>

            <div   id="register-with-email-drop-down" style="width: 300px;margin: 0 auto ;background-color: #fff;border-radius: 0 0 5px 5px;display:none;">
                <div style="padding: 0 8px;position: relative;">

                    <div style="border-bottom: 1px solid #e3e3e3; border-top:1px solid #e3e3e3;">
                        <div id="first_name" class="login-textfield" style="width: 49%;display: inline-block;border: none">
                            {{view HubStar.RegisterEnterKeyTextFieldView valueBinding="first_name" placeholder="First Name" }}
                        </div>

                        <div id="last_name" class="login-textfield" style="width: 49%;display: inline-block;border: none">
                            {{view HubStar.RegisterEnterKeyTextFieldView valueBinding="last_name" placeholder="Last Name" }}
                        </div>
                    </div>

                    <div  id="email" class="login-textfield" style="">
                        {{view HubStar.RegisterEnterKeyTextFieldView valueBinding="email" placeholder="Your Email" }}
                    </div>

                    <div id="password" class="login-textfield"  style="">
                        {{view HubStar.RegisterEnterKeyTextFieldView type="password" valueBinding="password" placeholder="Password" }}
                    </div>
                </div>

                <div id="register-btn" class="register-btn easing" style="" {{action signUp}} > Register</div>
            </div>


            <div id="register-with-email-step-2" style="width: 300px;margin: 0 auto ;background-color: #fff;border-radius: 0 0 5px 5px;display:none;">
                <div style="padding: 0 8px;position: relative;">

                    <div  class="login-textfield" style="border-top:1px solid #e3e3e3;">
                        {{view HubStar.DoneEnterKeyTextFieldView valueBinding="region" placeholder="Region" }}
                    </div>

                    <div style="border-bottom: 1px solid #e3e3e3;">
                        <div class="login-select easing" style=""{{action setmale}}>
                             Male
                    </div>

                    <div class="login-select easing" style=""{{action setfemale}}>
                         Female
                </div>
            </div>

            <div class="login-textfield"  style="margin: 0;width: 100%;height: 45px;line-height: 45px;border-bottom: 1px solid #e3e3e3;">
                {{view HubStar.DoneEnterKeyTextFieldView valueBinding="age" placeholder="How old are you?" }}
            </div>
        </div>
        <div class="back-btn easing" style="" >Back</div>
        <div class="register-btn easing register-btn-small"  {{action done}}>Done</div>

    </div>
    <div id="missing-fields" class="black-tool-tip" style="display:none;">
        <p>Please fill in all mandatory fields.</p>
    </div>
    <div id="invalid-user-name-register" class="black-tool-tip" style="display:none;">
        <p>The email address  you have entered is invalid.</p>
    </div>
    <div id="invalid-password" class="black-tool-tip" style="display:none;">
        <p>Your password length should be between 6-40 characters long.</p>
    </div>
    <div id="email-in-use" class="black-tool-tip" style="display:none;">
        <p>The email address you have entered belongs to an existing account.</p>
    </div>
    <div id="email-used-by-social" class="black-tool-tip" style="display:none;">
        <p>The email address you have entered belongs to an existing account.</p>
    </div>

</div>
<!--End of email register section-->

<div id="user-login-pane"  style="display:none;border-radius: 5px 5px 0 0;">

    <div id="social-login" class="register-with easing" style="border-radius: 5px 5px 0 0; border-bottom:1px solid #e3e3e3;">
        <i id="social-login" class="icon-facebook">&nbsp</i><a style="color: #888"> Login with social account</a>
    </div>
    <div id="social-login-container" class="social-links-container" style="display: none;">

        <div onclick="Facebook(650, 400);" class="social-login-iconbox">
            <i  class="icon-facebook"></i>
        </div>

        <div onclick="Twitter(650, 400);" class="social-login-iconbox">
            <i class="icon-twitter"></i>
        </div>

        <div onclick="Google(650, 400);" class="social-login-iconbox" >
            <i  class="icon-google-plus"></i>
        </div>

        <div onclick="LinkedIn(650, 400);" class="social-login-iconbox">
            <i class="icon-linkedin"></i>
        </div>

        <div onclick="Sina(650, 400);" class="social-login-iconbox">
            <i class="icon-weibo"></i>
        </div>

    </div>


    <div id="click-login" class="register-with easing active-tab" style="border-bottom: 1px solid #e3e3e3;">
        <i class="icon-envelope">&nbsp </i><a style="color: #888"> Login with Email</a>
    </div>

    <div id="login-with-email-drop-down" style="width: 300px;margin: 0 auto ;background-color: #fff;border-radius: 0 0 5px 5px;">
        <div style="padding: 0 8px;position: relative;">


            <div id="loginUsername" class="login-textfield" style="">
                {{view HubStar.LoginEnterKeyTextFieldView valueBinding="loginUsername" placeholder="Your Email" }}
            </div>

            <div id="loginPassword" class="login-textfield"  style="">
                {{view HubStar.LoginEnterKeyTextFieldView type="password" valueBinding="loginPassword" placeholder="Password" }}
                <div class="hint--right hint--rounded" data-hint="forgot password?" style="cursor:pointer;float: right;margin-top: -40px;height: 30px;color:#888;">
                    <i class="icon-question-sign">&nbsp</i>
                </div>
            </div>
        </div>

        <div id="register-btn" class="register-btn easing" style="" {{action login}}> Login</div>
    </div>
    <div id="user-forgot-password-pane" style="width: 300px;margin: 0 auto ;background-color: #fff;border-radius: 0 0 5px 5px;display:none;">
        <div  id="resetPasswordEmail"class="login-textfield" style="padding: 0 10px">
            {{view Ember.TextField valueBinding="resetPasswordEmail" placeholder="Your Email" }}
        </div>
        <div class="back-btn easing" style="" >Back</div>
        <div id='reset-btn' class="register-btn easing register-btn-small" {{action emailSend}}>Reset password</div>
    </div>

    <div class="black-tool-tip"id="forgot-message-container" style="display:none;">
        <p>  We've sent you an email with instructions to reset your password.</p><br/>
        <p>Please make sure it didn't wind up in your Junk Mail. If you aren't receiving our password reset emails, see our
            <a class="white-text-hover easing" href="http://trendsideas.com/ViewPage.aspx?pageName=Contact%20Us&region=1" target="blank" style="text-decoration: underline"><b>help documents.</b></a>
        </p>
    </div>


    <div id="invalid-user-name" class="black-tool-tip" style="display:none;">
        <p>The email address  you have entered is invalid.</p>
    </div>
    <div id="invalid-account-type" class="black-tool-tip" style="display:none;">
        <p>You are attempting to log in with a social account. Please use the "Log in with social account" option.</p>
    </div>
    <div id="incorrect-password" class="black-tool-tip" style="display:none;">
        <p>Incorrect password.</p>
    </div>
     <div id="incorrect-varify" class="black-tool-tip" style="display:none;">
        <p>Registration successful! To activate your myTrends account, please click the activation link in the email we just sent you. </p>
    </div>
    <div id="invalid-account-type-reset" class="black-tool-tip" style="display:none;">
        <p>You are attempting to reset the password of a social account. Please use the "Log in with social account" option.</p>
    </div>
    <div id="new-password" class="black-tool-tip" style="display:none;">
        <p>  We've sent you an email with instructions to reset your password.</p><br/>
        <p>Please make sure it didn't wind up in your Junk Mail. If you aren't receiving our password reset emails, see our
            <a class="white-text-hover easing" href="http://trendsideas.com/ViewPage.aspx?pageName=Contact%20Us&region=1" target="blank" style="text-decoration: underline"><b>help documents.</b></a>
        </p>
    </div>
</div>



{{#if controller.isWaiting}}
<div id="loading" class="loading-visible" >

    <div id="blurringTextG">
        <div id="blurringTextG_1" class="blurringTextG">
            C</div>
        <div id="blurringTextG_2" class="blurringTextG">
            r</div>
        <div id="blurringTextG_3" class="blurringTextG">
            e</div>
        <div id="blurringTextG_4" class="blurringTextG">
            a</div>
        <div id="blurringTextG_5" class="blurringTextG">
            t</div>
        <div id="blurringTextG_6" class="blurringTextG">
            i</div>
        <div id="blurringTextG_7" class="blurringTextG">
            n</div>
        <div id="blurringTextG_8" class="blurringTextG">
            g</div>
        <div id="blurringTextG_9" class="blurringTextG">
            &nbsp;
        </div>
        <div id="blurringTextG_10" class="blurringTextG">
            y</div>
        <div id="blurringTextG_11" class="blurringTextG">
            o</div>
        <div id="blurringTextG_12" class="blurringTextG">
            u</div>
        <div id="blurringTextG_13" class="blurringTextG">
            r</div>
        <div id="blurringTextG_14" class="blurringTextG">
            &nbsp;
        </div>
        <div id="blurringTextG_15" class="blurringTextG">
            i</div>
        <div id="blurringTextG_16" class="blurringTextG">
            d</div>
        <div id="blurringTextG_17" class="blurringTextG">
            e</div>
        <div id="blurringTextG_18" class="blurringTextG">
            a</div>
        <div id="blurringTextG_19" class="blurringTextG">
            s</div>
        <div id="blurringTextG_20" class="blurringTextG">
            &nbsp;
        </div>
        <div id="blurringTextG_21" class="blurringTextG">
            s</div>
        <div id="blurringTextG_22" class="blurringTextG">
            p</div>
        <div id="blurringTextG_23" class="blurringTextG">
            a</div>
        <div id="blurringTextG_24" class="blurringTextG">
            c</div>
        <div id="blurringTextG_25" class="blurringTextG">
            e</div>
        <div id="blurringTextG_26" class="blurringTextG">
            &nbsp;
        </div>
        <div id="blurringTextG_27" class="blurringTextG">
            .</div>
        <div id="blurringTextG_28" class="blurringTextG">
            .</div>
        <div id="blurringTextG_29" class="blurringTextG">
            .</div>

    </div>
</div>

{{/if}}


<a href="http://about.trendsideas.com" target="blank">
    <div class="learnmore-btn easing" style="">Learn more</div>
</a>
</div>

</div>   
<script>
                /* NOTE:************
                 * 
                 *   IF THIS BEHAVES ODDLY SIMPLY REMOVE/ADD "stop()" before all the animate functions EG
                 *   $('#register-with-email-drop-down').stop().animate({height: 'toggle'});
                 *   This javascript will need to be cleaned up via setting some of the elements as preset variables etc, once 100% tested.
                 */



                if (localStorage.userType === "email") {
                    $('#login-btn').text('REGISTER');
                    $('.black-tool-tip').css('display', 'none');
                    $('#click-register-social').css('display', 'none');
                    $('#click-register').css('display', 'none');
                    $('#social-link').css('display', 'none');
                    $('#login-with-email-drop-down').css('display', 'block');
                    $('#social-login-container').css('display', 'none');
                    $('#click-login').addClass('active-tab');
                    $('#social-login').removeClass('social-active');
                    $('#user-forgot-password-pane').css('display', 'none');
                    $('#forgot-message-container').css('display', 'none');
                    $('#invalid-username').css('display', 'none');

                    $('#register-with-email-drop-down').css('display', 'none');
                    $('#register-with-email-step-2').css('display', 'none');
                    $('#user-login-pane').css('display', 'block');
                    var loginState = true;
                } else {
                         loginState = false;
                }
                $("#social-login").click(function() {

                    $('#social-login').removeClass('social-active');
                    $('#click-login').removeClass('active-tab');
                    if ($('#social-login-container').css('display') === 'block') {
                        $('#social-login-container').animate({height: 'toggle'});
                    }
                    /* LOGIN TAB:  hiding social login */

                    if ($('#social-login-container').css('display') === 'none') {
                        $('#social-login-container').animate({height: 'toggle'});
                        $('#social-login').addClass('social-active');
                        if ($('#login-with-email-drop-down').css('display') === 'block') {
                            $('#login-with-email-drop-down').animate({height: 'toggle'});
                        }
                        if ($('#forgot-message-container').css('display') === 'block') {
                            $('#forgot-message-container').animate({opacity: 'toggle'});
                        }
                        if ($('#invalid-username').css('display') === 'block') {
                            $('#invalid-username').animate({opacity: 'toggle'});
                        }
                        if ($('#click-login').css('display') === 'none') {
                            $('#click-login').animate({opacity: 'toggle'});
                        }
                        if ($('#user-forgot-password-pane').css('display') === 'block') {
                            $('#user-forgot-password-pane').animate({height: 'toggle'});
                        }

                        /* LOGIN TAB:  showing social login */

                    }
                });
                $("#click-login").click(function() {
                    if ($('#login-with-email-drop-down').css('display') === 'block' && $('#click-login').hasClass('active-tab')) {
                        $('#click-login').removeClass('active-tab');

                        $('#login-with-email-drop-down').animate({height: 'toggle'});

                        if ($('#social-login-container').css('display') === 'block') {
                            $('#social-login-container').animate({height: 'toggle'});
                        }
                    }
                    /* LOGIN TAB: closing login with email */


                    if ($('#login-with-email-drop-down').css('display') === 'none') {
                        $('#social-login').removeClass('social-active');
                        $('#click-login').addClass('active-tab');
                        $('#login-with-email-drop-down').animate({height: 'toggle'});

                        if ($('#social-login-container').css('display') === 'block') {
                            $('#social-login-container').animate({height: 'toggle'});
                        }
                    } /* LOGIN TAB: clicking login*/
                });
                $('#loginPassword > div').click(function() {
                    if ($('#login-with-email-drop-down').css('display')) {
                        $('#click-login').removeClass('active-tab');

                        $('#login-with-email-drop-down').animate({height: 'toggle'});
                        $('#user-forgot-password-pane').animate({height: 'toggle'});

                        if ($('#social-login-container').css('display') === 'block') {
                            $('#social-login-container').animate({height: 'toggle'});

                        }
                        if ($('#forgot-message-container').css('display') === 'block') {
                            $('#forgot-message-container').animate({opacity: 'toggle'});
                        }
                        if ($('#click-login').css('display') === 'block') {
                            $('#click-login').animate({height: 'toggle'});

                        }
                    }
                });
                /*  LOGIN TAB: show forget password pane */

                $('#user-forgot-password-pane .back-btn').click(function() {
                    $('#user-forgot-password-pane').animate({height: 'toggle'});
                    $('#login-with-email-drop-down').animate({height: 'toggle'});

                    if ($('#social-login-container').css('display') === 'block') {
                        $('#social-login-container').animate({height: 'toggle'});

                    }


                });
                /* Back to login with email from forget password pane */


                $('#reset-btn').click(function() {

                });
                /* forgot password function showing thank you message */


                $('#user-forgot-password-pane .back-btn').click(function() {
                    if ($('#forgot-message-container').css('display') === 'block') {
                        $('#forgot-message-container').animate({opacity: 'toggle'});
                    }
                });
                /* hiding thank you message when the user clicks the back btn */






                $("#click-register-social").click(function() {

                    $('#click-register-social').removeClass('social-active');
                    $('#click-register').removeClass('active-tab');
                    if ($('#social-link').css('display') === 'block') {
                        $('#social-link').animate({height: 'toggle'});
                        if ($('#register-with-email-drop-down').css('display') === 'block') {
                            $('#register-with-email-drop-down').animate({height: 'toggle'});
                        }
                        if ($('#register-with-email-step-2').css('display') === 'block') {
                            $('#register-with-email-step-2').animate({height: 'toggle'});
                        }
                    }
                    /* hiding social login */

                    if ($('#social-link').css('display') === 'none') {
                        $('#social-link').animate({height: 'toggle'});
                        $('#click-register-social').addClass('social-active');
                        if ($('#register-with-email-drop-down').css('display') === 'block') {
                            $('#register-with-email-drop-down').animate({height: 'toggle'});
                        }
                        if ($('#register-with-email-step-2').css('display') === 'block') {
                            $('#register-with-email-step-2').animate({height: 'toggle'});
                        }
                    }
                    /*  REGISTER TAB: showing social login section*/

                });



                $('#register-with-email-step-2 .back-btn').click(function() {
                    $('#register-with-email-step-2').removeClass('active-step');
                    $('#register-with-email-step-2').animate({height: 'toggle'});
                    $('#register-with-email-drop-down').animate({height: 'toggle'});
                    checkSocial();
                });
                /* going back to step 1 function*/


                $(".register-clicker").click(function() {

                    if ($('#register-with-email-step-2').hasClass('active-step')) {
                        //alert('closing step2');

                        $('#social-link').animate({height: 'toggle'});
                        $('#register-with-email-step-2').animate({height: 'toggle'});
                        if ($('#click-register').hasClass('active-tab')) {
                            $('#click-register').removeClass('active-tab');
                            /* closing step */
                        }

                        else {
                            $('#click-register').addClass('active-tab');
                            /* opening step */
                        }

                    }
                    /* closing/opening register section while on step 2 function */

                    if ($('#register-with-email-drop-down').css('display') === 'block' && $('#click-register').hasClass('active-tab')) {
                        //alert('closing step1');
                        $('#click-register').removeClass('active-tab');
                        $('#social-link').animate({height: 'toggle'});
                        $('#register-with-email-drop-down').animate({height: 'toggle'});
                        $('#click-register-social').addClass('social-active');
                    }
                    /* closing register section while on step 1 function */


                    if ($('#register-with-email-drop-down').css('display') === 'none' && $('#register-with-email-step-2').hasClass('')) {
                        //alert('opening step 1');
                        $('#click-register-social').removeClass('social-active');
                        $('#click-register').addClass('active-tab');
                        $('#register-with-email-drop-down').animate({height: 'toggle'});
                        checkSocial();
                    }
                    /* clicking register step 1 function*/

                });


                window.onload = changeImage();
                function changeImage() {
                    var image = document.getElementById('fadein-image');
                    $('#fadein-image').fadeIn("slow", function() {
                        setTimeout(function() {
                            $('#fadein-image').fadeOut("slow", toImage2);
                        }, 5000);
                    });
                    function toImage2() {
                        image.src = "../../../images/landing-page-title(IDEAS).png";
                        $('#fadein-image').fadeIn("slow", function() {
                            setTimeout(function() {
                                $('#fadein-image').fadeOut("slow", toImage3);
                            }, 5000);
                        });
                    }
                    function toImage3() {
                        image.src = "../../../images/landing-page-title(PRODUCTS).png";
                        $('#fadein-image').fadeIn("slow", function() {
                            setTimeout(function() {
                                $('#fadein-image').fadeOut("slow", toImage4);
                            }, 5000);
                        });
                    }
                    function toImage4() {
                        image.src = "../../../images/landing-page-title(SERVICES).png";
                        $('#fadein-image').fadeIn("slow", function() {
                            setTimeout(function() {
                                $('#fadein-image').fadeOut("slow", toImage1);
                            }, 5000);
                        });
                    }
                    function toImage1() {
                        image.src = "../../../images/landing-page-title(LOGO).png";
                        $('#fadein-image').fadeIn("slow", function() {
                            setTimeout(function() {
                                $('#fadein-image').fadeOut("slow", toImage2);
                            }, 5000);
                        });
                    }
                }
                /* ideas, products, services img animation*/



                function checkSocial() {
                    if ($('#social-link').css('display') === 'block') {
                        $('#social-link').animate({height: 'toggle'});
                    }
                    else {
                    }
                }
                /* close social login checker function */


                $('.login-select').click(function() {
                    $('.login-select').removeClass('login-selected');
                    $(this).addClass('login-selected');
                });
                /* select gender function */


                function loginPane() {

                    if (loginState === false) {
                        $('#login-btn').text('REGISTER');
                        $('.black-tool-tip').css('display', 'none');
                        $('#click-register-social').css('display', 'none');
                        $('#click-register').css('display', 'none');
                        $('#social-link').css('display', 'none');
                        $('#login-with-email-drop-down').css('display', 'block');
                        $('#social-login-container').css('display', 'none');
                        $('#click-login').addClass('active-tab');
                        $('#social-login').removeClass('social-active');
                        $('#user-forgot-password-pane').css('display', 'none');
                        $('#forgot-message-container').css('display', 'none');
                        $('#invalid-username').css('display', 'none');

                        $('#register-with-email-drop-down').css('display', 'none');
                        $('#register-with-email-step-2').css('display', 'none');
                        $('#user-login-pane').css('display', 'block');
                        loginState = true;
                    }
                    else {

                        $('#login-btn').text('LOGIN');
                        $('.black-tool-tip').css('display', 'none');
                        $('#click-register-social').css('display', 'block');
                        $('#social-link').css('display', 'block');
                        $('#click-register').css('display', 'block');
                        $('#click-register-social').addClass('social-active');
                        $('#click-register').removeClass('active-tab');
                        $('#register-with-email-step-2').removeClass('active-step');
                        $('#user-login-pane').css('display', 'none');

                        loginState = false;
                    }
                }












                function DropDown(el) {
                    this.dd = el;
                    this.placeholder = this.dd.children('span');
                    this.opts = this.dd.find('ul.dropdown > li');
                    this.val = '';
                    this.index = -1;
                    this.initEvents();
                }
                DropDown.prototype = {
                    initEvents: function() {
                        var obj = this;

                        obj.dd.on('click', function(event) {
                            $(this).parents('div .wrapper-dropdown-3').toggleClass('active');
                            return false;
                        });
                        obj.opts.on('click', function() {
                            var opt = $(this);
                            obj.val = opt.text();
                            obj.index = opt.index();
                            obj.placeholder.text(obj.val);
                        });
                    },
                    getValue: function() {
                        return this.val;
                    },
                    getIndex: function() {
                        return this.index;
                    }
                };

                $(function() {

                    var dd3 = new DropDown($('.dropdown_test_3'));
                    $(document).click(function() {
                        $('.wrapper-dropdown-3').removeClass('active');
                    });

                });

                function setDomain() {

                    var api_url = document.domain;
                    var api_domain_start_pos = api_url.indexOf('.');
                    var api_url = api_url.slice(api_domain_start_pos);

                    return api_url;
                }


                function Facebook(popupWidth, popupHeight) {

                    var left = (screen.width / 2) - (popupWidth / 2);
                    var top = (screen.height / 2) - (popupHeight / 2);
                    var api_url = "http://" + document.domain + "/hybridauth/default/login/?provider=Facebook#_=_";
                    newwindow = window.open(api_url, 'name', 'height=' + popupHeight + ',width=' + popupWidth + ',top=' + top + ',left=' + left + ',toolbar=no,scrollbars=no,location=no,resizable =yes');
                    if (window.focus) {
                        newwindow.focus();
                    }
                    localStorage.userType = "facebook";
                }
                function Yahoo(popupWidth, popupHeight) {
                    var left = (screen.width / 2) - (popupWidth / 2);
                    var top = (screen.height / 2) - (popupHeight / 2);
                    var api_url = "http://" + document.domain + "/hybridauth/default/login/?provider=Yahoo";
                    newwindow = window.open(api_url, 'name', 'height=' + popupHeight + ',width=' + popupWidth + ',top=' + top + ',left=' + left + ',toolbar=no,scrollbars=no,location=no,resizable =yes');
                    if (window.focus) {
                        newwindow.focus();
                    }
                    localStorage.userType = "yahoo";
                }
                function QQ(popupWidth, popupHeight) {
                    var left = (screen.width / 2) - (popupWidth / 2);
                    var top = (screen.height / 2) - (popupHeight / 2);
                    var api_url = "http://" + document.domain + "/hybridauth/default/login/?provider=QQ";
                    newwindow = window.open(api_url, 'name', 'height=' + popupHeight + ',width=' + popupWidth + ',top=' + top + ',left=' + left + ',toolbar=no,scrollbars=no,location=no,resizable =yes');
                    if (window.focus) {
                        newwindow.focus();
                    }
                    localStorage.userType = "qq";
                }
                function Twitter(popupWidth, popupHeight) {
                    var left = (screen.width / 2) - (popupWidth / 2);
                    var top = (screen.height / 2) - (popupHeight / 2);
                    var api_url = "http://" + document.domain + "/hybridauth/default/login/?provider=Twitter";
                    newwindow = window.open(api_url, 'name', 'height=' + popupHeight + ',width=' + popupWidth + ',top=' + top + ',left=' + left + ',toolbar=no,scrollbars=no,location=no,resizable =yes');
                    if (window.focus) {
                        newwindow.focus();
                    }
                    localStorage.userType = "twitter";
                }
                function Sina(popupWidth, popupHeight) {
                    var left = (screen.width / 2) - (popupWidth / 2);
                    var top = (screen.height / 2) - (popupHeight / 2);
                    var api_url = "http://" + document.domain + "/hybridauth/default/login/?provider=Sina";
                    newwindow = window.open(api_url, 'name', 'height=' + popupHeight + ',width=' + popupWidth + ',top=' + top + ',left=' + left + ',toolbar=no,scrollbars=no,location=no,resizable =yes');
                    if (window.focus) {
                        newwindow.focus();
                    }
                    localStorage.userType = "sina";
                }
                function LinkedIn(popupWidth, popupHeight) {
                    var left = (screen.width / 2) - (popupWidth / 2);
                    var top = (screen.height / 2) - (popupHeight / 2);
                    var api_url = "http://" + document.domain + "/hybridauth/default/login/?provider=LinkedIn";
                    newwindow = window.open(api_url, 'name', 'height=' + popupHeight + ',width=' + popupWidth + ',top=' + top + ',left=' + left + ',toolbar=no,scrollbars=no,location=no,resizable =yes');
                    if (window.focus) {
                        newwindow.focus();
                    }
                    localStorage.userType = "linkedIn";
                }
                function Google(popupWidth, popupHeight) {
                    var left = (screen.width / 2) - (popupWidth / 2);
                    var top = (screen.height / 2) - (popupHeight / 2);
                    var api_url = "http://" + document.domain + "/hybridauth/default/login/?provider=Google";
                    newwindow = window.open(api_url, 'name', 'height=' + popupHeight * 1.5 + ',width=' + popupWidth + ',top=' + top + ',left=' + left + ',toolbar=no,scrollbars=no,location=no,resizable =yes');
                    if (window.focus) {
                        newwindow.focus();
                    }
                    localStorage.userType = "google";
                }

</script>

