


<div class="blur_black"></div>


<div style="z-index: 11;background-color: white; border: 1px rgba(0,0,0,.6); border-radius: 3px;box-shadow: 0 0 20px 5px #aaa;  width: 430px;height: 200px;margin: 0 auto; padding: 20px;position: fixed; top: 35%;display: block;left: 0;right: 0;">
    <a>
        <img class="profilepic_comment"  style="float: left; margin: 15px 10px 10px 4px; margin-top: 0;"{{bindAttr src="this.review_user_photo_url"}} /> 
    </a>
    <div class="rating" style="margin: 6px 0 0 0;">
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        
        
    </div>

    <div class="new-btn blue-btn"{{action rateEditing}}>Rate</div>



    <div style="margin:0 auto; padding: 0 0 15px 15px;">


        {{view Ember.TextArea  id="" valueBinding="review_content"  class="no-resize"  placeholder="review time" }}
        <span class="" style="margin:45px 0;float: right;">
            <div  class="new-btn"{{action reviewCancel }}>Cancel</div>
            <div class="new-btn green-btn" {{action  reviewPost model.id}}>Post </div>
        </span>

    </div>


</div>


{{render "comment" this}}