

{{#if controller.review_enableToEdit}}  

<div class="reply-comment-frame review-edit-reply">
    <div>
        <a  href="#/users/{{unbound model.review_user_id}}">

            <img class="profilepic_comment" {{bind-attr src="model.review_photo_url_large"}} /> 

            <div class='user-reply-angle-before'></div>
            <div class='user-reply-angle-after'></div>
        </a>

        <div class="reply-comment-container review-reply-content-textarea">
            <div id="editReply_{{unbound model.review_reply_id}}" class="review-reply-content-textarea-size">
                {{view HubStar.SearchRequireTextFieldView valueBinding="controller.review_msg"  class="no-resize no-effect"  placeholder="Please edit reply here" }}                                      
            </div>
            <div class="review-reply-content-send">
                <div class="message-btn easing message-btn-w" {{action cancelReviewReply}}>
                     <div class="message-btn easing message-btn-w" {{action saveReviewReply}}>
                     <i class='fa fa-check'></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{else}}
<div id="reply_{{unbound model.review_reply_id}}" class="your-relpy review-your-reply" {{action 'replyView' model.review_reply_id target='view' on="click"}}>

    {{#if model.review_userself}}

    <a class="your-relpy_profilepic" href="#/users/{{unbound model.review_user_id}}">
        <img class="profilepic_comment"  {{bind-attr src= model.review_photo_url_large}} />

    </a>

    <div>
        <div class="comment-namentime review-text-align">
            <div class="namentime_position" >        
                <a class="comment-username" href="#/users/{{unbound model.review_user_id}}">
                    {{model.review_user_name}}                
                </a>
                <div class="posttime-container">
                    <span class="posttime">{{date model.review_time_stamp}}</span>
                </div>
            </div>
        </div>
        <div class="comment-content review-text-align">
            {{model.review_msg}}<br>

        </div>
        {{#if model.getUser}}
        <div class="review-edit-reply-buttons">
            <div class="hint--bottom hint--rounded review-edit-reply-buttons-style-yours"  data-hint="Delete"   {{action removeReviewReply}}><i class="fa fa-trash-o"></i></div>                 
            <div class="hint--bottom hint--rounded review-edit-reply-buttons-style-yours"  data-hint="Edit" {{action editReviewReply}}><i class="fa fa-pencil"></i></div>
        </div>
        {{/if}}
    </div>

    {{else}}

    <a class="review-your-reply-style" href="#/users/{{unbound model.review_user_id}}">
        <img class="profilepic_comment"  {{bind-attr src= model.review_photo_url_large}} />

    </a> 
    <div>
        <div class="comment-namentime">
            <div class="namentime_position">        
                <a class="comment-username"  href="#/users/{{unbound model.review_user_id}}">
                    {{model.review_user_name}}                
                </a>
                <div class="posttime-container">
                    <span class="posttime">{{date model.review_time_stamp}}</span>
                </div>
            </div>
        </div>
        <div class="comment-content">
            {{model.review_msg}}<br>

        </div>
        {{#if model.getUser}}
        <div class="review-edit-reply-buttons">
            <div class="hint--bottom hint--rounded review-edit-reply-buttons-style"  data-hint="Delete" {{action removeReviewReply}}><i class="fa fa-trash-o"></i></div>                 
            <div class="hint--bottom hint--rounded review-edit-reply-buttons-style"  data-hint="Edit" {{action editReviewReply}}><i class="fa fa-pencil"></i></div>
        </div>
        {{/if}}
    </div>
    {{/if}}

</div>

{{/if}}






{{#if controller.makeSureDelete}}

{{view HubStar.DeleteFunctionView}}

{{/if}}
