
<div class="review-list box">
    <div class="review-list-profile-pic" >
        <a href="#/users/{{unbound model.review_user_id}}"  >
            <img {{bindAttr src="model.review_user_photo_url"}} />
        </a>
    </div>
    <div id="review_{{unbound model.review_id}}" class="review-list-content easing" >
        <div class="review-list-content-top">
            <div class="review-list-user-name" {{action "showOneReview" model.review_id "content" target="view" on="click"}}>
                <div class="review-list-name-position" >

                    {{model.review_user_name}}

                    <div class="posttime-container">
                        <span class="posttime">{{date model.review_time_stamp}} </span>
                    </div>
                </div>

                <div class="review-list-star-position"><span class="starsview" style="width:{{unbound model.review_length}}px;"></span></div>
            </div>
        </div>

        <div  class="review-list-content-middle">

            <div id="review_content_{{unbound model.review_id}}" class="review-list-single-context" {{action "upContent" model.review_id target="view" on="click"}}>{{model.review_content}}  </div>

            <span {{action "showOneReview" model.review_id "content" target="view" on="click"}} class="hover-opacity review-list-button-more" id="down_button_{{unbound model.review_id}}"  ><i class="fa fa-caret-down">&nbsp;</i>more</span>
            <span {{action "upContent" model.review_id target="view" on="click"}}  class="hover-opacity review-list-button-collapse"  id="up_button_{{unbound model.review_id}}" ><i class="fa fa-caret-up">&nbsp;</i>collapse</span>


            <div class="review-list-button-like-share">
                {{model.review_isLike}}
                {{#if model.isLike}}
                <div id="review_like_{{unbound model.review_id}}"  class="new-btn review-list-share-button" data-hint="unLike!" {{action unLike}}>
                     <i class="fa fa-thumbs-up" {{action unLike model}}>&nbsp</i>
                    {{model.review_like_count}}</div>
                {{else}}
                <div id="review_like_{{unbound model.review_id}}"  class="new-btn review-list-share-button" data-hint="Like!" {{action addLike}}>
                     <i class="fa fa-thumbs-up" {{action addLike model}}>&nbsp</i>
                    {{model.review_like_count}}</div>
                {{/if}}

                <div id="review_share_{{unbound model.review_id}}"  class="new-btn review-list-share-button" class="new-btn" {{action dropdownPhotoSetting model.review_id}}>
                     <i class="fa fa-share" >&nbsp</i></div>
                <ul class="hideClass edit-object-ul review-drop-list" id="dropdown_id_{{unbound model.review_id}}">
                    <li class="ite" {{action  fbShare model}} >
                        <i class="fa fa-facebook share-type share-type-pos2" ></i><span class="share-type-txt2">Facebook</span>
                    </li>
                    <li class='ite' {{action tShare model}} >
                        <i class="fa fa-twitter share-type share-type-pos2" ></i><span class="share-type-txt2">Twitter</span>
                    </li>
                    <li class="ite" {{action gpShare model}}>
                        <i class="fa fa-google-plus share-type share-type-pos2" ></i><span class="share-type-txt2">Google+</span>
                    </li>

                    <li class="ite" {{action eShare model}}>
                        <img src="../../../images/sent.png" style="width: 16px;height: 16px">
                            <i class="send_email share-type share-type-pos2" ></i><span class="share-type-txt1">E-mail</span>
                    </li>
                </ul>
                {{#if model.getUser}}
                <div class="new-btn review-list-share-button"   {{action removeReview}}><i class="fa fa-trash-o"></i></div>                 
                <div class="new-btn review-list-share-button"   {{action editReview}}><i class="fa fa-pencil"></i></div>
                {{/if}}
            </div>
        </div>  


        <!--the following comment-frame is used to show the reply box for the second level reply-->
        <div id="reviewReplyData_{{unbound model.review_id}}">

            <div class="reply-comment-frame" id="ReplyData_{{unbound model.review_id}}">
                <div class="review-reply-content">
                    <a  href="#/users/{{unbound controller.currentUser.id}}">

                        <img class="profilepic_comment" {{bindAttr src="controller.currentUser.photo_url_large"}} />
                        <div class="user-reply-angle-before"></div>
                        <div class="user-reply-angle-after"></div>

                    </a>

                    <div class="reply-comment-container review-reply-content-textarea">
                        <div id="addReply_{{unbound model.review_id}}" class="review-reply-content-textarea-size">
                            {{view HubStar.SearchRequireTextFieldView valueBinding="controller.replyReviewContent"  class="no-resize"  placeholder="Write a comment..." }}
                        </div>
                        <div class="review-reply-content-send">
                            <div id="ok_{{unbound model.review_id}}" class="message-btn easing message-btn-w" {{action addReviewReply model.review_id}}>
                                 <i  class="fa fa-check"></i>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div id="view-comments_{{unbound model.review_id}}" class="hover-opacity review-replay-view-comment" {{action 'showOneReview' model.review_id "viewReply" target='view' on="click"}} >
                 view comments {{this.model.reply_reviews.length}}
                 <i class="fa fa-caret-down">&nbsp;</i>
            </div>
            <div  id="reply_{{unbound model.review_id}}"  class="review-relay-replay">


                {{#each model.reply_reviews}}
                {{render reviewReplyListSingle this}}
                {{/each}}

            </div>

            <div id="up-comments_{{unbound model.review_id}}" {{action "upComments" model.review_id target="view" on="click"}}  class="hover-opacity review-replay-up-comment" >

                collapse comments {{this.model.reply_reviews.length}}
                <i class="fa fa-caret-up">&nbsp;</i>
            </div>
        </div>
    </div>
</div>


{{#if controller.makeSureDelete}}

{{view HubStar.DeleteFunctionView}}

{{/if}}


{{#if controller.review_is_edit}}

<div class="blur_black"></div>

<div class="review-edit-user-picture">
    <img {{bindAttr src="model.review_user_photo_url"}} />
</div>

<div class="review-wrapper">
    <div id="review_{{unbound model.review_id}}" class="review-edit-top">
        <div {{action "showOneReview" model.review_id target="view" on="click"}} class="review-list-user-name">
            <div class="review-list-name-position">
                <a class="comment-username" href="#/users/{{unbound model.review_user_id}}"  >
                    {{model.review_user_name}}
                </a>
                <div class="posttime-container">
                    <span class="posttime">{{date model.review_time_stamp}} </span>
                </div>
            </div>

            <div class="review-list-star-position"><span class="starsview" style="width:{{unbound model.review_length}}px;"></span></div>
        </div>
    </div>
    <div id ="editReview_{{unbound model.review_id}}" class="review-edit-content">
        {{view HubStar.SearchRequireTextFieldView valueBinding="controller.review_content"  class="no-resize no-effect"  placeholder="Please edit review here" }}
    </div>

    <div class="review-edit-buttons" >
        <div  class="message-btn easing border-right review-edit-width" {{action cancelReview }}><i class="fa fa-times">&nbsp;</i>Cancel</div>
        <div class="message-btn easing review-edit-width" {{action  saveReview }}><i class="fa fa-check">&nbsp;</i>Post</div>
    </div>
</div>

{{/if}}
