

<div class="review-list-container">
    {{#each reviews}} 



    <div id="reviewList"  class="review-list box" style="">


        <div class="review-list-profile-pic" style="float:left;">
            <img {{bindAttr src="this.review_user_photo_url"}} id="leftOrRight" style=""/>
        </div>

        <div class="review-list-content" style="">
            <div style="background-color: #f3f3f3;padding: 3px 5px 0 50px;">
                <div class="comment-namentime" style="display: inline-block;">
                    <div class="namentime_position" style="margin: 0">
                        <a class="comment-username" href="#/users/{{unbound commenter_id}}" {{action linkingUser commenter_id}} >
                           {{this.review_user_name}} 
                    </a>
                    <div class="posttime-container">
                        <span class="posttime">{{date this.review_time_stamp}} </span>
                    </div>
                </div>
                    
                    
                    <span class="starsview">{{this.review_star_rating_value}}</span>
                    
            </div>

           
        </div>
            <div style="background-color: #fff; padding: 0 0 0 50px;">
            <div style="width: 350px;position: relative; display: inline-block;height: 20px;text-overflow: ellipsis;">{{this.review_content}}  </div>

            <div style="position: relative; display: inline-block; font-size: 18px; color: #888;margin: 0 10px;"><k class="icon-caret-down"></k></div>
        </div>
    </div>



</div>
 

{{/each}}



</div>
<script>
    $(function() {
        var $container = $('#masonry_user_container');
        window.setTimeout(function() {
            $container.masonry();
            $container.masonry('reloadItems');
        }, 10);
    });
</script>