


<div class="blur_black"></div>


    {{controller.review_length}}



    <div style="margin:0 auto; padding: 0 0 15px 15px;">


        {{view Ember.TextArea  id="" valueBinding="review_content"  class="no-resize"  placeholder="review time" }}
        <span class="" style="margin:45px 0;float: right;">
            <div  class="new-btn"{{action reviewCancel }}>Cancel</div>
            <div class="new-btn green-btn" {{action  reviewPost model.id}}>Post </div>

<div class="Add-review" style="">
    <div style="width: 100%;height: 50px; line-height: 52px;padding: 0 23px;">
        <a >
            <img class="profilepic_comment"  style="margin: 9px 15px 0 0;float: left;"{{bindAttr src="this.review_user_photo_url"}} /> 
        </a>
        <div style="font-size: 18px;font-weight: bold;color: #555;"><span>Review on</span><span>Profile name here please</span></div>
    </div>

    <div style="background-color: #f4f6f8; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; height: 50px; line-height: 50px; width: 100%">

      <span id="example-1"></span><span id="example-rating-1"> </span>

        
        <div class="new-btn blue-btn"{{action rateStar model.id}}>Rate {{controller.review_length}}</div>


            <a title="1">1</a>
        </div>
        <div id ="2" role="text" aria-label="" class="star-rating  star-rating-live" value="2" title="2">

            <a title="2">2</a>
        </div>
        <div id ="3" role="text" aria-label="" class="star-rating  star-rating-live" value="3" title="3">
            <a title="3">3</a>
        </div>
        <div role="text" aria-label="" class="star-rating  star-rating-live" value="4" title="4">
            <a title="4">4</a>
        </div>
        <div role="text" aria-label="" class="star-rating  star-rating-live" value="5" title="5">
            <a title="5">5</a>
        </div>
        <div role="text" aria-label="" class="star-rating  star-rating-live" value="6" title="6">
            <a title="6">6</a>
        </div>
        <div role="text" aria-label="" class="star-rating  star-rating-live" value="7" title="7">
            <a title="7">7</a>
        </div>
        <div role="text" aria-label="" class="star-rating  star-rating-live" value="8" title="8">
            <a title="8">8</a>
        </div>
        <div role="text" aria-label="" class="star-rating  star-rating-live" value="9" title="9">
            <a title="9">9</a>
        </div>
        <div role="text" aria-label="" class="star-rating  star-rating-live" value="10" title="10">
            <a title="10">10</a>
        </div>

   <div class="test Smaller">
    <span style="color:#FF0000"></span>
   </div>
    </span>

    </div>

    <div style="margin: 5px auto; padding: 0 15px;height: 200px;">
        {{view Ember.TextArea  id="" valueBinding="review_content"  class="no-resize no-effect"  placeholder="review time" }}
    </div>

    <div class="" style="height: 41px;position: absolute;border-top: 1px solid #ddd;bottom: 0;width: 100%;">
        <div  class="message-btn easing"  {{action reviewCancel }}><k class="icon-remove">&nbsp;</k>Cancel</div>
        <div  class="message-btn easing" style="border-right: 1px solid #ddd;border-left: 1px solid #ddd;"><k class='icon-picture'>&nbsp;</k>Add Photo
            <div style="opacity:0;position: relative;height:30px;top:-35px;overflow: hidden;"> 
                {{view HubStar.SingleImageInputButtonView }}
            </div>
        </div>
        <div class="message-btn easing" {{action  reviewPost model.id}}><k class='icon-ok'>&nbsp;</k>Post</div>
    </div>


</div>
</div>

