

<div class="review-list-container">
    {{#each reviews}} 



    <div id="reviewList"  class="review-list box" style="">


        <div class="review-list-profile-pic" style="">
            <img {{bindAttr src="this.review_user_photo_url"}} id="leftOrRight" style=""/>
        </div>

        <div  class="review-list-content easing" style="">
            <div style="background-color: #f3f3f3;padding: 5px 5px 5px 70px;">
                <div {{action 'downContent' this.review_id target='view' on="click"}} class="comment-namentime" style="display: block;position: relative;height: 35px;">
                    <div class="namentime_position" style="margin: 0;float: left;">
                        <a class="comment-username" href="#/users/{{unbound this.review_user_id}}"  >
                           {{this.review_user_name}} 
                    </a>
                    <div class="posttime-container">
                        <span class="posttime">{{date this.review_time_stamp}} </span>
                    </div>
                </div>
                <div style="position: absolute; right: 0; margin: 7px;"><span class="starsview" >{{this.review_star_rating_value}}</span></div>

            </div>


        </div>

        <div  style="background-color: #fff; padding: 5px 0 0 70px; font-size: 13px;">
            <div id="review_content_{{unbound this.review_id}}" {{action 'upContent' this.review_id target='view' on="click"}} style="width: 390px; height:20px; position: relative; display: inline-block; overflow: hidden; ">{{this.review_content}}  </div>   
           <div id="review_like_{{unbound this.review_id}}"  style="display: inline-block;float: right; font-size: 13px;" class="new-btn" {{action addLike this}}><i class="icon-thumbs-up-alt" {{action addLike this}}>&nbsp</i>{{this.review_like_count}}</div>
           <div id="review_replay_{{unbound this.review_id}}"  style="display: inline-block;float: right; font-size: 13px;" class="new-btn" ><i class="icon-reply" >&nbsp</i></div>
       
             
             
             
             
            <span role="button"  style="position: relative;  font-size: 18px; color: #888;margin: 0 10px;"  id="down_button_{{unbound this.review_id}}"  ><k class="icon-caret-down"></k></span>
            <span role="button" style="position: relative; display: none;  font-size: 18px; color: #888;margin: 0 10px;"  id="up_button_{{unbound this.review_id}}" ><k class="icon-caret-up"></k></span>
        </div>
    </div>



</div>
<script>
    $(function() {
        var $container = $('#masonry_user_container');
        window.setTimeout(function() {
            $container.masonry();
            $container.masonry('reloadItems');
        }, 10);
    });


</script>

{{/each}}



</div>

