<div class="blur_black"  {{action reviewCancel }}></div>

<div class="review-container">


    <div class="review-wrapper">
        <div class="review-top">
            <a><img class="profilepic_comment" {{bindAttr src="this.review_user_photo_url"}} /></a>
            <div ><span>Review on:  {{this.profileName}}</span></div>
        </div>

        <div class="review-middle">
            <span id="post-star"></span>
            <div id="post-star-rating" class="contactmeicon easing"></div>

        </div>

        <div class="review-textarea">
            {{view Ember.TextArea  valueBinding="review_content"  class="no-resize no-effect"  placeholder="review time" }}
        </div>

        <div class="review-buttons">
            <div  class="message-btn easing" {{action reviewCancel }}><i class="fa fa-times">&nbsp;</i>Cancel</div>
            <div class="message-btn easing" {{action  reviewPost model.id}}><i class="fa fa-check">&nbsp;</i>Post</div>
        </div>


    </div>
</div>