



<div id="reply_{{unbound model.review_reply_id}}" class="your-relpy">
    <a class="your-relpy_profilepic" href="#/users/{{unbound model.review_user_id}}">
        {{#if controller.isUserself}}
        <img class="profilepic_comment"  {{bindAttr src= model.review_photo_url_large}} />
        {{else}}
         <img class="profilepic_comment"  {{bindAttr src= model.review_photo_url}} />
         {{/if}}
    </a>
    <div style="">
        <div class="comment-namentime">
            <div class="namentime_position">
       
<!--                <div class="reply-comment" style="left: 40px;right: initial;">
                    <i class="icon-trash"  {{action removeReviewReply model.review_reply_id}}></i>
                    <i class="icon-pencil" {{action editingReviewReplyData model.review_reply_id model.review_msg}}></i>
                </div>-->
            
                <a class="comment-username"  href="#/users/{{unbound model.review_user_id}}">
                    {{model.review_user_name}}                
                </a>
                <div class="posttime-container">
                    <span class="posttime">{{date model.review_time_stamp}}</span>
                </div>
            </div>
        </div>
        <div class="comment-content">
            {{model.review_msg}}<br>
            
        </div>
    </div>
</div>
<script>
    $(function() {
        var $container = $('#masonry_user_container');
        window.setTimeout(function() {
            $container.masonry();
            $container.masonry('reload');
        }, 10);   
    });
 
   
</script>



