


<div class="blur_black"></div>

<div class="Add-review" style="height: auto;top:30%">
    <div class="hover-opacity" style="float: right;width: 30px;height: 30px;line-height: 30px;text-align: center; cursor: pointer"{{action noSelection}}><k class="icon-remove">&nbsp;</k></div>
    <div style="width: 100%;height: 55px; line-height: 33px;padding: 10px 25px;background-color: #F3F3F3;border-bottom: 1px solid #ddd;">
        <i class="icon-exclamation-sign" style="font-size: 35px;width: 45px;height: 45px;float: left;"></i>
        <div style="font-size: 16px;font-weight: bold;color: #555;  vertical-align: middle;display: inline-block;width: 390px;"><span>How would you like to edit the About Us section?</span></div>
    </div>


    <div style="margin: 15px auto 20px; padding: 0 40px;height: 200px;color: #333; font-size: 15px; ">
        Choose the <b>Template editor</b> to easily modify this section using the default About Us template. <br>Choose the <b>HTML5 editor</b> for more advanced editing options. <br>Please note: <br>- If you choose the <b>Template editor</b> after adding content to this section using the <b>HTML5 editor</b>, you will need to re-enter this content. <br>- Once changes made with the <b>Template editor</b> have been saved, you will no longer be able to access the <b>HTML5 editor</b>.

    </div>

    <div class="" style="height: 41px;position: relative;border-top: 1px solid #ddd;bottom: 0;width: 100%;">
        <div  class="message-btn easing"  style="width: 50%;border-right: 1px solid #ddd;" {{action selectionOne target="view" on="click"}}><k class="icon-html5">&nbsp;</k>{{controller.select_one}}</div>
        <div class="message-btn easing" style="width: 50%;" {{action selectionTwo target="view" on="click"}}><k class='icon-puzzle-piece'>&nbsp;</k>{{controller.select_two}}</div>
    </div>

</div>
