


<div class="blur_black"></div>

<div class=selectfunction-container" >
    <div class="hover-opacity selectfunction-exit" {{action noSelection}}><i class="fa fa-times">&nbsp;</i></div>
    <div class="selectfunction-title">
        <i class="fa fa-exclamation-circle selectfunction-icon" ></i>
        <div class="selectfunction-txt"><span>How would you like to edit the About Us section?</span></div>
    </div>


    <div class="selectfunction-content">
        {{{controller.message}}}
    </div>
 
    <div class="selectfunction-action" >
        <div class="message-btn easing selectfunction-editor" {{action selectionOne target="view"}}><i class="fa fa-html5">&nbsp;</i>{{controller.select_one}}</div>
        <div class="message-btn easing selectfunction-temp" {{action selectionTwo target="view"}}><i class="fa fa-puzzle-piece">&nbsp;</i>{{controller.select_two}}</div>
    </div>

</div>
