<div id="newemail" class="blur_black"  {{action exit}}>&nbsp;</div>
<div class="share-email-lightbox">

    <div class="share-email-left-content-box">

        {{view Ember.TextField valueBinding="controller.emailDestination" rows="12" cols="70" class="no-resize easing" placeholder="Send this idea to..."}}
        <i class="fa fa-envelope-o" ></i>
        {{view Ember.TextArea valueBinding="controller.emailBody" rows="12" cols="70" class="no-resize easing" placeholder="Add a massage"}}

        <div class="share-email-profilepic" >
            <img {{bindAttr src="controller.currentUser.photo_url_large"}} class="profilepic_user  easing width-100 height-100" />
        </div>
    </div>


    <div id="showpic" class="share-email-right-content-box" >
        <img {{bindAttr src="controller.selectedPhotoThumbnailUrl"}} />
        <div class="closeview" {{action exit }}>
             <i class="fa fa-times"></i>
        </div> 
 
        <div class="sent-btn-hover">
            <div class="sent-btn easing" {{action emailSend }}><img src="../../../images/sentwhite.png"/>Send</div>
        </div>
    </div>


</div>


