




    <div class="show-album"  >
        <div class="show-album-title">
            All photos
            <div class="display-inline">( {{content.length}} ) </div>
        </div>
        <div class="exit">
            <div class="closeview" {{action hide selectedPhoto.id on="click" target="view"}} >
                <i class="fa fa-times"></i>
            </div>
        </div>
        <div class="show-album-content"> 
            {{#each  content}}
            <img class="photo_original_style" id="showalbum_{{unbound id}}"{{bind-attr src="photo_image_thumbnail_url"}}  {{action selectImage id on="click" target="controller"}}/>
            {{/each}}
        </div>
    </div>
