 
<div  id ="tagit" style ="display:none">

    {{#unless controller.change_tag_show}}
    <div class="box" id="show-tag-box-up">
    </div>
    {{/unless}}
    <div id ="showTagSavePhoto" class="t-style-box showTagSavePhoto">
        <div class="show-tag-title">          
            <div class="show-tag-title-font">  Request a new tag </div>
            <div class="closeview" {{action cancelTag }}>
                 <i class="fa fa-times"></i>
            </div> 
        </div> 
        <div class="show-tag-contactmebox-wapper">
            <div class="show-tag-part">
                <div>
                    <div class='show-tag-font'>Product Name :</div> 
                    <div>
                        {{view Ember.TextArea valueBinding="controller.product_name" rows="1" cols="70" class="tag_currenprofile" placeholder="Say something about it!"}}
                    </div>
                </div>
                <div>
                    <div class='show-tag-font'>Description :</div>
                    <div>
                        {{view Ember.TextArea valueBinding="controller.description" rows="10" cols="70" class="tag_descriptionbox" placeholder="Write something to introduce the product!"}}
                    </div>
                </div>
            </div>
            <div class="show-tag-link-to">
                <div class='show-tag-font'> Link to tag :</div>
                <div class="show-tag-link-to-content"> {{controller.linkTo}} </div>
            </div>
            <div class="show-tag-part-below">
                <div class="show-tag-part-below-left">
                    <div class="show-tag-left">
                        <div class='show-tag-font'>Profile :</div>
                        {{#if controller.selectedDesc}}
                        {{#unless controller.isReadProfile}}
                        <div class="new-btn show-tag-select" {{action profileSwitch on="click" target="controller"}}>
                            {{controller.selectedDesc}} 
                            &nbsp;<i class="fa fa-caret-down"></i>
                        </div>                      
                        {{else}}
                        <div class="new-btn show-tag-select"> 
                            <div class="show-tag-loading"> Loading <i class="spinner" style="">&nbsp;</i></div>                       
                        </div>
                        {{/unless}}
                        {{else}}
                        {{#unless controller.isReadProfile}}
                                <div class="new-btn show-tag-select" {{action profileSwitch on="click" target="controller"}}>
                                    Choose your Profile
                                    &nbsp;<i class="fa fa-caret-down"></i>
                                </div> 
                        {{else}}
                        <div class="new-btn show-tag-select"> 
                            <div class="show-tag-loading"> Loading <i class="spinner" style="">&nbsp;</i></div>                       
                        </div>
                        {{/unless}}
                        {{/if}}
                        {{#if controller.selectTagProfile}}
                        <div id="login_lightbox" class="blur" {{action profileCanel }}>&nbsp;</div>
                        <div class="select-profile-save">
                            <div class="show-tag-profile-content" >         
                                {{#each controller.profiles}}
                                <div class="choose-exist-collection easing" style="" {{action chooseProfile profile_name profile_id}}>
                                     <a class="exist-name easing"> {{profile_name}}</a>
                                </div>
                                {{/each}}
                            </div>
                        </div>

                        {{/if}}
                    </div>

                    <div class="show-tag-left">
                        <div class='show-tag-font'>Collection :</div>
                        {{#if chooseProfileItem}}
                        <div class="new-btn show-tag-select"  {{action collectionSwitch }} {{bindAttr text="controller.selectedTitle" }}>
                             {{controller.selectedTitle}}
                             &nbsp;<i class="fa fa-caret-down"></i>
                        </div>                   
                        {{/if}}
                        {{#if controller.selectionPop}}
                        <div id="login_lightbox" class="blur" {{action collectionSwitch }}>&nbsp;</div>
                        <div class="add-tag_select-tag">
                            <div>
                                {{#each controller.profileCollection}}
                                <div class="choose-exist-collection easing" {{action chooseRecord title id}}>
                                     <a class="exist-name easing"> {{title}}</a>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>

                <div class="show-tag-part-below-right" >
                    {{#if controller.selectedDesc}}
                    <div class="show-tag-image" >
                        <img  {{bindAttr src="controller.selectedPhotoThumbnailUrl" }}>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div> 
        <div class="show-tag-bottom">
            <div  class="message-btn easing show-tag-button-right"  {{action cancelTag }}><i class='fa fa-times'>&nbsp;</i>Cancel</div>
            <div class="message-btn easing" {{action saveTag}}><i class='fa fa-check'>&nbsp;</i>Save</div>
        </div>
    </div>
    {{#if controller.change_tag_show}}

    <div class="box" id="show-tag-box-bottom">
    </div>
    {{/if}}
</div>
