




<div id="collection_tab1" style="bottom: 0px; right: 0px; height: 300px;background-color: black;overflow:hidden;display:none; position: absolute;z-index: 5; width: 100%; opacity: .9;">
    <div style="background-color: #333;color: #fff;font-weight: bold;padding: 13px 0 13px 40px;width: 100%;position: relative;display: -moz-inline-box;display: inline-block;">
        All photos{{HubStar.what}}
        <div style="display: inline-block;">( {{content.length}} ) </div>
    </div>
    <div class="exit">
        <div class="closeview" {{action hide selectedPhoto.id on="click" target="view"}} >
            <i class="icon-remove"></i>
        </div>
    </div>
    <div style="margin: 15px;overflow: auto;height: 225px;width: 100%;"> 
        {{#each  content}}
        <img class="photo_original_style" {{bindAttr  id="id" src="photo_image_thumbnail_url"}}  {{action selectImage id on="click" target="controller"}}/>
        {{/each}}
    </div>
</div>


