


<div class="status-container">
    <div id="user-status" class="status-warapper" data-step="7" data-intro="Here is your <b>status</b>. Next will jump to your <b>User Profile</b>" data-position='right'>
        {{#unless HubStar.isLogin}}

        <div id='welcome_message' class="status-message">
            <h2>Welcome!!</h2>
            <p>Please log in to create your ideas space.</p>
            <div {{action registerlogin on="click"  target="view"}}>Log in/Register </div>

        </div>
        {{else}} 

        <div id="afterLogin">
            <div class="status-user-pic">
                <a {{bindAttr href="controller.myUserProfile"}} ><img {{bindAttr src="controller.user.photo_url_large"}}/></a>                              
            </div>
            <p> Hi <b>{{controller.user.display_name}}</b> </p>
            <h4>{{controller.response}}</h4>

        </div>

        {{/unless}}
    </div>

</div>

