


<div style="color:#555; background-color: #fff">







    <div id="user-status" style="padding: 20px;text-align: center;" data-step="7" data-intro="Here is your <b>status</b>. Next will jump to your <b>User Profile</b>" data-position='right'>


        {{#unless HubStar.isLogin}}

        <div id='welcome_message' style='margin-bottom: 25px; '>
            <h2  style="">Welcome!!</h2>
            <p>Please log in to create your ideas space.</p>
            <div  style="margin: 10px auto;width: 140px;background-color: #000;font-weight: bold;border-radius: 5px;cursor: pointer;font-size: 15px;padding: 5px 15px;border: 1px solid #aaa;color:#fff" {{action registerlogin on="click"  target="view"}}>Log in/Register </div>
         
        </div>
        {{else}} 


        <div id="afterLogin">
            <div class="profilepic-container" style="margin:0 0 10px;">
                <a {{bind-attr href="controller.myUserProfile"}} ><img {{bind-attr src="controller.user.photo_url_large"}} class="profilepic_user" style="box-shadow: 0 1px 2px #555;"/></a>                              
            </div>
            <p> Hi <b>{{controller.user.display_name}}</b> </p>
            <h4>{{controller.response}}</h4>

        </div>



        {{/unless}}
    </div>







</div>

