


<div class="masonry-object" style="background-color: #427fed; color: white;">






    <div style="padding: 20px;text-align: center; background-color: #427fed;" data-step="5" data-intro="Here is your <b>status</b>." data-position='right'>

        {{#unless HubStar.isLogin}}

        <div id='welcome_message' style='margin-bottom: 25px;'>
            <h2>Welcome!!</h2>
            <p>Please login to create your ideas space.</p>

        </div>
        {{else}}
  

        <div id="afterLogin">
            <div class="profilepic-container" style="margin:0 0 10px;">
                <a {{bindAttr href="controller.myUserProfile"}} ><img {{bindAttr src="controller.user.photo_url_large"}} class="profilepic_user"/></a>                              
            </div>
            <p> Hi {{controller.user.display_name}} </p>
            <h4>{{controller.response}}</h4>

          
        </div>
        {{/unless}}
    </div>







</div>

