<div id ="tagitshow" class=""  {{action hideContent on="mouseLeave" target="view"}} >
    <!--enable to edit the tag controller-->
    <div style="opacity: 0; background-color: red;height:36px;width:100%">
    </div>
    <div class="tagitshow">
    <div class="tagImg">
        <a href="{{unbound controller.tag.linkto}}" > 
            <img  {{bindAttr src= "controller.tag.pic_url"}} style="width:{{unbound controller.tag.width}}; height:{{unbound controller.tag.height}}">
        </a>
    </div>
    <div class="tagMiddle">
        <div class="tagName" class="name">
            {{controller.tag.product_name}}
        </div>
        <div class="tagContent">

            {{#if controller.isNullLink}}
            <div class="tagDesc">
                {{controller.tag.desc}}
            </div>
            {{else}}
            <a href="{{unbound controller.tag.linkto}}" >
                <div class="tagDesc">
                    {{controller.tag.desc}}
                </div>
            </a>
            {{/if}}

        </div>

    </div>

    <!--  only the tag owner and the tag is not activate can have the activate button-->
    <div class="tagBtn">
        {{#if controller.is_authentic_user}}
        {{#unless controller.tag.tag_approved}}
        <div id="tag_activate_button" {{action sureToActivate controller.tag.tag_id }} >
             <i class="fa fa-check-circle"></i>
            <div id ="tag_activate_button_text" style ="position:relative; top:-4px; left: 7px; display:inline-block; font-size:15px;">
                activate
            </div>
        </div>
        {{else}}
        <div id="tag_edit_button"  {{action EditTag controller.tag.tag_id }}>
             <i class="fa fa-pencil-square-o"></i>
             <div id ="tag_edit_button_text" style ="position:relative; top:-4px; left: 7px; display:inline-block; font-size:15px;">
                edit
            </div>
        </div>
        {{/unless}}
        <!--        only the tag owner can delete the tag button-->
        <div id="tag_delete_button"  {{action deleteTag controller.tag.tag_id }} >
             <i class="fa fa-trash-o"></i>
            <div id ="tag_delete_button_text" style ="position:relative; top:-4px; left: 7px; display:inline-block; font-size:15px;">
                delete
            </div>
        </div>
        <!--        only the tag owner can delete the tag button-->
        {{else}}
        {{#if controller.tag.is_tag_owner}}
        <div  id="tag_edit_button"  {{action EditTag controller.tag.tag_id }}>
            <i class="fa fa-pencil-square-o"></i>
             <div id ="tag_edit_button_text" style ="position:relative; top:-4px; left: 7px; display:inline-block; font-size:15px;">
                edit
            </div>
        </div>
        <div id="tag_delete_button"  {{action deleteTag controller.tag.tag_id }}>
            <i class="fa fa-trash-o"></i>
            <div id ="tag_delete_button_text" style ="position:relative; top:-4px; left: 7px; display:inline-block; font-size:15px;">
                delete
            </div>
        </div>
        {{/if}}
        {{/if}}       
    </div>
    
    </div>
</div>


