<div id ="tagitshow" class=""  {{action hideContent on="mouseLeave" target="view"}}>
    <!--enable to edit the tag controller-->
    <div class="tagImg">
        <a href="{{unbound controller.tag.linkto}}" > 
            <img  {{bindAttr src= "controller.tag.pic_url"}}>
        </a>
    </div>
<div class="tagMiddle">
    <div class="tagName" class="name">
        {{controller.tag.product_name}}
    </div>
    <div class="tagContent">
        
            {{#if controller.isNullLink}}
            <div class="tagDesc">
                {{controller.tag.desc}}
            </div>
            {{else}}
            <a href="{{unbound controller.tag.linkto}}" >
                <div class="tagDesc">
                    {{controller.tag.desc}}
                </div>
            </a>
            {{/if}}
               
    </div>
    
    </div>

    <!--  only the tag owner and the tag is not activate can have the activate button-->
    <div class="tagBtn">
        {{#if controller.is_authentic_user}}
        {{#unless controller.tag.tag_approved}}
        <div  {{action sureToActivate controller.tag.tag_id }} ><i class="fa fa-check-circle"></i></div>
        {{else}}
        <div   {{action EditTag controller.tag.tag_id }}><i class="fa fa-pencil-square-o"></i></div>
        {{/unless}}
        <!--        only the tag owner can delete the tag button-->
        <div   {{action deleteTag controller.tag.tag_id }} ><i class="fa fa-trash-o"></i></div>
        <!--        only the tag owner can delete the tag button-->
        {{else}}
        {{#if controller.tag.is_tag_owner}}
        <div    {{action EditTag controller.tag.tag_id }}><i class="fa fa-pencil-square-o"></i></div>
        <div   {{action deleteTag controller.tag.tag_id }}><i class="fa fa-trash-o"></i></div>
        {{/if}}
        {{/if}}       
    </div>
</div>


