{{#if this.tag_approved}}
<div id ="tag_{{unbound this.tag_id}}"  {{action on="mouseenter" target="view"}} class="tag-content" style="top:{{unbound this.top}}; left:{{unbound this.left}}">
    {{this.product_name}}
    <div class="arrow-down tag-content-arrow"></div>
</div>
{{else}}
{{#if controller.is_authentic_user}}
<div id ="tag_{{unbound this.tag_id}}"  {{action on="mouseenter" target="view"}} class="tag-content" style="opacity:0.4;top:{{unbound this.top}}; left:{{unbound this.left}}">
    {{this.product_name}}
    <div class="arrow-down tag-content-arrow"></div>
</div>
{{else}}
{{#if this.is_tag_owner}}
<div id ="tag_{{unbound this.tag_id}}"  {{action on="mouseenter" target="view"}} class="tag-content" style="opacity:0.4;top:{{unbound this.top}}; left:{{unbound this.left}}">
    {{this.product_name}} 
    <div class="arrow-down tag-content-arrow"></div>
</div>
{{/if}}
{{/if}}
{{/if}}







