<!--it is only use for the mouse enter and leave  and show  or hide the tag contnet -->
<!--it is only use for the mouse enter and leave  and show  or hide the tag contnet -->
<!--<i id ="tag_{{unbound this.tag_id}}"  {{action  on="mouseEnter" target="view"}} {{action on="mouseLeave" target="view"}} class="fa fa-bell-o"  style="position: absolute;    margin: auto 220px;color: white;"></i>-->
{{#if this.tag_approved}}
<div id ="tag_{{unbound this.tag_id}}"  {{action showContent1 this.tag_id on="mouseenter" target="view"}} style="position: absolute; font-size:15px;  width: auto; height: auto;background-color: #000; color: #fff; border-radius: 5px; text-align: center; padding: 5px 10px; font-weight: bold;">{{this.desc}}
     <div class="arrow-down" style="\width: 0; height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #000;position: relative;top: 8px;margin: 0 auto;"></div>
</div>
{{else}}
<div id ="tag_{{unbound this.tag_id}}"  {{action showContent1 this.tag_id on="mouseenter" target="view"}} style="position: absolute; font-size:15px;  width: auto; height: auto;background-color: #000; color: #fff; border-radius: 5px; text-align: center; padding: 5px 10px; font-weight: bold;opacity:0.4;">
    {{this.desc}} 
    <div class="arrow-down" style="\width: 0; height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top: 5px solid #000;position: relative;top: 8px;margin: 0 auto;"></div>
</div>

{{/if}}







