
<div  class="blur_black"  {{action reviewCancel on="click" target="controller"}}>&nbsp;</div>


<div  class="user-talk-main-container">
    <div class="user-talk-main-top">
        <div class="user-talk-main-top-img">
           <img {{bind-attr src= controller.owner_photo_url}} />

        </div>       
        <div class="user-talk-main-top-name">
            <div class="user-talk-display-name">Message to: {{displayName}} </div>
            <div class="user-talk-desc">This conversation will be stored in your message centre.</div>
        </div>
    </div>


    <div class="user-talk-textarea">
        <div>
            {{view Ember.TextArea valueBinding="messageContent" class="no-resize no-effect" placeholder="Write something..." }}                                          
        </div>         
    </div>

    {{#if controller.isUploadPhoto}}
    <div class="user-talk-upload-photo">
        <div class="remove-comment-photo easing" {{action removePic }}><i class="fa fa-times"></i></div>
        <img  {{bind-attr src= "newStyleImageSource"}} >
    </div>
    {{/if}}  



    <div class="user-talk-buttons">
        <div  class="message-btn easing user-talk-cancel" {{action cancelTalk on="click" target="controller"}}><i class="fa fa-times">&nbsp;</i>Cancel</div>
        <div  class="message-btn easing user-talk-add-photo"><i class="fa fa-picture-o">&nbsp;</i>Add Photo
            <div> 
                {{view HubStar.SingleImageInputButtonView }}
            </div>
        </div>
        {{#if controller.isPosting}}
        <div class="message-btn easing user-talk-send" {{action addComment}}><i class="fa fa-check">&nbsp;</i>Send</div>
        {{else}}
        <div class="message-btn-x easing user-talk-send"><i class="spinner user-talk-spinner" >&nbsp;</i>Posting </div>
        {{/if}}
    </div>




</div>