


<div id="login_lightbox" class="blur_black" {{action cancelUpdateTag }}>&nbsp;</div>
<div  class="tagit">



    <div id ="savePhoto" class="t-style-box showTagSavePhoto">
        <div class="show-tag-title">          
            <div class="show-tag-title-font">  Update your tag </div>
            <div class="closeview" {{action cancelUpdateTag }}>
                 <i class="fa fa-times"></i>
            </div> 
        </div> 
        <div class="show-tag-contactmebox-wapper">
            <div class="show-tag-part">
                <div>
                    <div class='show-tag-font'>Product Name :</div> 
                    <div>
                        {{view Ember.TextArea valueBinding="controller.product_name" rows="1" cols="70" class="tag_currenprofile" placeholder="Say something about it!"}}
                    </div>
                </div>
                <div>
                    <div class='show-tag-font'>Description :</div>
                    <div>
                        {{view Ember.TextArea valueBinding="controller.description" rows="10" cols="70" class="tag_descriptionbox" placeholder="Write something to introduce the product!"}}
                    </div>
                </div>
            </div>
            <div class="show-tag-link-to">
                <div class='show-tag-font'> Link to tag :</div>
                <div class="show-tag-link-to-content"> {{controller.linkTo}} </div>
            </div>
            <div class="show-tag-part-below">
                <div class="show-tag-part-below-left">
                    <div class="show-tag-left">
                        <div class='show-tag-font'>Profile :</div>
                        <div class="disabled-btn show-tag-disabled">{{controller.profile_name}} </div>                   
                    </div>
                    <div class="show-tag-left">
                        <div class='show-tag-font'>Collection :</div>
                        <div class="disabled-btn show-tag-disabled">  {{controller.selectedCollectionName}}  </div>                    
                    </div>
                </div>
                <div class="show-tag-part-below-right" >
                    <div class="show-tag-image" >
                        <img  {{bind-attr src="controller.selectedPhotoThumbnailUrl" }}>
                    </div>
                </div>
            </div>
        </div> 
        <div class="show-tag-bottom">
            <div  class="message-btn easing show-tag-button-right"  {{action cancelUpdateTag }}><i class='fa fa-times'>&nbsp;</i>Cancel</div>
            <div class="message-btn easing" {{action saveUpdateTag controller.selectedPhotoThumbnailUrl}}><i class='fa fa-check'>&nbsp;</i>Update</div>
        </div>

    </div> 
</div>

</div>
