{{#if controller.loadingTime}}

{{render loadingSpinner}}

{{/if}}
<!--Add new post-->

<div class="box col2 user-post-background" >
        <div class="user-post-title">Create Your New Post</div>
    <div  class="user-post-container">

        <div class="user-post-wrapper">
            <a>
                <img class="profilepic_comment user-post-img" {{bindAttr src= this.commenter_photo_url}} /> 
                <div class="user-says-angle-before user-post-angle"></div>
                <div class="user-says-angle-after user-post-angle"></div>
            </a>

            <div class="user-post-content">
                <div  class="user-post-content-textarea">
                    {{view Ember.TextArea valueBinding="messageContent" class="no-resize no-effect" placeholder="Write something..." }}                                          
                </div>
                {{#if controller.isUploadPhoto}}
                <div class="user-post-content-upload-photo">
                    <div class="remove-comment-photo easing" {{action removePic}}><i class="fa fa-times"></i></div>
                    <img  {{bindAttr src= "newStyleImageSource"}} >
                </div>
                {{/if}}
                <div class="user-post-content-button">
                    <div  class="message-btn easing hint--bottom hint--rounded border-right" data-hint="Add Photo"><i class="fa fa-picture-o">&nbsp;</i>Add Photo
                        <div class="user-post-content-button-add-photo-back"> 
                            {{view HubStar.SingleImageInputButtonView }}
                        </div>
                    </div>
                    {{#if controller.isPosting}}
                    <div class="message-btn easing hint--bottom hint--rounded" {{action addComment}} data-hint="Post"><i class="fa fa-check">&nbsp;</i>Post </div>
                    {{else}}
                    <div class="message-btn-x easing" ><i class="spinner">&nbsp;</i>Posting </div>
                    {{/if}}
                </div>
            </div>

        </div>
    </div>

</div>

<div id="content_message" class="Message-Board_comment-container">
    {{#each  contentMsg}}

    <div id="message_{{unbound this.message_id}}">          
        {{render "message" this}}
    </div>

    {{/each}}
</div>


{{#if controller.makeSureDelete}}

{{view HubStar.DeleteFunctionView}}


{{/if}}