<div style="width:100%; height:80px; display:block;"></div>
<div class="user-board">
    <div class="user-board_left style-box">
       <div class="user-profilepic-container"> 
          <div class="changeuserprofilepic easing hint--right hint--rounded" data-hint="Choose a profile picture">
             <k class="icon-edit"></k>
          </div>    
          <img {{bindAttr src="controller.user.photo_url_large"}}/>
       </div>
        <div  type="button" class="new-btn green-btn" style="margin: 30px auto 20px;width: 130px;display: block;">
            Follow
        </div>

        <div style="padding: 10px 20px;  width: 115%; height: 150px; overflow: auto;background: #F3F3F3;">
            <div style="font-weight: bold;line-height: 20px; color: #777; font-size: 17px;margin-bottom: 5px; display:inline-block;">INTEREST </div>
            <k class="icon-plus edit-btn" style="font-size:13px;"></k>
            <div style="padding: 0 8px; line-height: 25px;">

                {{#each controller.selected_topics}}
                <div class='hashtags' {{bindAttr id="topics"}}>{{topics}}<i class='remove-hashtages' {{action deleteTopic topics}}>x</i></div>

                {{/each}}
            </div>
        </div>


    </div>



    <div  class="user-board_right style-box" >


<div id="user-board_right_front">
        <div class="user-cover">
             <div  id="flip-front" class='blue-btn new-btn hint--left hint--rounded edit-dashboard-btn' style="display: block; margin: 10px;position: absolute;top: 0;right: 0;" data-hint="Dashboard"{{action userDashboardButton}}> > 

                 <i class="icon-cogs" ></i>
            </div>

            <div style="font-size: 26px;font-weight: bold; line-height: 30px; overflow: hidden; display: inline-block;color: white;position: relative;top: 90px;">{{controller.user.display_name}}</div>
        </div>

        <div style="height: 250px; padding: 10px 20px;display: inline-block;position: relative;width: 100%;">
            <div style="font-size:15px;line-height: 20px;margin: 5px 20px;color: #888; overflow: hidden;height: 200px; text-overflow: ellipsis;">{{controller.user.description}}</div>
        </div>

        <div style="margin: 0 40px; overflow:hidden; width:90%; height:50px;">
            <ul class="locationandlinks" style="margin-left: -10px;">
                <li>
                    <span class="locationIcon"><k class="icon-map-marker"></k></span>
                    Auckland
                </li>

                <li class="location_li">
                    <a href="#" target="_blank">&nbsp <k class="icon-facebook"> </k></a>
                </li>
                <li class="location_li">
                    <a href="#" target="_blank">&nbsp <k class="icon-twitter"> </k></a>
                </li>
                <li class="location_li">
                    <a href="#" target="_blank">&nbsp <k class="icon-google-plus"> </k></a>
                </li>
                <li class="location_li">
                    <a href="#" target="_blank">&nbsp <k class="icon-pinterest"> </k></a>
                </li>
                <li class="location_li">
                    <a href="#" target="_blank">&nbsp <k class="icon-youtube-play"> </k></a>
                </li>

            </ul>
        </div>
</div>
{{#if controller.is_click}}


{{view HubStar.UserEditView}}

{{/if}}


    </div>





{{#if controller.switchPhoto}}



{{view HubStar.MasonryCollectionView}}



{{else}}



{{render masonryCollectionItems}}



{{/if}}


{{#if controller.makeSureDelete}}

{{view HubStar.DeleteFunctionView}}


{{/if}}