
<div class="user-board">
    <div class="user-board_left style-box">
        <img style="width: 150px; height: 150px; border-radius: 3px 0 0 3px;display: inline-block;vertical-align: top;" {{bindAttr src="controller.user.photo_url_large"}}/>
        <div style="height: 128px; margin: 10px 20px;display: inline-block;position: absolute;left: 150px;">
            <div style='display: block;'>
                <div style="font-size: 26px;font-weight: bold; line-height: 30px; overflow: hidden; display: inline-block;">{{controller.user.display_name}}</div>
<!--                <div  type="button" class="new-btn green-btn" style="margin-left: 20px;">
                    Follow
                </div>-->
            </div>
            <div style="font-size: 13px;line-height: 20px;margin: 5px auto;color: #888; overflow: hidden;height: 50px; text-overflow: ellipsis;">{{description}}</div>

        </div>
    </div>
    <div class="user-board_right style-box" style="background: white; width: 30%; height: 150px; padding: 10px 15px; display: inline-block; vertical-align: top; overflow: hidden;">
        <div style="padding: 5px; padding-right: 20px; width: 115%; height: 130px; overflow: auto;">
            <div style="font-weight: bold;line-height: 20px; color: #777; font-size: 13px;">Interested in:</div>
            <div style="padding: 0 8px; line-height: 25px;">

                {{#each controller.selected_topics}}
                <div class='hashtags' {{bindAttr id="topics"}}>{{topics}}<i class='remove-hashtages' {{action deleteTopic topics}}>x</i></div>

                {{/each}}
            </div>
        </div>
    </div>
</div>


{{#if controller.switchPhoto}}



{{view HubStar.MasonryCollectionView}}



{{else}}



{{render masonryCollectionItems}}



{{/if}}


{{#if controller.makeSureDelete}}

{{view HubStar.DeleteFunctionView}}


{{/if}}