{{#if controller.loadingTime}}

{{render loadingSpinner}}

{{/if}}

{{#each  contentUser}}

<div class="col1 box style-box t-style-box" style="text-align: center;">
    <div style="position:relative;height: 100px;overflow: hidden;line-height: 0;">
        <img {{bindAttr src= this.photo_url_large}} style="width:100%;"/>
    </div>

    <div class="user-profilepic-container" style="position:absolute; top: 50px;margin: 0 auto;width: 100px;height: 100px;border: 2px solid #f3f3f3;left: 0;right: 0;">
        <a class='radius-circle' href="#/users/{{unbound this.id}}"  >
<!--{{action goToUserFollowerRoute}}-->
            <img {{bindAttr src= this.photo_url}} style="width: 100px; height: 100px;" />
        </a>
    </div>

    <div style="position:relative; height:35px; line-height: 35px;margin: 50px auto 5px;">
        <span style="font-size: 13px;line-height: 15px; text-shadow: 0 1px 0 rgba(255,255,255,0.8); font-weight: bold;">
            {{this.name}}
        </span>
    </div>

    {{#if this.isUserSelf}}
    <div href="#question_modal" role="button" class="disabled-btn" data-toggle="modal" style="margin: 15px auto;width: 100px;display: block;">Follow</div>

    {{else}}
    {{#if this.follow_status}}
    {{#if this.following_status}}
    <div href="#question_modal" role="button" class="disabled-btn disabled-green" data-toggle="modal" style="margin: 15px auto;width: 100px;display: block;"{{action followThisUser this}}><i class='icon-exchange' >&nbsp; </i> Following</div>
    {{else}}
    <div href="#question_modal" role="button" class="disabled-btn disabled-green" data-toggle="modal" style="margin: 15px auto;width: 100px;display: block;"{{action followThisUser this}}><i class='icon-circle-blank' >&nbsp; </i> Following</div>
    {{/if}}
    {{else}}
    {{#if this.following_status}}
    <div href="#question_modal" role="button" class="new-btn green-btn" data-toggle="modal" style="margin: 15px auto;width: 100px;display: block;"{{action followThisUser this}}><i class='icon-ok' >&nbsp; </i> Follow</div>
    {{else}}
    <div href="#question_modal" role="button" class="new-btn green-btn" data-toggle="modal" style="margin: 15px auto;width: 100px;display: block;"{{action followThisUser this}}><i class='icon-plus' >&nbsp; </i> Follow</div>
    {{/if}}
    {{/if}}
    {{/if}}

    <div style="position:relative; background-color: #f3f3f3; height: 25px; width:100%;margin-top: 10px;">
        <ul class="locationandlinks" style="font-size: 12px;height: 20px;margin: 2px auto;width: 100%;line-height: 10px;">
            <li><k class="icon-eye-open">&nbsp;</k>{{this.collections_size}}</li>
            <li class="location_li"><k class="icon-circle-blank">&nbsp;</k>{{this.follower_size}}</li>
        </ul>
    </div>

</div>


<script>
    $(function() {
        var $container = $('#masonry_user_container');
        window.setTimeout(function() {
            $container.masonry();
            $container.masonry('reload');
        }, 10);
    });
</script>
{{/each}}

<!--
{{#if controller.makeSureDelete}}

{{view HubStar.DeleteFunctionView}}

{{/if}}-->
