<div style="width:100%; height:80px; display:block;"></div>
<div class="user-board">
    <div class="user-board_left style-box">
       <div class="user-profilepic-container"> 
          <div class="changeuserprofilepic easing hint--right hint--rounded" data-hint="Choose a profile picture">
             <k class="icon-edit"></k>
          </div>    
          <img {{bindAttr src="controller.user.photo_url_large"}}/>
       </div>
        <div  type="button" class="new-btn green-btn" style="margin: 30px auto 20px;width: 130px;display: block;">
            Follow
        </div>

        <div style="padding: 10px 20px;  width: 115%; height: 150px; overflow: auto;background: #F3F3F3;">
            <div style="font-weight: bold;line-height: 20px; color: #777; font-size: 17px;margin-bottom: 5px; display:inline-block;">INTEREST </div>
            <k class="icon-plus edit-btn" style="font-size:13px;"></k>
            <div style="padding: 0 8px; line-height: 25px;">

                {{#each controller.selected_topics}}
                <div class='hashtags' {{bindAttr id="topics"}}>{{topics}}<i class='remove-hashtages' {{action deleteTopic topics}}>x</i></div>

                {{/each}}
            </div>
        </div>


    </div>

    <div class="user-board_right style-box" >

       <div class="tabbable">
            <div class="tabs-left">
                <ul class="nav nav-tabs easing">
                    <li class="active" {{action changeSize}}><a href="#tab1" data-toggle="tab">CHANGE COVER</a></li>
                    <li class="easing" {{action changeSize}}><a href="#tab2" data-toggle="tab">SETTING</a></li>
                    <li class="easing" {{action changeSize}}><a href="#tab3" data-toggle="tab">SECURITY</a></li>
                    
                </ul>
            </div>
         <div class="tab-content easing">
                <div class="tab-pane active" id="tab1">
         </div>
                <div style="right: 0;margin: 30px auto 0;width: 150px;">
                        <span class='new-btn blue-btn flip-back'{{action flipFrontBack }}><k class='icon-group'> &nbsp;</k>Back</span>
                    </div>
       </div>

        

    </div>

</div>


{{#if controller.switchPhoto}}



{{view HubStar.MasonryCollectionView}}



{{else}}



{{render masonryCollectionItems}}



{{/if}}


{{#if controller.makeSureDelete}}

{{view HubStar.DeleteFunctionView}}


{{/if}}