{{#if controller.loadingTime}}

{{render loadingSpinner}}

{{/if}}

<div class="Message-Board box" style="position: relative; width: 545px; margin: 10px;border-radius: 5px;overflow: hidden;background-color: #fff;">
    <div style="background-color: #f3f3f3; width:100%;height: 50px; border-bottom: 1px solid #ddd;padding: 0 20px;">
        <div style="color: #555;font-size: 18px;line-height: 50px;"><i class="icon-comments-alt">&nbsp;</i>Message Board</div>

    </div>

    <div class="" id="" style="width: 100%;padding: 0 6.5%;margin: 20px auto 0;overflow: hidden;">
        <div style="margin:0 auto; padding: 0 0 0 45px;">
            <a>
                <img class="profilepic_comment"  style="float: left; margin: 4px 0 0 -45px; margin-top: 0;" {{bindAttr src= this.commenter_photo_url}} /> 
            </a>
            <div  style="margin: 0;width: 100%; height:100px;">
                {{view Ember.TextArea valueBinding="messageContent" class="no-resize" placeholder="What's up!" }}
            </div>

            <div style='background-color: #f3f3f3;margin: auto;max-width: 300px;max-height: 300px;padding: 10px 12px;text-align: center;'>
                <img  {{bindAttr src= "newStyleImageSource"}}  style="max-width: 170px; max-height: 170px;">
            </div>

        </div>
    </div>

    <div class="" style="margin: 10px auto 0; width: 100%;height: 45px;border-bottom: 1px solid #ddd;">
        <div  class="message-btn easing" style="border-right: 1px solid #ddd; ">
            <k class='icon-upload'>&nbsp;Add Photo
                <div style="opacity:0;position: relative;top: 0px;height:45px;top:-45px"> 
                    {{view HubStar.SingleImageInputButtonView }}
                </div>
        </div>
        <div class="message-btn easing" style="" {{action addComment}}>Post</div>
    </div>

    <div class='Message-Board_comment-container'>
        {{#each  contentMsg}}

        {{render "message" this}}

        {{/each}}

    </div>
</div>



