<div class="user-top"></div>

<div class="user-board">
    <div class="user-board_left style-box">
        <div id="user-photo_left">
            <div class="user-profilepic-container" id="profile-picture" data-step="1" data-intro="Click here to upload a <b>Profile Picture</b>." data-position="right"> 
                {{#if controller.is_authentic_user}}
                <div id="change_profile" class="changeuserprofilepic easing hint--right hint--rounded"  data-hint="Choose a profile picture" {{action userPhotoEditButton "User Picture"}}>
                     <i class="fa fa-pencil-square-o"></i>         
                </div>  
                {{/if}}
                <img {{bind-attr src="controller.model.photo_url_large"}} />
            </div>
            {{#if controller.followDisplay}}
            <div class="user-follow-style-top">
                {{#if controller.isUserSelf}}
                <div href="#question_modal" role="button" class="disabled-btn follow-btn" data-toggle="modal" style="">Follow</div>

                {{else}}

                {{#if controller.follow_status}}
                {{#if controller.following_status}}
                <div href="#question_modal" role="button" class="disabled-btn disabled-green follow-btn" data-toggle="modal" style=""{{action followThisUser}}><i class="fa fa-exchange" >&nbsp; </i> Following</div>
                {{else}}
                <div href="#question_modal" role="button" class="disabled-btn disabled-green follow-btn" data-toggle="modal" style=""{{action followThisUser}}><i class="fa fa-circle-o" >&nbsp; </i> Following</div>
                {{/if}}
                {{else}}
                {{#if controller.following_status}}
                <div href="#question_modal" role="button" class="new-btn green-btn follow-btn" data-toggle="modal" style=""{{action followThisUser}}><i class="fa fa-check" >&nbsp; </i> Follow</div>
                {{else}}
                <div href="#question_modal" role="button" class="new-btn green-btn follow-btn" data-toggle="modal" style=""{{action followThisUser}}><i class="fa fa-plus" >&nbsp; </i> Follow</div>
                {{/if}}
                {{/if}}
                <div class="new-btn blue-btn" {{action talkToPeople}}><i class="fa fa-envelope" ></i></div>

                {{/if}}           
            </div>
            {{/if}}
            {{#if isTalk}}
            {{render "talk"}}
            {{/if}}

            <div id="show_interest" data-step="2" data-intro=" Click the <b>+</b> button to add <b>Interests</b> to your profile." data-position="right">

                <div class="show-interest easing">
                    <div class="show-interest-style">INTERESTS</div>

                    {{#if controller.is_authentic_user}}

                    <div class="edit-btn hint--rounded hint--bottom show-interest-plus" data-hint="Edit Interest" {{action toggleEditing controller.interests controller.interest}}>
                         <i class="fa fa-plus edit-btn" {{action showInterestsUp  target="view" on="click"}}></i>
                    </div>
                    {{/if}}
                    <i id="interest_btn" class="fa fa-angle-double-up unvisible show-interest-up"  {{action showInterests target="view" on="click"}}></i>

                </div>

                <div class="interesttags-container">

                    {{#if controller.editingInterest}}
                    <div class="interest-textarea">
                        {{view Ember.TextArea valueBinding="interests"  id="" class="add-interests"  }}
                    </div>
                    <div class="interest-insert-hint">
                        Comma separate interests to add several to your profile.<br>
                        e.g. Kitchens,Bathrooms,Interior
                    </div>
                    <div class="show-interest-button">
                        <div class="new-btn" {{action no controller.interest}}><i class="fa fa-times" {{action showInterestsUp target="view" on="click"}}></i></div>
                        <div class="new-btn blue-btn" {{action yes controller.interest}}><i class="fa fa-check fa fa-white" {{action showInterestsUp target="view" on="click"}}></i></div>
                    </div>


                    {{else}}

                    {{#each controller.selected_topics}}

                    <div class="hashtags" >{{interests}}{{#if controller.is_authentic_user}}<i class="remove-hashtages" {{action deleteTopic interests}}>x</i>{{/if}}</div>


                    {{/each}}     

                    {{/if}}
                </div>
            </div>

        </div>
        {{#if controller.is_Photoclick}}


        {{view HubStar.UserPhotoEditView}}

        {{/if}}
    </div>
    <div  class="user-board_right style-box" >
        <div id="user-board_right_front" >
            <div class="user-cover" data-step="3" data-intro="Hover over your <b>Cover Image</b> to access your profile Dashboard, where you can change the cover image and manage your Profile Settings." data-position='bottom'>
                <img {{bind-attr src= "controller.cover_url"}} />

                {{#if controller.is_authentic_user}}
                <div  id="flip-front" class='blue-btn new-btn hint--left hint--rounded edit-dashboard-btn' data-hint="Dashboard"{{action userDashboardButton "User Cover"}}>  

                      <i class="fa fa-cogs" ></i>
                </div>
                {{/if}}
                <div class="user-display-name" style="">{{display_name}}</div>
            </div>

            <div class="editor-content user-editor-content" data-step="4" data-intro="Write something about yourself in the <b>About me</b> section." data-position="left">
                <div class="user-about-us">  
                    <div class="user-about-us-title"><i class="fa fa-user"></i>About me</div>

                    {{#if controller.editingAbout}}
                    <div  class="user-about-us-textarea">
                        {{view HubStar.UserAboutUsView valueBinding="about_me" class="no-resize" placeholder="Say something interesting about yourself (Maximum 430 characters)."}}
                    </div>

                    <div class="user-about-us-button">
                        &nbsp;  {{controller.left_count_aboutme}} 
                        <div class="new-btn blue-btn" {{action yes controller.aboutMe}}><i class="fa fa-check fa fa-white"></i></div>
                        <div class="new-btn" {{action no controller.aboutMe}}><i class="fa fa-times"></i></div>
                    </div>
                    {{else}}


                    {{#if controller.is_authentic_user}}
                    <div class="edit-btn hint--rounded hint--bottom" data-hint="Edit content" {{action toggleEditing controller.about_me controller.aboutMe}}>
                         <i class="fa fa-pencil-square-o"></i>
                    </div>
                    {{/if}}

                    {{#if controller.about_me_limit}}
                    <div class="limit_about_us">

                        {{about_me_limit_data}}
                    </div>

                    {{else}}
                    <div class="limit_about_us" >{{about_me}}</div>  
                    {{/if}}
                    {{/if}}



                </div>
            </div>




            <div class="user-about-us-share">
                <ul class="locationandlinks">
                    <li>
                        <span class="locationIcon"><i class="fa fa-map-marker"></i></span>
                        {{location}} 
                    </li>
                    {{#if facebook}}
                    <li class="location_li">
                        <a href="#" target="_blank" {{action socialLink "facebook"}}>&nbsp <i class="fa fa-facebook"> </i></a>
                    </li>
                    {{/if}}
                    {{#if twitter}}
                    <li class="location_li">
                        <a href="#" target="_blank" {{action socialLink "twitter"}}>&nbsp <i class="fa fa-twitter"> </i></a>
                    </li>
                    {{/if}}
                    {{#if googleplus}}
                    <li class="location_li">
                        <a href="#" target="_blank"{{action socialLink "googleplus"}}>&nbsp <i class="fa fa-google-plus"> </i></a>
                    </li>
                    {{/if}}
                    {{#if pinterest}}
                    <li class="location_li">
                        <a href="#" target="_blank" {{action socialLink "pinterest"}}>&nbsp <i class="fa fa-pinterest"> </i></a>
                    </li>
                    {{/if}}
                    {{#if linkedin}}
                    <li class="location_li">
                        <a href="#" target="_blank"{{action socialLink "linkedin"}}>&nbsp <i class="fa fa-linkedin"> </i></a>
                    </li>
                    {{/if}}
                    {{#if youtube}}
                    <li class="location_li">
                        <a href="#" target="_blank" {{action socialLink "youtube"}}>&nbsp <i class="fa fa-youtube-play"> </i></a>
                    </li>
                    {{/if}}
                    {{#if instagram}}
                    <li class="location_li">
                        <a href="#" target="_blank" {{action socialLink "instagram"}}>&nbsp <i class="fa fa-instagram"> </i></a>
                    </li>
                    {{/if}}

                </ul>
            </div>
        </div>
        {{#if controller.is_click}}


        {{view HubStar.UserEditView}}

        {{/if}}





    </div>

</div>


{{#if controller.switchPhoto}}

{{partial "masonryCollection"}}

{{else}}

{{render "masonryCollectionItems"}}

{{/if}}

{{#if controller.makeSureDelete}}

{{view HubStar.DeleteFunctionView}}


{{/if}}


