{{#if controller.loadingTime}}

{{render "loadingSpinner"}}

{{/if}}
{{#each contentProfile}}



<div class=" box col1 style-box t-style-box user-following-position">
    <div class="user-following-profile-hero">
        <img {{bind-attr src= this.photo_url_large}} />
    </div>

    <!--right top TAGS-->

    <div class="object-tags-box">
        <div class="object-tags">
            <span class="tags-mark"></span>
            <div class="tags easing">
                <div class="object-type">
                    <i class="fa fa-group"></i>
                </div>
            </div>
        </div>
    </div>

    <!--END TAGS-->

    <div class="masonry-object_profilepic user-following-profile-pic" >
        <a class='radius-circle' href="#/profiles/{{unbound this.id}}/collections">
            <img class="easing" {{bind-attr src=this.photo_url}} />   
        </a>
    </div>
    <div class="user-following-profile-name">
        <span>{{this.name}}  </span>
    </div>

    {{#if this.follow_status}}
    <div href="#question_modal" role="button" class="disabled-btn disabled-green user-follow-style" data-toggle="modal" {{action followThisUser this}}><i class='fa fa-circle-o' >&nbsp; </i> Following</div>
    {{else}}
    <div href="#question_modal" role="button" class="new-btn green-btn user-follow-style" data-toggle="modal" {{action followThisUser this}}><i class='fa fa-plus' >&nbsp; </i> Follow</div>
    {{/if}}

    <div class="user-following-location-link">
        <ul class="locationandlinks">
            <li class="location_li" ><i class="fa fa-eye"> {{this.collections_size}} </i></li>
            <li class="location_li" ><i class="fa fa-group"> {{ this.partner_size}}</i></li>
            <li class="location_li" ><i class="fa fa-circle-o"> {{this.follower_size}}</i></li>
        </ul>
    </div>

</div>




{{/each}}

{{#each  contentUser}}
<div class=" box col1 style-box t-style-box user-following-position">
    <div class="user-following-profile-hero">
        <img {{bind-attr src= this.photo_url_large}}/>
    </div>
    <div class="user-profilepic-container user-following-user-pic">
        <a class='radius-circle' href="#/users/{{unbound this.id}}">
            <img {{bind-attr src= this.photo_url}} />
        </a>

    </div>
    <div class="user-following-user-name">
        <span>
            {{this.name}}
        </span>
    </div>
    {{#if this.isUserSelf}}    
    <div href="#question_modal" role="button" class="disabled-btn user-follow-style" data-toggle="modal" >Follow</div>            
    {{else}}
    {{#if this.follow_status}}
    {{#if this.following_status}}
    <div href="#question_modal" role="button" class="disabled-btn disabled-green user-follow-style" data-toggle="modal" {{action followThisUser this}}><i class='fa fa-exchange' >&nbsp; </i> Following</div>
    {{else}}
    <div href="#question_modal" role="button" class="disabled-btn disabled-green user-follow-style" data-toggle="modal" {{action followThisUser this}}><i class='fa fa-circle-o' >&nbsp; </i> Following</div>
    {{/if}}
    {{else}}
    {{#if this.following_status}}
    <div href="#question_modal" role="button" class="new-btn green-btn user-follow-style" data-toggle="modal" {{action followThisUser this}}><i class='fa fa-check' >&nbsp; </i> Follow</div>
    {{else}}
    <div href="#question_modal" role="button" class="new-btn green-btn user-follow-style" data-toggle="modal" {{action followThisUser this}}><i class='fa fa-plus' >&nbsp; </i> Follow</div>
    {{/if}}
    {{/if}}
    {{/if}}

    <div class="user-following-location-link">
        <ul class="locationandlinks">
            <li><i class="fa fa-eye">&nbsp;</i>{{this.collections_size}}</li>
            <li class="location_li"><i class="fa fa-circle-o">&nbsp;</i>{{this.follower_size}}</li>
        </ul>
    </div>

</div>


{{/each}}


