{{#if controller.loadingTime}}

{{render loadingSpinner}}

{{/if}}
{{#each contentProfile}}



<div class=" box col1 style-box t-style-box" style="text-align: center; ">
    <div style="position:relative;height: 100px;overflow: hidden;line-height: 0;">
        <img {{bindAttr src= this.photo_url_large}} style="width:100%;"/>
    </div>

    <!--TAGS-->

    <div class="object-tags-box">
        <div class="object-tags">
            <span class="tags-mark" style="background-color: #427fed"></span>
            <div class="tags easing">
                <div class="object-type">
                    <i class="fa fa-group"></i>
                </div>
            </div>
        </div>
    </div>

    <!--END TAGS-->

    <div class="masonry-object_profilepic" style="cursor:pointer;width: 100px;position: relative;top: -50px;line-height: 100px;display: block;" >

        <a class='radius-circle' href="#/profiles/{{unbound this.id}}">
            <img class="easing" {{bindAttr src=this.photo_url}} style="width:100%;"/>   
        </a>

    </div>
    <div style="position:relative;  line-height: 18px;margin: -40px auto 5px;width: 150px;">
        <span style="font-size: 13px;line-height: 15px; text-shadow: 0 1px 0 rgba(255,255,255,0.8); font-weight: bold;">
            {{this.name}}
        </span>
    </div>

    {{#if this.follow_status}}
    <div href="#question_modal" role="button" class="disabled-btn disabled-green" data-toggle="modal" style="margin: 15px auto;width: 100px;display: block;"{{action followThisUser this}}><i class='fa fa-circle-o' >&nbsp; </i> Following</div>
    {{else}}
    <div href="#question_modal" role="button" class="new-btn green-btn" data-toggle="modal" style="margin: 15px auto;width: 100px;display: block;"{{action followThisUser this}}><i class='fa fa-plus' >&nbsp; </i> Follow</div>
    {{/if}}

    <div style="position:relative; background-color: #f3f3f3; height: 25px; width:100%;margin-top: 10px;">
        <ul class="locationandlinks" style="font-size: 12px;height: 20px;margin: 2px auto;width: 100%;line-height: 10px;">
            <li class="location_li" style="padding: 0 5px;"><i class="fa fa-eye"> {{this.collections_size}} </i></li>
            <li class="location_li" style="padding: 0 5px;"><i class="fa fa-group"> {{ this.partner_size}}</i></li>
            <li class="location_li" style="padding: 0 5px;"><i class="fa fa-circle-o"> {{this.follower_size}}</i></li>
        </ul>
    </div>

</div>

<script>
    $(function() {
        var $container = $('#masonry_user_container');
        window.setTimeout(function() {
            $container.masonry();
            $container.masonry('reload');
        }, 10);
    });
</script>



{{/each}}

{{#each  contentUser}}
<div class=" box col1 style-box t-style-box" style="text-align: center; ">
    <div style="position:relative;height: 100px;overflow: hidden;line-height: 0;">
        <img {{bindAttr src= this.photo_url_large}} style="width:100%;"/>
    </div>
    <div class="user-profilepic-container" style="position:absolute; top: 50px;margin: 0 auto;width: 100px;height: 100px;border: 2px solid #f3f3f3;left: 0;right: 0;">

        <a class='radius-circle' href="#/users/{{unbound this.id}}">

            <img {{bindAttr src= this.photo_url}} style="width: 100px; height: 100px;"/>
        </a>

    </div>
    <div style="position:relative; height:35px; line-height: 35px;margin: 50px auto 5px;">
        <span style="font-size: 13px;line-height: 15px; text-shadow: 0 1px 0 rgba(255,255,255,0.8); font-weight: bold;">
            {{this.name}}
        </span>
    </div>
    {{#if this.isUserSelf}}    
    <div href="#question_modal" role="button" class="disabled-btn" data-toggle="modal" style="margin: 15px auto;width: 100px;display: block;">Follow</div>            
    {{else}}
    {{#if this.follow_status}}
    {{#if this.following_status}}
    <div href="#question_modal" role="button" class="disabled-btn disabled-green" data-toggle="modal" style="margin: 15px auto;width: 100px;display: block;"{{action followThisUser this}}><i class='fa fa-exchange' >&nbsp; </i> Following</div>
    {{else}}
    <div href="#question_modal" role="button" class="disabled-btn disabled-green" data-toggle="modal" style="margin: 15px auto;width: 100px;display: block;"{{action followThisUser this}}><i class='fa fa-circle-o' >&nbsp; </i> Following</div>
    {{/if}}
    {{else}}
    {{#if this.following_status}}
    <div href="#question_modal" role="button" class="new-btn green-btn" data-toggle="modal" style="margin: 15px auto;width: 100px;display: block;"{{action followThisUser this}}><i class='fa fa-check' >&nbsp; </i> Follow</div>
    {{else}}
    <div href="#question_modal" role="button" class="new-btn green-btn" data-toggle="modal" style="margin: 15px auto;width: 100px;display: block;"{{action followThisUser this}}><i class='fa fa-plus' >&nbsp; </i> Follow</div>
    {{/if}}
    {{/if}}
    {{/if}}

    <div style="position:relative; background-color: #f3f3f3; height: 25px; width:100%;margin-top: 10px;">
        <ul class="locationandlinks" style="font-size: 12px;height: 20px;margin: 2px auto;width: 100%;line-height: 10px;">
            <li><i class="fa fa-eye">&nbsp;</i>{{this.collections_size}}</li>
            <li class="location_li"><i class="fa fa-circle-o">&nbsp;</i>{{this.follower_size}}</li>
        </ul>
    </div>

</div>

<script>
    $(function() {
        var $container = $('#masonry_user_container');
        window.setTimeout(function() {
            $container.masonry();
            $container.masonry('reload');
        }, 10);
    });
</script>
{{/each}}


