<div style="width:100%; height: 110px; display:block;"></div>

<div class="user-board">
    <div class="user-board_left style-box">
        <div id="user-photo_left">
            <div class="user-profilepic-container" id="profile-picture" data-step="1" data-intro="Here is Profile Picture!" data-position='right'> 
                {{#if controller.is_authentic_user}}
                <div id="change_profile" class="changeuserprofilepic easing hint--right hint--rounded"  data-hint="Choose a profile picture" {{action userPhotoEditButton "User Picture"}}>
                       <i class="fa fa-pencil-square-o"></i>         

                </div>  

                {{/if}}
                <img {{bindAttr src="controller.model.photo_url_large"}} style="width: 180px;height: 180px;"/>
            </div>
            {{#if controller.followDisplay}}
            <div style="margin: 30px auto 20px;display: block; text-align: center;">
                {{#if controller.isUserSelf}}
                <div href="#question_modal" role="button" class="disabled-btn follow-btn" data-toggle="modal" style="">Follow</div>

                {{else}}

                {{#if controller.follow_status}}
                {{#if controller.following_status}}
                <div href="#question_modal" role="button" class="disabled-btn disabled-green follow-btn" data-toggle="modal" style=""{{action followThisUser}}><i class='fa fa-exchange' >&nbsp; </i> Following</div>
                {{else}}
                <div href="#question_modal" role="button" class="disabled-btn disabled-green follow-btn" data-toggle="modal" style=""{{action followThisUser}}><i class='fa fa-circle-o' >&nbsp; </i> Following</div>
                {{/if}}
                {{else}}
                {{#if controller.following_status}}
                <div href="#question_modal" role="button" class="new-btn green-btn follow-btn" data-toggle="modal" style=""{{action followThisUser}}><i class='fa fa-check' >&nbsp; </i> Follow</div>
                {{else}}
                <div href="#question_modal" role="button" class="new-btn green-btn follow-btn" data-toggle="modal" style=""{{action followThisUser}}><i class='fa fa-plus' >&nbsp; </i> Follow</div>
                {{/if}}
                {{/if}}
                <div class="new-btn blue-btn" {{action talkToPeople}}><i class="fa fa-envelope" ></i></div>

                {{/if}}           
            </div>
            {{/if}}
            {{#if isTalk}}
            {{render talk}}
            {{/if}}

            <div id="show_interest" data-step="2" data-intro="Here is Interests showing place!" data-position='right'>

                <div class="show-interest easing">
                    <div style="font-weight: bold;line-height: 20px; color: #777; font-size: 17px;margin-bottom: 5px; display:inline-block;">INTERESTS</div>

                    {{#if controller.is_authentic_user}}

                    <div class="edit-btn hint--rounded hint--bottom" style="height: 20px;line-height: 20px;margin:0;" data-hint="Edit Interest" {{action toggleEditing controller.interests controller.interest}}>
                         <i class="fa fa-plus edit-btn" style="font-size:13px;margin:0;padding:9px 10px;"  {{action showInterestsUp  target="view" on="click"}}></i>
                    </div>
                    {{/if}}
                    <i id="interest_btn" class="fa fa-angle-double-up unvisible"  style=" float: right;padding: 7px;" {{action showInterests target="view" on="click"}}></i>

                </div>

                <div class="interesttags-container" style="">

                    {{#if controller.editingInterest}}
                    <div class="interest-textarea" style="">
                        {{view Ember.TextArea valueBinding="interests"  id="" class="add-interests"  }}
                    </div>
                    <div class="interest-insert-hint" style="">
                        Do not use plural comma together or left a comma at the end of string, the right example is "Kitchen,Bathroom,Roof,Entrance"
                    </div>
                    <div style="text-align: center;right: 15px;position: relative;">
                        <div class="new-btn" {{action no controller.interest}}><i style="position:absolute;top:0;left:0;width:33px;height:26px;line-height:26px;text-align:center;" class="fa fa-times" {{action showInterestsUp target="view" on="click"}}></i></div>
                        <div class="new-btn blue-btn" {{action yes controller.interest}}><i style="position:absolute;top:0;left:0;width:33px;height:26px;line-height:26px;text-align:center;" class="fa fa-check fa fa-white" {{action showInterestsUp target="view" on="click"}}></i></div>
                    </div>


                    {{else}}

                    {{#each controller.selected_topics}}

                    <div class='hashtags' >{{interests}}{{#if controller.is_authentic_user}}<i class='remove-hashtages' {{action deleteTopic interests}}>x</i>{{/if}}</div>


                    {{/each}}     

                    {{/if}}
                </div>
            </div>

        </div>
        {{#if controller.is_Photoclick}}


        {{view HubStar.UserPhotoEditView}}

        {{/if}}
    </div>
    <div  class="user-board_right style-box" >


        <div id="user-board_right_front" >
            <div class="user-cover" data-step="3" data-intro="Here is Your own User Cover Picture!" data-position='bottom'>

                <img {{bindAttr src= "controller.cover_url"}} style="width:100%;"/>

                {{#if controller.is_authentic_user}}
                <div  id="flip-front" class='blue-btn new-btn hint--left hint--rounded edit-dashboard-btn' style="display: block; margin: 10px;position: absolute;top: 0;right: 0;" data-hint="Dashboard"{{action userDashboardButton "User Cover"}}>  

                      <i class="fa fa-cogs" ></i>
                </div>
                {{/if}}
                <div data-step="4" data-intro="Here is your display name!" data-position='right' style="font-size: 26px;font-weight: bold; line-height: 30px;  color: white;position: absolute;top: 245px;margin:0 30px;text-shadow: 0 0 10px #777;">{{display_name}}</div>
            </div>





            <div class="editor-content" data-step="5" data-intro="Here is your About Me to introduce yourself!" data-position='left' style="height: 140px; padding: 10px 20px;display: inline-block;position: relative;width: 100%;">
                <div style="font-size:15px;line-height: 20px;margin: 5px 20px;color: #888;">  


                    <p style='margin-bottom: 5px;display: inline-block; font-size: 18px;padding:0'>
                        <i class='fa fa-user' style='margin-right: 10px;display: inline-block;'></i>About me  
                    </p>

                    {{#if controller.editingAbout}}
                    <div  style="height: 100px;border-radius: 3px;">
                        {{view HubStar.UserAboutUsView valueBinding="about_me" class="no-resize" placeholder="Say something interesting about yourself (Maximum 430 characters)."}}
                    </div>

                    <div style="right: 40px;bottom: -49px;position: absolute;">
                        &nbsp;  {{controller.left_count_aboutme}} 
                        <div class="new-btn blue-btn" {{action yes controller.aboutMe}}><i class="fa fa-check fa fa-white"></i></div>
                        <div class="new-btn" {{action no controller.aboutMe}}><i class="fa fa-times"></i></div>
                    </div>
                    {{else}}


                    {{#if controller.is_authentic_user}}
                    <div class="edit-btn hint--rounded hint--bottom" data-hint="Edit content" {{action toggleEditing controller.about_me controller.aboutMe}}>
                         <i class="fa fa-pencil-square-o"></i>
                    </div>
                    {{/if}}

                    {{#if controller.about_me_limit}}
                    <div class="limit_about_us" style="word-break: break-all;" >

                        {{about_me_limit_data}}...<!--   <i class='new-btn'  {{action showMore}}> more...</i>  -->
                    </div>

                    {{else}}
                    <div style="display: block; word-break: break-all; " >{{about_me}}</div>  
                    {{/if}}


                    <div id ="tom" style="display: none;">
                        <div class="more_about_us" style="display: block;" >
                            <div id="about_us_contentsssssssw">
                                {{about_me}}
                            </div>
                        </div>

                        <div style="right: 40px;bottom: -49px;position: absolute;">
                            <div class="new-btn" {{action collap controller.about_me}}><i class="icon-remove"></i></div>
                        </div>
                    </div>

                    {{/if}}



                </div>
            </div>




            <div style="margin: 10px 30px; width:600px; height: 40px; position:relative; overflow: hidden;">
                <ul class="locationandlinks" data-step="6" data-intro="Here is your location and social links!" data-position='top'>
                    <li>
                        <span class="locationIcon"><i class="fa fa-map-marker"></i></span>
                        {{location}} 
                    </li>
                    {{#if facebook}}
                    <li class="location_li">
                        <a href="#" target="_blank" {{action socialLink 'facebook'}}>&nbsp <i class="fa fa-facebook"> </i></a>
                    </li>
                    {{/if}}
                    {{#if twitter}}
                    <li class="location_li">
                        <a href="#" target="_blank" {{action socialLink 'twitter'}}>&nbsp <i class="fa fa-twitter"> </i></a>
                    </li>
                    {{/if}}
                    {{#if googleplus}}
                    <li class="location_li">
                        <a href="#" target="_blank"{{action socialLink 'googleplus'}}>&nbsp <i class="fa fa-google-plus"> </i></a>
                    </li>
                    {{/if}}
                    {{#if pinterest}}
                    <li class="location_li">
                        <a href="#" target="_blank" {{action socialLink 'pinterest'}}>&nbsp <i class="fa fa-pinterest"> </i></a>
                    </li>
                    {{/if}}
                    {{#if linkedin}}
                    <li class="location_li">
                        <a href="#" target="_blank"{{action socialLink 'linkedin'}}>&nbsp <i class="fa fa-linkedin"> </i></a>
                    </li>
                    {{/if}}
                    {{#if youtube}}
                    <li class="location_li">
                        <a href="#" target="_blank" {{action socialLink 'youtube'}}>&nbsp <i class="fa fa-youtube-play"> </i></a>
                    </li>
                    {{/if}}


                </ul>
            </div>
        </div>
        {{#if controller.is_click}}


        {{view HubStar.UserEditView}}

        {{/if}}





    </div>

</div>


{{#if controller.switchPhoto}}

{{view HubStar.MasonryCollectionView}}

{{else}}

{{render masonryCollectionItems}}

{{/if}}

{{#if controller.makeSureDelete}}

{{view HubStar.DeleteFunctionView}}


{{/if}}


