
<div id="user-board_right_back">
       <div class="tabbable">
            <div class="tabs-left">
                <ul class="nav nav-tabs easing">
                    <li class="active" ><a href="#tab1" data-toggle="tab">CHANGE COVER</a></li>
                    <li class="easing" ><a href="#tab2" data-toggle="tab">SETTING</a></li>
                    <li class="easing" ><a href="#tab3" data-toggle="tab">SECURITY</a></li>
                </ul>
            </div>
         <div class="tab-content easing">
                <div class="tab-pane active" id="tab1">
                     <div style="font-size: 25px; color: #555; text-align: center;font-weight: bold;margin: 10px auto 30px;">CHANGE COVER</div>
                     <div style="right: 0;margin: 30px auto 0;width: 150px;">
                        <span class='new-btn blue-btn flip-back'{{action userDashboardBackButton }}><k class='icon-group'> &nbsp;</k>Back</span>
                    </div>  
                </div>

                <div class="tab-pane" id="tab2">

                    <div style="font-size: 25px; color: #555; text-align: center;font-weight: bold;margin: 10px auto 30px;">SETTING</div>

                    <div style="right: 0;margin: 30px auto 0;width: 150px;">
                        <span class="new-btn green-btn" {{action saveUpdate}}>Save</span>
                        <span class='new-btn blue-btn flip-back' {{action userDashboardBackButton }}><k class='icon-group'> &nbsp;</k>Back</span>
                    </div>

                </div>


                <div class="tab-pane" id="tab3">
                    <div style="font-size: 25px; color: #555; text-align: center;font-weight: bold;margin: 10px auto 30px;">SECURITY</div>
                    <div style="right: 0;margin: 30px auto 0;width: 150px;">
                        <span class="new-btn green-btn" {{action saveUpdate}} >Save</span>
                        <span class='new-btn blue-btn flip-back'{{action userDashboardBackButton }}><k class='icon-group'> &nbsp;</k>Back</span>
                    </div>

                </div>
        </div>


         </div>
       </div>
</div>