


<div class="welcome-container">
    <div   class="welcome-top">
        <div  class="welcome-title">
            <div> Tell us what you're interested in!</div>
        </div>
    </div>
    <div class="welcome-subtitle-conainer" >
        <div class="welcome-subtitle">
            <div class="welcome-res-position">Residential</div>         
        </div>
        {{#each view.contentTopicResidential}}
        <div class="welcome-select-interest" {{action selectTopic id topic target="view" on="click"}}>
             <div id="minus_{{unbound id}}" class="welcome-plus-or-minus radius-circle easing hideClass"  {{action selectTopic id topic target="view" on="click" }}><i class="fa fa-minus" ></i></div>
            <div id="plus_{{unbound id}}" class="welcome-plus-or-minus radius-circle easing"><i class="fa fa-plus" ></i></div>
            <div class="welcome-image-container">
                <div  class="usersobject-hoverarea easing"></div>
                <div class="welcome-image"><img {{bindAttr src="image"}}/></div>
            </div>
            <div class="welcome-topic">
                {{topic}}
            </div>
        </div>
        {{/each}}
    </div>

    <div class="welcome-subtitle-conainer" >
        <div class="welcome-subtitle">
            <div class="welcome-comm-position">Commercial</div>
        </div>

        {{#each view.contentTopicCommercial}}
        <div class="welcome-select-interest" {{action selectTopic id topic target="view" on="click"}}>
             <div id="minus_{{unbound id}}" class="welcome-plus-or-minus radius-circle easing hideClass"  {{action selectTopic id topic target="view" on="click" }}><i class="fa fa-minus" ></i></div>
            <div id="plus_{{unbound id}}" class="welcome-plus-or-minus radius-circle easing"  ><i class="fa fa-plus" ></i></div>
            <div class="welcome-image-container">
                <div  class="welcome-object-hoverarea easing" ></div>
                <div class="welcome-image"><img {{bindAttr src="image"}}/></div>
            </div>
            <div class="welcome-topic">
                {{topic}}
            </div>
        </div>
        {{/each}}
    </div>


    <div class="welcome-button">
        <div class="register-btn easing welcome-button-style border-right"></div>
        {{#linkTo 'searchIndexTom'}}  <div class="register-btn easing welcome-button-style" {{action submitSelection target="view" on="click"}}>Done&nbsp;<i class="fa fa-long-arrow-right"></i></div>{{/linkTo}}
    </div> 
</div>


