


<div style="width:100%;height:100%;z-index: 1000;position: fixed;">
    <img src="../../../images/landingpagebg.jpg" style="width:100%; position:fixed;"/>

    <div style="width: 87%;margin: 40px auto;display: block;">
        <img class="logonew" style="position: relative; height: 30px;display: inline-block;vertical-align: top;margin: 8px;" src="../../../images/landing-trends.png">
        <div style="position:relative; float:right; color:white; font-size:15px;font-weight: bold;">
            <div style="margin-right:10px;display: inline-block;background-color: #777;padding: 0 20px;text-align: center;height: 45px;line-height: 45px;letter-spacing: 1px;">SIGN UP</div>
            <span style="letter-spacing: 1px; margin: 0 0 0 10px;">LOGIN</span>
        </div>
    </div>

    <div style="position: absolute; vertical-align: middle; color: #fff; width: 40%; text-align: center;margin: auto;left: 0;right: 0;top: 50px;font-size: 14px; font-family: 'Montserrat', sans-serif; letter-spacing: 2px;opacity: .9;">
        <span>2,100,000 IDEAS</span>
        <span>&nbsp | &nbsp</span>
        <span>1,200,000 PRODUCTS</span>
    </div>



    <div style="overflow:hidden; z-index: 11;background-color: white;border-radius: 5px;box-shadow: 0 0 20px #bbb;width: 635px;height: 550px;margin: 0 auto;position: fixed;top: 15%;left: 0;right: 0;">

        <div  style="background-color: #f3f3f3;padding: 5px 5px 10px 70px;border-bottom: 1px solid #ddd;">
            <div  class="comment-namentime" style="display: block;position: relative;height: 35px;">
                <div style="position: absolute;  text-align: center;line-height: 40px;margin: 0 auto;font-size: 20px;background-color: #f3f3f3; opacity: 0.5;">
                    Please choose a topic that will sustain your interest.

                </div>
            </div>
        </div>
        <div id ="" style="margin: 20px auto 5px; padding: 0 15px;height: 450px;" >
            {{#each controller.content}}
            <div  style=" height: 150px; width: 120px;position: relative; float: left;"{{action selectTopic id topic}}>
                <div id="plus_{{unbound id}}" class="invite-this-friend radius-circle easing" style="opacity: .8; z-index: 10; right: 0; margin: 10px;" {{action selectTopic id topic}}><k class="icon-plus" ></k></div>
                <div class="" style="height: 100px;width: 100px;position: relative;border: 3px solid #f3f3f3;border-radius: 50%;overflow: hidden;box-shadow: 0 0 5px #aaa;top: -5px;float: left;z-index: 1; margin-left: 10px; margin-right: 10px; margin-top: 15px;">

                    <div  class="usersobject-hoverarea easing" style="height: 100px; width: 100px;" >


                    </div>
                    <div style="position: relative;">
                        <div style="width: 100px; height: 100px; overflow: hidden;">
                            <img {{bindAttr src="image"}} style="min-height:100px; width: 100px; max-width: none;"/>
                        </div>
                    </div>

                </div>

                <div style="position: relative;">
                    <div style=" font-size: 15px; padding: 5px 0;text-align: center;">
                        {{topic}}
                    </div>

                </div>
            </div>

            {{/each}}

        </div>

        <div class="" style="height: 30px;position: absolute;border-top: 1px solid #ddd;bottom: 0;width: 100%;">
            {{#linkTo quickstart}}<div class="message-btn easing" style="width: 100%;border-right: 1px solid #ddd;"{{action submitSelection}}>Next&nbsp<k class="icon-arrow-right" ></k></div>{{/linkTo}}
        </div>
    </div>



</div>

